<template>
	<v-app id="dealer_p_setting">
		<v-layout row justify-center>
			<v-dialog v-model="settings_modal_status" max-width="640" scrollable>
				<v-card>
					<v-card-title class="headline">Account Settings</v-card-title>
					<v-card-text>
						<v-form v-model="account_settings_frm_valid" ref="account_setting_form" lazy-validation>
							<v-layout wrap>
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-user</v-icon> Name</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-text-field v-model="edit_name" :rules="[v => !!v || 'User Name is required']" required></v-text-field>
								</v-flex>
							</v-layout>
							<v-layout wrap>
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-user</v-icon> Username</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-text-field v-model="edit_username" readonly></v-text-field>
								</v-flex>
							</v-layout>
							<v-layout wrap>
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-key</v-icon> Password</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-text-field v-model="edit_password" :rules="[v => !!v || 'User Password is required']" required></v-text-field>
								</v-flex>
							</v-layout>
							<v-layout wrap>
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-key</v-icon> Repeat Password</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-text-field v-model="repeat_password" :rules="[v => !!v || 'Repeat Password is required']" required></v-text-field>
								</v-flex>
							</v-layout>
							<v-layout wrap>
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-envelope</v-icon> Email</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-text-field v-model="edit_email" :rules="emailRules" required></v-text-field>
								</v-flex>
							</v-layout>
							<v-layout wrap>
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-file-image-o</v-icon> Profile Picture<small>(100x100px)</small></v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<input type="file" id="profile_img">
								</v-flex>
							</v-layout>
							<v-layout wrap>
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-info</v-icon> Vehicle Status</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-select
							            :items="vstatus_items"
							            v-model="vehicle_status"
							            label="SELECT"
							            single-line
						          	></v-select>
								</v-flex>
							</v-layout>
						</v-form>
					</v-card-text>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn color="darken-1" flat="flat" @click.stop="settings_modal_status=false">Cancel</v-btn>
						<v-btn color="green darken-1" flat="flat" @click="account_setting_frm_submit" :disabled="!account_settings_frm_valid">Save Changes</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
		</v-layout>
	</v-app>
</template>
<script type="text/javascript">
	import swal from 'sweetalert';
	export default {
		data(){
			return {
				base_url: window.laravel.base_url,
				user: window.laravel.user,
				account_settings_frm_valid: false,
				edit_name: '',
				edit_username: '',
				edit_email: '',
				edit_password: '',
				repeat_password: '',
				vstatus_items: [
		        	{'text': 'Active', 'value': 1},
		        	{'text': 'Inactive', 'value': 0}
		        ],
				vehicle_status: 1,
				emailRules: [
					v => !!v || 'Email is required',
					v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'Email must be valid'
			    ],
			}
		},
		props: ['visible'],
		created: function(){
			this.fetchData();
		},
		computed: {
		    settings_modal_status: {
				get () {
					return this.visible
				},
				set (value) {
					if (!value) {
			  			this.$emit('close')
					}
				}
		    }
	  	},
	  	methods: {
			/**
	       	 * Fetch logged user, privilege information when created vue dom
	       	 *
	       	 * @return Object
	       	 */
	      	fetchData()
	      	{
	      		let uri = this.base_url+'/get_account_info';
	      		this.axios.post(uri).then((response) => {
	      			this.edit_name = response.data.user_info.NAME;
	      			this.edit_username = response.data.user_info.username;
	      			this.edit_email = response.data.user_info.EMAIL;
	      			this.edit_password = response.data.user_info.password;
	      			this.repeat_password = response.data.user_info.password;
	      			this.vehicle_status = response.data.user_info.ACTIVE_INACTIVE;
				});
      		},

      		/**
      		 *
      		 * Save Edit User
      		 */
      		account_setting_frm_submit(){
      			var that = this;
      			if (this.$refs.account_setting_form.validate()) {
					let formData = new FormData();

					if(this.edit_password != this.repeat_password){
						swal('Oops...', "Repeat password not matched with password. Please try again.","error");
						return;
					}
					var profile_img_Input = document.querySelector( '#profile_img' );
					
					formData.append('user_id', this.user.USER_ID);
					formData.append('name', this.edit_name);
					formData.append('password', this.edit_password);
					formData.append('email', this.edit_email);
					formData.append('active_inactive', this.vehicle_status);

					if(profile_img_Input){
						formData.append('profile_img', profile_img_Input);
					}
					let uri = window.laravel.base_url + '/save_edit_user';
					this.axios.post(uri,formData).then((response) => {
						if(response.data.status == 'success'){
							swal('OK!', "Account Information updated successfully","success").then((result) => {
								that.settings_modal_status = false;
							});
						}else{
							swal('Oops...', "Something went wrong. Please try again.","error").then((result) => {
								that.settings_modal_status = false;
							});
						}
					});
				}
      		}
      	}
  	}
</script>