<template>
	<v-app id="dealer_p_setting">
		<v-layout row justify-center>
			<v-dialog v-model="settings_modal_status" max-width="640" scrollable>
				<v-card>
					<v-card-title class="headline">Account Settings</v-card-title>
					<v-card-text>
						<v-form v-model="account_settings_frm_valid" ref="account_setting_form" lazy-validation>
							<v-layout row>
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-user</v-icon> Name</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-text-field v-model="account_name" :rules="[v => !!v || 'Name Field is required']" required></v-text-field>
								</v-flex>
							</v-layout>
							<v-layout row>
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-user</v-icon> Username</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-text-field v-model="username" disabled></v-text-field>
								</v-flex>
							</v-layout>
							<v-layout row>
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-key</v-icon> Password</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-text-field v-model="password" :rules="[v => !!v || 'Password Field is required']"></v-text-field>
								</v-flex>
							</v-layout>
							<v-layout row>
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-key</v-icon> Repeat Password</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-text-field v-model="repeat_password" :rules="[v => !!v || 'Repeat Password Field is required']"></v-text-field>
								</v-flex>
							</v-layout>
							<v-layout row>
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-envelope</v-icon> Email</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-text-field v-model="email" :rules="[v => !!v || 'Email Field is required']"></v-text-field>
								</v-flex>
							</v-layout>
						</v-form>
					</v-card-text>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn color="darken-1" flat="flat" @click.stop="settings_modal_status=false">Cancel</v-btn>
						<v-btn color="green darken-1" flat="flat" @click="account_setting_frm_submit" :disabled="!account_settings_frm_valid">Save Changes</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
		</v-layout>
	</v-app>
</template>
<script type="text/javascript">
	import swal from 'sweetalert';
	export default {
		data(){
			return {
				user: window.laravel.user,
				account_settings_frm_valid: false,
				account_name: '',
				username: '',
				email: '',
				password: '',
				repeat_password: ''
			}
		},
		props: ['visible'],
		created: function(){
			this.fetchData();
		},
		computed: {
		    settings_modal_status: {
				get () {
					return this.visible
				},
				set (value) {
					if (!value) {
			  			this.$emit('close')
					}
				}
		    }
	  	},
	  	methods: {
			/**
	       	 * Fetch logged user, privilege information when created vue dom
	       	 *
	       	 * @return Object
	       	 */
	      	fetchData()
	      	{
	      		let uri = window.laravel.base_url+'/get_user_info';
	      		this.axios.post(uri).then((response) => {
					if(response.data.status == 'success'){
						this.account_name = response.data.user.NAME;
						this.username = response.data.user.username;
	      				this.email = response.data.user.EMAIL;
					}else{
						swal('Oops...', "Something went wrong. Please try again.","success").then((result) => {
							that.settings_modal_status = false;
						});
					}
				});
	      	},

	      	/**
	      	 * 
	      	 * Change Account Information
	      	 */
	      	account_setting_frm_submit: function(){
	      		if (this.$refs.account_setting_form.validate()) {
	      			if(this.password != this.repeat_password){
	      				swal('Oops...', "Repeat password not matched with password. Please try again.","error");
	      				return false;
	      			}
	      			
	      			var that = this;
	      			let uri = window.laravel.base_url+'/update_admin_information';
	      			var admin_info = {
	      				NAME: this.account_name,
	      				username: this.username,
	      				password: this.password,
	      				EMAIL: this.email
	      			}
	      			this.axios.post(uri,{admin_info: JSON.stringify(admin_info)}).then((response) => {
						if(response.data.status == 'success'){
							swal('OK!', "Admin Information updated successfully","success").then((result) => {
								that.settings_modal_status = false;
							});
						}else{
							swal('Oops...', "Something went wrong. Please try again.","error").then((result) => {
								that.settings_modal_status = false;
							});
						}
					});
	      		}
	      	}
      	}
	}
</script>