<template>
	<v-app id="dealer_p_setting">
		<v-layout row justify-center>
			<v-dialog v-model="settings_modal_status" max-width="640" scrollable>
				<v-card>
					<v-card-title class="headline">API Keys</v-card-title>
					<v-card-text>
						<v-form ref="api_keys_frm" lazy-validation>
							<v-layout v-for="(item, index) in key_items" v-bind:key="index" row>
								<v-flex xs4 sm4 md4>
									<v-subheader>{{item.const_key}}</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-text-field v-model="item.const_value"></v-text-field>
								</v-flex>
							</v-layout>
						</v-form>
					</v-card-text>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn color="darken-1" flat="flat" @click.stop="settings_modal_status=false">Cancel</v-btn>
						<v-btn color="green darken-1" flat="flat" @click="apiKeys_frm_submit">Save Changes</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
		</v-layout>
	</v-app>
</template>
<script type="text/javascript">
	import swal from 'sweetalert';
	export default {
		data(){
			return {
				user: window.laravel.user,
				key_items: [],
			}
		},
		props: ['visible'],
		created: function(){
			this.fetchData();
		},
		computed: {
		    settings_modal_status: {
				get () {
					return this.visible
				},
				set (value) {
					if (!value) {
			  			this.$emit('close')
					}
				}
		    }
	  	},
	  	methods: {
			/**
	       	 * Fetch logged user, privilege information when created vue dom
	       	 *
	       	 * @return Object
	       	 */
	      	fetchData()
	      	{
	      		let uri = window.laravel.base_url + '/get_api_keys';
	      		this.axios.post(uri).then((response) => {
	      			this.key_items = response.data.api_keys;
	      		});
	      	},

	      	apiKeys_frm_submit: function(){
	      		var that = this;
	      		let uri = window.laravel.base_url + '/update_api_keys';
	      		this.axios.post(uri, { api_keys: JSON.stringify(this.key_items) }).then((response) => {
	      			if(response.data.status == 'success'){
	      				swal('OK!', "API Keys updated successfully.", "success").then((result) => {
	      					that.settings_modal_status = false;
	      				});
	      			}else{
	      				swal('Oops...', "Something went wrong. Please try again.", "error").then((result) => {
	      					that.settings_modal_status = false;
	      				});
	      			}
	      		});
	      	}
      	}
	}
</script>