<template>
  <v-app id="bg_setting">
  	<v-layout row justify-center>
  		<v-dialog v-model="settings_modal_status" max-width="720" scrollable>
  			<v-card>
              <v-card-title class="headline">Print Buyers Guide</v-card-title>
              <v-card-text>
                <v-container grid-list-md >
                  <div>
                    <v-tabs
                      color="cyan"
                      v-model="buyer_guide_tab"
                      dark
                      slider-color="yellow"
                    >
                      <v-tab href="#asis_tab">
                        As-Is
                      </v-tab>
                      <v-tab href="#implied_tab">
                        Implied
                      </v-tab>
                      <v-tab href="#warranty_tab">
                        Warranty
                      </v-tab>
                      <v-tab href="#warranty_spanish_tab">
                        Warranty Spanish
                      </v-tab>
                      <v-tab href="#back_page_tab">
                        Back Page
                      </v-tab>
                    </v-tabs>
                    <v-tabs-items v-model="buyer_guide_tab">
                      <v-tab-item id="asis_tab">
                        <v-card flat style="border:none;margin-bottom:0px;">
                          <v-card-text style="padding-bottom: 0px;">
                            <v-layout wrap>
                              <v-flex xs4 sm4 md4>
                                <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Default Guide</v-subheader>
                              </v-flex>
                              <v-flex xs8 sm8 md8>
                                <v-subheader>{{ dg_asis }}</v-subheader>
                              </v-flex>
                              <v-flex xs4 sm4 md4>
                                <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Service Contract</v-subheader>
                              </v-flex>
                              <v-flex xs8 sm8 md8>
                                <v-switch :label="sc_asis?'Yes':'No'" v-model="sc_asis"></v-switch>
                              </v-flex>
                            </v-layout>
                          </v-card-text>
                        </v-card>
                      </v-tab-item>

                      <v-tab-item id="implied_tab">
                        <v-card flat style="border:none;margin-bottom:0px;">
                          <v-card-text style="padding-bottom: 0px;">
                            <v-layout wrap>
                              <v-flex xs4 sm4 md4>
                                <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Default Guide</v-subheader>
                              </v-flex>
                              <v-flex xs8 sm8 md8>
                                <v-subheader>{{ dg_implied }}</v-subheader>
                              </v-flex>
                              <v-flex xs4 sm4 md4>
                                <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Service Contract</v-subheader>
                              </v-flex>
                              <v-flex xs8 sm8 md8>
                                <v-switch :label="sc_implied?'Yes':'No'" v-model="sc_implied"></v-switch>
                              </v-flex>
                            </v-layout>
                          </v-card-text>
                        </v-card>
                      </v-tab-item>

                      <v-tab-item id="warranty_tab">
                        <v-card flat style="border:none;margin-bottom:0px;">
                          <v-card-text style="padding-bottom: 0px;">
                            <v-layout wrap>
                              <v-flex xs4 sm4 md4>
                                <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Default Guide</v-subheader>
                              </v-flex>
                              <v-flex xs8 sm8 md8>
                                <v-subheader>{{ dg_warranty }}</v-subheader>
                              </v-flex>
                              <v-flex xs4 sm4 md4>
                                <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Warranty Type</v-subheader>
                              </v-flex>
                              <v-flex xs2 sm2 md2>
                                <v-switch :label="wt_warranty?'FULL':'Ltd.'" v-model="wt_warranty"></v-switch>
                              </v-flex>
                              <v-flex xs2 sm2 md2>
                                <v-text-field solo v-model="wt_parts"></v-text-field>
                              </v-flex>
                              <v-flex xs1 sm1 md1 style="line-height:4;">
                                % Parts
                              </v-flex>
                              <v-flex xs2 sm2 md2>
                                <v-text-field solo v-model="wt_labor"></v-text-field>
                              </v-flex>
                              <v-flex xs1 sm1 md1 style="line-height:4;">
                                % Labor
                              </v-flex>

                              <v-flex xs4 sm4 md4>
                                <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Systems Covered</v-subheader>
                              </v-flex>
                              <v-flex xs8 sm8 md8>
                                <v-text-field multi-line v-model="wt_sc"></v-text-field>
                              </v-flex>

                              <v-flex xs4 sm4 md4>
                                <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Duration</v-subheader>
                              </v-flex>
                              <v-flex xs8 sm8 md8>
                                <v-text-field multi-line v-model="wt_duration"></v-text-field>
                              </v-flex>

                              <v-flex xs4 sm4 md4>
                                <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Service Contract</v-subheader>
                              </v-flex>
                              <v-flex xs8 sm8 md8>
                                <v-switch :label="sc_warranty?'Yes':'No'" v-model="sc_warranty"></v-switch>
                              </v-flex>
                            </v-layout>
                          </v-card-text>
                        </v-card>
                      </v-tab-item>

                      <v-tab-item id="warranty_spanish_tab">
                        <v-card flat style="border:none;margin-bottom:0px;">
                          <v-card-text style="padding-bottom: 0px;">
                            <v-layout wrap>
                              <v-flex xs4 sm4 md4>
                                <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Default Guide</v-subheader>
                              </v-flex>
                              <v-flex xs8 sm8 md8>
                                <v-subheader>{{ dg_warranty_s }}</v-subheader>
                              </v-flex>
                              <v-flex xs4 sm4 md4>
                                <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Warranty Type</v-subheader>
                              </v-flex>
                              <v-flex xs2 sm2 md2>
                                <v-switch :label="wt_warranty_s?'FULL':'Ltd.'" v-model="wt_warranty_s"></v-switch>
                              </v-flex>
                              <v-flex xs2 sm2 md2>
                                <v-text-field solo v-model="wts_parts"></v-text-field>
                              </v-flex>
                              <v-flex xs1 sm1 md1 style="line-height:4;">
                                % Parts
                              </v-flex>
                              <v-flex xs2 sm2 md2>
                                <v-text-field solo v-model="wts_labor"></v-text-field>
                              </v-flex>
                              <v-flex xs1 sm1 md1 style="line-height:4;">
                                % Labor
                              </v-flex>

                              <v-flex xs4 sm4 md4>
                                <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Systems Covered</v-subheader>
                              </v-flex>
                              <v-flex xs8 sm8 md8>
                                <v-text-field multi-line v-model="wts_sc"></v-text-field>
                              </v-flex>

                              <v-flex xs4 sm4 md4>
                                <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Duration</v-subheader>
                              </v-flex>
                              <v-flex xs8 sm8 md8>
                                <v-text-field multi-line v-model="wts_duration"></v-text-field>
                              </v-flex>

                              <v-flex xs4 sm4 md4>
                                <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Service Contract</v-subheader>
                              </v-flex>
                              <v-flex xs8 sm8 md8>
                                <v-switch :label="sc_warranty_s?'Yes':'No'" v-model="sc_warranty_s"></v-switch>
                              </v-flex>
                            </v-layout>
                          </v-card-text>
                        </v-card>
                      </v-tab-item>
                      <v-tab-item id="back_page_tab">
                        <v-card flat style="border:none;margin-bottom:0px;">
                          <v-card-text style="padding-bottom: 0px;">
                            <v-layout wrap>
                              <v-flex xs4 sm4 md4>
                                <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Dealer</v-subheader>
                              </v-flex>
                              <v-flex xs8 sm8 md8>
                                <v-text-field v-model="bp_dealer"></v-text-field>
                              </v-flex>

                              <v-flex xs4 sm4 md4>
                                <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Address</v-subheader>
                              </v-flex>
                              <v-flex xs8 sm8 md8>
                                <v-text-field v-model="bp_address"></v-text-field>
                              </v-flex>

                              <v-flex xs4 sm4 md4>
                                <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Phone</v-subheader>
                              </v-flex>
                              <v-flex xs8 sm8 md8>
                                <v-text-field v-model="bp_phone"></v-text-field>
                              </v-flex>

                              <v-flex xs4 sm4 md4>
                                <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Email</v-subheader>
                              </v-flex>
                              <v-flex xs8 sm8 md8>
                                <v-text-field v-model="bp_email"></v-text-field>
                              </v-flex>

                              <v-flex xs4 sm4 md4>
                                <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Complaints</v-subheader>
                              </v-flex>
                              <v-flex xs8 sm8 md8>
                                <v-text-field v-model="bp_complaints"></v-text-field>
                              </v-flex>
                            </v-layout>
                          </v-card-text>
                        </v-card>
                      </v-tab-item>
                    </v-tabs-items>
                  </div>
                  <v-layout wrap style="margin: 0px 15px;" v-show="buyer_guide_tab != 'back_page_tab'">
                    <v-flex xs4 sm4 md4>
                      <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Manufacturer's Warranty</v-subheader>
                    </v-flex>
                    <v-flex xs8 sm8 md8>
                      <v-switch :label="m_warranty?'Yes':'No'" v-model="m_warranty"></v-switch>
                    </v-flex>
                    <v-flex xs4 sm4 md4>
                      <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Used Vehicle Warranty</v-subheader>
                    </v-flex>
                    <v-flex xs8 sm8 md8>
                      <v-switch :label="uv_warranty?'Yes':'No'" v-model="uv_warranty"></v-switch>
                    </v-flex>
                    <v-flex xs4 sm4 md4>
                      <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Other Used Vehicle Warranty</v-subheader>
                    </v-flex>
                    <v-flex xs8 sm8 md8>
                      <v-switch :label="ouv_warranty?'Yes':'No'" v-model="ouv_warranty"></v-switch>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="darken-1" flat="flat" @click.native="settings_modal_status = false">Close</v-btn>
                <v-btn color="green darken-1" flat="flat" @click="save_buyerguide_setting" >Save Changes</v-btn>
              </v-card-actions>
            </v-card>
  		</v-dialog>
  	</v-layout>
  </v-app>
</template>
<script type="text/javascript">
	/* to decode Html entities */
	  const scratchDiv = document.createElement('div');
	  function toPlainText(html) {
	    scratchDiv.innerHTML = html;
	    return scratchDiv.textContent;
	  }
  	/* to decode Html entities */
	export default {
		data(){
			return {
				user: {}, // logged user
        		dealer_info: {}, // User's Dealer information

				buyer_guide_tab : null,
				/* buyer_guide toggle value */
		        dg_asis: 'No',
		        sc_asis: false,
		        dg_implied: 'No',
		        sc_implied: false,
		        dg_warranty: 'No',
		        wt_parts : '',
		        wt_labor : '',
		        wt_sc : '',
		        wt_duration : '',
		        sc_warranty: false,
		        wt_warranty: false,
		        dg_warranty_s: 'No',
		        wts_parts : '',
		        wts_labor : '',
		        wts_sc : '',
		        wts_duration : '',
		        sc_warranty_s: false,
		        wt_warranty_s: false,
		        m_warranty: false,
		        uv_warranty: false,
		        ouv_warranty: false,
		        bp_dealer: '',
		        bp_address: '',
		        bp_email: '',
		        bp_phone: '',
		        bp_complaints: '',
		        /* buyer_guide toggle value */
			}
		},
		props: ['visible'],
		created: function(){
			this.fetchData();
		},
		computed: {
		    settings_modal_status: {
				get () {
					return this.visible
				},
				set (value) {
					if (!value) {
			  			this.$emit('close')
					}
				}
		    }
	  	},
	  	methods: {
			/**
	       	 * Fetch logged user, privilege information when created vue dom
	       	 *
	       	 * @return Object
	       	 */
	      	fetchData()
	      	{
	      		var that = this;
	      		let uri = window.laravel.base_url + '/get_data_for_overview';
		        this.axios.post(uri,{'_token': window.laravel.csrf_token}).then((response) => {
		          	this.user = response.data.user;
		          	this.dealer_info = response.data.dealer_info;
		          	//this.privilege_info = response.data.privilege_info;
		          	let uri = window.laravel.base_url + '/print_guide';
		      		this.axios.post(uri).then((response) => {
			          	var vbg_info = response.data.vbg_info;
			          	if(vbg_info){
			          		this.dg_asis = vbg_info.DEFAULT_GUIDE == 'asis'?'Yes':'No';
							this.dg_implied = vbg_info.DEFAULT_GUIDE == 'implied'?'Yes':'No';
							this.dg_warranty = vbg_info.DEFAULT_GUIDE == 'warranty'?'Yes':'No';
							this.dg_warranty_s = vbg_info.DEFAULT_GUIDE == 'warranty_spanish'?'Yes':'No';
							this.buyer_guide_tab = vbg_info.DEFAULT_GUIDE + '_tab';
							this.sc_asis = vbg_info.SC_ASIS == '1'?true:false;
							this.sc_implied = vbg_info.SC_IMPLIED == '1'?true:false;
							this.sc_warranty = vbg_info.SC_WARRANTY == '1'?true:false;
							this.sc_warranty_s = vbg_info.SC_WARRANTY_S == '1'?true:false;
							this.wt_warranty = vbg_info.WARRANTY_TYPE == 'FULL'?true:false;
							this.wt_warranty_s = vbg_info.WARRANTY_TYPE_S == 'FULL'?true:false;
							this.m_warranty = vbg_info.M_WARRANTY == '1'?true:false;
							this.uv_warranty = vbg_info.UV_WARRANTY == '1'?true:false;
							this.ouv_warranty = vbg_info.OUV_WARRANTY == '1'?true:false;
							this.wt_parts = vbg_info.PARTS;
							if(vbg_info.PHONE){
								this.bp_phone = vbg_info.PHONE;  
							}
							if(vbg_info.EMAIL){
								this.bp_email = vbg_info.EMAIL;  
							}
							if(vbg_info.COMPLAINTS){
								this.bp_complaints = vbg_info.COMPLAINTS;  
							}

							this.wt_labor = vbg_info.LABOR;
							this.wt_sc = toPlainText(vbg_info.SYSTEMS_COVERED.replace(/(<br ?\/?>)*/g,""));
							this.wt_duration = toPlainText(vbg_info.DURATION.replace(/(<br ?\/?>)*/g,""));
							this.wts_parts = vbg_info.PARTS_S;
							this.wts_labor = vbg_info.LABOR_S;
							this.wts_sc = toPlainText(vbg_info.SYSTEMS_COVERED_S.replace(/(<br ?\/?>)*/g,""));
							this.wts_duration = toPlainText(vbg_info.DURATION_S.replace(/(<br ?\/?>)*/g,""));
							this.bp_dealer = this.dealer_info.DEALER_NAME;
							this.bp_address = this.dealer_info.DEALER_ADDRESS + ', ' + this.dealer_info.DEALER_CITY + ', ' + this.dealer_info.DEALER_STATE + ', ' + this.dealer_info.DEALER_ZIP;
			          	}
			        });
		        });
	      		
	      	},

	      	/**
			 *
			 * Save current print guide options
			 *
			 */
			save_buyerguide_setting : function(){
				let uri = window.laravel.base_url + '/save_bg_print';

				var dg_asis = this.dg_asis;
				var dg_implied = this.dg_implied;
				var dg_warranty = this.dg_warranty;
				var dg_warranty_s = this.dg_warranty_s;

				this.dg_asis = 'No';
				this.dg_implied = 'No';
				this.dg_warranty = 'No';
				this.dg_warranty_s = 'No';
				if(this.buyer_guide_tab == 'asis_tab'){
				  this.dg_asis = 'Yes';
				}else if(this.buyer_guide_tab == 'implied_tab'){
				  this.dg_implied = 'Yes';
				}else if(this.buyer_guide_tab == 'warranty_tab'){
				  this.dg_warranty = 'Yes';
				}else if(this.buyer_guide_tab == 'warranty_spanish_tab'){
				  this.dg_warranty_s = 'Yes';
				}else{
				  this.dg_asis = dg_asis;
				  this.dg_implied = dg_implied;
				  this.dg_warranty = dg_warranty;
				  this.dg_warranty_s = dg_warranty_s;
				}
				this.axios.post(uri, 
			  	{ 
				    dg_asis: this.dg_asis, sc_asis: this.sc_asis, dg_implied: this.dg_implied, sc_implied: this.sc_implied, dg_warranty: this.dg_warranty, wt_parts : this.wt_parts, wt_labor : this.wt_labor, wt_sc : this.wt_sc, wt_duration : this.wt_duration, sc_warranty: this.sc_warranty, wt_warranty: this.wt_warranty, dg_warranty_s: this.dg_warranty_s,  wts_parts : this.wts_parts, wts_labor : this.wts_labor, wts_sc : this.wts_sc, wts_duration : this.wts_duration, sc_warranty_s: this.sc_warranty_s, wt_warranty_s: this.wt_warranty_s, m_warranty: this.m_warranty, uv_warranty: this.uv_warranty, ouv_warranty: this.ouv_warranty, bp_dealer: this.bp_dealer, bp_address: this.bp_address, bp_email: this.bp_email, bp_phone: this.bp_phone, bp_complaints: this.bp_complaints
			  	}).then((response) => {
				    if(response.data.status == 'success'){
				      this.settings_modal_status = false;
				    }
			  	});
			},
      	},

	}
</script>