<template>
	<v-app id="dealer_p_setting">
		<v-layout row justify-center>
			<v-dialog v-model="settings_modal_status" max-width="640" scrollable>
				<v-card>
					<v-card-title class="headline">Dealer Profile</v-card-title>
					<v-card-text>
						<v-form v-model="dealer_profile_frm_valid" ref="dealer_profile_setting_form" lazy-validation>
							<v-layout row>
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-usd</v-icon> Membership Type</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-select
							          :items="memberType_item"
							          v-model="memberType_value"
							          label="SELECT"
							          single-line
							          :hint="memberType_hint"
							          persistent-hint
							        ></v-select>
								</v-flex>
							</v-layout>
							<v-layout row>
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-user</v-icon> Name</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-text-field v-model="dealer_name" :rules="[v => !!v || 'Dealer Name is required']" required></v-text-field>
								</v-flex>
							</v-layout>
							<v-layout row>
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-building</v-icon> Address</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-text-field v-model="dealer_info.DEALER_ADDRESS"></v-text-field>
								</v-flex>
							</v-layout>
							<v-layout row>
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-street-view</v-icon> City</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-text-field v-model="dealer_info.DEALER_CITY"></v-text-field>
								</v-flex>
							</v-layout>
							<v-layout row>
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-map-marker</v-icon> State</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-text-field v-model="dealer_info.DEALER_STATE"></v-text-field>
								</v-flex>
							</v-layout>
							<v-layout row>
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-info</v-icon> Zip</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-text-field v-model="dealer_info.DEALER_ZIP"></v-text-field>
								</v-flex>
							</v-layout>
							<v-layout row>
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-phone</v-icon> Phone</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-text-field v-model="dealer_info.DEALER_PHONE"></v-text-field>
								</v-flex>
							</v-layout>
							<v-layout row>
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-envelope</v-icon> Email</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-text-field v-model="dealer_info.PRIMARY_CONTACT_EMAIL" :rules="[v => !!v || 'Delaer Email is required']" required></v-text-field>
								</v-flex>
							</v-layout>
							<v-layout row>
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-car</v-icon> Make</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-select
							            label="Select"
							            :items="makes"
							            v-model="dealer_makes"
							            item-text="name"
							            item-value="name"
							            multiple
							            chips
							            max-height="250px"
							            autocomplete
							            @input="make_select_func"
						          	>
							          	<template slot="selection" slot-scope="data">
							              	<v-chip
								                close
								                @input="data.parent.selectItem(data.item)"
								                :selected="data.selected"
								                class="chip--select-multi"
								                :key="JSON.stringify(data.index)"
							              	>
							                	{{ data.item.name }}
							              	</v-chip>
							            </template>
						        	</v-select>
								</v-flex>
							</v-layout>
							<v-layout row>
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-file-pdf-o</v-icon> Save PDFs?</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-select
							          :items="pdf_status_item"
							          v-model="pdf_status_value"
							          label="SELECT"
							          single-line
							        ></v-select>
								</v-flex>
							</v-layout>
						</v-form>
					</v-card-text>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn color="darken-1" flat="flat" @click.stop="settings_modal_status=false">Cancel</v-btn>
						<v-btn color="green darken-1" flat="flat" @click="dealer_profile_frm_submit" :disabled="!dealer_profile_frm_valid">Save Changes</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
		</v-layout>
	</v-app>
</template>
<script type="text/javascript">
	export default {
		data(){
			return {
				memberType_value: 'Same', // ACCOUNT TYPE selected value
				memberType_item : [], // MEMBER TYPE Items
				memberType_hint: 'Current Account Type: <b>'+window.laravel.dealer_info.ACCOUNT_TYPE+'</b>',
				dealer_info : window.laravel.dealer_info, // Delaer Inforamtion
				dealer_name: this.html_entity_decode(window.laravel.dealer_info.DEALER_NAME), // Dealer Name
				makes: [], // All Makes Name Items
				dealer_makes: [], // Selected Make Names
				pdf_status_item: [
					{text: 'Yes', value: '1'},
					{text: 'No', value: '0'}
				],
				pdf_status_value: window.laravel.dealer_info.SAVE_PDF, // SAVE PDF Status Value
				dealer_profile_frm_valid: false, 
			}
		},
		props: ['visible'],
		created: function(){
			this.fetchData();
		},
		computed: {
		    settings_modal_status: {
				get () {
					return this.visible
				},
				set (value) {
					if (!value) {
			  			this.$emit('close')
					}
				}
		    }
	  	},
		methods: {
			/**
	       	 * Fetch logged user, privilege information when created vue dom
	       	 *
	       	 * @return Object
	       	 */
	      	fetchData()
	      	{
	      		var that = this;
	      		let uri = window.laravel.base_url + '/get_data_for_dealer_profile';
	      		that.axios.post(uri,{'_token': window.laravel.csrf_token}).then((response) => {
		          that.memberType_item = [
		          	{text: 'Keep Same...',  value: 'Same'},
		          	{text: 'Free $0/Mo', value: 'Free'},
		          	{text: 'Manual Load $'+response.data.mfee_info['Manual'], value: 'Manual'},
		          	{text: 'Automatic Web $'+response.data.mfee_info['Automatic'], value: 'Automatic Web'},
		          	{text: 'Automatic DMS $'+response.data.mfee_info['Automatic_DMS'], value: 'Automatic DMS'},
		          ];
		          $.each(response.data.makes, function(index, value){
		          	that.makes.push({name:value.MAKE});
		          });
		          if(this.dealer_info.MAKE1 && this.dealer_info.MAKE1 != ''){
		          	this.dealer_makes.push(this.dealer_info.MAKE1);
		          }
		          if(this.dealer_info.MAKE2 && this.dealer_info.MAKE2 != ''){
		          	this.dealer_makes.push(this.dealer_info.MAKE2);
		          }
		          if(this.dealer_info.MAKE3 && this.dealer_info.MAKE3 != ''){
		          	this.dealer_makes.push(this.dealer_info.MAKE3);
		          }
		          if(this.dealer_info.MAKE4 && this.dealer_info.MAKE4 != ''){
		          	this.dealer_makes.push(this.dealer_info.MAKE4);
		          }
		          if(this.dealer_info.MAKE5 && this.dealer_info.MAKE5 != ''){
		          	this.dealer_makes.push(this.dealer_info.MAKE5);
		          }

		          //this.dealer_info = response.data.dealer_info;
		          //this.privilege_info = response.data.privilege_info;
		        });
	      	},

	      	/**
			 *
			 * Html Entity Decode
			 *
			 */
			html_entity_decode: function(str){
				return String(str).replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&quot;/g, '"');
			},

			/**
			 *
			 *	Handle Select Items
			 *	Set Select Limit 5
			 */
			make_select_func : function(){
				var that = this;
				if(that.dealer_makes.length > 5){
					that.dealer_makes.pop();	
				}
			},

			/**
			 *
			 * Save dealer settings
			 *
			 */
			dealer_profile_frm_submit : function(){
				if (this.$refs.dealer_profile_setting_form.validate()) {
					this.settings_modal_status = false;
					this.dealer_info.DEALER_NAME = this.dealer_name;
					var account_type = this.memberType_value;
					for(var i = 0; i < 5; i++){
						if(this.dealer_makes[i]){
							this.dealer_info['MAKE'+(i+1)] = this.dealer_makes[i];
						}else{
							this.dealer_info['MAKE'+(i+1)] = '';
						}
					}
					let uri = window.laravel.base_url + '/update_dealer_info';
					this.axios.post(uri,{'dealer_info': JSON.stringify(this.dealer_info), 'account_type': account_type}).then((response) => {
						if(response.data.status == 'success'){
							window.location.href= window.laravel.base_url+'/home';
						}
					});
				}
			}
		},
	}
</script>