<template>
	<v-app id="infosheet_setting">
		<v-layout row justify-center>
			<v-dialog v-model="settings_modal_status" max-width="640" scrollable>
				<v-card>
					<v-card-title class="headline">Standard Infosheet Settings</v-card-title>
					<v-card-text>
						<v-form ref="infosheet_settings_form" lazy-validation>
							<v-layout row>
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-info</v-icon> Info Sheet Style</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-select
							          :items="infosheet_style_item"
							          v-model="info_style"
							          label="SELECT"
							          single-line
							        ></v-select>
								</v-flex>
							</v-layout>
							<v-layout v-if="info_style == 'Dealer Custom' || info_style == 'Dealer Custom NP' || info_style == 'Standard 3'" row>
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-th-large</v-icon> Background Color</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-text-field v-model="infosheet_info.INFO_BACKGROUND"></v-text-field>
								</v-flex>
							</v-layout>
							<v-layout v-if="info_style == 'Dealer Custom' || info_style == 'Dealer Custom NP' || info_style == 'Standard 3'" row>
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-th-large</v-icon> Border Color</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-text-field v-model="infosheet_info.INFO_BORDER"></v-text-field>
								</v-flex>
							</v-layout>

							<v-layout row v-if="info_style == 'Dealer Custom' || info_style == 'Dealer Custom NP' || info_style == 'Standard 3' || info_style == 'Info Book' ">
								<v-flex xs4 sm4 md4>
									<v-subheader style="display:block;"><v-icon>fa fa-fw fa-file-image-o</v-icon> Logo<p style="margin-left:30px;font-size: 12px;">(400px X 200px Max)</p></v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<input type="file" id="logo_img" v-on:change="onLogoImgChange"><br/>
									<img v-if="logo_img_url" :src="logo_img_url" class="logo_show" />
								</v-flex>
							</v-layout>		

							<v-layout row v-if="bg_img_show == true">
								<v-flex xs4 sm4 md4>
									<v-subheader style="display:block;"><v-icon>fa fa-fw fa-file-image-o</v-icon> Background<p style="margin-left:30px;font-size: 12px;">({{bg_img_size}})</p></v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<input type="file" id="bg_img" v-on:change="onBgImgChnage"><br/>
									<img v-if="bg_img" :src="bg_img" class="bg_show" />
								</v-flex>
							</v-layout>

							<v-layout v-if="info_style != 'Narrow Standard' && info_style != 'Narrow Standard NP' && info_style != 'Dealer Custom 1' && info_style != 'Dealer Custom 2' && info_style != 'Dealer Custom' && info_style != 'Dealer Custom NP' && info_style != 'Dealer Custom 1 Certified'" row>
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-qrcode</v-icon> QR Address</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-text-field v-model="infosheet_info.QR_INFO_ADDRESS" placeholder="eg. https://mysite.com/vin=[VIN]" persistent-hint hint="eg. https://www.mysite.com/vin=[VIN], https://www.mysite.com/stock=[STOCK]"></v-text-field>
								</v-flex>
							</v-layout>

							<v-layout row>
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-dollar</v-icon> Hide Price</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-select
							          :items="info_np_item"
							          v-model="infosheet_info.INFO_NP_CHECK"
							          label="SELECT"
							          single-line
							        ></v-select>
								</v-flex>
							</v-layout>

							<v-layout row v-if="info_style == 'Pure Cars 1' || info_style == 'Pure Cars 2' || info_style == 'Pure Cars 3' || info_style == 'Pure Cars 4'">
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-info</v-icon> Pure Cars URL</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-text-field v-model="infosheet_info.PURECARS_URL" label="Pure Cars URL" persistent-hint hint="https://app.purecars.com/ValueReport2?dealerId=f40b4e18a3004a29ae47231b805fd7dd&vin=[VIN]"></v-text-field>
								</v-flex>
							</v-layout>
						</v-form>
					</v-card-text>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn color="darken-1" flat="flat" @click="settings_modal_status=false">Cancel</v-btn>
						<v-btn color="green darken-1" flat="flat" @click="infosheet_setting_frm_submit">Save Changes</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
		</v-layout>
	</v-app>
</template>
<style type="text/css">
	#bg_img, #logo_img{
	    border: 1px solid #ddd;
	    width: 100%;
	    padding: 5px;
	}
	.logo_show{
		width: 300px;
		margin: 15px 0;
	}
</style>
<script type="text/javascript">
	import swal from 'sweetalert';
	export default {
		data(){
			return {
				infosheet_info: {
					INFO_BACKGROUND: '',
					INFO_LOGO: '',
					INFO_BORDER: '',
					PURECARS_URL: '',
					INFO_NARROW_BG: '',
					INFO_DC1_BG: '',
					INFO_DC1C_BG: '',
					INFO_NARROW_NP_BG: '',
					INFO_PURE4_BG: '',
					INFO_DCS_BG: '',
					INFO_DC2_BG: '',
					INFO_DC2C_BG: '',
					INFO_DC3_BG: '',
					INFO_DC3C_BG: '',
					INFO_NP_CHECK: '',
					INFO_DC4_BG: '',
				},
				logo_img_url: '',
				info_style: '',
				bg_img_show: false,
				infosheet_style_item : [
					{ 'text': 'KBB', 'value': 'KBB'},
					{ 'text': 'KBB NP', 'value': 'KBB NP'},
					{ 'text': 'Dealer Custom', 'value': 'Dealer Custom'},
					{ 'text': 'Dealer Custom NP', 'value': 'Dealer Custom NP'},
					{ 'text': 'Narrow Standard', 'value': 'Narrow Standard'},
					{ 'text': 'Narrow Standard NP', 'value': 'Narrow Standard NP'},
					{ 'text': 'Pure Cars 1', 'value': 'Pure Cars 1'},
					{ 'text': 'Pure Cars 2', 'value': 'Pure Cars 2'},
					{ 'text': 'Pure Cars 3', 'value': 'Pure Cars 3'},
					{ 'text': 'Pure Cars 4', 'value': 'Pure Cars 4'},
					{ 'text': 'Info Book', 'value': 'Info Book'},
					{ 'text': 'Dealer Custom 1', 'value': 'Dealer Custom 1'},
					{ 'text': 'Dealer Custom 2', 'value': 'Dealer Custom 2'},
					{ 'text': 'Dealer Custom 1 Certified', 'value': 'Dealer Custom 1 Certified'},
					{ 'text': 'Dealer Custom 2 Certified', 'value': 'Dealer Custom 2 Certified'},
					{ 'text': 'Dealer Custom 3', 'value': 'Dealer Custom 3'},
					{ 'text': 'Dealer Custom 4', 'value': 'Dealer Custom 4'},
					{ 'text': 'Dealer Custom 4 NP', 'value': 'Dealer Custom 4 NP'},
				], // Selectable Infosheet Styles
				info_np_item : [
					{ text: 'Yes', value: '1'},
					{ text: 'No', value: '0'},
				],
				// Background Image for each Style Size
				bg_img_size: '',
				bg_img: '',
				bg_img_file: '',
				logo_img_file: '',
			}
		},
		props: ['visible'],
		created: function(){
			this.fetchData();
		},
		watch: {
			info_style : function(){
				this.set_bg_img_field();
			}
		},
		computed: {
		    settings_modal_status: {
				get () {
					return this.visible
				},
				set (value) {
					if (!value) {
			  			this.$emit('close')
					}
				}
		    }
	  	},
		methods: {
			/**
	       	 * Fetch logged user, privilege information when created vue dom
	       	 *
	       	 * @return Object
	       	 */
	      	fetchData()
	      	{
	      		var that = this;
	      		let uri = window.laravel.base_url + '/get_data_for_infosheet_settings';
	      		that.axios.post(uri,{'type':'standard', '_token': window.laravel.csrf_token}).then((response) => {
		          	that.infosheet_info = response.data.infosheet_info;
		          	that.info_style = response.data.infosheet_info.INFO_STYLE;
		          	that.set_bg_img_field();
		          	if(response.data.infosheet_info.INFO_LOGO){
		          		that.logo_img_url = 'https://d1xlji8qxtrdmo.cloudfront.net/'+response.data.infosheet_info.INFO_LOGO;
		          	}
		          	
		        });
	      	},
			
	      	/**
	      	 *
	      	 * Set Background Image Field
	      	 *
	      	 */
	      	set_bg_img_field: function(){
	      		/* --Set Background Image Field */
	      		var that = this;
	      		if(that.info_style == 'Narrow Standard'){
		          	that.bg_img_show = true;
		          	that.bg_img_size = '1125px X 3000px Max';
		          	that.bg_img = 'https://d1ja3ktoroz7zi.cloudfront.net/'+that.infosheet_info.INFO_NARROW_BG;
				}else if(that.info_style == 'Narrow Standard NP'){
					that.bg_img_show = true;
					that.bg_img_size = '1125px X 3000px Max';
					that.bg_img = 'https://d1ja3ktoroz7zi.cloudfront.net/'+that.infosheet_info.INFO_NARROW_NP_BG;
				}else if(that.info_style == 'Dealer Custom 1'){
					that.bg_img_show = true;
					that.bg_img_size = '2652px X 3432px';
					that.bg_img = 'https://d1ja3ktoroz7zi.cloudfront.net/'+that.infosheet_info.INFO_DC1_BG;
				}else if(that.info_style == 'Dealer Custom 2'){
					that.bg_img_show = true;
					that.bg_img_size = '2652px X 3432px';
					that.bg_img = 'https://d1ja3ktoroz7zi.cloudfront.net/'+that.infosheet_info.INFO_DC2_BG;
				}else if(that.info_style == 'Dealer Custom 3'){
					that.bg_img_show = true;
					that.bg_img_size = '2652px X 3432px';
					that.bg_img = 'https://d1ja3ktoroz7zi.cloudfront.net/'+that.infosheet_info.INFO_DC3_BG;
				}else if(that.info_style == 'Dealer Custom 4' || that.info_style == 'Dealer Custom 4 NP'){
					that.bg_img_show = true;
					that.bg_img_size = '2652px X 3432px';
					that.bg_img = 'https://d1ja3ktoroz7zi.cloudfront.net/'+that.infosheet_info.INFO_DC4_BG;
				}else if(that.info_style == 'Dealer Custom 1 Certified'){
					that.bg_img_show = true;
					that.bg_img_size = '2652px X 3432px';
					that.bg_img = 'https://d1ja3ktoroz7zi.cloudfront.net/'+that.infosheet_info.INFO_DC1C_BG;
				}else if(that.info_style == 'Dealer Custom 2 Certified'){
					that.bg_img_show = true;
					that.bg_img_size = '2652px X 3432px';
					that.bg_img = 'https://d1ja3ktoroz7zi.cloudfront.net/'+that.infosheet_info.INFO_DC2C_BG;
				}else if(that.info_style == 'Pure Cars 4'){
					that.bg_img_show = true;
					that.bg_img_size = '2652px X 3432px';
					that.bg_img = 'https://d1ja3ktoroz7zi.cloudfront.net/'+that.infosheet_info.INFO_PURE4_BG;
				}else{
					that.bg_img_show = false;
					that.bg_img = '';
				}
	      	},

			/**
			 *
			 * Save Infosheet settings
			 *
			 */
			infosheet_setting_frm_submit : function(){
				let formData = new FormData();
				var bg_img_Input = document.querySelector( '#bg_img' );
				var logo_img_Input = document.querySelector( '#logo_img' );
				if(bg_img_Input){
					bg_img_Input = bg_img_Input.files[0];
				}else{
					bg_img_Input = '';
				}
				if(logo_img_Input){
					logo_img_Input = logo_img_Input.files[0];
				}else{
					logo_img_Input = '';
				}
				formData.append('infosheet_info', JSON.stringify(this.infosheet_info));
				formData.append('info_style', this.info_style);
				formData.append('type', 'standard');
				if(bg_img_Input){
					formData.append('bg_img', bg_img_Input);
				}
				if(logo_img_Input){
					formData.append('logo_img', logo_img_Input);
				}
				let uri = window.laravel.base_url + '/update_infosheet_settings';
				this.axios.post(uri,formData).then((response) => {
					if(response.data.status == 'success'){
						this.settings_modal_status = false;
						window.laravel.setting_changed = window.laravel.setting_changed == 0?1:0;
						swal("Thank You!", "Information successfully updated.", "success");

					}
				});
			},
			onBgImgChnage: function(e){
      	 		const file = e.target.files[0];
      			this.bg_img = URL.createObjectURL(file);
  	 		},
			onLogoImgChange: function(e){
				const file = e.target.files[0];
      			this.logo_img_url = URL.createObjectURL(file);
			}
		},
	}
</script>