<template>
	<v-app id="order_supplies">
		<v-layout row justify-center>
			<v-dialog v-model="settings_modal_status" max-width="640" scrollable>
				<v-card>
					<v-card-title class="headline">Order Addendum Supplies</v-card-title>
					<v-card-text>
						<v-layout row>
							<v-flex xs12 sm12 md12>
								<p class="text-xs-center">Addendum labels are shipped USPS Priority and generally take 3-5 days to arrive.<br/>Shipping is included and you will be billed on your next invoice.</p>
							</v-flex>
						</v-layout>
						<v-layout row>
							<v-flex xs2 sm2 md2>
							</v-flex>
							<v-flex xs8 sm8 md8>
								<v-select
						          :items="lprice_items"
						          v-model="lprice_value"
						          label="SELECT"
						          single-line
						        ></v-select>
							</v-flex>
						</v-layout>
						<v-layout row>
							<v-flex xs2 sm2 md2>
							</v-flex>
							<v-flex xs8 sm8 md8>
								<h6 style="margin-left: -20px;"><strong>Shipping Address</strong></h6>
							</v-flex>
						</v-layout>
						<v-layout row>
							<v-flex xs2 sm2 md2>
							</v-flex>
							<v-flex xs8 sm8 md8><hr /></v-flex>
						</v-layout>
						<v-layout row>
							<v-flex xs2 sm2 md2>
							</v-flex>
							<v-flex xs8 sm8 md8>
								<v-radio-group v-model="address_change" row>
							        <v-radio label="Ship to this address" value="0"></v-radio>
							        <v-radio label="Ship to different address" value="1"></v-radio>
						      	</v-radio-group>
							</v-flex>
						</v-layout>
						<v-layout row>
							<v-flex xs2 sm2 md2>
							</v-flex>
							<v-flex xs8 sm8 md8>
								<v-layout row style="margin-left: 0;margin-right: 0;">
									<v-flex xs6 sm6 md6>
										<p v-if="address_change == '0'">
											{{ dealer_info.DEALER_ADDRESS }}, {{ dealer_info.DEALER_CITY }}<br/>
											{{ dealer_info.DEALER_STATE }} {{ dealer_info.DEALER_ZIP }}
										</p>
									</v-flex>
									<v-flex xs6 sm6 md6>
										<v-text-field
											v-if="address_change == '1'"
											v-model="new_address"
								            multi-line
								            rows=2
							          	></v-text-field>
									</v-flex>
								</v-layout>
							</v-flex>
						</v-layout>
					</v-card-text>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn color="darken-1" flat="flat" @click.stop="settings_modal_status=false">Cancel</v-btn>
						<v-btn color="green darken-1" flat="flat" @click="order_supplies_frm_submit">Place Order</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
		</v-layout>
	</v-app>
</template>
<style type="text/css">
	.radio label{
		padding-left: 0 !important;
	}
	.radio-group .input-group__details{
		display: none;
	}
</style>
<script type="text/javascript">
	import swal from 'sweetalert';
	export default {
		data(){
			return {
				lprice_value: '',
				lprice_items: [],
				dealer_info: {},
				address_change: '0',
				new_address: '',
			}
		},
		props: ['visible'],
		created: function(){
			this.fetchData();
		},
		computed: {
		    settings_modal_status: {
				get () {
					return this.visible
				},
				set (value) {
					if (!value) {
			  			this.$emit('close')
					}
				}
		    }
	  	},
		methods: {
			/**
	       	 * Fetch logged user, privilege information when created vue dom
	       	 *
	       	 * @return Object
	       	 */
	      	fetchData()
	      	{
	      		var that = this;
	      		let uri = window.laravel.base_url + '/get_data_for_order_supplies';
	      		that.axios.post(uri,{'_token': window.laravel.csrf_token}).then((response) => {
	      			$.each(response.data.lprice_info, function(indxe, value){
	      				that.lprice_items.push({
	      					text: value.QUANTITY+' for $'+value.PRICE,
	      					value: value.QUANTITY
	      				});
	      			});
	      			this.lprice_value = response.data.lprice_info[0].QUANTITY;
	      			this.dealer_info = response.data.dealer_info;
		        });
	      	},

	      	/**
			 *
			 * Html Entity Decode
			 *
			 */
			html_entity_decode: function(str){
				return String(str).replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&quot;/g, '"');
			},

			/**
			 *
			 * Save Order Supplies Setting
			 *
			 */

			order_supplies_frm_submit:function(){
				
				let uri = window.laravel.base_url + '/save_order_supplies';
	      		this.axios.post(uri,{'lprice': this.lprice_value, 'changeAddress': this.address_change, 'newAddress': this.new_address}).then((response) => {
	      			if(response.data.status == 'success'){
	      				this.settings_modal_status = false;
	      				swal("Thank You!", "We have received your order and will be shipping your labels ASAP.", "success");
	      			}
	      		});
			}

		},
	}
</script>