<template>
	<v-app id="dealer_p_setting">
		<v-layout row justify-center>
			<v-dialog v-model="settings_modal_status" max-width="860" scrollable>
				<v-card>
					<v-card-title class="headline">Stock Images</v-card-title>
					<v-card-text>
						<v-form v-model="new_stock_frm_valid" ref="new_stock_frm" lazy-validation>
							<v-layout row>
								<v-flex xs4> 
									<input type="file" id="stock_url" name="stock_url" ref="stock_url">
								</v-flex>
								<v-flex xs2>
									<v-select
										:items="bg_width_types"
							          	v-model="bg_width_type"
								        label="SELECT"
								        single-line
									></v-select>
								</v-flex>
								<v-flex xs2>
									<v-select
										:items="bg_layout_types"
							          	v-model="bg_layout_type"
								        label="SELECT"
								        single-line
									></v-select>
								</v-flex>
								<v-flex xs2>
									<v-text-field v-model="bg_name" label="Name" :rules="[v => !!v || 'Name is required']" required></v-text-field>
								</v-flex>
								<v-flex xs2 text-center>
									<v-btn color="primary" @click="add_new_stock" :disabled="!new_stock_frm_valid">Submit</v-btn>
								</v-flex>
							</v-layout>
						</v-form>
						<v-data-table
					          :headers="headers"
					          :items="stock_infos"
					          class="elevation-1 text-center"
					          hide-actions
					          no-data-text="No Backgrounds"
					        >
					        <template slot="items" slot-scope="props">
					        	<td><a target="_new" :href="'https://d1xlji8qxtrdmo.cloudfront.net/'+props.item.SI_IMAGE">Check</a></td>
					        	<td>{{props.item.SI_BASE}}</td>
					        	<td>{{props.item.SI_LAYOUT}}</td>
					        	<td>{{props.item.SI_NAME}}</td>
					        	<td><v-btn color="error" @click="delete_bg(props.item._ID)">Delete</v-btn></td>
					        </template>
					    </v-data-table>
					</v-card-text>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn color="darken-1" flat="flat" @click.stop="settings_modal_status=false">Close</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
		</v-layout>
	</v-app>
</template>
<style type="text/css">
	#stock_url{
		width: calc(100% - 10px);
	    border-bottom: 1px solid #777;
	    padding-top: 5px;
	    padding-bottom: 5px;
	    line-height: 2;
	    margin-top: 8px;
	    margin-left: 10px;
	}
</style>
<script type="text/javascript">
	import swal from 'sweetalert';
	export default {
		data(){
			return {
				user: window.laravel.user,
				new_stock_frm_valid: false,
				bg_width_types: [
					{text: 'Standard', value: 'Standard'},
					{text: 'Narrow', value: 'Narrow'}
				],
				bg_width_type: 'Standard',
				bg_layout_types: [
					{text: 'Small', value: 'Small'},
					{text: 'Medium', value: 'Medium'},
					{text: 'Top', value: 'Top'},
					{text: 'Large', value: 'Large'},
				],
				bg_layout_type: 'Small',
				bg_name: '',
				stock_infos: [],
				headers: [
					{ text: 'URL', value: 'URL'},
					{ text: 'Base', value: 'Base'},
					{ text: 'Layout', value: 'Layout'},
					{ text: 'Name', value: 'Name'},
					{ text: 'Delete', value: 'Delete'},
				],
			}
		},
		props: ['visible'],
		created: function(){
			this.fetchData();
		},
		computed: {
		    settings_modal_status: {
				get () {
					return this.visible
				},
				set (value) {
					if (!value) {
			  			this.$emit('close')
					}
				}
		    }
	  	},
	  	methods: {
			/**
	       	 * Fetch logged user, privilege information when created vue dom
	       	 *
	       	 * @return Object
	       	 */
	      	fetchData()
	      	{
	      		let uri = window.laravel.base_url + '/get_stock_images';
	      		this.axios.post(uri).then((response) => {
	      			this.stock_infos = response.data.stock_infos;
	      		});
	      	},

	      	add_new_stock: function(){
	      		var that = this;
	      		if (this.$refs.new_stock_frm.validate()) {
	      			var formData = new FormData();
	      			formData.append('si_url_file', $('#stock_url')[0].files[0]);
	      			formData.append('si_width_type', this.bg_width_type);
	      			formData.append('si_layout_type', this.bg_layout_type);
	      			formData.append('si_name', this.bg_name);
	      			let uri = window.laravel.base_url + '/add_new_stock';
		      		this.axios({
					    method: 'post',
					    url: uri,
					    data: formData,
					    config: { headers: {'Content-Type': 'multipart/form-data' }}
				    })
				    .then(function (response) {
				        //handle success
				        console.log(response);
				        if(response.data.status == 'success'){
				        	swal('OK!', "New Stock Image added successfully", "success");
				        	that.stock_infos.push(response.data.stock_info);
				        	that.bg_width_type = 'Standard';
				        	that.bg_layout_type = 'Small';
				        	that.bg_name = '';
				        }else{
				        	swal('Oops..', 'Something went wrong. Please try again', 'error');
				        }
				    })
				    .catch(function (response) {
				        //handle error
				        console.log(response);
				        swal('Oops..', 'Something went wrong. Please try again', 'error');
				    });
	      		}
	      	},

	      	delete_bg: function(id){
	      		var that = this;
	      		var r = confirm("Do you really want to delete selected entry ?");
	      		if(r){
	      			let uri = window.laravel.base_url + '/remove_stock_img';
		      		this.axios.post(uri, {id: id}).then((response) => {
		      			if(response.data.status == 'success'){
		      				swal('OK!', 'Removed selected Stock Image successfully', 'success');
		      				that.stock_infos.forEach(function(ele, index){
		      					if(ele._ID == id){
		      						that.stock_infos.splice(index, 1);
		      					}
		      				});
		      			}
		      		});	
	      		}
	      	}
      	}
	}
</script>