<template>
	<v-app id="u_addendum_setting">
		<v-layout row justify-center>
			<v-dialog v-model="settings_modal_status" max-width="720" scrollable>
				<v-card>
					<v-card-title class="headline">Used Addendum Settings</v-card-title>
					<v-card-text>
						<v-form ref="n_addendum_settings_form" lazy-validation>
							<v-layout row>
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-usd</v-icon> Addendum Style</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-select
							          :items="addendum_style_items"
							          v-model="addendum_style_value"
							          label="SELECT"
							          single-line
							        ></v-select>
								</v-flex>
							</v-layout>
							<v-layout row>
								<v-flex xs4 sm4 md4>
								</v-flex>
								<v-flex xs7 sm7 md7 class="text-xs-center">
									<v-btn color="success" v-on:click="copy_new_adm">Copy Details from New Vehicle Addendum</v-btn>
								</v-flex>
							</v-layout>
							<v-layout row v-if="addendum_style_value == 'Standard Branded' || addendum_style_value == 'Dealer Branded Simple' || addendum_style_value == 'Dealer Branded Savings'">
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-user</v-icon> Addendum Color</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-select
							          :items="adm_color_items"
							          v-model="adm_info.STANDARD_BACKGROUND"
							          label="SELECT"
							          single-line
							        ></v-select>
								</v-flex>
							</v-layout>
							<v-layout row>
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-user</v-icon> Font Size</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-select
							          :items="font_size_items"
							          v-model="adm_info.FONT_SIZE"
							          label="SELECT"
							          single-line
							        ></v-select>
								</v-flex>
							</v-layout>
							<v-layout row v-if="addendum_style_value == 'Dealer Branded with VIN Barcode'">
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-user</v-icon> Addendum Color</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-select
							          :items="adm_VIN_color_items"
							          v-model="adm_info.STANDARD_BACKGROUND"
							          label="SELECT"
							          single-line
							        ></v-select>
								</v-flex>
							</v-layout>
							<v-layout row v-if="bg_img_show == true">
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-user</v-icon> Background<br/><p style="margin-left:30px;font-size: 12px;">({{bg_img_size}})</p></v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<input type="file" id="bg_img" v-on:change="onBgImgChnage"><br/>
									<img v-if="bg_img" :src="bg_img" class="bg_show" />
								</v-flex>
							</v-layout>
							<v-layout row v-if="addendum_style_value == 'Custom6' || addendum_style_value == 'Custom7' || addendum_style_value == 'Custom7 Narrow'">
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-user</v-icon> Total Dealer Adds?</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-select
							          :items="total_dealer_add_status"
							          v-model="adm_info.TOTAL_ADDS"
							          label="SELECT"
							          single-line
							        ></v-select>
								</v-flex>
							</v-layout>
							<v-layout row v-if="addendum_style_value == 'Dealer Branded Custom QR' || addendum_style_value == 'Narrow Branded Custom QR'">
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-user</v-icon> Addendum Color</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-select
							          :items="adm_QR_color_items"
							          v-model="adm_info.QR_BRANDED_COLOR"
							          label="SELECT"
							          single-line
							        ></v-select>
								</v-flex>
							</v-layout>
							<v-layout row v-if="addendum_style_value == 'Narrow Branded'">
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-user</v-icon> Addendum Color</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-select
							          :items="adm_narrow_color_items"
							          v-model="adm_info.NARROW_BG"
							          label="SELECT"
							          single-line
							        ></v-select>
								</v-flex>
							</v-layout>
							<v-layout row v-if="addendum_style_value == 'Standard Branded' || addendum_style_value == 'Dealer Branded Custom QR' || addendum_style_value == 'Dealer Branded Simple' || addendum_style_value == 'Narrow Branded Custom QR' || addendum_style_value == 'Dealer Branded with VIN Barcode' || addendum_style_value == 'Dealer Branded Savings'">
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-user</v-icon> Text Color</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-text-field v-model="adm_info.TEXT_COLOR"></v-text-field>
								</v-flex>
							</v-layout>
							<v-layout row v-if="addendum_style_value == 'Narrow Branded'">
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-user</v-icon> Background Color</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-text-field v-model="adm_info.ADDENDUM_BACKGROUND"></v-text-field>
								</v-flex>
							</v-layout>
							<v-layout row v-if="addendum_style_value == 'Narrow Branded' || addendum_style_value == 'Standard Branded' || addendum_style_value == 'Dealer Branded Simple' || addendum_style_value == 'Dealer Branded Savings' || addendum_style_value == 'Dealer Branded Custom QR' || addendum_style_value == 'Narrow Branded Custom QR' || addendum_style_value == 'Dealer Branded with VIN Barcode' || addendum_style_value == 'Narrow Custom 2' || addendum_style_value == 'Narrow Custom 2p'">
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-user</v-icon> Logo<p style="margin-left:30px;font-size: 12px;">(650px X 250px)</p><a target="_new" href="https://dealeraddendums.com/tutorials/logo"><img :src="base_url +'/img/Q-icon.jpeg'" /></a></v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<input type="file" id="logo_img" v-on:change="onLogoImgChange"><br/>
									<img v-if="logo_img" :src="logo_img" class="logo_show" />
								</v-flex>
							</v-layout>
							<v-layout row v-if="addendum_style_value == 'Custom6' || addendum_style_value == 'Custom7' || addendum_style_value == 'Custom7 Narrow'" >
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-user</v-icon> Base Package Price</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-text-field v-model="adm_info.BASE_PRICE"></v-text-field>
								</v-flex>
							</v-layout>
							<v-layout row v-if="addendum_style_value == 'Narrow Branded' || addendum_style_value == 'Standard' || addendum_style_value == 'Two Up' || addendum_style_value == 'QR Label'" >
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-user</v-icon> Slogan</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-text-field v-model="adm_info.SLOGAN"></v-text-field>
								</v-flex>
							</v-layout>
							<v-layout row v-if="addendum_style_value == 'Dealer Branded Savings'" >
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-user</v-icon> Market Price</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-text-field v-model="adm_info.MKT_PRC_TXT"></v-text-field>
								</v-flex>
							</v-layout>
							<v-layout row v-if="addendum_style_value == 'Dealer Branded Savings'" >
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-user</v-icon> Dealer Price</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-text-field v-model="adm_info.CDJR_PRC_TXT"></v-text-field>
								</v-flex>
							</v-layout>
							<v-layout row v-if="addendum_style_value == 'Dealer Branded Savings'" >
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-user</v-icon> Total Savings</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-text-field v-model="adm_info.TOTAL_S_TXT"></v-text-field>
								</v-flex>
							</v-layout>
							<v-layout row>
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-user</v-icon> MSRP Adjustment <a target="_new" href="https://dealeraddendums.com/tutorials/msrp"><img :src="base_url +'/img/Q-icon.jpeg'" /></a></v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-text-field v-model="adm_info.ADJUSTMENT"></v-text-field>
								</v-flex>
							</v-layout>
							<v-layout row v-if="addendum_style_value == 'Standard' || addendum_style_value == 'Two Up' || addendum_style_value == 'QR Label' || addendum_style_value == 'Custom5' || addendum_style_value == 'CUSTOM1 QR' || addendum_style_value == 'CUSTOM1 VIN' || addendum_style_value == 'CUSTOM2 QR' || addendum_style_value == 'Dealer Branded Custom QR' || addendum_style_value == 'Narrow Branded Custom QR' || addendum_style_value == 'Audi Custom Narrow'">
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-user</v-icon> QR Address</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-text-field v-model="adm_info.QR_ADDRESS"></v-text-field>
								</v-flex>
							</v-layout>
							<v-layout row v-if="addendum_style_value == 'Dealer Branded Custom QR' || addendum_style_value == 'Narrow Branded Custom QR'">
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-user</v-icon> QR Code Title</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-text-field v-model="adm_info.QR_TITLE"></v-text-field>
								</v-flex>
							</v-layout>
							<v-layout row v-if="addendum_style_value == 'Dealer Branded Custom QR' || addendum_style_value == 'Narrow Branded Custom QR'">
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-user</v-icon> QR Code Description</v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7>
									<v-text-field v-model="adm_info.QR_DESCRIPTION"></v-text-field>
								</v-flex>
							</v-layout>
							<v-layout row v-if="addendum_style_value != 'QR Label'">
								<v-flex xs4 sm4 md4>
									<v-subheader><v-icon>fa fa-fw fa-user</v-icon>  Nudge Margins(px)<a target="_new" href="https://dealeraddendums.com/tutorials/margins"><img :src="base_url +'/img/Q-icon.jpeg'" /></a></v-subheader>
								</v-flex>
								<v-flex xs7 sm7 md7 class="setting_margin">
									<v-layout row>
										<v-flex xs6 sm6 md6>
											<label>Right:&nbsp;&nbsp;&nbsp;</label>
											<v-text-field v-model="adm_info.LEFT_MARGIN" placeholder="eg. 10, -10" style="width:50px;float: left;"></v-text-field>&nbsp;&nbsp;px
										</v-flex>
										<v-flex xs6 sm6 md6>
											<label>Left:&nbsp;&nbsp;&nbsp;</label>
											<v-text-field v-model="adm_info.RIGHT_MARGIN" placeholder="eg. 10, -10" style="width:50px;float: left;"></v-text-field>&nbsp;&nbsp;px
										</v-flex>
									</v-layout>
									<v-layout row>
										<v-flex xs6 sm6 md6>
											<label>Top:&nbsp;&nbsp;&nbsp;</label>
											<v-text-field v-model="adm_info.TOP_MARGIN" placeholder="eg. 10, -10" style="width:50px;float: left;"></v-text-field>&nbsp;&nbsp;px
										</v-flex>
										<v-flex xs6 sm6 md6>
											<label>Bottom:&nbsp;&nbsp;&nbsp;</label>
											<v-text-field v-model="adm_info.BOTTOM_MARGIN" placeholder="eg. 10, -10" style="width:50px;float: left;"></v-text-field>&nbsp;&nbsp;px
										</v-flex>
									</v-layout>
								</v-flex>
							</v-layout>
	 					</v-form>
					</v-card-text>
					<v-card-actions>
	              	<v-spacer></v-spacer>
	              		<v-btn color="darken-1" flat="flat" @click.native="settings_modal_status = false">Close</v-btn>
	              		<v-btn color="green darken-1" flat="flat" @click="save_n_addendum_setting" >Save Changes</v-btn>
	            	</v-card-actions>
				</v-card>
			</v-dialog>
		</v-layout>
	</v-app>
</template>
<style type="text/css">
	#bg_img, #logo_img{
	    border: 1px solid #ddd;
	    width: 100%;
	    padding: 5px;
	}
	.logo_show{
		width: 300px;
		margin: 15px 0;
	}
	.setting_margin label{
		float: left;
	}
	.setting_margin{
		font-size: 14px;
		line-height: 4.3;
		margin-left: 50px;
	}
</style>
<script type="text/javascript">
	export default {
		data(){
			return {
				adm_info: [],
				base_url: window.laravel.base_url,
				addendum_style_items: [
					{ 'text': 'Default EPA Template', 'value': 'EPA Template'},
					{ 'text': 'Dealer Branded', 'value': 'Standard Branded'},
					{ 'text': 'Dealer Branded Custom QR', 'value': 'Dealer Branded Custom QR'},
					{ 'text': 'Dealer Branded with VIN Barcode', 'value': 'Dealer Branded with VIN Barcode'},
					{ 'text': 'Dealer Branded Simple', 'value': 'Dealer Branded Simple'},
					{ 'text': 'Dealer Branded Savings', 'value': 'Dealer Branded Savings'},
					{ 'text': 'Narrow Branded', 'value': 'Narrow Branded'},
					{ 'text': 'Narrow Branded Custom QR', 'value': 'Narrow Branded Custom QR'},
					{ 'text': 'Ink Saver Template', 'value': 'Standard'},
					{ 'text': 'PrePrinted', 'value': 'PrePrinted'},
					{ 'text': 'Two-Up', 'value': 'Two Up'},
					{ 'text': 'QR Label', 'value': 'QR Label'},
					{ 'text': 'Honda_EPA', 'value': 'Honda_EPA'},
					{ 'text': 'Toyota_EPA', 'value': 'Toyota_EPA'},
					{ 'text': 'Cadillac_EPA', 'value': 'Cadillac_EPA'},
					{ 'text': 'Hyundai_EPA', 'value': 'Hyundai_EPA'},
					{ 'text': 'Chevrolet_EPA', 'value': 'Chevrolet_EPA'},
					{ 'text': 'Ford_EPA', 'value': 'Ford_EPA'},
					{ 'text': 'Acura_EPA', 'value': 'Acura_EPA'},
					{ 'text': 'Audi_EPA', 'value': 'Audi_EPA'},
					{ 'text': 'Chrysler_EPA', 'value': 'Chrysler_EPA'},
					{ 'text': 'Dodge_EPA', 'value': 'Dodge_EPA'},
					{ 'text': 'Fiat_EPA', 'value': 'Fiat_EPA'},
					{ 'text': 'Infiniti_EPA', 'value': 'Infiniti_EPA'},
					{ 'text': 'Jaguar_EPA', 'value': 'Jaguar_EPA'},
					{ 'text': 'Kia_EPA', 'value': 'Kia_EPA'},
					{ 'text': 'Lexus_EPA', 'value': 'Lexus_EPA'},
					{ 'text': 'Masarati_EPA', 'value': 'Masarati_EPA'},
					{ 'text': 'Mercedes_EPA', 'value': 'Mercedes_EPA'},
					{ 'text': 'Mitsubishi_EPA', 'value': 'Mitsubishi_EPA'},
					{ 'text': 'Nissan_EPA', 'value': 'Nissan_EPA'},
					{ 'text': 'Subaru_EPA', 'value': 'Subaru_EPA'},
					{ 'text': 'Volvo_EPA', 'value': 'Volvo_EPA'},
					{ 'text': 'Waldorf_EPA', 'value': 'Waldorf_EPA'},
					{ 'text': 'Custom1', 'value': 'Custom1'},
					{ 'text': 'Custom1p', 'value': 'Custom1p'},
					{ 'text': 'Custom1 QR', 'value': 'Custom1 QR'},
					{ 'text': 'Custom1 SMS', 'value': 'Custom1 SMS'},
					{ 'text': 'Custom1 VIN', 'value': 'Custom1 VIN'},
					{ 'text': 'Custom1 VIN No MSRP', 'value': 'Custom1 VIN No MSRP'},
					{ 'text': 'Narrow Custom 1', 'value': 'Narrow Custom 1'},
					{ 'text': 'Narrow Custom 2', 'value': 'Narrow Custom 2'},
					{ 'text': 'Narrow Custom 2p', 'value': 'Narrow Custom 2p'},
					{ 'text': 'Custom2', 'value': 'Custom2'},
					{ 'text': 'Custom2 QR', 'value': 'Custom2 QR'},
					{ 'text': 'Custom2 No MSRP', 'value': 'Custom2 No MSRP'},
					{ 'text': 'Custom3', 'value': 'Custom3'},
					{ 'text': 'Custom4', 'value': 'Custom4'},
					{ 'text': 'Custom5', 'value': 'Custom5'},
					{ 'text': 'Custom6', 'value': 'Custom6'},
					{ 'text': 'Custom7', 'value': 'Custom7'},
					{ 'text': 'Custom7 Narrow', 'value': 'Custom7 Narrow'},
					{ 'text': 'AAT-Wide', 'value': 'AAT-Wide'},
					{ 'text': 'AAT-Narrow', 'value': 'AAT-Narrow'},
					{ 'text': 'AAT Narrow Series S', 'value': 'AAT Narrow Series S'},
					{ 'text': 'Guardian', 'value': 'Guardian'},
					{ 'text': 'Wholesale', 'value': 'Wholesale'},
					{ 'text': 'Audi Custom Narrow', 'value': 'Audi Custom Narrow'},
					{ 'text': 'Reynolds Narrow Preprinted', 'value': 'Reynolds Narrow Preprinted'},
				],
				addendum_style_value : '',
				adm_color_items: [
					{ 'text': 'Black', 'value': 'branded_black'},
					{ 'text': 'Blue', 'value': 'branded_blue'},
					{ 'text': 'White', 'value': 'branded_white'},
					{ 'text': 'Cyan', 'value': 'branded_cyan'},
					{ 'text': 'Green', 'value': 'branded_green'},
					{ 'text': 'Yellow', 'value': 'branded_yellow'},
					{ 'text': 'Orange', 'value': 'branded_orange'},
					{ 'text': 'Light Blue', 'value': 'branded_lt_blue'},
					{ 'text': 'Grey', 'value': 'branded_grey'},
					{ 'text': 'Red', 'value': 'branded_red'},
				],
				font_size_items: [
					{ 'text': 'Small', 'value': 'Small'},
					{ 'text': 'Medium', 'value': 'Medium'},
					{ 'text': 'Large', 'value': 'Large'},
				],
				adm_VIN_color_items: [
					{ 'text': 'Black', 'value': 'branded_VIN_black'},
					{ 'text': 'Blue', 'value': 'branded_VIN_blue'},
					{ 'text': 'White', 'value': 'branded_VIN_white'},
					{ 'text': 'Cyan', 'value': 'branded_VIN_cyan'},
					{ 'text': 'Green', 'value': 'branded_VIN_green'},
					{ 'text': 'Yellow', 'value': 'branded_VIN_yellow'},
					{ 'text': 'Orange', 'value': 'branded_VIN_orange'},
					{ 'text': 'Light Blue', 'value': 'branded_VIN_lt_blue'},
					{ 'text': 'Grey', 'value': 'branded_VIN_grey'},
					{ 'text': 'Red', 'value': 'branded_VIN_red'},
				],
				total_dealer_add_status : [
					{ 'text': 'Yes', 'value': '1'},
					{ 'text': 'No', 'value': '0'},
				],
				adm_QR_color_items: [
					{ 'text': 'Light Blue', 'value': 'branded_QR_lt_blue'},
					{ 'text': 'Red', 'value': 'branded_QR_red'},
					{ 'text': 'White', 'value': 'branded_QR_white'},
					{ 'text': 'Yellow', 'value': 'branded_QR_yellow'},
					{ 'text': 'Orange', 'value': 'branded_QR_orange'},
					{ 'text': 'Grey', 'value': 'branded_QR_grey'},
					{ 'text': 'Green', 'value': 'branded_QR_green'},
					{ 'text': 'Blue', 'value': 'branded_QR_blue'},
					{ 'text': 'Black', 'value': 'branded_QR_black'},
					{ 'text': 'Cyan', 'value': 'branded_QR_cyan'},
				],
				adm_narrow_color_items: [
					{ 'text': 'Light Blue', 'value': 'NB_None_lt_blue'},
					{ 'text': 'Red', 'value': 'NB_None_red'},
					{ 'text': 'White', 'value': 'NB_None_white'},
					{ 'text': 'Yellow', 'value': 'NB_None_yellow'},
					{ 'text': 'Orange', 'value': 'NB_None_orange'},
					{ 'text': 'Grey', 'value': 'NB_None_grey'},
					{ 'text': 'Green', 'value': 'NB_None_green'},
					{ 'text': 'Blue', 'value': 'NB_None_dk_blue'},
					{ 'text': 'Black', 'value': 'NB_None_black'},
					{ 'text': 'Cyan', 'value': 'NB_None_cyan'},	
				],
				// Background Image for each Style Size
				bg_img_show : false,
				bg_img_size: '',
				bg_img: '',
				adm_info: [],
				logo_img: '',
			}
		},
		props: ['visible'],
		computed: {
		    settings_modal_status: {
				get () {
					return this.visible
				},
				set (value) {
					if (!value) {
			  			this.$emit('close')
					}
				}
		    }
	  	},
	  	created: function(){
			this.fetchData();
		},
		watch: {
			addendum_style_value : function(){
				this.set_bg_img_field();
			}
		},
		methods: {
			/**
	       	 * Fetch logged user, privilege information when created vue dom
	       	 *
	       	 * @return Object
	       	 */
	      	fetchData()
	      	{
	      		var that = this;
	      		let uri = window.laravel.base_url + '/get_data_for_adm_settings';
	      		that.axios.post(uri,{'type':'Used', '_token': window.laravel.csrf_token}).then((response) => {
		          	that.adm_info = response.data.template_data;
		          	var template_builder = response.data.template_builder;
		          	var temp_name_arr = [];
		          	if(template_builder && template_builder.length){
		          		$.each(template_builder, function(index, value){
		          			temp_name_arr.push({'text': value.TEMPLATE_NAME, 'value': value.TEMPLATE_NAME});
		          		});
		          	}
		          	that.addendum_style_items = temp_name_arr.concat(that.addendum_style_items);
		          	that.addendum_style_value = response.data.template_data.ADDENDUM_STYLE;
		          	that.set_bg_img_field();
		          	if(response.data.template_data.DEALER_LOGO != null && response.data.template_data.DEALER_LOGO != ''){
		          		that.logo_img = 'https://d1xlji8qxtrdmo.cloudfront.net/' + response.data.template_data.DEALER_LOGO;
		          	}
		        });
	      	},
	      	/*
	      	 *
	      	 * Copy New Addendum Settings to Used Addendum
      	 	*/

      	 	copy_new_adm: function(){
      	 		var that = this;
	      		let uri = window.laravel.base_url + '/get_data_for_adm_settings';
	      		that.axios.post(uri,{'type':'New', '_token': window.laravel.csrf_token}).then((response) => {
		          	that.adm_info = response.data.template_data;
		          	var template_builder = response.data.template_builder;
		          	var temp_name_arr = [];
		          	if(template_builder && template_builder.length){
		          		$.each(template_builder, function(index, value){
		          			temp_name_arr.push({'text': value, 'value': value});
		          		});
		          	}
		          	that.addendum_style_items = temp_name_arr.concat(that.addendum_style_items);
		          	that.addendum_style_value = response.data.template_data.ADDENDUM_STYLE;
		          	that.set_bg_img_field();
		        });
      	 	},
	      	/*
	      	 * Save Used Addendum settings
	      	 * 
	      	*/
	      	save_n_addendum_setting: function(){
	      		let formData = new FormData();
				var bg_img_Input = document.querySelector( '#bg_img' );
				var logo_img_Input = document.querySelector( '#logo_img' );
				if(bg_img_Input){
					bg_img_Input = bg_img_Input.files[0];
				}else{
					bg_img_Input = '';
				}
				if(logo_img_Input){
					logo_img_Input = logo_img_Input.files[0];
				}else{
					logo_img_Input = '';
				}
				formData.append('adm_info', JSON.stringify(this.adm_info));
				formData.append('adm_style', this.addendum_style_value);
				formData.append('type', 'Used');
				if(bg_img_Input){
					formData.append('bg_img', bg_img_Input);
				}
				if(logo_img_Input){
					formData.append('logo_img', logo_img_Input);
				}
				let uri = window.laravel.base_url + '/update_adm_settings';
				this.axios.post(uri,formData).then((response) => {
					if(response.data.status == 'success'){
						this.settings_modal_status = false;
						window.laravel.setting_changed = window.laravel.setting_changed == 0?1:0;
						swal("Thank You!", "Information successfully updated.", "success");
					}
				});
	      	},
	      	/**
	      	 *
	      	 * Set Background Image Field
	      	 *
	      	 */
      	 	set_bg_img_field: function(){
      	 		var that = this;
      	 		switch(that.addendum_style_value){
      	 			case 'Custom1':
      	 			case 'Custom1p':
      	 				that.bg_img_show = true;
      	 				that.bg_img_size = '1125px X 3000px Max';
      	 				that.bg_img = 'https://d1ja3ktoroz7zi.cloudfront.net/'+that.adm_info.CUSTOM1_BG;
      	 				break;
      	 			case 'Custom1 QR':
      	 				that.bg_img_show = true;
      	 				that.bg_img_size = '1125px X 3000px Max';
      	 				that.bg_img = 'https://d1ja3ktoroz7zi.cloudfront.net/'+that.adm_info.CUSTOM1_QR_BG;
      	 				break;
      	 			case 'Custom1 SMS':
      	 				that.bg_img_show = true;
      	 				that.bg_img_size = '1125px X 3000px Max';
      	 				that.bg_img = 'https://d1ja3ktoroz7zi.cloudfront.net/'+that.adm_info.CUSTOM1_SMS_BG;
      	 				break;
      	 			case 'Custom1 VIN':
      	 			case 'Custom1 VIN No MSRP':
      	 				that.bg_img_show = true;
      	 				that.bg_img_size = '1125px X 3000px Max';
      	 				that.bg_img = 'https://d1ja3ktoroz7zi.cloudfront.net/'+that.adm_info.CUSTOM1_VIN_BG;
      	 				break;
      	 			case 'Custom2':
      	 				that.bg_img_show = true;
      	 				that.bg_img_size = '1125px X 3000px Max';
      	 				that.bg_img = 'https://d1ja3ktoroz7zi.cloudfront.net/'+that.adm_info.CUSTOM2_BG;
      	 				break;
      	 			case 'Custom3':
      	 				that.bg_img_show = true;
      	 				that.bg_img_size = '1125px X 3000px Max';
      	 				that.bg_img = 'https://d1ja3ktoroz7zi.cloudfront.net/'+that.adm_info.CUSTOM3_BG;
      	 				break;
      	 			case 'Custom5':
      	 				that.bg_img_show = true;
      	 				that.bg_img_size = '1125px X 3000px Max';
      	 				that.bg_img = 'https://d1ja3ktoroz7zi.cloudfront.net/'+that.adm_info.CUSTOM5_BG;
      	 				break;
      	 			case 'Custom6':
      	 				that.bg_img_show = true;
      	 				that.bg_img_size = '1125px X 3000px Max';
      	 				that.bg_img = 'https://d1ja3ktoroz7zi.cloudfront.net/'+that.adm_info.CUSTOM6_BG;
      	 				break;
      	 			case 'Custom7':
      	 				that.bg_img_show = true;
      	 				that.bg_img_size = '1125px X 3000px Max';
      	 				that.bg_img = 'https://d1ja3ktoroz7zi.cloudfront.net/'+that.adm_info.CUSTOM7_BG;
      	 				break;
      	 			case 'Custom7 Narrow':
      	 				that.bg_img_show = true;
      	 				that.bg_img_size = '1125px X 3000px Max';
      	 				that.bg_img = 'https://d1ja3ktoroz7zi.cloudfront.net/'+that.adm_info.CUSTOM7N_BG;
      	 				break;
      	 			case 'Custom2 QR':
      	 				that.bg_img_show = true;
      	 				that.bg_img_size = '1125px X 3000px Max';
      	 				that.bg_img = 'https://d1ja3ktoroz7zi.cloudfront.net/'+that.adm_info.CUSTOM2_QR_BG;
      	 				break;
      	 			case 'Custom2 No MSRP':
      	 				that.bg_img_show = true;
      	 				that.bg_img_size = '1125px X 3000px Max';
      	 				that.bg_img = 'https://d1ja3ktoroz7zi.cloudfront.net/'+that.adm_info.CUSTOM2_NM_BG;
      	 				break;
      	 			case 'Wholesale':
      	 				that.bg_img_show = true;
      	 				that.bg_img_size = '1125px X 3000px Max';
      	 				that.bg_img = 'https://d1ja3ktoroz7zi.cloudfront.net/'+that.adm_info.WHOLESALE_BG;
      	 				break;
      	 			case 'Custom4':
      	 				that.bg_img_show = true;
      	 				that.bg_img_size = '1125px X 3000px Max';
      	 				that.bg_img = 'https://d1ja3ktoroz7zi.cloudfront.net/'+that.adm_info.CUSTOM4_BG;
      	 				break;
      	 			case 'Narrow Custom 1':
      	 				that.bg_img_show = true;
      	 				that.bg_img_size = '1125px X 3000px Max';
      	 				that.bg_img = 'https://d1ja3ktoroz7zi.cloudfront.net/'+that.adm_info.NARROW_CUSTOM1_BG;
      	 				break;
      	 			case 'Audi Custom Narrow':
      	 				that.bg_img_show = false;
      	 				that.bg_img_size = '1125px X 3000px Max';
      	 				that.bg_img = '';
      	 				break;
      	 			case 'Reynolds Narrow Preprinted':
      	 				that.bg_img_show = false;
      	 				that.bg_img_size = '1125px X 3000px Max';
      	 				that.bg_img = '';
      	 				break;
      	 			case 'Narrow Custom 2':
      	 			case 'Narrow Custom 2p':
      	 				that.bg_img_show = true;
      	 				that.bg_img_size = '1125px X 3000px Max';
      	 				that.bg_img = 'https://d1ja3ktoroz7zi.cloudfront.net/'+that.adm_info.NARROW_CUSTOM2_BG;
      	 				break;
      	 			default:
      	 				that.bg_img_show = false;
      	 				that.bg_img_size = '';
      	 				that.bg_img = '';
      	 		}
      	 	},
      	 	onBgImgChnage: function(e){
      	 		const file = e.target.files[0];
      			this.bg_img = URL.createObjectURL(file);
  	 		},
  	 		onLogoImgChange: function(e){
  	 			const file = e.target.files[0];
      			this.logo_img = URL.createObjectURL(file);
  	 		},
      	}
	}
</script>