<template>
	<!--NAVIGATION-->
	<div class="app-header black box-shadow">
  		<div class="navbar"> 
		    <!-- Logo --> 
		    <a class="navbar-brand hidden-sm-down" href="http://35.172.186.183">
		    <div ui-include="'assets/images/Logo_300x36.svg'"></div>
		    <img src="https://d3manp75urydp4.cloudfront.net/Logo_300x36.png" alt="." class="hide"> </a><a class="navbar-brand" href="http://35.172.186.183">
		    <div ui-include="'assets/images/Logo_300x36.svg'"></div>
		    <img src="https://d3manp75urydp4.cloudfront.net/Logo_300x36.png" alt="."> </a> <a href="http://35.172.186.183" class="navbar-brand hidden-md-up">
		    <div ui-include="'assets/images/icon.svg'"></div>
		    <img src="https://d3manp75urydp4.cloudfront.net/icon.png" alt="." class="hide"> </a> 
		    <!-- / Logo --> 
		    <!-- Nabar right -->
		    <ul class="nav navbar-nav pull-right">
		      <li class="nav-item dropdown"> 
		        <a href class="nav-link dropdown-toggle clear" data-toggle="dropdown">
		            <span v-if="dealer_info && dealer_info.ACCOUNT_TYPE == 'Free'" class="hidden-xs-down nav-text m-r-sm text-right"> 
		              <span class="block l-h-1x _500">{{ user.NAME }}</span>
		              <small class="block l-h-1x text-muted">
		                <i class="material-icons text-md">&#xe0af;</i>
		                {{ dealer_info?html_entity_decode(dealer_info.DEALER_NAME):'' }} - <strong style="color:#F60">Upgrade Account</strong>
		              </small>
		            </span>
		            <span v-else class="hidden-xs-down nav-text m-r-sm text-right">
		              <span class="block l-h-1x _500">{{ user.NAME }}</span>
		              <small class="block l-h-1x text-muted">
		                <i class="material-icons text-md">&#xe0af;</i> {{ dealer_info?html_entity_decode(dealer_info.DEALER_NAME):'' }}
		              </small>
		            </span>
		          
					<span v-if="user.USER_IMAGE != ''" class="avatar w-32">
						<img class="avatarimg" :data-name="user.NAME" :src="'https://d1xlji8qxtrdmo.cloudfront.net/'+ user.USER_IMAGE" alt="..."> &nbsp;&nbsp; 
					</span>
					<span v-else class="avatar w-32">
						<avatar :username="user.NAME" :size="32" color="white" :customStyle="{'font-size': '19px','font-family': 'HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica, Arial,Lucida Grande, sans-serif','font-weight': '400'}"></avatar> &nbsp;&nbsp; 
					</span>
		        </a>
		        <div class="dropdown-menu pull-right dropdown-menu-scale">
	        		<a v-if="user.USER_TYPE == 'RootAdmin' || user.USER_TYPE == 'ResellerAdmin' || user.USER_TYPE == 'ResellerUser' || user.USER_TYPE == 'GroupAdmin'" class="dropdown-item" v-on:click="admin_account_setting_modal = true">Account Settings</a>
	        		<a v-if="user.USER_TYPE == 'RootAdmin'" class="dropdown-item" v-on:click="api_keys_modal = true">API Keys</a>
	        		<a v-if="user.USER_TYPE == 'RootAdmin'" class="dropdown-item" v-on:click="temp_background_modal = true">Template Backgrounds</a>
	        		<a v-if="user.USER_TYPE == 'RootAdmin'" class="dropdown-item" v-on:click="stock_image_modal = true">Stock Images</a>

					<a v-if="(user.USER_TYPE != 'RootAdmin' && user.USER_TYPE != 'ResellerAdmin' && user.USER_TYPE != 'GroupAdmin' && user.USER_TYPE != 'ResellerUser') && (user_privilege != '' && privilege_info && privilege_info['ACCOUNT_SETTINGS'][user_privilege])" class="dropdown-item" v-on:click="account_setting_modal = true">User Settings</a>
					
					<a v-if="(user.USER_TYPE != 'RootAdmin' && user.USER_TYPE != 'ResellerAdmin' && user.USER_TYPE != 'GroupAdmin' && user.USER_TYPE != 'ResellerUser') && (user_privilege != '' && privilege_info && privilege_info['DEALER_PROFILE'][user_privilege])" class="dropdown-item" v-on:click="dealer_profile_modal = true">Dealer Profile
						<strong v-if="dealer_info && dealer_info.ACCOUNT_TYPE == 'Free'" style="color:#F60"> - Upgrade</strong>
					</a>
					<a v-if="(user.USER_TYPE != 'RootAdmin' && user.USER_TYPE != 'ResellerAdmin' && user.USER_TYPE != 'GroupAdmin' && user.USER_TYPE != 'ResellerUser') && (user_privilege != '' && privilege_info && privilege_info['NEW_ADDENDUM_SETTINGS'][user_privilege])" class="dropdown-item"  v-on:click="n_adm_settings_modal = true">New Addendum Settings</a>

					<a v-if="(user.USER_TYPE != 'RootAdmin' && user.USER_TYPE != 'ResellerAdmin' && user.USER_TYPE != 'GroupAdmin' && user.USER_TYPE != 'ResellerUser') && (user_privilege != '' && privilege_info && privilege_info['OLD_ADDENDUM_SETTINGS'][user_privilege])" class="dropdown-item"  v-on:click="u_adm_settings_modal = true">Used Addendum Settings</a>

					<a v-if="(user.USER_TYPE != 'RootAdmin' && user.USER_TYPE != 'ResellerAdmin' && user.USER_TYPE != 'GroupAdmin' && user.USER_TYPE != 'ResellerUser') && (user_privilege != '' && privilege_info && privilege_info['STANDARD_INFO_SETTINGS'][user_privilege])" class="dropdown-item"  v-on:click="infosheet_setting_modal = true">Standard Infosheet Settings</a>

					<a v-if="(user.USER_TYPE != 'RootAdmin' && user.USER_TYPE != 'ResellerAdmin' && user.USER_TYPE != 'GroupAdmin' && user.USER_TYPE != 'ResellerUser') && (user_privilege != '' && privilege_info && privilege_info['CERTIFIED_INFO_SETTINGS'][user_privilege])" class="dropdown-item"  v-on:click="infosheet_setting_c_modal = true">Certified Infosheet Settings</a>

					<a v-if="(user.USER_TYPE != 'RootAdmin' && user.USER_TYPE != 'ResellerAdmin' && user.USER_TYPE != 'GroupAdmin' && user.USER_TYPE != 'ResellerUser') && (user_privilege != '' && privilege_info && privilege_info['BUYERS_GUIDE_SETTINGS'][user_privilege])" class="dropdown-item"  v-on:click="bg_settings_modal = true">Buyers Guide Settings</a>
					<!--a v-if="(user.USER_TYPE != 'RootAdmin' && user.USER_TYPE != 'ResellerAdmin' && user.USER_TYPE != 'GroupAdmin') && (privilege_info.length > 0 && privilege_info['NEW_ADDENDUM_SETTINGS'][user.USER_TYPE])" class="dropdown-item"  data-toggle="modal"  data-target="#sms_modal">SMS Template Settings</a-->

					<div v-if="user.USER_TYPE != 'RootAdmin' && user.USER_TYPE != 'ResellerAdmin' && user.USER_TYPE != 'GroupAdmin' && user.USER_TYPE != 'ResellerUser'" class="dropdown-divider"></div>

					<a v-if="user.USER_TYPE != 'RootAdmin' && user.USER_TYPE != 'ResellerAdmin' && user.USER_TYPE != 'GroupAdmin' && user.USER_TYPE != 'ResellerUser'" class="dropdown-item"  data-toggle="modal"  data-target="#reset_vehicle_options">Reset Vehicle Options</a>

					<div v-if="user.USER_TYPE != 'RootAdmin' && user.USER_TYPE != 'ResellerAdmin' && user.USER_TYPE != 'GroupAdmin' && user.USER_TYPE != 'ResellerUser'" class="dropdown-divider"></div>

					<a v-if="(user.USER_TYPE != 'RootAdmin' && user.USER_TYPE != 'ResellerAdmin' && user.USER_TYPE != 'GroupAdmin' && user.USER_TYPE != 'ResellerUser') && (user_privilege != '' && privilege_info && privilege_info['ORDER_ADDENDUM_LABELS'][user_privilege])" class="dropdown-item"  v-on:click="order_supplies_modal = true">Order Supplies</a>

					<div v-if="(user.USER_TYPE != 'RootAdmin' && user.USER_TYPE != 'ResellerAdmin' && user.USER_TYPE != 'GroupAdmin' && user.USER_TYPE != 'ResellerUser') && (privilege_info.length > 0 && privilege_info['ORDER_ADDENDUM_LABELS'][user.USER_TYPE])" class="dropdown-divider"></div>

					<a v-if="user.USER_TYPE != 'RootAdmin' && user.USER_TYPE != 'ResellerAdmin' && user.USER_TYPE != 'GroupAdmin' && user.USER_TYPE != 'ResellerUser'" class="dropdown-item" :href="base_url+'/template'">Template Builder</a>
					<a v-if="user.USER_TYPE != 'RootAdmin' && user.USER_TYPE != 'ResellerAdmin' && user.USER_TYPE != 'GroupAdmin' && user.USER_TYPE != 'ResellerUser'" class="dropdown-item" :href="base_url+'/upload_photo'">Upload Vehicle Images</a>
					<a v-if="user.USER_TYPE != 'RootAdmin' && user.USER_TYPE != 'ResellerAdmin' && user.USER_TYPE != 'GroupAdmin' && user.USER_TYPE != 'ResellerUser'" class="dropdown-item" target="_blank" href="https://dealeraddendums.com/tutorial/">Help Video</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" :href="base_url+'/logout'">Logout</a> 
		        </div>
		      </li>
		    </ul>
		    <!-- / Navbar right --> 
  		</div>
  		<!-- Admin Account Setting -->
  		<AdminAccountSetting style="position: absolute;" v-if="admin_account_setting_modal" :visible="admin_account_setting_modal" @close="admin_account_setting_modal=false"></AdminAccountSetting>
  		<!-- Admin API Keys Setting -->
  		<APIKeysSetting style="position: absolute;" v-if="api_keys_modal" :visible="api_keys_modal" @close="api_keys_modal=false"></APIKeysSetting>
  		<!-- Admin Template Background Setting -->
  		<TempBackgroundSetting style="position: absolute;" v-if="temp_background_modal" :visible="temp_background_modal" @close="temp_background_modal=false"></TempBackgroundSetting>
  		<!-- Admin Stock Images Setting -->
  		<StockImagesSetting style="position: absolute;" v-if="stock_image_modal" :visible="stock_image_modal" @close="stock_image_modal=false"></StockImagesSetting>


  		<!-- Create Dealer Profile Start -->
		<DealerProfileContent style="position: absolute;" v-if="dealer_profile_modal" :visible="dealer_profile_modal" @close="dealer_profile_modal=false"></DealerProfileContent>
	    <!-- Create Dealer Profile End -->
	    <!-- Create Standard InfoSheet Modal Start -->
		<InfoSheetSettingContent style="position: absolute;" v-if="infosheet_setting_modal" :visible="infosheet_setting_modal" @close="infosheet_setting_modal=false"></InfoSheetSettingContent>
	    <!-- Create Standard InfoSheet Modal End -->
	    <!-- Create Certified InfoSheet Modal Start -->
		<InfoSheetCSettingContent style="position: absolute;" v-if="infosheet_setting_c_modal" :visible="infosheet_setting_c_modal" @close="infosheet_setting_c_modal=false"></InfoSheetCSettingContent>
	    <!-- Create Certified InfoSheet Modal End -->
	    <!-- Create BuyerGuide Setting Modal Start -->
		<BuyerGuideSettingsContent style="position: absolute;" v-if="bg_settings_modal" :visible="bg_settings_modal" @close="bg_settings_modal=false"></BuyerGuideSettingsContent>
	    <!-- Create BuyerGuide Setting Modal End -->
	    <!-- Create New Addendum Setting Modal Start -->
		<NewAdmSettingsContent style="position: absolute;" v-if="n_adm_settings_modal" :visible="n_adm_settings_modal" @close="n_adm_settings_modal=false"></NewAdmSettingsContent>
	    <!-- Create New Addendum Setting Modal End -->
	    <!-- Create Used Addendum Setting Modal Start -->
		<UsedAdmSettingsContent style="position: absolute;" v-if="u_adm_settings_modal" :visible="u_adm_settings_modal" @close="u_adm_settings_modal=false"></UsedAdmSettingsContent>
	    <!-- Create Used Addendum Setting Modal End -->
	    <!-- Create Order Supplies Modal Start -->
		<OrderSuppliesContent style="position: absolute;" v-if="order_supplies_modal" :visible="order_supplies_modal" @close="order_supplies_modal=false"></OrderSuppliesContent>
	    <!-- Create Used Addendum Setting Modal End -->
	    <!-- Account Setting Modal Start -->
		<AccountSetting style="position: absolute;" v-if="account_setting_modal" :visible="account_setting_modal" @close="account_setting_modal=false"></AccountSetting>
	    <!-- Account Setting Modal End -->
	</div>
</template>
<style type="text/css">
</style>
<script type="text/javascript">
	import Avatar from 'vue-avatar';
	import DealerProfileContent from '../settings_modal_content/dealer_profile_settings_content.vue';
	import InfoSheetSettingContent from '../settings_modal_content/infosheet_settings_content.vue';
	import InfoSheetCSettingContent from '../settings_modal_content/infosheet_c_settings_content.vue';
	import BuyerGuideSettingsContent from '../settings_modal_content/bg_settings_content.vue';
	import NewAdmSettingsContent from '../settings_modal_content/n_addendum_settings_content.vue';
	import UsedAdmSettingsContent from '../settings_modal_content/u_addendum_settings_content.vue';
	import OrderSuppliesContent from '../settings_modal_content/order_supplies_content.vue';
	import AdminAccountSetting from '../settings_modal_content/admin_account_setting.vue';
	import APIKeysSetting from '../settings_modal_content/api_keys_setting.vue';
	import TempBackgroundSetting from '../settings_modal_content/temp_background_setting.vue';
	import StockImagesSetting from '../settings_modal_content/stock_images_setting.vue';
	import AccountSetting from '../settings_modal_content/account_setting.vue';
	export default {
		data(){
			return{
				base_url : window.laravel.base_url,
				routes_obj: this.$router.options.routes,
				user: window.laravel.user,
				dealer_info: window.laravel.dealer_info,
				dealer_profile_modal: false, //Dealer Profile Modal
				infosheet_setting_modal: false, //Standard InfoSheet Setting Modal
				infosheet_setting_c_modal: false, //Certified InfoSheet Setting Modal
				bg_settings_modal: false, //Buy Guide Setting Modal
				n_adm_settings_modal: false, // New Addendum Setting Modal
				u_adm_settings_modal: false, // Used Addendum Setting Modal
				order_supplies_modal: false, // Order Supplies Modal
				admin_account_setting_modal: false, //Admin Account Setting Modal
				api_keys_modal: false, //API Keys Settings Modal
				temp_background_modal: false, //Template Background Settings Modal
				stock_image_modal: false, //Stock Images Settings Modal
				account_setting_modal: false, //User Account Setting Modal
				privilege_info: [], //Privilege Information Array
				user_privilege: '',
			}
		},
		created: function()
      	{
	        this.fetchData();
      	},
      	methods: {
			/**
			* Fetch logged user, privilege information when created vue dom
			*
			* @return Object
			*/
			fetchData()
			{
				let uri = base_url + '/get_privilageinfo';
				this.axios.post(uri).then((response) => {
					this.privilege_info = response.data.p_info;
					this.user_privilege = this.user.USER_TYPE.toUpperCase();
				});
			},

			/**
			 *
			 * Html Entity Decode
			 *
			 */
			html_entity_decode: function(str){
				return String(str).replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&quot;/g, '"');
			},
		},
		components: {
		    Avatar,
		    DealerProfileContent,
		    InfoSheetSettingContent,
		    InfoSheetCSettingContent,
		    BuyerGuideSettingsContent,
		    NewAdmSettingsContent,
		    UsedAdmSettingsContent,
		    OrderSuppliesContent,
		    AdminAccountSetting,
		    APIKeysSetting,
		    TempBackgroundSetting,
		    StockImagesSetting,
		    AccountSetting
	  	},
        name: 'header-nav',
	}
</script>
