<template>
	<div ui-view class="app-body" id="view"> 

	    <!-- Statistics for xl and lg-->
	    <div class="col-xs-12 col-sm-6 col-md-3 hidden-md-down">
	      <div class="row">
	        <div class="card card-block">
	          <div class="pull-left m-r"> <img src="https://d3manp75urydp4.cloudfront.net/icon-car75.png" height="50em" width="50em"> </div>
	          <div class="clear">
	            <h5 class="card-title "><span class="c_current_vehicles">{{ current_vehicle }}</span> Vehicles</h5>
	            <p v-if="user.USER_TYPE == 'RootAdmin' || user.USER_TYPE == 'ResellerAdmin' || user.USER_TYPE == 'ResellerUser' || user.USER_TYPE == 'GroupAdmin'" class="card-text ">+<span class="c_plus_today">{{ vlast_30 }}</span> IN LAST 30</p>
	            <p v-else  class="card-text ">+<span class="c_plus_today">{{ plus_vehicle }}</span> TODAY</p>
	          </div>
	        </div>
	      </div>
	    </div>
	    <div class="col-xs-12 col-sm-6 col-md-3 hidden-md-down">
	      <div class="row">
	        <div class="card card-block">
	          <div class="pull-left m-r"> <img src="https://d3manp75urydp4.cloudfront.net/dark-icon75.png" height="50em" width="50em"> </div>
	          <div class="clear">
	            <h5 class="card-title "><span class="c_current_addendums">{{ user.USER_TYPE == 'RootAdmin'? current_vehicle_c:current_addendum }}</span> Current</h5>
	            <p class="card-text "><span class="c_need_printing">{{ need_addendum }}</span> UNPRINTED</p>
	          </div>
	        </div>
	      </div>
	    </div>
	    <div class="col-xs-12 col-sm-6 col-md-3 hidden-md-down">
	      <div class="row">
	        <div class="card card-block">
	          <div class="pull-left m-r"> <img src="https://d3manp75urydp4.cloudfront.net/user-icon75.png" height="50em" width="50em"> </div>
	          <div class="clear">
	            <h5 class="card-title "><span class="c_users">{{ count_user }}</span> Users</h5>
	            <p v-if="user.USER_TYPE == 'RootAdmin' || user.USER_TYPE == 'ResellerAdmin' || user.USER_TYPE == 'ResellerUser' || user.USER_TYPE == 'GroupAdmin'" class="card-text ">Dealers <span class="c_last_login">{{ count_dealer }}</span></p>
	            <p v-else  class="card-text ">LAST <span class="c_last_login">{{ last_login }}</span></p>
	          </div>
	        </div>
	      </div>
	    </div>
	    <div class="col-xs-12 col-sm-6 col-md-3 hidden-md-down">
	      <div class="row">
	        <div class="card card-block">
	          <div class="pull-left m-r"> <img src="https://d3manp75urydp4.cloudfront.net/printer-icon75.png" height="50em" width="50em"> </div>
	          <div class="clear">
	            <h5 class="card-title "><span class="c_addendum_printed">{{ printed_addendum }}</span> Printed</h5>
	            <p class="card-text muted "><span class="c_30_days">{{ last_30 }}</span> IN LAST 30</p>
	          </div>
	        </div>
	      </div>
	    </div>
	</div>
</template>

<script type="text/javascript">
	export default {
		data(){
			return{
				user: window.laravel.user,
				base_url : window.laravel.base_url,
				routes_obj: this.$router.options.routes,
				user: window.laravel.user,
				dealer_info: window.laravel.dealer_info,
				current_vehicle: window.laravel.current_vehicle,
				plus_vehicle: window.laravel.plus_vehicle,
				current_addendum: window.laravel.current_addendum,
				need_addendum: window.laravel.need_addendum,
				count_user: window.laravel.count_user,
				last_login: window.laravel.last_login,
				printed_addendum: window.laravel.printed_addendum,
				last_30: window.laravel.last_30,
				current_vehicle_c: window.laravel.current_vehicle_c,
				count_dealer: window.laravel.count_dealer,
				vlast_30: window.laravel.vlast_30
			}
		},
		created: function()
      	{
	        this.fetchData();
      	},
      	methods: {
			/**
			* Fetch logged user, privilege information when created vue dom
			*
			* @return Object
			*/
			fetchData()
			{
			},
		},

        name: 'header-info',
	}
</script>
