<template>
	<!--NAVIGATION-->
	<div class="app-header black box-shadow">
  		<div class="navbar"> 
		    <!-- Logo --> 
		    <a class="navbar-brand hidden-sm-down">
		    <div ui-include="'assets/images/Logo_300x36.svg'"></div>
		    <img src="https://d3manp75urydp4.cloudfront.net/Logo_300x36.png" alt="." class="hide"> </a><a class="navbar-brand">
		    <div ui-include="'assets/images/Logo_300x36.svg'"></div>
		    <img src="https://d3manp75urydp4.cloudfront.net/Logo_300x36.png" alt="."> </a> <a class="navbar-brand hidden-md-up">
		    <div ui-include="'assets/images/icon.svg'"></div>
		    <img src="https://d3manp75urydp4.cloudfront.net/icon.png" alt="." class="hide"> </a>
		    <!-- / Logo -->
		    <div class="pull-right" style="width:600px;">
		    	<v-app id="template_build_header">
		    		<v-layout row>
		    			<v-flex xs7 v-if="temp_id == 0" >
		    			</v-flex>
	                  	<v-flex xs5 v-if="temp_id != 0">
	                  		<v-btn color="error" @click="back_template"><< Back To Template Builder </v-btn>
	                  	</v-flex>
	                  	<v-flex xs5>
	                  		<v-btn color="warning" @click="exit_template"><< Exit Template Builder</v-btn>
	                  	</v-flex>
                  	</v-layout>
		    	</v-app>
		    </div>
		</div>
	</div>
</template>
<style type="text/css">
</style>
<script type="text/javascript">
	export default {
		data() {
			return {
				
			}
		},
		created: function()
      	{
          	this.fetchData();
  		},
  		props: ['temp_id'],
  		methods: {
      		/**
			* Fetch Initial Data
			*
			* @return Object
			*/
			fetchData()
			{
				
			},

			

			exit_template: function(){
				window.location.href= window.laravel.base_url + '/home';
			},

			back_template: function(){
				window.location.href = window.laravel.base_url + '/template';
			}
		}
	}
</script>