<template>
	<nav class="navbar navbar-dark bg-inverse">
		<ul class="nav navbar-nav" role="tablist">
		  	<li class="nav-item">
				<a :href="routes_obj[0].path" class="nav-link" :class="$route.name == 'Overview'? 'active': ''">Vehicle Overview</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="#" disabled><img src="https://d3manp75urydp4.cloudfront.net/spacer.png"></a>
			</li>
			<li class="nav-item">
				<a :href="routes_obj[1].path" class="nav-link" :class="$route.name == 'AddNewVehicle'? 'active': ''">Add New Vehicle</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="#" disabled><img src="https://d3manp75urydp4.cloudfront.net/spacer.png"></a>
			</li>
			<li class="nav-item importtab">
				<a :href="routes_obj[2].path" class="nav-link" :class="$route.name == 'ImportVehicles'? 'active': ''">Import Vehicles</a>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" href="#" disabled><img src="https://d3manp75urydp4.cloudfront.net/spacer.png"></a>
			</li>
			<li class="nav-item">
				<a :href="routes_obj[3].path" class="nav-link" :class="$route.name == 'Options'? 'active': ''">Addendum Options</a>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" href="#" disabled><img src="https://d3manp75urydp4.cloudfront.net/spacer.png"></a>
			</li>

			<li class="nav-item">
				<a :href="routes_obj[4].path" class="nav-link" :class="$route.name == 'OptionGroups'? 'active': ''">Option Groups</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="#" disabled><img src="https://d3manp75urydp4.cloudfront.net/spacer.png"></a>
			</li>
			<li class="nav-item">
				<a :href="routes_obj[5].path" class="nav-link" :class="$route.name == 'Users'? 'active': ''">Users</a>
			</li>

			<li class="nav-item" style="display:none;">
				<a :href="routes_obj[0].path" class="nav-link" :class="$route.name == ''? 'active': ''">Print</a>
			</li>

		</ul>
	</nav>
</template>
<script type="text/javascript">
	export default {
		data(){
			return{
				base_url : window.laravel.base_url,
				routes_obj: this.$router.options.routes
			}
		},
		created: function()
      	{
	        this.fetchData();
      	},
      	methods: {
			/**
			* Fetch logged user, privilege information when created vue dom
			*
			* @return Object
			*/
			fetchData()
			{
			},
		},

        name: 'dashboard-tab-menu',
	}
</script>
