<template>
	<nav class="navbar navbar-dark bg-inverse">
		<ul class="nav navbar-nav" role="tablist">
			<li v-if="user_info.USER_TYPE == 'RootAdmin' || user_info.USER_TYPE == 'ResellerUser' || user_info.USER_TYPE == 'ResellerAdmin' || user_info.USER_TYPE == 'GroupAdmin'" class="nav-item">
				<router-link :to="{ name: 'DealerOverview'}" class="nav-link" :class="$route.name == 'DealerOverview'? 'active': ''">Dealer Overview</router-link>
			</li>

			<li v-if="user_info.USER_TYPE == 'RootAdmin' || user_info.USER_TYPE == 'ResellerUser' || user_info.USER_TYPE == 'ResellerAdmin' || user_info.USER_TYPE == 'GroupAdmin'" class="nav-item">
				<a class="nav-link" href="#" disabled><img src="https://d3manp75urydp4.cloudfront.net/spacer.png"></a>
			</li>

			<li v-if="user_info.USER_TYPE == 'RootAdmin' || user_info.USER_TYPE == 'ResellerAdmin' || user_info.USER_TYPE == 'GroupAdmin'" class="nav-item">
				<router-link :to="{ name: 'AddNewDealer'}" class="nav-link" :class="$route.name == 'AddNewDealer'? 'active': ''">Add New Dealer</router-link>
			</li>
			<li v-if="user_info.USER_TYPE == 'RootAdmin' || user_info.USER_TYPE == 'ResellerAdmin' || user_info.USER_TYPE == 'GroupAdmin'" class="nav-item">
				<a class="nav-link" href="#" disabled><img src="https://d3manp75urydp4.cloudfront.net/spacer.png"></a>
			</li>

			<li v-if="user_info.USER_TYPE == 'RootAdmin'" class="nav-item">
				<router-link :to="{ name: 'ImportDB'}" class="nav-link" :class="$route.name == 'ImportDB'? 'active': ''">Import Database</router-link>
			</li>

			<li v-if="user_info.USER_TYPE == 'RootAdmin'" class="nav-item">
				<a class="nav-link" href="#" disabled><img src="https://d3manp75urydp4.cloudfront.net/spacer.png"></a>
			</li>


		  	<li v-if="user_info.USER_TYPE != 'RootAdmin' && user_info.USER_TYPE != 'ResellerUser' && user_info.USER_TYPE != 'ResellerAdmin' && user_info.USER_TYPE != 'GroupAdmin'" class="nav-item">
				<router-link :to="{ name: 'Overview'}" class="nav-link" :class="$route.name == 'Overview'? 'active': ''">Overview</router-link>
			</li>

			<li v-if="user_info.USER_TYPE != 'RootAdmin' && user_info.USER_TYPE != 'ResellerUser' && user_info.USER_TYPE != 'ResellerAdmin' && user_info.USER_TYPE != 'GroupAdmin'" class="nav-item">
				<a class="nav-link" href="#" disabled><img src="https://d3manp75urydp4.cloudfront.net/spacer.png"></a>
			</li>
			<li v-if="(user_info.USER_TYPE != 'RootAdmin' && user_info.USER_TYPE != 'ResellerUser' && user_info.USER_TYPE != 'ResellerAdmin' && user_info.USER_TYPE != 'GroupAdmin') && (user_privilege != '' && privilege_info && privilege_info['ADD_NEW_VEHICLE'][user_privilege])" class="nav-item">
				<router-link :to="{ name: 'AddNewVehicle'}" class="nav-link" :class="$route.name == 'AddNewVehicle'? 'active': ''">Add New Vehicle</router-link>
			</li>

			<li v-if="(user_info.USER_TYPE != 'RootAdmin' && user_info.USER_TYPE != 'ResellerUser' && user_info.USER_TYPE != 'ResellerAdmin' && user_info.USER_TYPE != 'GroupAdmin') && (user_privilege != '' && privilege_info && privilege_info['ADD_NEW_VEHICLE'][user_privilege])" class="nav-item">
				<a class="nav-link" href="#" disabled><img src="https://d3manp75urydp4.cloudfront.net/spacer.png"></a>
			</li>
			<li v-if="(user_info.USER_TYPE != 'RootAdmin' && user_info.USER_TYPE != 'ResellerUser' && user_info.USER_TYPE != 'ResellerAdmin' && user_info.USER_TYPE != 'GroupAdmin') && (user_privilege != '' && privilege_info && privilege_info['IMPORT_VEHICLES'][user_privilege])" class="nav-item importtab">
				<router-link :to="{ name: 'ImportVehicles'}" class="nav-link" :class="$route.name == 'ImportVehicles'? 'active': ''">Import Vehicles</router-link>
			</li>
			
			<li v-if="(user_info.USER_TYPE != 'RootAdmin' && user_info.USER_TYPE != 'ResellerUser' && user_info.USER_TYPE != 'ResellerAdmin' && user_info.USER_TYPE != 'GroupAdmin') && (user_privilege != '' && privilege_info && privilege_info['IMPORT_VEHICLES'][user_privilege])" class="nav-item">
				<a class="nav-link" href="#" disabled><img src="https://d3manp75urydp4.cloudfront.net/spacer.png"></a>
			</li>
			<li v-if="(user_info.USER_TYPE != 'RootAdmin' && user_info.USER_TYPE != 'ResellerUser' && user_info.USER_TYPE != 'ResellerAdmin' && user_info.USER_TYPE != 'GroupAdmin') && (user_privilege != '' && privilege_info && privilege_info['ADDENDUM_DEFAULTS'][user_privilege])" class="nav-item">
				<router-link :to="{ name: 'Options'}" class="nav-link" :class="$route.name == 'Options'? 'active': ''">Addendum Options</router-link>
			</li>
			
			<li v-if="(user_info.USER_TYPE != 'RootAdmin' && user_info.USER_TYPE != 'ResellerUser' && user_info.USER_TYPE != 'ResellerAdmin' && user_info.USER_TYPE != 'GroupAdmin') && (user_privilege != '' && privilege_info && privilege_info['ADDENDUM_DEFAULTS'][user_privilege])" class="nav-item">
				<a class="nav-link" href="#" disabled><img src="https://d3manp75urydp4.cloudfront.net/spacer.png"></a>
			</li>

			<li v-if="(user_info.USER_TYPE != 'RootAdmin' && user_info.USER_TYPE != 'ResellerUser' && user_info.USER_TYPE != 'ResellerAdmin' && user_info.USER_TYPE != 'GroupAdmin') && (user_privilege != '' && privilege_info && privilege_info['ADDENDUM_DEFAULTS'][user_privilege])" class="nav-item">
				<router-link :to="{ name: 'OptionGroups'}" class="nav-link" :class="$route.name == 'OptionGroups'? 'active': ''">Option Groups</router-link>
			</li>

			<li v-if="(user_info.USER_TYPE != 'RootAdmin' && user_info.USER_TYPE != 'ResellerUser' && user_info.USER_TYPE != 'ResellerAdmin' && user_info.USER_TYPE != 'GroupAdmin') && (user_privilege != '' && privilege_info && privilege_info['ADDENDUM_DEFAULTS'][user_privilege])" class="nav-item">
				<a class="nav-link" href="#" disabled><img src="https://d3manp75urydp4.cloudfront.net/spacer.png"></a>
			</li>
			<li v-if="user_info.USER_TYPE == 'ResellerAdmin' || ((user_info.USER_TYPE != 'RootAdmin' && user_info.USER_TYPE != 'ResellerUser' && user_info.USER_TYPE != 'ResellerAdmin' && user_info.USER_TYPE != 'GroupAdmin') && (user_privilege != '' && privilege_info && privilege_info['USERS_OVERVIEW'][user_privilege]))" class="nav-item">
				<router-link :to="{ name: 'Users'}" class="nav-link" :class="$route.name == 'Users'? 'active': ''">Users</router-link>
			</li>

			<li v-if="(user_info.USER_TYPE != 'RootAdmin' && user_info.USER_TYPE != 'ResellerUser' && user_info.USER_TYPE != 'ResellerAdmin' && user_info.USER_TYPE != 'GroupAdmin') && (user_privilege != '' && privilege_info && privilege_info['USERS_OVERVIEW'][user_privilege])" class="nav-item" style="display:none;">
				<router-link :to="{ name: 'Users'}" class="nav-link" :class="$route.name == 'Users'? 'active': ''">Print</router-link>
			</li>
		</ul>
	</nav>
</template>
<script type="text/javascript">
	export default {
		data(){
			return{
				user_info: window.laravel.user,
				base_url : window.laravel.base_url,
				routes_obj: this.$router.options.routes,
				privilege_info: [],
				user_privilege: ''
			}
		},
		created: function()
      	{
	        this.fetchData();
      	},
      	methods: {
			/**
			* Fetch logged user, privilege information when created vue dom
			*
			* @return Object
			*/
			fetchData()
			{
				let uri = base_url + '/get_privilageinfo';
				this.axios.post(uri).then((response) => {
					this.privilege_info = response.data.p_info;
					this.user_privilege = this.user_info.USER_TYPE.toUpperCase();
				});
			},
		},

        name: 'dashboard-tab-menu',
	}
</script>
