<template>
	<nav class="navbar navbar-dark bg-inverse">
		<ul class="nav navbar-nav" role="tablist">
		  	<li class="nav-item">
				<router-link :to="{ name: 'Overview' }" class="nav-link active">Vehicle Overview</router-link>
			</li>

			<li v-if="privilege_info && privilege_info.ADD_NEW_VEHICLE == 1" class="nav-item">
				<a class="nav-link" href="#" disabled><img src="https://d3manp75urydp4.cloudfront.net/spacer.png"></a>
			</li>
			<li v-if="privilege_info && privilege_info.ADD_NEW_VEHICLE == 1" class="nav-item">
				<router-link :to="{ name: 'Overview' }" class="nav-link">Add New Vehicle</router-link>
			</li>

			<li v-if="privilege_info && privilege_info.IMPORT_VEHICLES == 1" class="nav-item">
				<a class="nav-link" href="#" disabled><img src="https://d3manp75urydp4.cloudfront.net/spacer.png"></a>
			</li>
			<li v-if="privilege_info && privilege_info.IMPORT_VEHICLES == 1" class="nav-item importtab">
				<router-link :to="{ name: 'Overview' }" class="nav-link">Import Vehicles</router-link>
			</li>
			
			<li v-if="privilege_info && privilege_info.ADDENDUM_DEFAULTS == 1" class="nav-item">
				<a class="nav-link" href="#" disabled><img src="https://d3manp75urydp4.cloudfront.net/spacer.png"></a>
			</li>
			<li v-if="privilege_info && privilege_info.ADDENDUM_DEFAULTS == 1" class="nav-item">
				<router-link :to="{ name: 'Overview' }" class="nav-link">Addendum Options</router-link>
			</li>
			
			<li v-if="privilege_info && privilege_info.ADDENDUM_DEFAULTS == 1" class="nav-item">
				<a class="nav-link" href="#" disabled><img src="https://d3manp75urydp4.cloudfront.net/spacer.png"></a>
			</li>

			<li v-if="privilege_info && privilege_info.ADDENDUM_DEFAULTS == 1" class="nav-item">
				<router-link :to="{ name: 'Overview' }" class="nav-link">Option Groups</router-link>
			</li>

			<li v-if="privilege_info && privilege_info.USERS_OVERVIEW == 1" class="nav-item">
				<a class="nav-link" href="#" disabled><img src="https://d3manp75urydp4.cloudfront.net/spacer.png"></a>
			</li>
			<li v-if="privilege_info && privilege_info.USERS_OVERVIEW == 1" class="nav-item">
				<router-link :to="{ name: 'Overview' }" class="nav-link">Users</router-link>
			</li>

			<li class="nav-item" style="display:none;">
				<router-link :to="{ name: 'Overview' }" class="nav-link">Print</router-link>
			</li>

		</ul>
	</nav>
</template>
<script type="text/javascript">
	export default {
		data(){
	        return{
	            privilege_info: {}
	        }
	    },

	    created: function()
        {
            this.fetchItems();
        },

        methods: {
        	fetchItems()
        	{
        		let uri = window.laravel.base_url + '/get_privilege';
        		this.axios.post(uri,{'_token': window.laravel.csrf_token}).then((response) => {
                  	this.privilege_info = response.data.privilege_info;
              	});
        	}
        },
        name: 'dashboard-tab-menu',
	}
</script>
