<!-- For Mobile Nav Tab -->
<template>
	<ul class="nav navbar-nav" role="tablist">
        <li class="nav-item dropdown" style="z-index:1050;position: fixed;"> 
          	<a class="nav-link dropdown-toggle hidden-lg-up" href data-toggle="dropdown" style="line-height: 2.7;margin-left: 15px; color:#ddd;font-size:14px;"> <span>Main Menu</span> </a>
          	<div class="dropdown-menu dropdown-menu-scale text-color" role="menu"> 
	            <router-link :to="{ name: 'Overview' }" class="dropdown-item" role="tab" data-toggle="tab">Vehicle Overview (Home)</router-link>

              	<router-link :to="{ name: 'Overview' }" class="dropdown-item" data-toggle="tab" role="tab">Add New Vehicle</router-link>

              	<router-link :to="{ name: 'Overview' }" class="dropdown-item importtab" data-toggle="tab" role="tab">Import Vehicles</router-link>

              	<router-link :to="{ name: 'Options' }" class="dropdown-item" data-toggle="tab" role="tab">Addendum Options</router-link>

              	<router-link :to="{ name: 'Overview' }" class="dropdown-item" data-toggle="tab" role="tab">Option Groups</router-link>

              	<router-link :to="{ name: 'Overview' }" class="dropdown-item"  data-toggle="tab" role="tab">Users</router-link>
          	</div>
        </li>
  	</ul>
</template>
<style type="text/css"></style>
<script type="text/javascript">
	export default{
        name: 'mobilenavheader'
    }
</script>