<template>
  <v-app>
  <form id="forgot_password" :action="action_url" method="post">
    <input type="hidden" name="_token" v-bind:value="csrf_token" />
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel" style="color:#000">Send me my password</h4>
        </div>
        <div class="modal-body">
          <span id="smessage"></span>
           <div class="form-group">
            <label for="inputEmail" style="color:#000">Email</label>
            <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email Address" required>
          </div>
           
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Nevermind</button>
          <button type="submit" class="btn btn-primary">Send Now.</button>
        </div>
      </div>
    </div>
  </form>
  </v-app>
</template>
<script>
    export default {
      data() {
        return {
          action_url: window.laravel.base_url + '/forget_password',
          csrf_token: window.laravel.csrf_token
        }
      },
      name: 'forgetmodalform',
    }
</script>