<template>
	<div class="app" id="app">
		<v-app id="gmap_app">
			<!-- content -->
			<div id="content" class="app-content box-shadow-z0" role="main">
			    <div class="app-header white box-shadow navbar-md" style="text-align:center">
			        <a class="navbar-brand" style="width:100%; padding-top:10px;">
			      	<div ui-include="'https://d3manp75urydp4.cloudfront.net/map_logo.png'"></div>
      				<input type="hidden" id="cities" :value="addendum_data" />
					<input type="hidden" id="addendums" :value="count_data.count1" />
      				<img src="https://d3manp75urydp4.cloudfront.net/map_logo.png" alt="."> </a>
				</div>
    			<div ui-view class="app-body" id="view">
    				<!-- ############ PAGE START-->
					<div class="padding">
						
						<div class="row">
							<div class="col-sm-12 col-md-5 col-lg-12">
								<div class="row">
									<div class="col-lg-2 col-sm-6">
								        <div class="box p-a">
								          <div class="pull-left m-r">
								          	<i class="fa fa-spinner text-2x m-y-sm" style="color:#f39c12"></i>
								          </div>
								          <div class="clear">
								          	<div class="text-muted">Today</div>
								            <h4 class="m-a-0 text-md _600 addendums">{{ count_data.count1 }}</h4>
								          </div>
								        </div>
								    </div>
					                <div class="col-lg-2 col-sm-6">
								        <div class="box p-a">
								          <div class="pull-left m-r">
								          	<i class="fa fa-bar-chart text-2x  m-y-sm" style="color:#f39c12"></i>
								          </div>
								          <div class="clear">
								          	<div class="text-muted">Single Day</div>
								            <h4 class="m-a-0 text-md _600 mostinaday">{{ count_data.most_a_day }}</h4>
								          </div>
								        </div>
								    </div>
								    <div class="col-lg-2 col-sm-6">
								        <div class="box p-a">
								          <div class="pull-left m-r">
								          	<i class="fa fa-calendar text-2x m-y-sm" style="color:#f39c12"></i>
								          </div>
								          <div class="clear">
								          	<div class="text-muted">30 Day</div>
								            <h4 class="m-a-0 text-md _600 prints30d">{{ count_data.last_30 }}</h4>
								          </div>
								        </div>
								    </div>
								    <div class="col-lg-2 col-sm-6">
								        <div class="box p-a">
								          <div class="pull-left m-r">
								          	<i class="fa fa-database text-2x m-y-sm" style="color:#f39c12"></i>
								          </div>
								          <div class="clear">
								          	<div class="text-muted">Total Prints</div>
								            <h4 class="m-a-0 text-md _600 atprints">{{ count_data.atprints+460000+count_data.oldprints }}</h4>
								          </div>
								        </div>
								    </div>
								    <div class="col-lg-2 col-sm-6">
								        <div class="box p-a">
								          <div class="pull-left m-r">
								          	<i class="fa fa-dollar text-2x m-y-sm" style="color:#f39c12"></i>
								          </div>
								          <div class="clear">
								          	<div class="text-muted">Total Options</div>
								            <h4 class="m-a-0 text-md _600 cities">${{ toFormatNumber(addendum_data) }}</h4>
								          </div>
								        </div>
								    </div>
					                
								    
					                <div class="col-lg-2 col-sm-6">
								        <div class="box p-a">
								          <div class="pull-left m-r">
								          	<i class="fa fa-group text-2x m-y-sm" style="color:#f39c12"></i>
								          </div>
								          <div class="clear">
								          	<div class="text-muted">Dealers</div>
								            <h4 class="m-a-0 text-md _600"><a href>{{ cu_dealer }}</a></h4>
								          </div>
								        </div>
								    </div>
							    </div>
							    <div class="col-sm-12 col-md-7 col-lg-9">
							    	<div class="row-col box dark bg">
						            
								        <div class="col-sm-8">

									        <div class="box-body" id="map" style="height:420px">
									            
									        </div>
								        </div>
								        
								    </div>
							    </div>
					            <div class="col-md-12 col-xl-3">
									<div class="box" id="sidebar" style="height:460px; overflow: hidden">
										<div class="box-header">
						                    <button style="width: 80px;" v-on:click="getLocation()" class="md-btn md-flat m-b-sm w-xs text-default">All({{ cu_dealer }})</button> <button style="width: 80px;" v-on:click="getLocation('paid')" class="md-btn md-flat m-b-sm w-xs text-success">Paid({{ pa_dealer }})</button> <button style="width: 80px;" v-on:click="getLocation('free')" class="md-btn md-flat m-b-sm w-xs text-primary">Trial({{ fr_dealer }})</button>
										</div>
										<ul v-if="dealers.length > 0" class="list-group listrow no-border">
									         
						        			<li v-for="(item, index) in dealers" @mouseover="dealer_over(item.drow._ID, item.vrow._ID)" @mouseleave="dealer_out(item.drow._ID, item.vrow._ID)" class="list-group-item button3">
									          
									          	<div class="clear">
										            <div class="_500 block">{{ item.drow.DEALER_NAME }}</div>
										            <span class="text-muted">{{ item.vrow.YEAR }} {{ item.vrow.MAKE }} {{ item.vrow.MODEL }}<br>Stock # {{ item.vrow.STOCK_NUMBER }}</span>
									          	</div>
									        </li>
									    </ul>
								    </div>
								</div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</v-app>
	</div>
</template>
<style type="text/css">
</style>
<script type="text/javascript">
	
	export default{
		data() {
      		return {
      			base_url: window.laravel.base_url,
      			count_data: {
      				print_date: 0,
      				count1: 0,
      				atprints: 0,
      				oldprints: 0,
      				last_30: 0,
      				most_a_day: 0
      			},
      			pa_dealer: 0,
      			fr_dealer: 0,
      			cu_dealer: 0,
      			addendum_data: 0,
      			dealers: [],
      			gmarkers: [],
      			over_id: '',
      			leave_id: '',
      		}
      	},
      	created: function()
      	{
	        this.fetchData();
      	},
  	 	methods: {
		 	/**
			 * Fetch Initial Data
			 *
			 * @return Object
			 */
	      	fetchData()
	      	{
	      		this.getLocation();
	      		let uri = window.laravel.base_url + '/get_map_info';
	      		this.axios.post(uri).then((response) => {
	      			if(response.data.status == 'success'){
	      				this.count_data = response.data.count_data;
	      				this.pa_dealer = response.data.pa_dealer;
	      				this.fr_dealer = response.data.fr_dealer;
	      				this.cu_dealer = response.data.cu_dealer;
	      				this.addendum_data = response.data.addendum_data;
	      				this.dealers = response.data.dealers;
	      			}
	      		});
	      		var that = this;
	      		setInterval(function(){
	      			let uri = window.laravel.base_url + '/get_map_info';
		      		that.axios.post(uri).then((response) => {
		      			if(response.data.status == 'success'){
		      				that.count_data = response.data.count_data;
		      				that.pa_dealer = response.data.pa_dealer;
		      				that.fr_dealer = response.data.fr_dealer;
		      				that.cu_dealer = response.data.cu_dealer;
		      				if(response.data.addendum_data != that.addendum_data){
		      					that.addendum_data = response.data.addendum_data;
		      					response.data.dealers.forEach(function(item){
		      						if(that.dealers.indexOf(item) < 0){
		      							that.dealers.push(item);
		      						}
		      					});
		      					that.getLocation();
		      				}
		      				
		      			}
		      		});
	      		},10000);
	      	},
	      	getLocation(dtype){
	      		let uri = window.laravel.base_url + '/get_location';
	      		if(dtype !== undefined){
		      		this.axios.post(uri, {dtype: dtype}).then((response) => {
		      			if(response.data.status == 'success'){
	      					this.updateLocation(response.data.location_info);
		      			}
		      		});
	      		}else{
	      			this.axios.post(uri).then((response) => {
		      			if(response.data.status == 'success'){
	      					this.updateLocation(response.data.location_info);
		      			}
		      		});
	      		}
	      	},

	      	dealer_over(id, vid){
	      		if(vid != this.over_id){
		      		google.maps.event.trigger(this.gmarkers[id],'click');
		      		google.maps.event.trigger(this.gmarkers[id],'mouseover');
		      		this.over_id = vid;
		      		this.leave_id = '';
	      		}
	      	},

	      	dealer_out(id, vid){
	      		if(vid != this.leave_id){
		      		google.maps.event.trigger(this.gmarkers[id],'click');
		      		google.maps.event.trigger(this.gmarkers[id],'mouseout');	
		      		this.over_id = '';
		      		this.leave_id = vid;
	      		}
	      		
	      	},

	      	updateLocation(data){
	      		var that = this;
	      		var locations = data;
	      		var map = new google.maps.Map(document.getElementById('map'), {
				    zoom:4,
					zoomControl: true,
				    zoomControlOptions: {
					  position: google.maps.ControlPosition.LEFT_BOTTOM
				    },
					panControl: true,
				    panControlOptions: {
				        position: google.maps.ControlPosition.LEFT_BOTTOM
				    },
					scaleControl: true,  // fixed to BOTTOM_RIGHT
				    streetViewControl: true,
				    streetViewControlOptions: {
				        position: google.maps.ControlPosition.LEFT_BOTTOM
				    },
					mapTypeControl: true,
				    mapTypeControlOptions: {
				      style: google.maps.MapTypeControlStyle.DEFAULT,
					  position: google.maps.ControlPosition.LEFT_CENTER
				    },
				    center: new google.maps.LatLng(38.8468548, -98.6433766),
				    mapTypeId: google.maps.MapTypeId.ROADMAP,
					styles: [{"featureType":"administrative.locality","elementType":"all","stylers":[{"hue":"#2c2e33"},{"saturation":7},{"lightness":19},{"visibility":"on"}]},{"featureType":"landscape","elementType":"all","stylers":[{"hue":"#ffffff"},{"saturation":-100},{"lightness":100},{"visibility":"simplified"}]},{"featureType":"poi","elementType":"all","stylers":[{"hue":"#ffffff"},{"saturation":-100},{"lightness":100},{"visibility":"off"}]},{"featureType":"road","elementType":"geometry","stylers":[{"hue":"#bbc0c4"},{"saturation":-93},{"lightness":31},{"visibility":"simplified"}]},{"featureType":"road","elementType":"labels","stylers":[{"hue":"#bbc0c4"},{"saturation":-93},{"lightness":31},{"visibility":"on"}]},{"featureType":"road.arterial","elementType":"labels","stylers":[{"hue":"#bbc0c4"},{"saturation":-93},{"lightness":-2},{"visibility":"simplified"}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"hue":"#e9ebed"},{"saturation":-90},{"lightness":-8},{"visibility":"simplified"}]},{"featureType":"transit","elementType":"all","stylers":[{"hue":"#e9ebed"},{"saturation":10},{"lightness":69},{"visibility":"on"}]},{"featureType":"water","elementType":"all","stylers":[{"hue":"#e9ebed"},{"saturation":-78},{"lightness":67},{"visibility":"simplified"}]}]
				});
				var infowindow = new google.maps.InfoWindow();


				function createMarker(latlng, html, icon, dtype) {
				    var marker = new google.maps.Marker({
				        position: latlng,
						animation: google.maps.Animation.DROP,
				        map: map,
						icon: that.base_url+'/map_images/'+icon,
						serialNumber: dtype
				    });
				    google.maps.event.addListener(marker, 'click', function() {
				        infowindow.setContent(html);
				        infowindow.open(map, marker);
				    });
					function toggleBounce() {
					  	if (marker.getAnimation() != null) {
						    marker.setAnimation(null);
							marker.setIcon(that.base_url+'/map_images/'+icon);
					  	}else {
					    marker.setAnimation(google.maps.Animation.BOUNCE);
						 	marker.setIcon(that.base_url+'/map_images/car.png');
						 	setTimeout(function () {
							    marker.setAnimation(null);
								marker.setIcon(that.base_url+'/map_images/'+icon);
							}, 10000);
				  		}
					}
					google.maps.event.addListener(marker, 'click', toggleBounce);
				    return marker;
				}
				var icon2="";
				var dtype="";
				for (var i = 0; i < locations.length; i++) {
					if(locations[i].ACCOUNT_TYPE=="Free"){
						icon2="blue.png";
						dtype="free";
					}else{
						icon2="green.png";
						dtype="paid";
					}
				    that.gmarkers[locations[i]._ID] =
				    createMarker(new google.maps.LatLng(locations[i].LAT1, locations[i].LNG1), "<strong>"+locations[i].DEALER_NAME + "</strong><br>" +locations[i].DEALER_ADDRESS + "<br>" + locations[i].DEALER_CITY + ", " + locations[i].DEALER_STATE+ " " + locations[i].DEALER_ZIP,icon2, dtype );
				}
	      	},

	      	toFormatNumber(number){
	      		var value = number.toLocaleString(
				  undefined, // leave undefined to use the browser's locale,
				             // or use a string like 'en-US' to override it.
				  { minimumFractionDigits: 2 }
				);
				return value;
	      	}
      	}
	}
	$(window).on('load resize', function() {
        $('#map').height($(window).height() - 235);
        $('#sidebar').height($(window).height() - 200)
        if($(window).width()<480){
            $('#map').hide();
        }
    });
</script>