<template>
	<div id="info_sheet">
		<div v-for="(item, index) in print_infos" class="print_infos">
			<div id="KBBprintit" :style="KBBPrintit" v-if="infosheet_data.INFO_STYLE != 'Info Book' && infosheet_data.INFO_STYLE != 'Narrow Standard' && infosheet_data.INFO_STYLE != 'Narrow Standard NP'">
				<div id="dcmain" :style="{ 'border':'7px '+ infosheet_data.INFO_BORDER +' solid' }" v-if="infosheet_data.INFO_STYLE == 'Dealer Custom' || infosheet_data.INFO_STYLE == 'Dealer Custom NP'">
					<div id="dcsection1" :style="{ 'border-bottom' : '7px '+ infosheet_data.INFO_BORDER +' solid' }" v-if="infosheet_data.INFO_STYLE == 'Dealer Custom' || infosheet_data.INFO_STYLE == 'Dealer Custom NP'">
						<div id="dclogo" v-if="infosheet_data.INFO_STYLE == 'Dealer Custom' || infosheet_data.INFO_STYLE == 'Dealer Custom NP'">
							<img :src="'http://d1xlji8qxtrdmo.cloudfront.net/' + infosheet_data.INFO_LOGO" style="height:100%; width:auto; max-width:256px;"/>
						</div>
						<div v-if="infosheet_data.INFO_STYLE == 'KBB' || infosheet_data.INFO_STYLE == 'KBB NP' || infosheet_data.INFO_STYLE == 'Dealer Custom 2 Certified' || infosheet_data.INFO_STYLE == 'Pure Cars 1' || infosheet_data.INFO_STYLE == 'Pure Cars 4' || infosheet_data.INFO_STYLE == 'Pure Cars 2' || infosheet_data.INFO_STYLE == 'Pure Cars 3' || infosheet_data.INFO_STYLE == 'Dealer Custom' || infosheet_data.INFO_STYLE == 'Dealer Custom NP'" class="KBBaddress" :style="KBBAddress">
							<span class="KBBname" v-if="infosheet_data.INFO_STYLE != 'Dealer Custom 2 Certified'">{{ dealer_info.DEALER_NAME }}</span>
							{{ infosheet_data.INFO_STYLE == 'Dealer Custom 2 Certified'?dealer_info.DEALER_NAME:'' }}<br/>
							{{ dealer_info.DEALER_ADDRESS }}<br/>
							{{ dealer_info.DEALER_CITY }}<br/>
							{{ dealer_info.DEALER_STATE }} {{ dealer_info.DEALER_ZIP }}<br/><br/>
							{{ dealer_info.DEALER_PHONE }}
						</div>
					</div>
			      	<div class="KBByear" v-if="infosheet_data.INFO_STYLE != 'Dealer Custom 2 Certified'" :style="KBBYear">{{ item.vehicle_info.YEAR }} {{ item.vehicle_info.MAKE }} {{ item.vehicle_info.MODEL }}</div>
			      	
			      	<div class="KBBcol1" :style="KBBCol1" v-if="infosheet_data.INFO_STYLE != 'Dealer Custom 4' && infosheet_data.INFO_STYLE != 'Dealer Custom 4 NP' &&  infosheet_data.INFO_STYLE != 'Dealer Custom 2 Certified'">
				  		STOCK: {{ item.vehicle_info.STOCK_NUMBER }}<br/>
			          	VIN: {{ item.vehicle_info.VIN_NUMBER }}<br/>
			          	{{ item.vehicle_info.MILEAGE?'ODOMETER: '+item.vehicle_info.MILEAGE:'' }}
			      	</div>
			      	<div class="KBBcol2" :style="KBBCol2">
			      		{{ item.vehicle_info.TRANSMISSION?'TRANS: '+item.vehicle_info.TRANSMISSION:'' }}<br v-if="item.vehicle_info.TRANSMISSION"/>
			      		{{ item.vehicle_info.DRIVETRAIN?'DRIVETRAIN: '+item.vehicle_info.DRIVETRAIN:'' }}<br v-if="item.vehicle_info.DRIVETRAIN"/>
			      		{{ item.vehicle_info.ENGINE?'ENGINE: '+item.vehicle_info.ENGINE:'' }}<br v-if="item.vehicle_info.ENGINE"/>
			      	</div>

			      	<div class="KBBdescription" :style="KBBDescription" v-if="infosheet_data.INFO_STYLE == 'KBB' || infosheet_data.INFO_STYLE == 'KBB NP' || infosheet_data.INFO_STYLE == 'Dealer Custom' || infosheet_data.INFO_STYLE == 'Dealer Custom NP' ">
			      		<span>Description:</span><br />
			          	{{ item.vehicle_info.DESCRIPTION }}
			      	</div>
			      	
			      	
			      	<div class="KBBqr" v-if="(infosheet_data.INFO_STYLE == 'KBB' || infosheet_data.INFO_STYLE == 'KBB NP' || infosheet_data.INFO_STYLE == 'Dealer Custom' || infosheet_data.INFO_STYLE == 'Dealer Custom NP') && infosheet_data.QR_INFO_ADDRESS">
						Scan for more info
					  	<img :src="'http://chart.googleapis.com/chart?cht=qr&chs=140x140&chld=M|0&chl=' + qr_url_endpoint[item.vehicle_info._ID]" >
					</div>
					
			      	<div class="KBBoptions" :style="KBBOptions" v-if="infosheet_data.INFO_STYLE != 'Pure Cars 1' && infosheet_data.INFO_STYLE != 'Pure Cars 4' && infosheet_data.INFO_STYLE != 'Pure Cars 2' && infosheet_data.INFO_STYLE != 'Pure Cars 3'">
			      		<span v-if="infosheet_data.INFO_STYLE == 'KBB' || infosheet_data.INFO_STYLE == 'KBB NP' || infosheet_data.INFO_STYLE == 'Dealer Custom' || infosheet_data.INFO_STYLE == 'Dealer Custom NP'">Options:</span><br v-if="infosheet_data.INFO_STYLE == 'KBB' || infosheet_data.INFO_STYLE == 'KBB NP' || infosheet_data.INFO_STYLE == 'Dealer Custom' || infosheet_data.INFO_STYLE == 'Dealer Custom NP'"/>
				      	<div v-for="option in options[item.vehicle_info._ID]" :style="KBBOptions_div">
					    	{{ option }}
					    </div>
					</div>
					
					<div class="KBBprice" :style="KBBPrice" v-if="infosheet_data.INFO_STYLE != 'KBB NP' && infosheet_data.INFO_STYLE != 'Dealer Custom 4' && infosheet_data.INFO_STYLE != 'Dealer Custom 3' && infosheet_data.INFO_STYLE != 'Pure Cars 1' && infosheet_data.INFO_STYLE != 'Pure Cars 4' && infosheet_data.INFO_STYLE != 'Pure Cars 3' && infosheet_data.INFO_STYLE != 'Dealer Custom NP' && infosheet_data.INFO_NP_CHECK == '0'">
					  	{{ infosheet_data.INFO_STYLE == 'KBB' || infosheet_data.INFO_STYLE == 'Pure Cars 2' || infosheet_data.INFO_STYLE == 'Dealer Custom'?'Sale Price':'' }}
					  	${{ item.vehicle_info.MSRP }}
					</div>
					
				</div>
				<div v-if="infosheet_data.INFO_STYLE == 'KBB' || infosheet_data.INFO_STYLE == 'KBB NP' || infosheet_data.INFO_STYLE == 'Dealer Custom 2 Certified' || infosheet_data.INFO_STYLE == 'Pure Cars 1' || infosheet_data.INFO_STYLE == 'Pure Cars 4' || infosheet_data.INFO_STYLE == 'Pure Cars 2' || infosheet_data.INFO_STYLE == 'Pure Cars 3'" class="KBBaddress" :style="KBBAddress">
					<span class="KBBname" v-if="infosheet_data.INFO_STYLE != 'Dealer Custom 2 Certified'">{{ dealer_info.DEALER_NAME }}</span>
					{{ infosheet_data.INFO_STYLE == 'Dealer Custom 2 Certified'?dealer_info.DEALER_NAME:'' }}<br/>
					{{ dealer_info.DEALER_ADDRESS }}<br/>
					{{ dealer_info.DEALER_CITY }}<br/>
					{{ dealer_info.DEALER_STATE }} {{ dealer_info.DEALER_ZIP }}<br/><br/>
					{{ dealer_info.DEALER_PHONE }}
				</div>
				<div v-if="infosheet_data.INFO_STYLE == 'Pure Cars 1' || infosheet_data.INFO_STYLE == 'Pure Cars 4' || infosheet_data.INFO_STYLE == 'Pure Cars 2' || infosheet_data.INFO_STYLE == 'Pure Cars 4'" class="pc2row1">
			      	<div class="KBByear" v-if="infosheet_data.INFO_STYLE != 'Dealer Custom 2 Certified'" :style="KBBYear">{{ item.vehicle_info.YEAR }} {{ item.vehicle_info.MAKE }} {{ item.vehicle_info.MODEL }}</div>
			      	
			      	<div class="KBBcol1" :style="KBBCol1" v-if="infosheet_data.INFO_STYLE != 'Dealer Custom 4' && infosheet_data.INFO_STYLE != 'Dealer Custom 4 NP' &&  infosheet_data.INFO_STYLE != 'Dealer Custom 2 Certified'">
				  		STOCK: {{ item.vehicle_info.STOCK_NUMBER }}<br/>
			          	VIN: {{ item.vehicle_info.VIN_NUMBER }}<br/>
			          	{{ item.vehicle_info.MILEAGE?'ODOMETER: '+item.vehicle_info.MILEAGE:'' }}
			      	</div>

			      	<div class="KBBcol1" :style="KBBCol1" v-if="infosheet_data.INFO_STYLE == 'Dealer Custom 4' || infosheet_data.INFO_STYLE == 'Dealer Custom 4 NP'">
				  		{{ item.vehicle_info.MILEAGE?vehicle_info.MILEAGE:'' }}
			          	&nbsp;<br/>
			          	{{ item.vehicle_info.STOCK_NUMBER }}
			          	{{ item.vehicle_info.VIN_NUMBER }}
			      	</div>

			      	<div class="KBBcol2" v-if="infosheet_data.INFO_STYLE != 'Dealer Custom 4' && infosheet_data.INFO_STYLE != 'Dealer Custom 4 NP' && infosheet_data.INFO_STYLE != 'Dealer Custom 2 Certified' " :style="KBBCol2">
			      		{{ item.vehicle_info.TRANSMISSION?'TRANS: '+item.vehicle_info.TRANSMISSION:'' }}<br v-if="item.vehicle_info.TRANSMISSION"/>
			      		{{ item.vehicle_info.DRIVETRAIN?'DRIVETRAIN: '+item.vehicle_info.DRIVETRAIN:'' }}<br v-if="item.vehicle_info.DRIVETRAIN"/>
			      		{{ item.vehicle_info.ENGINE?'ENGINE: '+item.vehicle_info.ENGINE:'' }}<br v-if="item.vehicle_info.ENGINE"/>
			      	</div>
		      	</div>
		      	<div class="KBByear" v-if="infosheet_data.INFO_STYLE != 'Dealer Custom 2 Certified' && infosheet_data.INFO_STYLE != 'Pure Cars 1' && infosheet_data.INFO_STYLE != 'Pure Cars 2' && infosheet_data.INFO_STYLE != 'Pure Cars 3' && infosheet_data.INFO_STYLE != 'Pure Cars 4' && infosheet_data.INFO_STYLE != 'Dealer Custom' && infosheet_data.INFO_STYLE != 'Dealer Custom NP'" :style="KBBYear">{{ item.vehicle_info.YEAR }} {{ item.vehicle_info.MAKE }} {{ item.vehicle_info.MODEL }}</div>
		      	
		      	<div class="KBBcol1" :style="KBBCol1" v-if="infosheet_data.INFO_STYLE != 'Dealer Custom 4' && infosheet_data.INFO_STYLE != 'Dealer Custom 4 NP' &&  infosheet_data.INFO_STYLE != 'Dealer Custom 2 Certified' && infosheet_data.INFO_STYLE != 'Pure Cars 1' && infosheet_data.INFO_STYLE != 'Pure Cars 2' && infosheet_data.INFO_STYLE != 'Pure Cars 3' && infosheet_data.INFO_STYLE != 'Pure Cars 4' && infosheet_data.INFO_STYLE != 'Dealer Custom' && infosheet_data.INFO_STYLE != 'Dealer Custom NP'">
			  		STOCK: {{ item.vehicle_info.STOCK_NUMBER }}<br/>
		          	VIN: {{ item.vehicle_info.VIN_NUMBER }}<br/>
		          	{{ item.vehicle_info.MILEAGE?'ODOMETER: '+item.vehicle_info.MILEAGE:'' }}
		      	</div>

		      	<div class="KBBcol1" :style="KBBCol1" v-if="infosheet_data.INFO_STYLE == 'Dealer Custom 4' || infosheet_data.INFO_STYLE == 'Dealer Custom 4 NP'">
			  		{{ item.vehicle_info.MILEAGE?item.vehicle_info.MILEAGE:'' }}
		          	&nbsp;<br/>
		          	{{ item.vehicle_info.STOCK_NUMBER }}
		          	{{ item.vehicle_info.VIN_NUMBER }}
		      	</div>

		      	<div class="KBBcol2" v-if="infosheet_data.INFO_STYLE != 'Dealer Custom 4' && infosheet_data.INFO_STYLE != 'Dealer Custom 4 NP' && infosheet_data.INFO_STYLE != 'Dealer Custom 2 Certified' && infosheet_data.INFO_STYLE != 'Pure Cars 1' && infosheet_data.INFO_STYLE != 'Pure Cars 2' && infosheet_data.INFO_STYLE != 'Pure Cars 3' && infosheet_data.INFO_STYLE != 'Pure Cars 4' && infosheet_data.INFO_STYLE != 'Dealer Custom' && infosheet_data.INFO_STYLE != 'Dealer Custom NP' " :style="KBBCol2">
		      		{{ item.vehicle_info.TRANSMISSION?'TRANS: '+item.vehicle_info.TRANSMISSION:'' }}<br v-if="item.vehicle_info.TRANSMISSION"/>
		      		{{ item.vehicle_info.DRIVETRAIN?'DRIVETRAIN: '+item.vehicle_info.DRIVETRAIN:'' }}<br v-if="item.vehicle_info.DRIVETRAIN"/>
		      		{{ item.vehicle_info.ENGINE?'ENGINE: '+item.vehicle_info.ENGINE:'' }}<br v-if="item.vehicle_info.ENGINE"/>
		      	</div>

		      	<div class="KBBdescription" :style="KBBDescription" v-if="infosheet_data.INFO_STYLE == 'KBB' || infosheet_data.INFO_STYLE == 'KBB NP' ">
		      		<span>Description:</span><br />
		          	{{ item.vehicle_info.DESCRIPTION }}
		      	</div>
		      	<div class="KBBdescription" :style="KBBDescription" v-if="infosheet_data.INFO_STYLE != 'KBB' && infosheet_data.INFO_STYLE !='KBB NP' && infosheet_data.INFO_STYLE != 'Dealer Custom 3' && infosheet_data.INFO_STYLE != 'Pure Cars 1' && infosheet_data.INFO_STYLE != 'Pure Cars 4' && infosheet_data.INFO_STYLE != 'Pure Cars 2' && infosheet_data.INFO_STYLE != 'Pure Cars 3' && infosheet_data.INFO_STYLE != 'Dealer Custom' && infosheet_data.INFO_STYLE != 'Dealer Custom NP'">
		        	{{ item.vehicle_info.DESCRIPTION }}
		      	</div>
		      	
		      	<div v-if="infosheet_data.INFO_STYLE == 'Pure Cars 1' || infosheet_data.INFO_STYLE == 'Pure Cars 4' || infosheet_data.INFO_STYLE == 'Pure Cars 2' || infosheet_data.INFO_STYLE == 'Pure Cars 3'" class="pc2row2">
					<div class="KBBqr" v-if="(infosheet_data.INFO_STYLE == 'Pure Cars 1' || infosheet_data.INFO_STYLE == 'Pure Cars 4' || infosheet_data.INFO_STYLE == 'Pure Cars 2' || infosheet_data.INFO_STYLE == 'Pure Cars 3') && infosheet_data.QR_INFO_ADDRESS">
					  	<img :src="'http://chart.googleapis.com/chart?cht=qr&chs=120x120&chld=M|0&chl=' + qr_url_endpoint[item.vehicle_info._ID]" >
					</div>
				</div>
		      	<div class="KBBqr" v-if="(infosheet_data.INFO_STYLE == 'KBB' || infosheet_data.INFO_STYLE == 'KBB NP') && infosheet_data.QR_INFO_ADDRESS">
					Scan for more info
				  	<img :src="'http://chart.googleapis.com/chart?cht=qr&chs=140x140&chld=M|0&chl=' + qr_url_endpoint[item.vehicle_info._ID]" >
				</div>
				
				<div v-if="infosheet_data.INFO_STYLE == 'Pure Cars 1' || infosheet_data.INFO_STYLE == 'Pure Cars 4' || infosheet_data.INFO_STYLE == 'Pure Cars 2' || infosheet_data.INFO_STYLE == 'Pure Cars 3'" class="pc2row3">
					<span v-html="pure_bigimg[item.vehicle_info._ID]" ></span>
				</div>
				<div v-if="infosheet_data.INFO_STYLE == 'Pure Cars 1' || infosheet_data.INFO_STYLE == 'Pure Cars 4' || infosheet_data.INFO_STYLE == 'Pure Cars 2' || infosheet_data.INFO_STYLE == 'Pure Cars 3'" class="pc2row4">
					<span v-html="pure_smallimg[item.vehicle_info._ID]" ></span>
				</div>
		      	<div class="KBBoptions" :style="KBBOptions" v-if="infosheet_data.INFO_STYLE != 'Pure Cars 1' && infosheet_data.INFO_STYLE != 'Pure Cars 4' && infosheet_data.INFO_STYLE != 'Pure Cars 2' && infosheet_data.INFO_STYLE != 'Pure Cars 3' && infosheet_data.INFO_STYLE != 'Dealer Custom' && infosheet_data.INFO_STYLE != 'Dealer Custom NP'">
		      		<span v-if="infosheet_data.INFO_STYLE == 'KBB' || infosheet_data.INFO_STYLE == 'KBB NP'">Options:</span><br v-if="infosheet_data.INFO_STYLE == 'KBB' || infosheet_data.INFO_STYLE == 'KBB NP'"/>
			      	<div v-for="option in options[item.vehicle_info._ID]" :style="KBBOptions_div">
				    	{{ option }}
				    </div>
				</div>
				<div class="pc3options" v-if="infosheet_data.INFO_STYLE == 'Pure Cars 3'">
					Options:
					<table width="100%" border="0">
						<tr>
							<td width="50%" valign="top">
								<li v-for="(option, index) in options[item.vehicle_info._ID]" v-if="index < 6">
									{{ option }}
								</li>
							</td>
							<td width="50%" valign="top">
								<li v-for="(option, index) in options[item.vehicle_info._ID]" v-if=" options[item.vehicle_info._ID].length > 6 && index > 5">
									{{ option }}
								</li>
							</td>
						</tr>
					</table>
				</div>
				<div class="KBBprice" :style="KBBPrice" v-if="infosheet_data.INFO_STYLE != 'KBB NP' && infosheet_data.INFO_STYLE != 'Dealer Custom 3' && infosheet_data.INFO_STYLE != 'Pure Cars 1' && infosheet_data.INFO_STYLE != 'Pure Cars 4' && infosheet_data.INFO_STYLE != 'Pure Cars 3' && infosheet_data.INFO_STYLE != 'Dealer Custom 4 NP' && infosheet_data.INFO_STYLE != 'Dealer Custom' && infosheet_data.INFO_STYLE != 'Dealer Custom NP' && infosheet_data.INFO_NP_CHECK == '0'">
				  	{{ infosheet_data.INFO_STYLE == 'KBB' || infosheet_data.INFO_STYLE == 'Pure Cars 2'?'Sale Price':'' }}
				  	${{ item.vehicle_info.MSRP }}
				</div>
				<div class="mpg_city" v-if="infosheet_data.INFO_STYLE == 'Dealer Custom 3'">
					{{ item.vehicle_info.CMPG?item.vehicle_info.CMPG:'' }}
				</div>
				<div class="mpg_highway" v-if="infosheet_data.INFO_STYLE == 'Dealer Custom 3'">
					{{ item.vehicle_info.HMPG?item.vehicle_info.HMPG:'' }}
				</div>
				<div class="certified" v-if="infosheet_data.INFO_STYLE == 'Dealer Custom 2 Certified'">
					{{ item.vehicle_info.INSP_NUMB }}
				</div>
		  	</div>
		  	<div id="content" v-if="infosheet_data.INFO_STYLE == 'Info Book'">
		  		<div id="header">
		  			<table width="100%" border="0">
		  				<tr>
		  					<td width="40%" valign="top">
		  						<strong>{{ dealer_info.DEALER_NAME }}</strong><br/>
		  						{{ dealer_info.DEALER_ADDRESS }}<br/>
								{{ dealer_info.DEALER_CITY }}, {{ dealer_info.DEALER_STATE }} {{ dealer_info.DEALER_ZIP }}<br/>
								{{ dealer_info.DEALER_PHONE }}
		  					</td>
		  					<td width="60%" valign="top">
		  						<div id="logo">
		  							<img :src="'http://d1xlji8qxtrdmo.cloudfront.net/' + infosheet_data.INFO_LOGO" style="width:100px; height:auto; max-width:1000px;" />
		  						</div>
		  					</td>
		  				</tr>
		  			</table>
		  			<hr />
		  		</div>
		  		<div>
		  			<div class="Book_KBByear">{{ item.vehicle_info.YEAR }} {{ item.vehicle_info.MAKE }} {{ item.vehicle_info.MODEL }}</div>
		  			<div class="price">${{ item.vehicle_info.MSRP }}</div>
		  			<table width="100%" border="0" style="font-size:15px; line-height:20px;">
		  				<tr>
		  					<td width="40%" valign="top"><img  style="height:auto;width:280px;" :src="v_photo[item.vehicle_info._ID][0]" /></td>
		  					<td width="30%" valign="top">
		  						Mileage:{{ item.vehicle_info.MILEAGE }}<br />
								Exterior color:{{ item.vehicle_info.EXT_COLOR }}<br />
								Interior color:{{ item.vehicle_info.INT_COLOR }}<br />
								Bodystyle:{{ item.vehicle_info.BODYSTYLE }}<br />
								Doors:{{ item.vehicle_info.DOORS }}<br />
								Engine:{{ item.vehicle_info.ENGINE }}<br />
		  					</td>
		  					<td width="30%" valign="top">
		  						Transmission:{{ item.vehicle_info.TRANSMISSION }}<br />
								Fuel Type:{{ item.vehicle_info.FUEL }}<br />
								Drivetrain:{{ item.vehicle_info.DRIVETRAIN }}<br />
								Stock Number:{{ item.vehicle_info.STOCK_NUMBER }}<br />
								VIN:{{ item.vehicle_info.VIN_NUMBER }}
		  					</td>
		  				</tr>
		  			</table> 
		  			<div class="clear">
		  				<br />
		  				<span class="spank">Vehicle Options:</span><hr />
		  				<div class="options">
		  					<span v-html="info_book_options_html[item.vehicle_info._ID]"></span>
		  				</div>
		  			</div>
		  		</div>
		  		<div id="footer" style="margin-bottom:80px;">
		  			<hr />
		  			<p class="page" align="center">Data on this page may have come in part, or entirely from one or more of the following providers: ALG, NADA Guides, Chrome, Vencentric, Vinquery. Please refer to our visiter Agreement for further information on vehicle data. Copyright 2015 DealerAddendums Inc.</p>
		  		</div>
		  		<div id="header">
		  			<table width="100%" border="0">
		  				<tr>
		  					<td width="40%" valign="top">
		  						<strong>{{ dealer_info.DEALER_NAME }}</strong><br/>
		  						{{ dealer_info.DEALER_ADDRESS }}<br/>
								{{ dealer_info.DEALER_CITY }}, {{ dealer_info.DEALER_STATE }} {{ dealer_info.DEALER_ZIP }}<br/>
								{{ dealer_info.DEALER_PHONE }}
		  					</td>
		  					<td width="60%" valign="top">
		  						<div id="logo">
		  							<img :src="'http://d1xlji8qxtrdmo.cloudfront.net/' + infosheet_data.INFO_LOGO" style="width:100px; height:auto; max-width:1000px;" />
		  						</div>
		  					</td>
		  				</tr>
		  			</table>
		  			<hr />
		  		</div>
		  		<span class="spank">Vehicle Photos:</span><hr />
		  		<table width="100%">
		  			<tr>
		  				<td width="32%" style="word-wrap:break-word;" valign="top" align="left">
		  					<img v-for="(photo, index) in v_photo[item.vehicle_info._ID]" v-if="index%3 == 0 && index < 12" style='width:250px; height:auto' :src="photo" /><br v-for="(photo, index) in v_photo[item.vehicle_info._ID]" v-if="index%3 == 0 && index < 12"/><br v-for="(photo, index) in v_photo[item.vehicle_info._ID]" v-if="index%3 == 0 && index < 12"/>
		  				</td>
		  				<td width="32%" style="word-wrap:break-word;" valign="top" align="left">
		  					<img v-for="(photo, index) in v_photo[item.vehicle_info._ID]" v-if="index%3 == 1 && index < 12" style='width:250px; height:auto' :src="photo" /><br v-for="(photo, index) in v_photo[item.vehicle_info._ID]" v-if="index%3 == 1 && index < 12"/><br v-for="(photo, index) in v_photo[item.vehicle_info._ID]" v-if="index%3 == 1 && index < 12"/>
		  				</td>
		  				<td width="32%" style="word-wrap:break-word;" valign="top" align="left">
		  					<img v-for="(photo, index) in v_photo[item.vehicle_info._ID]" v-if="index%3 == 2 && index < 12" style='width:250px; height:auto' :src="photo" /><br v-for="(photo, index) in v_photo[item.vehicle_info._ID]" v-if="index%3 == 2 && index < 12"/><br v-for="(photo, index) in v_photo[item.vehicle_info._ID]" v-if="index%3 == 2 && index < 12"/>
		  				</td>
		  			</tr>
		  		</table>
		  		<div id="footer">
		  			<hr />
		  			<p class="page" align="center">Data on this page may have come in part, or entirely from one or more of the following providers: ALG, NADA Guides, Chrome, Vencentric, Vinquery. Please refer to our visiter Agreement for further information on vehicle data. Copyright 2015 DealerAddendums Inc.</p>
		  		</div>
		  	</div>
		  	<div id="printit" :style="{ 'background-image': 'url(http://d1ja3ktoroz7zi.cloudfront.net/'+infosheet_data.INFO_NARROW_NP_BG+')' }" v-if="infosheet_data.INFO_STYLE == 'Narrow Standard' || infosheet_data.INFO_STYLE == 'Narrow Standard NP'">
		  		<div id="second-section">
		  			<table width="100%" border="0">
		  				<tr>
		  					<td width="77%">
					            <span class="bold1">Stock: {{ item.vehicle_info.STOCK_NUMBER }}</span>
					            <br />
					            <span class="bold1">VIN: {{ item.vehicle_info.VIN_NUMBER }}</span>
				          	</td>
				          	<td width="23%">&nbsp;</td>
		  				</tr>
		  				<tr>
				          	<td></td>
				          	<td></td>
				        </tr>
				        <tr>
				        	<td>
				        		<span class="bold1">
				        			Year: {{ item.vehicle_info.YEAR }} &nbsp;&nbsp; {{ item.vehicle_info.MILEAGE?item.vehicle_info.MILEAGE:'' }}
				        		</span>
				        		<br/>
				        		<span class="bold1">Make: {{ item.vehicle_info.MAKE }}</span>
				        		<br />
				        		<span class="bold1">Model: {{ item.vehicle_info.MODEL }}</span>
				        	</td>
				        	<td></td>
				        </tr>
				        <tr>
				        	<td>&nbsp;</td>
	          				<td>&nbsp;</td>
				        </tr>
				        <tr>
				        	<td colspan="2"><div style="height:2px; width:100%;background-color:black;"></div></td>
				        </tr>
				        <tr>
	          				<td colspan="3">
	          					<span class="bold1">Options:</span><br />
	          					<span v-html="options_html[item.vehicle_info._ID]"></span>
	         				</td>
	        			</tr>
		  			</table>
		  		</div>
		  		<div class="total" v-if="infosheet_data.INFO_STYLE == 'Narrow Standard'">${{ item.vehicle_info.MSRP }}</div> 
		  	</div>
	  	</div>
  	</div>
</template>
<style type="text/css">
	body{
	  line-height:15px;
	}
	@page {
	  margin-top:1cm;
	  margin-left:0.30cm;
	  margin-bottom:0.85cm;
	  margin-right:0.6cm;
	}
	.print_infos{
		height: 1000px;
	}
	#header { height: 200px;  text-align: center; font-size:16px; line-height:16px; }
    #footer { height: 85px; padding-top:20px; }
	#KBBprintit {
	  top: 0;
	  left: 0;
	  margin: 0;
	  background-position:top;
	  font-family:Arial, Helvetica, sans-serif;
	}
	#KBBqr{
	}
	#dcmain{
		border-radius:10px;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
		-ms-border-radius:10px;
		background:#FFF;
		float:left;
		width:640px;
		height:880px;
	}
	#dcsection1{
		height:167px;
		width:626px;
		float:left;
	}
	#dclogo{
		height:135px;
		width:265px;
		float:left;
		padding-top:20px;
		padding-left:32px;
		text-align:center;
	}
	.KBBaddress{
		text-align: center;
		font-weight:bold;
	}
	.KBBname{
	  font-weight:bold;
	  font-size:24px;
	}
	.KBByear{
	  font-weight: bold;
	}
	.KBBcol1{
	  font-weight: bold;
	  line-height: 20px;
	  float: left;
	}
	.KBBcol2{
	  font-weight: bold;
	  line-height: 20px;
	  margin-top: 10px;
	  float: left;
	}
	
	.KBBdescription{
	  float: left;
	  overflow: hidden;
	}
	.KBBdescription span{
	  font-weight:bold;
	  font-size:16px;
	}
	.KBBqr{
		float:left;
		width:145px;
		font-size:12px;
		font-weight:bold;
		text-align:center;
		padding-top:10px;
		padding-left:20px;
	}
	.KBBoptions{
  		float: left;
	    overflow: hidden;
	}
	.KBBoptions span{
	  font-weight:bold;
	  font-size:16px;
	}
	.KBBoptions div{
	    float: left;
	    font-weight: bold;
	    overflow: hidden;
	}
	.mpg_city{
	  text-align: center;
	  font-size: 16px;
	  font-weight: bold;
	  width: 80px;
	  position: absolute;
	  top: 835px;
	  left: 50px;
	}
	.mpg_highway{
	  text-align: center;
	  font-size: 16px;
	  font-weight: bold;
	  width: 80px;
	  position: absolute;
	  top: 835px;
	  left: 180px;

	}
	.KBBprice{
		float: left;
		text-align: center;
		font-weight: bold;
	}
	.certified{
		font-size: 14px;
	    font-weight: bold;
	    left: 540px;
	    padding-top: 40px;
	    position: absolute;
	    text-align: center;
	    top: 769px;
	}
	.pc2row1{
		float:left;
		width:530px;
	}
	.pc2row2{
		float:left;
		width:145px;
	}
	.pc2row3{
		float:left;
		margin-left:70px;
	}
	.pc2row4{
		float:left;
		margin-left:80px;
	}
	.pc2optionbig{
		border:1px solid #CCC;
		width:180px;
		height:170px;
		float:left;
		margin-left:20px;
		margin-bottom:20px;
		text-align:center;
	}
	.pc2optionsmall{
		width:100px;
		height:60px;
		float:left;
		text-align:center;
		overflow:hidden;
	}
	.pc2bigimage{
		padding-top:25px;
		padding-bottom:10px;
	}
	.pc2bigtext{
		font-weight:bold;
	}
	.pc2smallimage{
		width:40px;
		height:auto;
	}
	.pc2smalltext{
		font-size:10px;
	}
	.pc3options{
		float:left;
		font-size:14px;
		font-weight:bold;
		width:600px;
		margin-left:90px;
		padding-top:20px;
		position:absolute;
		top:810px;
		height:120px;
		overflow:hidden;
	}
	.pc3options li{
		font-size:13px;
		list-style-type:none;
		line-height:13px;
	}
	.Book_KBByear{
		font-size: 26px;
	    line-height: 26px;
	    font-weight: bold;
	    width: 100%;
	}
	.price{
		font-size:26px;
		font-weight:bold;
		width:100%;
		clear:both;
		line-height:26px;
	}
	.clear{
		clear:both;
		width:100%;
		height:auto;
	}
	.options{
		width:780px;
		height:auto;
		clear:both;
		margin-left:40px;
	}
	.spank{
		font-weight:bold;
		font-size:16px;
	}
	li.ibook_li{
		font-size:14px;
		line-height:15px;
		word-break: break-word;
		width:200px;
		display:inline-block;
	}
	#printit{
		background-position:top;background-size: 346px 985px;
		height: 1000px;
		width: 346px;
		top: 0;
		margin: 0;
    }
	#second-section{
		overflow: hidden;
		height: auto;
		width: 90%;
		padding: 170px 0px 0px 20px;
		height:635px;
    }
    .bold1{
		font-family:Arial, Helvetica, sans-serif;
		font-size:14px;
		font-weight:bold;
		line-height:14px;
    }
    .bold2{
      	font-family:Arial, Helvetica, sans-serif;
      	font-size:14px;
		font-weight:bold;
      	line-height:14px;
    }
    .total{
		margin-top:38px;
		margin-left:210px;
		font-size:22px;
		font-weight:bold;
		font-family:Arial, Helvetica, sans-serif;
    }
</style>
<script type="text/javascript">
	export default{
		props: [
			'vid', 'infoType', 'changed'
		],
		data(){
			return {
				dealer_info: {},
				infosheet_data: {},
				infosheet_styles: {},
				print_infos: [],
				options: [],
				options_html: [],
				desccount: [],
				qr_url_endpoint: [],
				pure_bigimg: [],
				pure_smallimg: [],
				v_photo:[],
				info_book_options_html: [],
			}
		},
		created : function()
		{
			this.fetchData();
		},
		watch : {
			infoType : function(){
				this.fetchData();
			},
			vid : function(){
				this.fetchData();
			},
			changed: function(){
				this.fetchData();	
			}
		},

		
		methods : {
			/**
			 * Fetch print vehicle information when created vue dom
			 *
			 * @return Object
			 */
			fetchData()
			{
				var that =this;
				var vids = this.vid;
				if(Array.isArray(vids)){
					vids = JSON.stringify(vids);
				}
				that.print_infos = [];
				let uri = window.laravel.base_url + '/get_data_for_infosheet';
				this.axios.post(uri, {vid: this.vid, info_type: this.infoType}).then((response) => {
					this.dealer_info = response.data.dealer_info;
					this.infosheet_data = response.data.infosheet_data;
					this.infosheet_styles = response.data.infosheet_styles;
					response.data.print_infos.forEach(function(item){
						var obj = {};
						obj.vehicle_info = item.vehicle_info;
						if(item.vehicle_info.OPTIONS){
							that.options[item.vehicle_info._ID] = item.vehicle_info.OPTIONS.split(',');
						}
						that.desccount[item.vehicle_info._ID] = that.str_word_count(item.vehicle_info.DESCRIPTION);
						if(that.infosheet_data.INFO_STYLE == 'Pure Cars 1' || that.infosheet_data.INFO_STYLE == 'Pure Cars 2' || that.infosheet_data.INFO_STYLE == 'Pure Cars 3' || that.infosheet_data.INFO_STYLE == 'Pure Cars 4'){
			            	that.pure_bigimg[item.vehicle_info._ID] = item.pure_bigimg;
			            	that.pure_smallimg[item.vehicle_info._ID] = item.pure_smallimg;
			            }
			            if(that.infosheet_data.INFO_STYLE == 'Info Book'){
			            	that.v_photo[item.vehicle_info._ID] = item.vehicle_info.PHOTOS.split(' ');
			            	if(that.v_photo[item.vehicle_info._ID].length == 1){
			            		that.v_photo[item.vehicle_info._ID] = that.v_photo[item.vehicle_info._ID][0].split(';');
			            		if(that.v_photo[item.vehicle_info._ID].length == 1){
			            			that.v_photo[item.vehicle_info._ID] = that.v_photo[item.vehicle_info._ID][0].split(',');
			            		}
			            	}
			            	var i = 0;
			            	$.each(that.options[item.vehicle_info._ID], function(index, value){
			            		i = i + 1;
			            		if(i == 1){
			            			that.info_book_options_html[item.vehicle_info._ID] += '<div style="clear:both;">';
			            			that.info_book_options_html[item.vehicle_info._ID] += '<div style="width:260px;float:left;"><li class="ibook_li">'+value+'</li></div>';
			            		}else if(i == 2){
			            			that.info_book_options_html[item.vehicle_info._ID] += '<div style="width:260px;float:left;"><li class="ibook_li">'+value+'</li></div>';
			            		}else if(i == 3){
			            			that.info_book_options_html[item.vehicle_info._ID] += '<div style="width:260px;float:left;"><li class="ibook_li">'+value+'</li></div>';
			            			that.info_book_options_html[item.vehicle_info._ID] += '</div>';
			            			i = 0;
			            		}
			            	});
			            }
			            if(that.infosheet_data.INFO_STYLE == 'Narrow Standard' || that.infosheet_data.INFO_STYLE == 'Narrow Standard NP'){
			            	that.options_html[item.vehicle_info._ID] = that.options[item.vehicle_info._ID].join('<br/>');
			            }
			            if(that.infosheet_data.QR_INFO_ADDRESS){
			            	var $posvin = that.infosheet_data.QR_INFO_ADDRESS.indexOf('[VIN]');
			            	var $posstock = that.infosheet_data.QR_INFO_ADDRESS.indexOf('[STOCK]');
			            	if($posvin){
			            		that.qr_url_endpoint[item.vehicle_info._ID] = that.infosheet_data.QR_INFO_ADDRESS.replace('[VIN]', item.vehicle_info.VIN_NUMBER);
			            	}else if($posstock){
			            		that.qr_url_endpoint[item.vehicle_info._ID] = that.infosheet_data.QR_INFO_ADDRESS.replace('[STOCK]', item.vehicle_info.STOCK_NUMBER);
			            	}else{
			            		that.qr_url_endpoint[item.vehicle_info._ID] = that.infosheet_data.QR_INFO_ADDRESS;
			            	}
			            }
			            that.print_infos.push(obj);
					});
          		});
			},

			/**
			 *
			 * Alternative php str_word_count() funtion
			 *
			 * @param string
			 * @return count of word
			 */
			str_word_count : function(str){
				if(str){
					var words = str.replace(/([(\\\.\+\*\?\[\^\]\$\(\)\{\}\=\!<>\|\:])/g, '');
					words = words.replace(/[0-9]/gi,"");
					words = words.replace(/(^\s*)|(\s*$)/gi,"");
					words = words.replace(/[ ]{2,}/gi," ");
					words = words.replace(/\n /,"\n");	
					return words.split(' ').length;
				}else{
					return 0;
				}
				
				
			}
		},
		/* For Dynamic Style */
		computed : {
			KBBPrintit: function(){
				if(this.infosheet_styles[this.infosheet_data.INFO_STYLE] && this.infosheet_styles[this.infosheet_data.INFO_STYLE].KBBPrintit){
					var kbbprintit = this.infosheet_styles[this.infosheet_data.INFO_STYLE].KBBPrintit;
					return {
						'height' : kbbprintit['height'],
						'width' : kbbprintit['width'],
						'padding' : kbbprintit['padding'],
						'float' : kbbprintit['float'],
						'position' : kbbprintit['position'],
						'background-color': kbbprintit['background-color'],
						'background-image': kbbprintit['background-image'],
						'background-size': kbbprintit['background-size'],
					}
				}
			},
			KBBAddress: function(){
				if(this.infosheet_styles[this.infosheet_data.INFO_STYLE] && this.infosheet_styles[this.infosheet_data.INFO_STYLE].KBBAddress){
					var kbbaddress = this.infosheet_styles[this.infosheet_data.INFO_STYLE].KBBAddress;
					return {
						'font-size': kbbaddress['font-size'],
						'padding-left': kbbaddress['padding-left'],
	  					'padding-top': kbbaddress['padding-top'],
	  					'line-height': kbbaddress['line-height'],
	  					'margin-left': kbbaddress['margin-left'],
	  					'width': kbbaddress['width'],
	  					'height': kbbaddress['height'],
	  					'float': kbbaddress['float'],
					}
				}
			},
			KBBYear : function(){
				if(this.infosheet_styles[this.infosheet_data.INFO_STYLE] && this.infosheet_styles[this.infosheet_data.INFO_STYLE].KBBYear){
					var kbbyear = this.infosheet_styles[this.infosheet_data.INFO_STYLE].KBBYear;
					return {
						'font-size': kbbyear['font-size'],
	  					'padding-top': kbbyear['padding-top'],
	  					'line-height': kbbyear['line-height'],
	  					'margin-left': kbbyear['margin-left'],
	  					'text-align': kbbyear['text-align'],
	  					'width': kbbyear['width'],
					}
				}
			},
			KBBCol1: function(){
				if( this.infosheet_styles[this.infosheet_data.INFO_STYLE] && this.infosheet_styles[this.infosheet_data.INFO_STYLE].KBBCol1){
					var kbbcol1 = this.infosheet_styles[this.infosheet_data.INFO_STYLE].KBBCol1;
					return {
						'font-size' : kbbcol1['font-size'],
	  					'margin-left': kbbcol1['margin-left'],
	  					'margin-top': kbbcol1['margin-top'],
	  					'width': kbbcol1['width'],
	  					'height': kbbcol1['height'],
					}
				}	
			},
			KBBCol2: function(){
				if(this.infosheet_styles[this.infosheet_data.INFO_STYLE] && this.infosheet_styles[this.infosheet_data.INFO_STYLE].KBBCol2){
					var kbbcol2 = this.infosheet_styles[this.infosheet_data.INFO_STYLE].KBBCol2;
					return {
						'font-size' : kbbcol2['font-size'],
	  					'width': kbbcol2['width'],
					}
				}	
			},
			KBBDescription: function(){
				if(this.infosheet_styles[this.infosheet_data.INFO_STYLE] && this.infosheet_styles[this.infosheet_data.INFO_STYLE].KBBDescription){
					var style1 = {};
					if(this.desccount < 100){
						style1 = {
							'font-size' : '14px',
							'line-height': '14px',
							'font-weight': 'bold',
						}
					}else if(this.desccount < 200 && this.desccount >= 100){
						style1 = {
							'font-size' : '12px',
							'line-height': '12px',
							'font-weight': 'bold',
						}
					}else if(this.desccount >= 200){
						style1 = {
							'font-size' : '9px',
							'line-height': '9px',
							'font-weight': 'bold',
						}
					}
					var kbbdesc = this.infosheet_styles[this.infosheet_data.INFO_STYLE].KBBDescription;
					var style2 = {
						'padding-top' : kbbdesc['padding-top'],
						'margin-left' : kbbdesc['margin-left'],
						'width': kbbdesc['width'],
						'height': kbbdesc['height'],
					}
					return $.extend(style1, style2);
				}	
			},
			KBBOptions: function(){
				if(this.infosheet_styles[this.infosheet_data.INFO_STYLE] && this.infosheet_styles[this.infosheet_data.INFO_STYLE].KBBOptions){
					var kbboptions = this.infosheet_styles[this.infosheet_data.INFO_STYLE].KBBOptions;
					return {
	  					'width': kbboptions['width'],
	  					'margin-left': kbboptions['margin-left'],
	  					'height': kbboptions['height'],
	  					'padding-top': kbboptions['padding-top'],
	  					'line-height': kbboptions['line-height'],
					}
				}
			},

			KBBOptions_div: function(){
				if(this.infosheet_styles[this.infosheet_data.INFO_STYLE] && this.infosheet_styles[this.infosheet_data.INFO_STYLE].KBBOptions_div){
					var kbboptions_div = this.infosheet_styles[this.infosheet_data.INFO_STYLE].KBBOptions_div;
					return {
	  					'width': kbboptions_div['width'],
	  					'height': kbboptions_div['height'],
	  					'font-size': kbboptions_div['font-size'],
	  					'padding-top': kbboptions_div['padding-top'],
	  					'padding-right': kbboptions_div['padding-right'],
					}
				}
			},

			KBBPrice: function(){
				if(this.infosheet_styles[this.infosheet_data.INFO_STYLE] && this.infosheet_styles[this.infosheet_data.INFO_STYLE].KBBPrice){
					var kbbprice = this.infosheet_styles[this.infosheet_data.INFO_STYLE].KBBPrice;
					return {
	  					'width': kbbprice['width'],
	  					'font-size': kbbprice['font-size'],
	  					'margin-left': kbbprice['margin-left'],
	  					'padding-top': kbbprice['padding-top'],
	  					'border-top': kbbprice['border-top'],
	  					'position': kbbprice['position'],
	  					'top': kbbprice['top'],
					}
				}
			},

		}
	}
</script>