<template>
	<div class="p-a-md box-color r box-shadow-z1 text-color m-a">
		<div class="m-b text-sm">
			Sign in with your DealerAddendums.com Account
		</div>
		<form name="form" id="loginform" :action="action_url" method="post">
			<input type="hidden" name="_token" v-bind:value="csrf_token" />
			<div class="md-form-group float-label">
			  	<input type="text" class="md-input"  name="username" required v-model="username">
			  	<label>Username</label>
			</div>
			<div class="md-form-group float-label">
				<input type="password" class="md-input" name="password" required v-model="password">
			  	<label>Password</label>
			</div>      
			<span id="lmessage"></span>
			<button type="button" v-on:click="submit_form" class="btn primary btn-block p-x-md">Sign in</button>
		</form>
	</div>
</template>
<script>
    export default {
		data() {
			return {
				username: '', //username from input tag
				password: '', //password from input tag
				action_url: window.laravel.base_url + '/login_post',
				csrf_token: window.laravel.csrf_token //laravel csrf token
			}
		},
		methods: {
			submit_form()
			{
				this.axios.post(this.action_url,{username:this.username, password:this.password}).then((response) => {
					if(response.data.status == 'success'){
						window.location.href = window.laravel.base_url + '/home'
					}
				});
			}
		},
		name: 'loginform',
    }
</script>