<template>
	<div>
	<div v-for="(item, index) in print_infos" class="print_infos">
		<div id="printit" :style="Printit_style(index)" v-if="!item.template_builder">
			<div id="logo_section" v-if="item.logo_section" :style="logo_section_style(index)">
				<img v-if="item.logo_img != ''" :style="logo_section_img_style(index)" :src="fcdn_url + item.logo_img" />
			</div>
			<div class="vin_section" v-if="item.adStyle == 'AAT-Narrow' || item.adStyle == 'AAT Narrow Series S'">
				<div class="stock">{{ item.vstock }}</div>
	          	<div class="vin">{{ item.vvin }}</div>
			    <div class="model">{{ item.vehicle_info.YEAR }}, {{ item.vehicle_info.MAKE }},{{ item.vehicle_info.MODEL }}</div>
			</div>
			<div class="msrp_section" v-if="item.adStyle == 'AAT-Narrow' || item.adStyle == 'AAT Narrow Series S'">
		    	<div class="msrp">{{ item.aprice }}</div>
		  	</div>
			<div id="second-section" v-if="item.adStyle != 'Standard' && item.adStyle != 'PrePrinted'" :style="second_section_style(index)">
			 	<table width="100%" border="0" v-if="item.adStyle != 'Custom6' && item.adStyle != 'Custom7' && item.adStyle != 'Custom7 Narrow' && item.adStyle != 'PrePrinted'">
				 	<tr v-if="item.adStyle != 'AAT-Narrow' && item.adStyle != 'AAT Narrow Series S'">
				 		<td v-if="item.adStyle != 'Narrow Custom 1' && item.adStyle != 'Narrow Custom 2' && item.adStyle != 'Narrow Custom 2p' && item.adStyle != 'Custom4'" width="77%">
				 			<span v-if="item.adStyle == 'standard' || item.adStyle == 'narrow'" :style="stock_font(index)">{{item.vstock}}</span><br />
				 			<span v-if="item.adStyle != 'standard' && item.adStyle != 'narrow'" class="bold1">Stock: {{item.vstock}}</span>
				 			<span v-if="item.adStyle == 'standard' || item.adStyle == 'narrow'" :style="vin_font(index)">{{item.vvin}}</span><br />
	                        <span v-if="item.adStyle != 'standard' && item.adStyle != 'narrow'" class="bold1">VIN: {{item.vvin}}</span>
	                  	</td>
	                  	<td v-if="item.adStyle == 'Custom4'" width="77%" style="padding-left:62px;">
	                  		<div class="bold1" style="padding-top:2px;text-align:center;">{{ item.vehicle_info.YEAR }} {{ item.vehicle_info.MAKE }} {{ item.vehicle_info.MODEL }}</div>
							<div class="bold1" style="padding-top:19px;text-align:center;">{{item.vstock}}</div>
							<div class="bold1" style="padding-top:3px;text-align:center;">{{item.vvin}}</div>
	                  	</td>
	        			<td v-if="item.adStyle != 'Narrow Custom 1' && item.adStyle != 'Narrow Custom 2' && item.adStyle != 'Narrow Custom 2p'" width="23%">&nbsp;</td>
	        			<td v-if="item.adStyle == 'Narrow Custom 1' || item.adStyle == 'Narrow Custom 2' || item.adStyle == 'Narrow Custom 2p'" colspan="2" width="100%">
	        				<span class="st_vin" v-if="item.adStyle == 'Narrow Custom 2' || item.adStyle == 'Narrow Custom 2p'">Year: {{ item.vehicle_info.YEAR }} Make: {{ item.vehicle_info.MAKE }} Model: {{ item.vehicle_info.MODEL }}</span><br />
	        				<span class="st_vin">Stock: {{item.vstock}}</span><br />
	            			<span class="st_vin">VIN: {{item.vvin}}</span>
	        			</td>
	      			</tr>
	      			<tr>
			        	<td></td>
			        	<td></td>
			      	</tr>
			      	<tr v-if="item.adStyle != 'Narrow Custom 2' && item.adStyle != 'Narrow Custom 2p' && item.adStyle != 'Custom4' && item.adStyle != 'AAT-Narrow' && item.adStyle != 'AAT Narrow Series S'">
				        <td>
				        	<div style="width:50%; float:left" v-if="item.vinfo_show_type">
				        		<span :style="year_font(index)">{{item.template_builder.YEARDESC}} {{item.vehicle_info.YEAR}}</span><br />
				        		<span :style="make_font(index)">{{item.template_builder.MAKEDESC}} {{item.vehicle_info.MAKE}}</span><br />
				        		<span :style="model_font(index)">{{item.template_builder.MODELDESC}} {{item.vehicle_info.MODEL}}</span>
				        	</div>
				        	<div style="width:50%; float:left" v-if="item.vinfo_show_type">
				        		<span v-if="item.vehicle_info.EXT_COLOR" :style="color_font(index)">{{item.template_builder.COLORDESC}} {{item.vehicle_info.EXT_COLOR}}</span><br />
				        		<span v-if="item.vehicle_info.TRIM" :style="trim_font(index)">{{item.template_builder.TRIMDESC}} {{item.vehicle_info.TRIM}}</span><br />
				        		<span v-if="item.vehicle_info.MILEAGE" :style="mileage_font(index)">{{item.template_builder.MILEAGEDESC}} {{item.vehicle_info.MILEAGE}}</span>
				        	</div>
				        	<span v-if="!item.vinfo_show_type" class="bold1">
				        		Year: {{ item.vehicle_info.YEAR }}
				        		<span v-if="item.vehicle_info.MILEAGE != null && item.vehicle_info.MILEAGE != '' && item.adStyle == 'EPA Template' && item.adStyle != 'Custom1 SMS' && item.adStyle != 'Custom2' && item.adStyle != 'Custom3' && item.adStyle != 'Custom5' && item.adStyle != 'Custom2 QR' && item.adStyle != 'Custom2 No MSRP' && item.adStyle != 'Standard Branded' && item.adStyle != 'Dealer Branded Custom QR' && item.adStyle != 'Dealer Branded with VIN Barcode'">
				        			&nbsp;&nbsp; Mileage : {{ item.vehicle_info.MILEAGE }}
				        		</span>
				          	</span><br/>
	                      	<span v-if="!item.vinfo_show_type" class="bold1">Make: {{ item.vehicle_info.MAKE }}</span> <br />
	                      	<span v-if="!item.vinfo_show_type" class="bold1">Model: {{ item.vehicle_info.MODEL }}</span>
	                      	<div style="width:50%; float:left" v-if="item.adStyle == 'Standard Branded' || item.adStyle == 'Dealer Branded Custom QR' || item.adStyle == 'Dealer Branded with VIN Barcode'">
					            <span class="bold1" v-if="item.vehicle_info.EXT_COLOR != '' && item.vehicle_info.EXT_COLOR != null">Color: {{ item.vehicle_info.EXT_COLOR }}</span><br />
					            <span class="bold1" v-if="item.vehicle_info.TRIM != '' && item.vehicle_info.TRIM != null">Trim: {{ item.vehicle_info.TRIM }}</span><br />
					            <br>
					            <span class="bold1" v-if="item.vehicle_info.MILEAGE != '' && item.vehicle_info.MILEAGE != null">Mileage: {{ item.vehicle_info.MILEAGE }}</span>
				          	</div>
	                  	</td>
				        <td></td>
			      	</tr>
			      	<tr v-if="item.adStyle == 'Custom1 SMS' || item.adStyle == 'Custom5'">
			      		<td>&nbsp;</td>
	        			<td>&nbsp;</td>
			      	</tr>
			      	<tr v-if="item.vehicle_info.MSRP != 0 && item.vehicle_info.MSRP != null && item.adStyle != 'Narrow Custom 1' && item.adStyle != 'Narrow Custom 2' && item.adStyle != 'Narrow Custom 2p' && item.adStyle != 'Custom1 VIN No MSRP' && item.adStyle != 'Custom2 No MSRP' && item.adStyle != 'AAT-Narrow' && item.adStyle != 'AAT Narrow Series S'" >
			      		<td v-if="item.adStyle != 'Custom1' && item.adStyle != 'Custom1p' && item.adStyle != 'Custom1 SMS' && item.adStyle != 'Custom2' && item.adStyle != 'Custom4'">
			      			<span class="bold1">Manufacturer Suggested Retail Price:</span>
			      		</td>
			      		<td v-if="item.adStyle == 'Custom1' || item.adStyle == 'Custom1p'">
			      			<span v-if="item.vehicle_info.NEW_USED == 'New'" class="bold1">Manufacturer Suggested Retail Price:</span>
			      			<span v-if="item.vehicle_info.NEW_USED == 'Used'" class="bold1">Market Suggested Retail Price:</span>
			      		</td>
			      		<td v-if = "item.adStyle == 'Custom1 SMS' && item.vehicle_info.NEW_USED == 'New'">
		      		 		<span class="bold1">Manufacturer Suggested Retail Price:</span>
		      		 	</td>
		      		 	<td v-if = "item.adStyle == 'Custom2' && item.vehicle_info.NEW_USED == 'New'">
		      		 		<span class="bold1">Suggested Retail Price:</span>
		      		 	</td>
		      		 	<td v-if = "item.adStyle == 'Custom1 SMS' && item.vehicle_info.NEW_USED == 'Used'">
		      		 		<span class="bold1">Market Suggested Retail Price:</span>
		      		 	</td>
		      		 	<td v-if = "item.adStyle == 'Custom4'"><span class="bold1"></span></td>
		      		 	<td v-if = "item.adStyle == 'Custom4'">
		      		 		<span style="font-size:20px; font-weight:bold">{{ item.aprice }}</span>
		      		 	</td>
		      		 	<td v-if = "item.adStyle != 'Custom4'">
		      		 		<span class="bold1">{{item.aprice}}</span>
		      		 	</td>
			      	</tr>
			      	<tr v-if="item.vehicle_info.MSRP != 0 && item.vehicle_info.MSRP != null && (item.adStyle == 'Narrow Custom 1' || item.adStyle == 'Narrow Custom 2' || item.adStyle == 'Narrow Custom 2p')">
			      		<td colspan="2"><span class="msrp">Original MSRP</span> <span class="msrp">{{ item.aprice }}</span></td>
			      	</tr>
			      	<tr v-if="item.adStyle == 'Narrow Custom 1' || item.adStyle == 'Narrow Custom 2' || item.adStyle == 'Narrow Custom 2p'">
				        <td colspan="2" align="center"><span class="dae">DEALER-ADDED EQUIPMENT</span></td>
			      	</tr>
			      	<tr>
	        			<td colspan="2"><div style="height:2px; width:100%;background-color:black;"></div></td>
	      			</tr>
	      			<tr v-if="item.showsection">
	        			<td>
	        				<span v-if="item.adStyle != 'standard' && item.adStyle != 'narrow' && item.adStyle != 'Custom2 No MSRP'" class="bold1">Dealer Installed Options</span>
	        				<span v-else>Recommended Options</span>
	        			</td>
	        			<td>&nbsp;</td>
	      			</tr>
	      			<tr v-for="ad_data in item.ad_datas">
	      				<td>
		      				<br v-if="ad_data.SEPARATOR_ABOVE == '1'" v-for="i in parseInt(ad_data.SEPARATOR_SPACES) " />
		      				<span class="bold1" :style="option_style(index)">{{ ad_data.ITEM_NAME }}</span>
		      				<br v-if="ad_data.ITEM_DESCRIPTION != '' && ad_data.ITEM_DESCRIPTION != null" />
		      				<div class="bold2" style="padding-left:10px;" :style="opdesc_style(index)">{{ad_data.ITEM_DESCRIPTION}}</div>
		      				<br v-if="ad_data.SEPARATOR_BELOW == '1'" v-for="i in parseInt(ad_data.SEPARATOR_SPACES) " />
		      			</td>
		      			<td v-if="item.adStyle != 'Custom4'">
		      				<br v-if="ad_data.SEPARATOR_ABOVE == '1'" v-for="i in parseInt(ad_data.SEPARATOR_SPACES) " />
		      				<span class="bold1" :style="option_style(index)">{{ad_data.ITEM_PRICE}}</span>
		      				<br v-if="ad_data.SEPARATOR_BELOW == '1'" v-for="i in parseInt(ad_data.SEPARATOR_SPACES) " />
		      			</td>
		      			<td v-if="item.adStyle == 'Custom4'" valign="top" align="right">
		      				<br v-if="ad_data.SEPARATOR_ABOVE == '1'" v-for="i in parseInt(ad_data.SEPARATOR_SPACES) " />
		      				<span class="bold1" :style="option_style(index)">{{ad_data.ITEM_PRICE}}</span>
		      				<br v-if="ad_data.SEPARATOR_BELOW == '1'" v-for="i in parseInt(ad_data.SEPARATOR_SPACES) " />
		      			</td>
	      			</tr>
				</table>

				<div class="header" v-if="item.adStyle == 'Custom6' || item.adStyle == 'Custom7' || item.adStyle == 'Custom7 Narrow'" :style="header_style(index)">
					<div class="toptext"> {{ item.vehicle_info.STOCK_NUMBER }} </div>
					<div class="toptext"> {{ item.vehicle_info.VIN_NUMBER }} </div>
					<div class="toptext" v-if="item.adStyle == 'Custom7' || item.adStyle == 'Custom7 Narrow'" style="padding-top:2px;"> {{ item.vehicle_info.MODEL }} </div>
					<div class="toptext" v-if="item.adStyle == 'Custom6'"> {{ item.vehicle_info.MODEL }} </div>
				</div>
				<div class="msrp_custom6" :style="custom_msrp_style(infdex)" v-if="(item.adStyle == 'Custom6' || item.adStyle == 'Custom7' || item.adStyle == 'Custom7 Narrow') && item.vehicle_info.MSRP != 0 && item.vehicle_info.MSRP != ''">
					{{ item.aprice }}
				</div>
				<div class="base" v-if="item.adStyle == 'Custom6' || item.adStyle == 'Custom7' || item.adStyle == 'Custom7 Narrow'" :style="baseprice_style(index)">{{ item.base_price }}</div>
				<div class="options" v-if="item.adStyle == 'Custom6' || item.adStyle == 'Custom7' || item.adStyle == 'Custom7 Narrow'" :style="options_style(index)">
					<div class="options-into" :style="options_into_style(index)" v-for="ad_data in item.ad_datas">
				        <div class="left"><span class="bold1" :style="bold3(index)">{{ ad_data.ITEM_NAME }}</span></div>
				        <div class="right"><span class="bold1" :style="bold3(index)">{{ad_data.ITEM_PRICE}}</span></div>
			      	</div>
				</div>
				<div class="total-op" v-if="(item.adStyle == 'Custom6' || item.adStyle == 'Custom7' || item.adStyle == 'Custom7 Narrow' )&& item.template_data.TOTAL_ADDS == '1'">
					{{ item.voptions }}
				</div>

				<div class="total" :style="total_style(index)" v-if="item.adStyle == 'Custom6' || item.adStyle == 'Custom7' || item.adStyle == 'Custom7 Narrow'">
					{{ item.vtotal }}
				</div>
			</div>

			<div id="second-section_preprinted" v-if="item.adStyle == 'PrePrinted'">
				<table width="100%" border="0" v-if="item.adStyle == 'PrePrinted'">
					<tr>
						<td colspan="3">
							<div class="nameaddress">{{ dealer_info.DEALER_NAME }}<br>
								{{ dealer_info.DEALER_ADDRESS }}<br>
								{{ dealer_info.DEALER_CITY }} {{ dealer_info.DEALER_STATE }} {{ dealer_info.DEALER_ZIP }}<br>
	            				{{ dealer_info.PHONE }}
	        				</div>
	                      	<div class="model">{{ item.vehicle_info.YEAR }}, {{ item.vehicle_info.MODEL }}</div>
	                  	</td>
					</tr>
					<tr>
				        <td colspan="2"></td>
				        <td width="24%"></td>
			      	</tr>
			      	<tr>
				        <td colspan="2"></td>
				        <td></td>
			      	</tr>
			      	<tr>
	        			<td colspan="3">
	        				<div class="stock">{{ item.vstock }}</div>
	                      	<div class="vin">{{ item.vvin }}</div>
	                  	</td>
	      			</tr>
	      			<tr v-if="item.vehicle_info.MSRP != 0 && item.vehicle_info.MSRP != null">
	      				<td colspan="2">&nbsp;</td>
	      				<td width="24%"><div class="msrp_preprinted">{{ item.aprice }}</div></td>
	      			</tr>
	      			<tr v-else>
	      				<td colspan="2">&nbsp;</td>
	    				<td width="24%"></td>
	      			</tr>
	      			<tr>
			        	<td colspan="3">&nbsp;</td>
			      	</tr>
			      	<tr>
				        <td colspan="2">&nbsp;</td>
				        <td>&nbsp;</td>
			      	</tr>
			      	<tr v-for="ad_data in item.ad_datas">
	      				<td colspan="2">
	      					<div class="extra">
	      						<span class="bold1">{{ ad_data.ITEM_NAME }}</span>	
	      					</div>
		      				<br v-if="ad_data.ITEM_DESCRIPTION != '' && ad_data.ITEM_DESCRIPTION != null" />
		      				<div class="bold2" style="padding-left:10px;">{{ad_data.ITEM_DESCRIPTION}}</div>
		      			</td>
		      			<td valign="top">
		      				<span class="bold1" :style="bold3(index)">{{ad_data.ITEM_PRICE}}</span>
		      			</td>
	      			</tr>
				</table>
			</div>
			<div class="total-op_custom4" v-if="item.adStyle == 'Custom4'">
				{{ item.voptions }}
			</div>
			<div v-if="item.adStyle == 'standard' || item.adStyle == 'narrow'" class="subtotal" :style="subtotal_style(index)">
				<div class="subtotaltext">Subtotal:</div>
				<div class="subtotalnum">{{item.voptions}}</div>
			</div>
			<div class="subtotal_preprinted" v-if="item.adStyle == 'PrePrinted'">
				{{ item.voptions }}
			</div>
			<div class="subtotal_preprinted" v-if="item.adStyle == 'AAT-Narrow'">
				Total Options and Services: {{ item.voptions }}
			</div>
			<div class="total" v-if="item.adStyle != 'Standard' && item.adStyle != 'Custom6' && item.adStyle != 'Custom7' && item.adStyle != 'Custom7 Narrow'" :style="total_style(index)">
				{{item.vtotal}}
			</div>
			<div v-if="item.adStyle != 'Standard' && item.adStyle != 'Narrow Custom 1' && item.adStyle != 'Narrow Custom 2' && item.adStyle != 'Narrow Custom 2p' && item.adStyle != 'Custom6' && item.adStyle != 'Custom7' && item.adStyle != 'Custom7 Narrow' && item.adStyle != 'Custom5' && item.adStyle != 'PrePrinted'" class="address" :style="address_style(index)">
				{{ dealer_info.DEALER_NAME }}<br>
	    		{{ dealer_info.DEALER_ADDRESS }}<br>
	    		{{ dealer_info.DEALER_CITY }} {{ dealer_info.DEALER_STATE }} {{ dealer_info.DEALER_ZIP }}<br>
	    		{{ dealer_info.PHONE }}
			</div>
			<div v-if="item.adStyle == 'Custom5'" class="address_custom5">
				{{ dealer_info.DEALER_NAME }}<br>
	    		{{ dealer_info.DEALER_ADDRESS }}<br>
	    		{{ dealer_info.DEALER_CITY }} {{ dealer_info.DEALER_STATE }} {{ dealer_info.DEALER_ZIP }}<br>
	    		{{ dealer_info.PHONE }}
			</div>
			<div v-if="item.adStyle == 'Custom1 SMS'" class="last5">
				{{ item.last5 }}
			</div>
			<!--div v-if="adStyle == 'standard' || adStyle == 'narrow'" class="stock_image" :style="stock_image_style">
				<div v-if="template_builder.STOCK_SELECT == 'qr_code'" class="medium_qr_code stockin">
					<div class="qr_title">{{ template_builder.QR_TITLE }}</div>
					<div class="qr_float">
						<div class="qr_text">{{ template_builder.QR_TEXT }}</div>
						<div class="qr_code"> <img :src="'https://chart.googleapis.com/chart?cht=qr&chs=150x150&chld=M|0&chl=' + this.qr_url"> </div>
					</div>
					<div v-if="template_builder.TEMPLATE_LAYOUT == 'large' || template_builder.TEMPLATE_LAYOUT == 'top'" class="qr_text2">
						{{template_builder.QR_TEXT2}}
					</div>
					<div class="qr_footer">{{template_builder.QR_FOOTER}}</div>
				</div>
				<div v-else-if="template_builder.STOCK_SELECT == 'barcode'" class="medium_bar_code stockin">
					<div class="bar_title">{{ template_builder.BAR_TITLE }}</div>
					<div class="bar_float" :style="bar_float_style">
						<div class="bar_text" :style="bar_text_style">{{ template_builder.BAR_TEXT }}</div>
						<div class="bar_code"> <img :src="barcode_url" :style="barcode_img_style"> </div>
					</div>
					<div class="bar_footer">{{ template_builder.BAR_FOOTER }}</div>
				</div>
				<img v-if="template_builder.STOCK_SELECT != 'qr_code' && template_builder.STOCK_SELECT != 'barcode' && template_builder.INFO_IMAGE != ''" class="stock_img" :style="stock_image_img_style" :src="'https://d1xlji8qxtrdmo.cloudfront.net/' + template_builder.INFO_IMAGE" />
			</div-->
			<div v-if="item.adStyle == 'Dealer Branded Custom QR'" class="qrarea">
				<div class="qrtitle">{{ item.template_data.QR_TITLE }}</div>
			    <div class="qrdesc">{{ item.template_data.QR_DESCRIPTION }}</div>
			    <div class="mainqr"><img :src="'https://chart.googleapis.com/chart?cht=qr&chs=100x100&chld=M|0&chl=' + item.qr_url"></div>
		  	</div>

			<div v-if="item.adStyle == 'Custom1 QR'" style="margin-top:80px;margin-left:210px">
				<img :src="'https://chart.googleapis.com/chart?cht=qr&chs=100x100&chld=M|0&chl=' + item.qr_url" style="padding-top:10px;padding-bottom:10px;">
			</div>
			<div v-if="item.adStyle == 'Custom2 QR' || item.adStyle == 'Custom2 No MSRP'" style="margin-top:65px;margin-left:230px">
				<img :src="'https://chart.googleapis.com/chart?cht=qr&chs=75x75&chld=M|0&chl=' + item.qr_url" style="padding-top:10px;padding-bottom:10px;">
			</div>
			<div v-if="item.adStyle == 'Custom5'" style="margin-top: -4px;margin-left: 233px;">
				<img :src="'https://chart.googleapis.com/chart?cht=qr&chs=90x90&chld=M|0&chl=' + item.qr_url" style="padding-top:10px;padding-bottom:10px;">
			</div>
			<div v-if="item.adStyle == 'Custom1 VIN' || item.adStyle == 'Custom1 VIN No MSRP'" style="margin-top:223px;margin-left:210px"> </div>
			<div v-if="item.adStyle == 'Custom1 VIN' || item.adStyle == 'Custom1 VIN No MSRP' || item.adStyle == 'Dealer Branded with VIN Barcode'" class="barcode"><img width="250" :src="item.barcode_url"></div>
			<table v-if="item.adStyle == 'Standard'" width="100%" border="0">
				<tr>
	              	<td width="70%"><span style="font-size:13px; font-family: 'Cambria Math'; font-stretch: 'narrower'">DEALER NAME AND ADDRESS<br>
		                <strong>{{ dealer_info.DEALER_NAME }}</strong><br>
		                {{ dealer_info.DEALER_ADDRESS }}<br>
		                {{ dealer_info.DEALER_CITY }} {{ dealer_info.DEALER_STATE }} {{ dealer_info.DEALER_ZIP }} </span>
		            </td>
		              <td width="30%" valign="baseline"><span style="font-size:13px; font-family: 'Cambria Math'; font-stretch: narrower"> MODEL <br>
		                {{item.vehicle_info.YEAR}} {{ item.vehicle_info.MAKE }}<br>
		                {{ item.vehicle_info.MODEL }}</span>
		            </td>
	            </tr>
			</table>
			<br v-if="item.adStyle == 'Standard'">
			<table v-if="item.template_data.ADDENDUM_STYLE == 'Standard'" width="100%" border="0">
	            <tr>
	              <td width="49%"><span style="font-size:13px; font-family: 'Cambria Math'; font-stretch: narrower">STOCK NUMBER<br>
	                {{ item.vehicle_info.STOCK_NUMBER }}</span></td>
	              <td width="51%"><span style="font-size:13px; font-family: 'Cambria Math'; font-stretch: narrower">VIN<br>
	                {{ item.vehicle_info.VIN_NUMBER }}</span></td>
	            </tr>
	      	</table>
			<br v-if="item.adStyle == 'Standard'">
			<table v-if="item.adStyle == 'Standard'" width="99%" style="border:1px solid #000">
				<tr v-if="item.vehicle_info.MSRP != 0 && item.vehicle_info.MSRP != ''" style="font-size:13px; font-family: 'Cambria Math'; font-stretch: narrower">
					<td width="80%">MANUFACTURERS SUGGESTED RETAIL PRICE</td>
	              	<td width="20%">{{ item.aprice }}</td>
				</tr>
				<tr>
					<td valign="baseline" colspan="2" style="height:350px; border-top:1px solid #000">
						<table width="100%" border="0">
		                  	<tr>
		                  		<td colspan="2"><span style="font-size:13px; font-family: 'Cambria Math'; font-stretch: narrower">DEALER INSTALLED OPTIONS</span></td>
		                	</tr>
		                	<tr v-for="ad_data in item.ad_datas" style="font-size:12px; font-family: 'Cambria Math'; font-stretch: narrower">
		                		<td width="81%" :style="option_style(index)">{{ ad_data.ITEM_NAME }}
		                			<div class="bold2" style="padding-left:10px;" :style="opdesc_style(index)">{{ad_data.ITEM_DESCRIPTION}}</div>
		                		</td>
		                		<td width="19%" valign="top" :style="option_style(index)">{{ad_data.ITEM_PRICE}}</td>
		                	</tr>
		                </table>
		            </td>
				</tr>
				<tr>
					<td colspan="2" style="border-bottom:1px solid #000"><p  style="font-size:12px; font-family: 'Cambria Math'; font-stretch: narrower"> {{ item.template_data.SLOGAN }}</p>
						<span  style="font-size:15px; font-family: 'Cambria Math'; font-stretch: narrower">ADDED MARK-UP</span>
					</td>
				</tr>
				<tr style="font-size:13px; font-family: 'Cambria Math'; font-stretch: narrower">
					<td>DEALERS INSTALLED OPTIONS SUBTOTAL </td>
					<td>{{item.voptions}}</td>
				</tr>
				<tr>
					<td>
						<span style="font-size:15px; font-family: 'Cambria Math'; font-stretch: narrower">*SELLERS ASKING PRICE</span><br>
	                	<span  style="font-size:13px; font-family: 'Cambria Math'; font-stretch: narrower">INCLUDES DEALERS INSTALLED OPTIONS</span>
	                </td>
	                <td><span  style="font-size:13px; font-family: 'Cambria Math'; font-stretch: narrower">{{ item.vtotal }}</span></td>
				</tr>
				<tr>
					<td colspan="2" align="center" style="font-size:11px; font-family: 'Cambria Math'; font-stretch: narrower;border-top:1px solid #000">Plus State and Local Taxes, License Fees, Documentary Fees or Finance Charges, if any</td>
				</tr>
				<tr>
	              	<td colspan="2"><div><img :src="base_url+'/img/header.jpg'" width="336" border="0" style="margin-bottom:-2px;" /></div>
	            		<div style="width:335px; border-left:20px solid #000;border-right:20px solid #000;border-bottom:20px solid #000; text-align:center"> 
	            			<img :src="'https://chart.googleapis.com/chart?cht=qr&chs=150x150&chld=M|0&chl=' + item.qr_url" style="padding-top:10px;padding-bottom:10px;"> 
	            		</div>
	            	</td>
	            </tr>
	            <tr>
	            	<td colspan="2" align="center" style="font-size:12px; font-family: 'Cambria Math'; font-stretch: narrower">
	            		THIS ADDENDUM STICKER IS NOT AN OFFICIAL FACTORY OR GOVERNMENT STICKER<br>
	                	AFFIXED AS A SUPPLEMENTAL LABEL BY YOUR DEALER
	                </td>
	            </tr>
			</table>
			<h1 v-if="item.adStyle == 'Standard'" class="page-break"></h1>
		</div>
		<div id="temp_printit" :style="Printit_style(index)" v-else="item.template_builder" :class="{'standard': item.template_builder.TEMPLATE_WIDTH == 'Standard', 'narrow': item.template_builder.TEMPLATE_WIDTH == 'Narrow'}">
			<div id="temp_logo_section" v-if="item.template_builder.SHOWLOGO" :style="logo_section_style(index)">
				<img v-if="item.template_builder.DEALER_LOGO" :style="logo_section_img_style(index)" :src="'https://d1xlji8qxtrdmo.cloudfront.net/'+ item.template_builder.DEALER_LOGO" />
			</div>
			<div class="temp_vin_section" :style="vehicle_info_style(index)" :class="['font_'+item.template_builder.VI_FONT]">
				<div class="temp_stock" v-if="item.template_builder.SHOWSTOCK" :class="{'bold': item.template_builder.STOCKBOLD != '0' }">{{item.template_builder.STOCKDESC}} {{ item.vstock }}</div>
	          	<div class="temp_vin" v-if="item.template_builder.SHOWVIN" :class="{'bold': item.template_builder.VINBOLD != '0' }">{{item.template_builder.VINDESC}} {{ item.vvin }}</div>
			    <div v-if="item.template_builder.SHOWYEAR" :class="{'bold': item.template_builder.YEARBOLD != '0' }">{{item.template_builder.YEARDESC}} {{ item.vehicle_info.YEAR }}</div>
			    <div v-if="item.template_builder.SHOWCOLOR" :class="{'bold': item.template_builder.COLORBOLD != '0' }">{{item.template_builder.COLORDESC}} {{ item.vehicle_info.EXT_COLOR }}</div>
			    <div v-if="item.template_builder.SHOWMAKE" :class="{'bold': item.template_builder.MAKEBOLD != '0' }">{{item.template_builder.MAKEDESC}} {{ item.vehicle_info.MAKE }}</div>
			    <div v-if="item.template_builder.SHOWTRIM" :class="{'bold': item.template_builder.TRIMBOLD != '0' }">{{item.template_builder.TRIMDESC}} {{ item.vehicle_info.TRIM }}</div>
			    <div v-if="item.template_builder.SHOWMODEL" :class="{'bold': item.template_builder.MODELBOLD != '0' }">{{item.template_builder.MODELDESC}} {{ item.vehicle_info.MODEL }}</div>
			    <div v-if="item.template_builder.SHOWMILEAGE" :class="{'bold': item.template_builder.MILEAGEBOLD != '0' }">{{item.template_builder.MILEAGEDESC}} {{ item.vehicle_info.MILEAGE }}</div>
			</div>
			<div class="temp_options_section" :style="options_section_style(index)">
	          	<table width="100%" border="0" cellspacing="0" cellpadding="0">
	          		<tbody>
	          			<tr class="temp_msrp" v-if="item.template_builder.SHOWMSRP" :class="['font_'+item.template_builder.MSRP_FONT, {'bold': item.template_builder.MSRPBOLD}]">
	          				<td><span id="temp_msrp">{{ item.template_builder.MSRPDESC }}</span></td>
	                        <td><span>{{item.aprice}}</span></td>
	          			</tr>
	          			<tr>
	                        <td colspan="2"><div style="height:2px; width:100%;background-color:black;"></div></td>
	                  	</tr>
	                  	
	                  	<tr class="temp_section" :class="['font_'+item.template_builder.SECTION_FONT, {'bold': item.template_builder.SECTIONBOLD}]" v-if="item.template_builder.SHOWSECTION">
	                        <td colspan="2"><span id="section">{{ item.template_builder.SECTIONDESC }}</span></td>
	                  	</tr>
	                  	<tr v-for="ad_data in item.ad_datas">
	                  		<td style="padding:0px">
	                  			<br v-if="ad_data.SEPARATOR_ABOVE == '1'" v-for="i in parseInt(ad_data.SEPARATOR_SPACES) " />
	                          	<span class="option" :class="['font_'+item.template_builder.OPTION_FONT, {'bold': item.template_builder.OPTIONBOLD}]">{{ ad_data.ITEM_NAME }}</span>
	                          	<br v-if="ad_data.ITEM_DESCRIPTION != '' && ad_data.ITEM_DESCRIPTION != null" />
	                          	<div class="opdesc" :class="['font_'+item.template_builder.OPDESC_FONT, {'bold': item.template_builder.OPDESCBOLD}]">
	                            	{{ad_data.ITEM_DESCRIPTION}}               
	                          	</div>
	                          	<br v-if="ad_data.SEPARATOR_BELOW == '1'" v-for="i in parseInt(ad_data.SEPARATOR_SPACES) " />
	                        </td>
	                        <td valign="top" style="padding:0px">
	                        	<br v-if="ad_data.SEPARATOR_ABOVE == '1'" v-for="i in parseInt(ad_data.SEPARATOR_SPACES) " />
	                        	<span class="option" :class="['font_'+item.template_builder.OPTION_FONT, {'bold': item.template_builder.OPTIONBOLD}]">{{ad_data.ITEM_PRICE}}</span>
	                        	<br v-if="ad_data.SEPARATOR_BELOW == '1'" v-for="i in parseInt(ad_data.SEPARATOR_SPACES) " />
	                        </td>
	                  	</tr>
	          		</tbody>
	          	</table>
			</div>
			<div id="temp_subtotal_section" :style="temp_subtotal_style(index)">
				<div class="temp_subtotal" :class="['font_'+item.template_builder.SUBTOTAL_FONT, {'bold': item.template_builder.SUBTOTALBOLD}]" v-if="item.template_builder.SHOWSUBTOTAL">
	              	<div id="subtotal" style="text-align:right" :style="{'width': ((item.template_builder.TEMPLATE_WIDTH == 'Narrow'?252:346)-(item.template_builder.TEMPLATE_WIDTH == 'Narrow'?20:30)-((item.template_builder.TEMPLATE_WIDTH == 'Narrow'?252:346)*0.3+10)) + 'px'}">{{ item.template_builder.SUBTOTALDESC }}</div>
	              	<div id="subtotal_num" :style="{'width':((item.template_builder.TEMPLATE_WIDTH == 'Narrow'?252:346)*0.3)+'px'}">{{item.voptions}}</div> 
	            </div>
			</div>
			<div id="temp_total_section" :style="temp_total_style(index)">
				<div class="temp_total" :class="['font_'+item.template_builder.TOTAL_FONT, {'bold': item.template_builder.TOTALBOLD}]" v-if="item.template_builder.SHOWTOTAL">
	          		<span id="total" :style="{'width': ((item.template_builder.TEMPLATE_WIDTH == 'Narrow'?252:346)-(item.template_builder.TEMPLATE_WIDTH == 'Narrow'?20:30)-((item.template_builder.TEMPLATE_WIDTH == 'Narrow'?252:346)*0.41)) + 'px'}">{{ item.template_builder.TOTALDESC }}</span>
	              	<div id="total_num" :style="{'width':((item.template_builder.TEMPLATE_WIDTH == 'Narrow'?252:346)*0.41)+'px', 'margin-right': item.template_builder.TEMPLATE_WIDTH == 'Standard'?'10px':''}">{{ item.vtotal }}</div> 
	            </div>
			</div>
			<div id="temp_address_section" :style="temp_address_style(index)">
				<div class="temp_address font_MED bold">
	          		<span class="daddress">
	          			{{ dealer_info.DEALER_NAME }}<br>
			    		{{ dealer_info.DEALER_ADDRESS }}<br>
			    		{{ dealer_info.DEALER_CITY }} {{ dealer_info.DEALER_STATE }} {{ dealer_info.DEALER_ZIP }}<br>
			    		{{ dealer_info.PHONE }}
	          		</span>
	            </div>
			</div>
			<div id="temp_footer_section" :style="temp_footer_style(index)">
				<div class="infographic" :style="{'width': ((item.template_builder.TEMPLATE_WIDTH == 'Narrow'?252:346)-20)+'px'}" v-if="item.template_builder.STOCK_SELECT == 'default_image' || item.template_builder.STOCK_SELECT == 'upload_image'">
	              	<img class="temp_stock_image stockin" :style="{'width': ((item.template_builder.TEMPLATE_WIDTH == 'Narrow'?252:346)-20)+'px', 'height': item.template_builder.FOOTER_HEIGHT+'px'}" :src="fcdn_url+item.template_builder.INFO_IMAGE">
	            </div>
	            <div class="infographic" :style="{'width': ((item.template_builder.TEMPLATE_WIDTH == 'Narrow'?252:346)-30)+'px'}" :class="{'mediumT': item.template_builder.TEMPLATE_LAYOUT == 'Medium', 'topT': item.template_builder.TEMPLATE_LAYOUT == 'Top', 'largeT': item.template_builder.TEMPLATE_LAYOUT == 'Large'}" v-if="item.template_builder.STOCK_SELECT == 'qr_code'">
	              	<div class="medium_qr_code stockin">
	                    <div class="qr_title" v-if=" item.template_builder.TEMPLATE_LAYOUT != 'Small' ">
	                      {{ item.template_builder.QR_TITLE }}
	                    </div>
	                    <div class="qr_float">
	                        <div class="qr_text" v-if=" item.template_builder.TEMPLATE_LAYOUT != 'Small' ">
	                          {{ item.template_builder.QR_TEXT }}
	                        </div>
	                        <div class="qr_code">
	                          <img v-if="item.template_builder.QR_URL" :src="'https://chart.googleapis.com/chart?cht=qr&chs=100x100&chld=M|0&chl='+item.qr_url " :style="{'height': item.template_builder.TEMPLATE_LAYOUT == 'Small'?(item.template_builder.FOOTER_HEIGHT-5)+'px':''}">
	                          <img v-else :src="base_url+'/img/template/qr.png'" :style="{'height': item.template_builder.TEMPLATE_LAYOUT == 'Small'?(item.template_builder.FOOTER_HEIGHT-5)+'px':''}">
	                        </div>
	                    </div>
	                    <div class="qr_text2" v-if="item.template_builder.TEMPLATE_LAYOUT == 'Top' || item.template_builder.TEMPLATE_LAYOUT == 'Large'">
	                      {{ item.template_builder.QR_TEXT2 }}
	                    </div>
	                    <div class="qr_footer" v-html="item.template_builder.QR_FOOTER" v-if=" item.template_builder.TEMPLATE_LAYOUT != 'Small' ">
	                    </div>
	              	</div>
	            </div>
	            <div class="infographic" :style="{'width': ((item.template_builder.TEMPLATE_WIDTH == 'Narrow'?252:346)-30)+'px'}" :class="{'mediumT': item.template_builder.TEMPLATE_LAYOUT == 'Medium', 'topT': item.template_builder.TEMPLATE_LAYOUT == 'Top', 'largeT': item.template_builder.TEMPLATE_LAYOUT == 'Large'}" v-if="item.template_builder.STOCK_SELECT == 'barcode'">
	              	<div class="medium_bar_code stockin">
	                    <div class="bar_title" v-if=" item.template_builder.TEMPLATE_LAYOUT != 'Small' ">
	                      {{ item.template_builder.BAR_TITLE }}
	                    </div>
	                    <div class="bar_float">
	                        <div class="bar_text" v-if=" item.template_builder.TEMPLATE_LAYOUT != 'Small' ">
	                          {{ item.template_builder.BAR_TEXT }}
	                        </div>
	                        <div class="bar_code" >
	                          <img :src="base_url+'/img/template/barcode.gif'" :style="{'width': item.template_builder.TEMPLATE_LAYOUT == 'Small'?((item.template_builder.TEMPLATE_WIDTH == 'Narrow'?252:346)-30)+'px':'', 'height': item.template_builder.TEMPLATE_LAYOUT == 'Small'?(item.template_builder.STOCK_SELECT-5)+'px':''}">
	                        </div>
	                    </div>
	                    <div v-if=" item.template_builder.TEMPLATE_LAYOUT != 'Small' " class="bar_footer" style="white-space: pre-wrap " v-html=" item.template_builder.BAR_FOOTER ">
	                    </div>
	              	</div>
	            </div>
			</div>
		</div>
	</div>
	</div>
</template>
<style type="text/css">
	.print_infos{
		margin-bottom: 30px;
	}
	#printit{
		background-repeat: no-repeat;
		background-position:top;
		top: 0;
		margin: 0;
	}
	#temp_printit{
		background-repeat: no-repeat;
		background-position:top;
		top: 0;
		margin: 0;
	}
	#logo_section {
		width:100%;
		height:100px;
		text-align:center;
		padding-top:20px;
	}
	#logo_section img, #temp_logo_section img {
		width:auto;
		height:100px;
		max-width:92%;
	}
	#second-section{
		overflow: hidden;
		width: 90%;
	}
	#second-section table{
		margin-top:20px;
	}
	#second-section_preprinted{
		overflow: hidden;
		width: 100%;
		height:580px;
	}
	#second-section_preprinted table{
		margin-top:48px;
	}
	.bold{
		font-weight: bold;
	}
	.temp_vin_section{
    	text-align: left;
  	}	
	.temp_vin_section div{
	    width: 50%;
	    float: left;
	    padding-top: 1px;
	    padding-bottom: 1px;
  	}
  	.temp_stock, .temp_vin{
  		width: 100% !important;
    	clear: both;
  	}

	.bold1{
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		font-weight:bold;
		line-height:12px;
	}
	.bold2{
		font-family:Arial, Helvetica, sans-serif;
		font-size:10px;
		font-weight:bold;
		line-height:10px;
		
	}
	.totaltext {
		color: #ffffff;
		float: left;
		padding-right: 5px;
		text-align: right;
		width: 53%;
	}
	.totalnum {
		float: left;
		text-align: right;
		width: 42%;
	}
	#subtotal {
	    float: left;
	    width: 90px;
  	}
  	#subtotal_num {
	    float: right;
	    margin-right: 10px;
	    text-align: right;
  	}
  	#total {
	    color: #fff;
	    float: left;
	    text-align: right;
	    width: 105px;
  	}
  	#total_num {
	    float: right;
	    text-align: right;
	    
  	}
	.subtotal {
		position: absolute;
		top: 565px;
		width: 100%;
	}
	.subtotaltext {
		float: left;
		text-align: right;
		width: 55%;
	}
	.subtotalnum {
		float: left;
		text-align: right;
		width: 41%;
	}
	.temp_address {
	    clear: both;
	    font-weight: bold;
	    text-align: left;
  	}
	.address{
		padding-top:35px;
		padding-bottom:19.5px;
		margin-left:20px;
		font-size:15px;
		line-height:15px;
		font-weight:bold;
		font-family:Arial, Helvetica, sans-serif;
	}
	.address_custom5{
		padding-top:51px;
		padding-bottom:19.5px;
		margin-left:20px;
		font-size:13px;
		line-height:15px;
		width:200px;
		font-weight:bold;
		font-family:Arial, Helvetica, sans-serif;
		float: left;
	}
	.stock_image {
		padding-left: 13px;
		position: absolute;
	}
	.stock_image > img {
		height: 230px;
	}
	.medium_qr_code .qr_title {
		font-size: 20px;
		font-weight: bold;
		height: 25px;
		text-align: center;
		width: 100%;
	}
	.medium_qr_code .qr_float {
		clear: both;
		height: 140px;
		text-align: center;
		width: 100%;
	}
	.medium_qr_code .qr_text {
		float: left;
		font-size: 18px;
		height: 140px;
		text-align: left;
		width: 60%;
	}
	.medium_qr_code .qr_text2{
		float: left;
	    font-size: 18px;
	    text-align: left;
	    width: 100%;
		clear:both;
	}
	.medium_qr_code .qr_code {
		float: right;
		height: 140px;
		text-align: center;
		width: 40%;
	}
	.medium_qr_code .qr_code img {
		width:80% !important;
		height:auto !important;
	}
	.medium_qr_code .qr_footer {
		font-size: 12px;
		height: 40px;
		line-height: 13px;
		text-align: center;
		width: 100%;
	}
	.medium_bar_code .bar_title {
		font-size: 20px;
		font-weight: bold;
		height: 25px;
		text-align: center;
		width: 96%;
	}
	.medium_bar_code .bar_float {
		clear: both;
		text-align: center;
		width: 96%;
	}
	.medium_bar_code .bar_text {
		font-size: 14px;
		text-align: left;
		width: 100%;
	}
	.medium_bar_code .bar_code {
		text-align: center;
		width: 100%;
	}
	.medium_bar_code .bar_code img {
		width: 300px !important;
	}
	.medium_bar_code .bar_footer {
		font-size: 11px;
		height: 40px;
		line-height: 12px;
		text-align: center;
		width: 96%;
	}
	#qr{
		background-color:#000; 
		height:25px; 
		width:100%; 
		text-align:center; 
		color:#FFF; 
		font-family:Cambria; 
		font-size:16px;
		padding-top:5px;
	}
	.dae{
		font-family:Arial, Helvetica, sans-serif;
		font-size:14px;
		font-weight:bold;
		line-height:14px;
    }
	.msrp{
		font-family:Arial, Helvetica, sans-serif;
		font-size:13px;
		font-weight:bold;
		line-height:13px;
    }
    .msrp_custom6{
		font-size: 17px;
	    font-weight: bold;
	    height: 20px;
	    margin: 5px 0 0 195px;
    }
    .msrp_custom7{
		font-size: 17px;
	    font-weight: bold;
	    height: 20px;
	    margin: 0 0 0 200px;
	    text-align: right;
	    width: 100px;
    }
    .st_vin{
		font-family:Arial, Helvetica, sans-serif;
		font-size:16px;
		font-weight:bold;
		line-height:16px;
	}
	.last5{
		color: #000;
		font-size: 22px;
		margin-left: 173px;
		margin-top: 134px;
		width: 120px;
		font-weight:bold;
	}
	.barcode{
		margin-left: 50px;
    	margin-top: 30px;
	}
	.barcode_dealerbrand{
		margin-left: 50px;
    	margin-top: 45px;
	}
	.header{
		font-size: 17px;
	    font-weight: bold;
	    height: 70px;
	    line-height: 18px;
	    margin: 17px 0 0 100px;
	}
	.toptext{
	}
	.base {
	    font-size: 14px;
	    height: 16px;
	    margin: 423px 0 0 220px;
	    text-align: right;
	    width: 77px;
	}
	.options {
	    clear: both;
	    height: 84px;
	    margin-top: 10px;
	    width: 100%;
	}
	.options-into {
	    clear: both;
	    line-height: 20px;
	    width: 100%;
	}
	.left {
	    float: left;
	    padding-left: 17px;
	    width: 215px;
	}

	.right {
	    float: left !important;
	    text-align: right;
	    width: 65px;
	}
	.total-op {
	    clear: both;
	    font-size: 14px;
	    font-weight: bold;
	    margin-left: 230px;
	    text-align: right;
	    width: 67px;
		height:10px;
	}
	.total-op_custom4 {
		width:130px;
		margin-top:30px;
		margin-left:195px;
		font-size:18px;
		font-weight:bold;
		font-family:Arial, Helvetica, sans-serif;
		text-align:right;
	}
	.qr{
		padding-top:50px;
		padding-bottom:19.5px;
		margin-left:20px;
		font-size:13px;
		line-height:15px;
		font-weight:bold;
		font-family:Arial, Helvetica, sans-serif;
    }
    .subtotal_preprinted{
		margin-top:30px;
		margin-left:255px;
		font-size:12px;
		font-weight:bold;
		font-family:Arial, Helvetica, sans-serif;
	}
	.nameaddress{
		float:left;
		width:210px;
		font-weight:bold;
	}
	.model{
		float:left;
		width:120px;
		text-align:right;
		font-weight:bold;
	}
	.stock{
		width:80px;
		float:left;
		padding-top:30px;
		text-align:center;
		font-weight:bold;
	}
	.vin{
		width:140px;
		float:left;
		padding-top:30px;
		text-align:center;
		font-weight:bold;
	}
	.msrp_preprinted{
		padding-top:30px;
		font-weight:bold;
	}
	.extra{
		margin-left:10px;
	}
	.qrarea{
		clear: both;
	    margin-left: 42px;
	    margin-top: 34px;
	     width: 298px;
		color:#000;
	}
	.qrtitle{
		clear: both;
	    font-size: 14px;
	    font-weight: bold;
	    width: 100%;
	}
	.qrdesc{
		float: left;
	    font-size: 12px;
	    font-weight: bold;
	    height: 105px;
	    margin-right: 6px;
		margin-top:2px;
	    width: 48%;
		line-height:12px;
		word-wrap:break-word;
	}
	.mainqr{
		float: left;
	    margin-left: 23px;
	    margin-top: 6px;
	    width: 40%;
	}
	.vin_section{
		line-height: 17px;
		padding-left: 110px;
		padding-top: 485px;
		font-size: 14px;
	}
	.msrp_section{
		padding-left: 80px;
		padding-top: 32px;
		width: 165px;
	}
	.standard .font_MED {
	    font-size: 14px;
	    line-height: 14px;
	  }
	  .standard .font_SM{
	    font-size: 12px;
	    line-height: 12px;
	  }
	  .standard .font_LG{
	    font-size: 16px;
	    line-height: 16px;
	  }
	  .standard .font_XL{
	    font-size: 20px;
	    line-height: 20px;
	  }
	  .standard .font_XXL{
	    font-size: 24px;
	    line-height: 24px;
	  }

	  .narrow .font_MED {
	    font-size: 12px;
	    line-height: 12px;
	  }
	  .narrow .font_SM{
	    font-size: 10px;
	    line-height: 10px;
	  }
	  .narrow .font_LG{
	    font-size: 14px;
	    line-height: 14px;
	  }
	  .narrow .font_XL{
	    font-size: 18px;
	    line-height: 18px;
	  }
	  .narrow .font_XXL{
	    font-size: 20px;
	    line-height: 20px;
	  }
	  .narrow .mediumT .medium_qr_code .qr_title{
    font-size: 20px;
      font-weight: bold;
      height: 40px;
      text-align: center;
      width: 100%;
    padding-top:5px;
  }
  .narrow .mediumT .medium_qr_code .qr_float{
    clear: both;
      height: 120px;
      text-align: center;
      width: 100%;
  }
  .narrow .mediumT .medium_qr_code .qr_text{
    float: left;
      font-size: 16px;
      height: 120px;
      text-align: left;
      width: 60%;
  }
  .narrow .mediumT .medium_qr_code .qr_code{
    float: right;
      height: 120px;
      text-align: center;
      width: 40%;
  }
  .narrow .mediumT .medium_qr_code .qr_code img{
    width:80% !important;
    height:auto !important;
  }
  .narrow .mediumT .medium_qr_code .qr_footer{
    font-size: 10px;
      height: 40px;
      line-height: 12px;
      text-align: center;
      width: 100%;
  }

  .narrow .mediumT .medium_bar_code .bar_title{
    font-size: 18px;
      font-weight: bold;
      height: 25px;
      text-align: center;
      width: 90%;
  }
  .narrow .mediumT .medium_bar_code .bar_float{
    clear: both;
      height: 150px;
      padding-left: 10px;
      text-align: center;
      width: 90%;
  }
  .narrow .mediumT .medium_bar_code .bar_text{
      font-size: 12px;
      height: 70px;
      text-align: left;
      width: 100%;
  }
  .narrow .mediumT .medium_bar_code .bar_code{
      text-align: center;
      width: 90%;
  }
  .narrow .mediumT .medium_bar_code .bar_code img{
    height: 70px !important;
      width: 190px !important;
  }
  .narrow .mediumT .medium_bar_code .bar_footer{
    font-size: 9px;
      height: 40px;
      line-height: 12px;
      text-align: center;
      width: 100%;
  }

  .standard .mediumT .medium_qr_code .qr_title{
    font-size: 20px;
      font-weight: bold;
      height: 40px;
      text-align: center;
      width: 100%;
    padding-top:5px;
  }
  .standard .mediumT .medium_qr_code .qr_float{
    clear: both;
      height: 140px;
      text-align: center;
      width: 100%;
  }
  .standard .mediumT .medium_qr_code .qr_text{
    float: left;
      font-size: 16px;
      height: 140px;
      text-align: left;
      width: 60%;
  }
  .standard .mediumT .medium_qr_code .qr_code{
    float: right;
      height: 140px;
      text-align: center;
      width: 40%;
  }
  .standard .mediumT .medium_qr_code .qr_code img{
    width:80% !important;
    height:auto !important;
  }
  .standard .mediumT .medium_qr_code .qr_footer{
    font-size: 10px;
      height: 40px;
      line-height: 12px;
      text-align: center;
      width: 100%;
  }

  .standard .mediumT .medium_bar_code .bar_title{
    font-size: 20px;
      font-weight: bold;
      height: 25px;
      text-align: center;
      width: 90%;
  }
  .standard .mediumT .medium_bar_code .bar_float{
    clear: both;
      height: 160px;
      padding-left: 10px;
      text-align: center;
      width: 90%;
  }
  .standard .mediumT .medium_bar_code .bar_text{
      font-size: 14px;
      height: 70px;
      text-align: left;
      width: 100%;
  }
  .standard .mediumT .medium_bar_code .bar_code{
      text-align: center;
      width: 90%;
  }
  .standard .mediumT .medium_bar_code .bar_code img{
    height: 90px !important;
      width: 250px !important;
  }
  .standard .mediumT .medium_bar_code .bar_footer{
    font-size: 11px;
      height: 40px;
      line-height: 12px;
      text-align: center;
      width: 100%;
  }
  .topT .medium_qr_code .qr_title{
    font-size: 20px;
      font-weight: bold;
      height: 25px;
      text-align: center;
      width: 100%;
  }
  .topT .medium_qr_code .qr_float{
    clear: both;
      height: 140px;
      text-align: center;
      width: 100%;
  }
  .topT .medium_qr_code .qr_text{
    float: left;
      font-size: 18px;
      height: 140px;
      text-align: left;
      width: 60%;
  }
  .topT .medium_qr_code .qr_text2{
    float: left;
      font-size: 18px;
      height: 150px;
      text-align: left;
      width: 100%;
    clear:both;
  }
  .topT .medium_qr_code .qr_code{
    float: right;
      height: 140px;
      text-align: center;
      width: 40%;
  }
  .topT .medium_qr_code .qr_code img{
    width:80% !important;
    height:auto !important;
  }
  .topT .medium_qr_code .qr_footer{
    font-size: 12px;
      height: 40px;
      line-height: 13px;
      text-align: center;
      width: 100%;
  }

  .topT .medium_bar_code .bar_title{
    font-size: 20px;
      font-weight: bold;
      height: 25px;
      text-align: center;
      width: 96%;
  }
  .topT .medium_bar_code .bar_float{
    clear: both;
      height: 300px;
      text-align: center;
      width: 96%;
  }
  .topT .medium_bar_code .bar_text{
      font-size: 14px;
      height: 170px;
      text-align: left;
      width: 100%;
  }
  .topT .medium_bar_code .bar_code{
      text-align: center;
      width: 100%;
  }
  .topT .medium_bar_code .bar_code img{
    height: 120px !important;
      width: 300px !important;
  }
  .topT .medium_bar_code .bar_footer{
    font-size: 11px;
      height: 40px;
      line-height: 12px;
      text-align: center;
      width: 96%;
  }

  .largeT .medium_qr_code .qr_title{
    font-size: 20px;
      font-weight: bold;
      height: 25px;
      text-align: center;
      width: 100%;
  }
  .largeT .medium_qr_code .qr_float{
    clear: both;
      height: 140px;
      text-align: center;
      width: 100%;
  }
  .largeT .medium_qr_code .qr_text{
    float: left;
      font-size: 18px;
      height: 140px;
      text-align: left;
      width: 60%;
  }
  .largeT .medium_qr_code .qr_text2{
    float: left;
      font-size: 18px;
      height: 140px;
      text-align: left;
      width: 100%;
    clear:both;
  }
  .largeT .medium_qr_code .qr_code{
    float: right;
      height: 140px;
      text-align: center;
      width: 40%;
  }
  .largeT .medium_qr_code .qr_code img{
    width:80% !important;
    height:auto !important;
  }
  .largeT .medium_qr_code .qr_footer{
    font-size: 12px;
      height: 40px;
      line-height: 13px;
      text-align: center;
      width: 100%;
  }

  .largeT .medium_bar_code .bar_title{
    font-size: 20px;
      font-weight: bold;
      height: 25px;
      text-align: center;
      width: 96%;
  }
  .largeT .medium_bar_code .bar_float{
    clear: both;
      height: 300px;
      text-align: center;
      width: 96%;
  }
  .largeT .medium_bar_code .bar_text{
      font-size: 14px;
      height: 170px;
      text-align: left;
      width: 100%;
  }
  .largeT .medium_bar_code .bar_code{
      text-align: center;
      width: 100%;
  }
  .largeT .medium_bar_code .bar_code img{
    height: 120px !important;
      width: 300px !important;
  }
  .largeT .medium_bar_code .bar_footer{
    font-size: 11px;
      height: 40px;
      line-height: 12px;
      text-align: center;
      width: 96%;
  }
  .infographic {
    clear: both;
    height: auto;
  }
  .infographic .stock_image {
    clear: both;
  }
</style>
<script type="text/javascript">
	export default{
		props: [
			'vid'
		],
		data(){
			return{
				print_infos: [],
				base_url: window.laravel.base_url,
				dealer_info: {}, //Dealer information from dealer ID
				cdn_url: 'https://d1ja3ktoroz7zi.cloudfront.net/',
				fcdn_url: 'https://d1xlji8qxtrdmo.cloudfront.net/',
			}
		},
		created : function()
		{
			this.fetchData();
		},
		methods : {
			/**
			 * Fetch print vehicle information when created vue dom
			 *
			 * @return Object
			 */
			fetchData()
			{
				var that =this;
				var vids = this.vid;
				if(Array.isArray(vids)){
					vids = JSON.stringify(vids);
				}
				let get_multiprint_data_uri = window.laravel.base_url + '/get_multiprint_data';
				this.axios.post(get_multiprint_data_uri, { vid : vids}).then((response) => {
					that.dealer_info = response.data.dealer_info;
					response.data.print_infos.forEach(function(item){
						var obj = {};
						obj.vehicle_info = item.vehicle_info;
						obj.template_builder = item.template_builder;
						obj.template_data = item.template_data;
						obj.ad_datas = item.ad_data;
						obj.bold3 = item.bold3;
						obj.bold4 = item.bold4;
						obj.print_style = item.print_style;
						obj.adStyle = item.template_data.ADDENDUM_STYLE;

						if(obj.template_builder && obj.template_builder.QR_URL){
							var $posvin = obj.template_builder.QR_URL.indexOf('[VIN]');
			            	var $posstock = obj.template_builder.QR_URL.indexOf('[STOCK]');
			            	obj.qr_url = obj.template_builder.QR_URL;
			            	if($posvin){
			            		obj.qr_url = obj.qr_url.replace('[VIN]', obj.vehicle_info.VIN_NUMBER);
			            	}
			            	if($posstock){
			            		obj.qr_url = obj.qr_url.replace('[STOCK]', obj.vehicle_info.STOCK_NUMBER);
			            	}
						}else{
							var $posvin = obj.template_data.QR_ADDRESS.indexOf('[VIN]');
			            	var $posstock = obj.template_data.QR_ADDRESS.indexOf('[STOCK]');
			            	obj.qr_url = obj.template_data.QR_ADDRESS;
			            	if($posvin){
			            		obj.qr_url = obj.qr_url.replace('[VIN]', obj.vehicle_info.VIN_NUMBER);
			            	}
			            	if($posstock){
			            		obj.qr_url = obj.qr_url.replace('[STOCK]', obj.vehicle_info.STOCK_NUMBER);
			            	}
			            }

						if(obj.adStyle == 'standard' || obj.adStyle == 'narrow' || obj.adStyle == 'Narrow Custom 2' || obj.adStyle == 'Narrow Custom 2p' || obj.adStyle == 'Standard Branded' || obj.adStyle == 'Dealer Branded Custom QR' || obj.adStyle == 'Dealer Branded with VIN Barcode'){
							obj.logo_section = true;
							obj.logo_img = obj.template_data.DEALER_LOGO;
						}else{
							obj.logo_section = false;
							obj.logo_img = '';
						}
						if(obj.adStyle == 'Custom1 SMS'){
							obj.last5 = obj.vehicle_info.VIN_NUMBER.substr(-5);
						}
						obj.barcode_url = item.barcode_url;
						obj.base_price = item.base_price;
						//get print information
					  	let uri = window.laravel.base_url + '/get_print_data';
						that.axios.post(uri, { 'id': item.vid }).then((response1) => {
							obj.vname = response1.data.year+' '+response1.data.make+' '+response1.data.model;
						  	obj.vstock = response1.data.stock;
						  	obj.vvin = response1.data.vin;
						  	obj.vprice = response1.data.price;
						  	obj.vtotal = response1.data.total_price;
						  	obj.voptions = response1.data.options1;
						  	obj.amsrp = response1.data.amsrp;
						  	obj.aprice = response1.data.aprice;
						  	that.print_infos.push(obj);
						});
					});
					
					// if(this.adStyle == 'standard' || this.adStyle == 'narrow' || this.adStyle == 'Custom1 SMS'){
					// 	this.showsection = true;
					// }else{
					// 	this.showsection = false;
					// }
					console.log(that.print_infos);
				});

			},


			/* For Dynamic Style */
			Printit_style: function(index){
				if(this.print_infos[index] && this.print_infos[index].print_style){
					if(!this.print_infos[index].template_builder){
						if(this.print_infos[index].template_data.ADDENDUM_STYLE && this.print_infos[index].print_style[this.print_infos[index].template_data.ADDENDUM_STYLE].Printit){
							var style = this.print_infos[index].print_style[this.print_infos[index].template_data.ADDENDUM_STYLE].Printit;
							return {
								'background-image' : style['background-image'],
								'background-size': style['background-size'],
								'background-color': style['background-color'],
								'left': style['left'],
								'width': style['width'],
								'color': style['color'],
								'height': style['height'],
								'position': style['position'],
								'background-color': style['background-color'],
								'padding-bottom': style['padding-bottom'],
								'float': style['float'],
								'font-family': style['font-family']
							}
						}	
					}else{
						var bg_image = '';
						if(this.print_infos[index].template_builder.BORDER){
							bg_image = this.cdn_url+this.print_infos[index].template_builder.BORDER_URL;
						}
						if(this.print_infos[index].template_builder.BACKGROUND_IMAGE){
							bg_image = this.cdn_url+this.print_infos[index].template_builder.BACKGROUND_IMAGE;
						}
						return {
							'background-image': bg_image?'url('+bg_image+')':'',
							'background-size': this.print_infos[index].template_builder.TEMPLATE_WIDTH == 'Narrow'? '252px 985px': '346px 985px',
							'background-color': this.print_infos[index].template_builder.BACKGROUND,
							'width': this.print_infos[index].template_builder.TEMPLATE_WIDTH == 'Narrow'?'252px':'346px',
							'color': '#000',
							'padding': '0 10px',
							'height': '985px',
							'position': 'relative',
							'font-family': 'Arial, Helvetica, sans-serif'
						}
					}
				}
			},

			logo_section_style: function(index){
				var style = {};
				if(this.print_infos[index]){
					if(!this.print_infos[index].template_builder){
						if(this.print_infos[index].template_data.ADDENDUM_STYLE && this.print_infos[index].print_style[this.print_infos[index].template_data.ADDENDUM_STYLE] && this.print_infos[index].print_style[this.print_infos[index].template_data.ADDENDUM_STYLE].LogoSection){
							var style = this.print_infos[index].print_style[this.print_infos[index].template_data.ADDENDUM_STYLE].LogoSection;
							return {
								'height' : style['height'],
								'padding-top': style['padding-top']
							}
						}
					}else{
						return {
							'width': 'calc(100% - 20px)',
							'height': '100px',
							'text-align': 'center',
							'position': 'absolute',
							'margin': '0 auto',
							'top': this.print_infos[index].template_builder.LOGO_POSITION+'px',
						}
					}
				}
			},
			vehicle_info_style: function(index){
				if(this.print_infos[index] && this.print_infos[index].template_builder){
					return {
						'width': 'calc(100% - 20px)',
						'position': 'absolute',
						'top': this.print_infos[index].template_builder.VINFO_POSITION+'px',

					}
				}
			},
			logo_section_img_style: function(index){
				var style = {};
				if(this.print_infos[index]){
					if(!this.print_infos[index].template_builder && this.print_infos[index].template_data.ADDENDUM_STYLE && this.print_infos[index].print_style[this.print_infos[index].template_data.ADDENDUM_STYLE] && this.print_infos[index].print_style[this.print_infos[index].template_data.ADDENDUM_STYLE].LogoSection_img){
						var style = this.print_infos[index].print_style[this.print_infos[index].template_data.ADDENDUM_STYLE].LogoSection_img;
						return {
							'height' : style['height'],
							'width': style['width'],
							'max-width': style['max-width']
						}
					}	
				}
			},
			options_section_style: function(index){
				if(this.print_infos[index] && this.print_infos[index].template_builder){
					return {
						'width': 'calc(100% - 20px)',
						'position': 'absolute',
						'top': this.print_infos[index].template_builder.OPTIONS_POSITION+'px',
					}
				}
			},
			temp_subtotal_style: function(index){
				if(this.print_infos[index] && this.print_infos[index].template_builder){
					return {
						'width': 'calc(100% - 20px)',
						'position': 'absolute',
						'top': this.print_infos[index].template_builder.SUBTOTAL_POSITION+'px',	
					}
				}
			},
			second_section_style: function(index){
				var style = {};
				if(this.print_infos[index] && this.print_infos[index].print_style){
					if(!this.print_infos[index].template_builder && this.print_infos[index].template_data.ADDENDUM_STYLE && this.print_infos[index].print_style[this.print_infos[index].template_data.ADDENDUM_STYLE].Second_section){
						style = this.print_infos[index].print_style[this.print_infos[index].template_data.ADDENDUM_STYLE].Second_section;
						return {
							'height': style['height'],
							'margin': style['margin'],
						}
					}
				}
				
			},
			temp_total_style: function(index){
				if(this.print_infos[index] && this.print_infos[index].template_builder){
					return {
						'width': 'calc(100% - 20px)',
						'position': 'absolute',
						'top': this.print_infos[index].template_builder.TOTAL_POSITION+'px',	
					}
				}
			},
			total_style: function(index){
				var style = {};
				if(this.print_infos[index] && this.print_infos[index].print_style){
					if(!this.print_infos[index].template_builder && this.print_infos[index].template_data.ADDENDUM_STYLE && this.print_infos[index].print_style[this.print_infos[index].template_data.ADDENDUM_STYLE].Total){
						style = this.print_infos[index].print_style[this.print_infos[index].template_data.ADDENDUM_STYLE].Total;
						return {
							'position': style['position'],
							'top': style['top'],
							'margin-top' : style['margin-top'],
							'margin-left' : style['margin-left'],
							'font-size': style['font-size'],
							'font-weight': style['font-weight'],
							'font-family': style['font-family'],
							'width': style['width'],
						}
					}
				}
			},
			temp_address_style: function(index){
				if(this.print_infos[index] && this.print_infos[index].template_builder){
					return {
						'width': 'calc(100% - 20px)',
						'position': 'absolute',
						'top': this.print_infos[index].template_builder.ADDRESS_POSITION+'px',	
					}
				}
			},
			address_style: function(index){
				var style = {};
				if(this.print_infos[index] && this.print_infos[index].print_style){
					if(!this.print_infos[index].template_builder && this.print_infos[index].template_data.ADDENDUM_STYLE && this.print_infos[index].print_style[this.print_infos[index].template_data.ADDENDUM_STYLE].Address){
						style = this.print_infos[index].print_style[this.print_infos[index].template_data.ADDENDUM_STYLE].Address;
						return {
							'padding-top' : style['padding-top'],
							'font-size': style['font-size'],
							'font-family': style['font-family'],
						}
					}
				}
			},
			stock_image_style: function(index){
				var style = {};
				if(this.print_infos[index] && this.print_infos[index].print_style){
					if(!this.print_infos[index].template_builder && this.print_infos[index].template_data.ADDENDUM_STYLE && this.print_infos[index].print_style[this.print_infos[index].template_data.ADDENDUM_STYLE].Stock_image){
						style = this.print_infos[index].print_style[this.print_infos[index].template_data.ADDENDUM_STYLE].Stock_image;
						return {
							'top' : style['top'],
						}
					}
				}
			},
			stock_image_img_style: function(index){
				var style = {};
				if(this.print_infos[index] && this.print_infos[index].print_style){
					if(!this.print_infos[index].template_builder && this.print_infos[index].template_data.ADDENDUM_STYLE && this.print_infos[index].print_style[this.print_infos[index].template_data.ADDENDUM_STYLE].Stock_image_img){
						style = this.print_infos[index].print_style[this.print_infos[index].template_data.ADDENDUM_STYLE].Stock_image_img;
						return {
							'height' : style['height'],
						}
					}
				}
			},
			bar_float_style: function(index){
				var style = {};
				if(this.print_infos[index] && this.print_infos[index].print_style){
					if(!this.print_infos[index].template_builder && this.print_infos[index].template_data.ADDENDUM_STYLE && this.print_infos[index].print_style[this.print_infos[index].template_data.ADDENDUM_STYLE].Bar_float){
						style = this.print_infos[index].print_style[this.print_infos[index].template_data.ADDENDUM_STYLE].Bar_float;
						return {
							'height' : style['height'],
						}
					}
				}
			},
			bar_text_style: function(index){
				var style = {};
				if(this.print_infos[index] && this.print_infos[index].print_style){
					if(!this.print_infos[index].template_builder && this.print_infos[index].template_data.ADDENDUM_STYLE && this.print_infos[index].print_style[this.print_infos[index].template_data.ADDENDUM_STYLE].Bar_text){
						style = this.print_infos[index].print_style[this.print_infos[index].template_data.ADDENDUM_STYLE].Bar_text;
						return {
							'height' : style['height'],
						}
					}
				}
			},
			barcode_img_style: function(index){
				var style = {};
				if(this.print_infos[index] && this.print_infos[index].print_style){
					if(!this.print_infos[index].template_builder && this.print_infos[index].template_data.ADDENDUM_STYLE && this.print_infos[index].print_style[this.print_infos[index].template_data.ADDENDUM_STYLE].Bar_code_img){
						style = this.print_infos[index].print_style[this.print_infos[index].template_data.ADDENDUM_STYLE].Bar_code_img;
						return {
							'height' : style['height'],
						}
					}
				}
			},
			qr_text2_style: function(index){
				var style = {};
				if(this.print_infos[index] && this.print_infos[index].print_style){
					if(!this.print_infos[index].template_builder && this.print_infos[index].template_data.ADDENDUM_STYLE && this.print_infos[index].print_style[this.print_infos[index].template_data.ADDENDUM_STYLE].Qr_text2){
						style = this.print_infos[index].print_style[this.print_infos[index].template_data.ADDENDUM_STYLE].Qr_text2;
						return {
							'height' : style['height'],
						}
					}
				}
			},
			header_style: function(index){
				var style = {};
				if(this.print_infos[index] && this.print_infos[index].print_style){
					if(!this.print_infos[index].template_builder && this.print_infos[index].template_data.ADDENDUM_STYLE && this.print_infos[index].print_style[this.print_infos[index].template_data.ADDENDUM_STYLE].Header){
						style = this.print_infos[index].print_style[this.print_infos[index].template_data.ADDENDUM_STYLE].Header;
						return {
							'height' : style['height'],
							'margin' : style['margin'],
							'padding' : style['padding'],
						}
					}
				}
			},
			custom_msrp_style: function(index){
				var style = {};
				if(this.print_infos[index] && this.print_infos[index].print_style){
					if(!this.print_infos[index].template_builder && this.print_infos[index].template_data.ADDENDUM_STYLE && this.print_infos[index].print_style[this.print_infos[index].template_data.ADDENDUM_STYLE].Msrp){
						style = this.print_infos[index].print_style[this.print_infos[index].template_data.ADDENDUM_STYLE].Msrp;
						return {
							'width' : style['width'],
							'margin' : style['margin'],
							'text-align' : style['text-align'],
						}
					}
				}
			},
			baseprice_style: function(index){
				var style = {};
				if(this.print_infos[index] && this.print_infos[index].print_style){
					if(!this.print_infos[index].template_builder && this.print_infos[index].template_data.ADDENDUM_STYLE && this.print_infos[index].print_style[this.print_infos[index].template_data.ADDENDUM_STYLE].Base){
						style = this.print_infos[index].print_style[this.print_infos[index].template_data.ADDENDUM_STYLE].Base;
						return {
							'font-size' : style['font-size'],
							'margin' : style['margin'],
							'font-weight' : style['font-weight'],
							'width' : style['width'],
						}
					}
				}
			},
			options_style: function(index){
				var style = {};
				if(this.print_infos[index] && this.print_infos[index].print_style){
					if(!this.print_infos[index].template_builder && this.print_infos[index].template_data.ADDENDUM_STYLE && this.print_infos[index].print_style[this.print_infos[index].template_data.ADDENDUM_STYLE].Options){
						style = this.print_infos[index].print_style[this.print_infos[index].template_data.ADDENDUM_STYLE].Options;
						return {
							'height' : style['height'],
						}
					}
				}
			},
			options_into_style: function(index){
				var style = {};
				if(this.print_infos[index] && this.print_infos[index].print_style){
					if(!this.print_infos[index].template_builder && this.print_infos[index].template_data.ADDENDUM_STYLE && this.print_infos[index].print_style[this.print_infos[index].template_data.ADDENDUM_STYLE].Options_into){
						style = this.print_infos[index].print_style[this.print_infos[index].template_data.ADDENDUM_STYLE].Options_into;
						return {
							'line-height' : style['line-height'],
						}
					}
				}
			},
			stock_font: function(){

			},
			vin_font: function(){

			},
			year_font: function(){

			},
			make_font: function(){

			},
			model_font: function(){

			},
			color_font: function(){

			},
			trim_font: function(){

			},
			mileage_font: function(){

			},
			msrp_style: function(){

			},
			section_style: function(){

			},
			option_style: function(){

			},
			opdesc_style: function(){

			},
			subtotal_style: function(index){
				var style = {};
				if(this.print_infos[index] && this.print_infos[index].print_style){
					if(this.print_infos[index].template_builder && this.print_infos[index].template_builder.TEMPLATE_WIDTH && this.print_infos[index].template_builder.TEMPLATE_LAYOUT && this.print_infos[index].print_style['tb_'+this.print_infos[index].template_builder.TEMPLATE_WIDTH+'_'+this.print_infos[index].template_builder.TEMPLATE_LAYOUT].Subtotal){
						style = this.print_infos[index].print_style['tb_'+this.print_infos[index].template_builder.TEMPLATE_WIDTH+'_'+this.print_infos[index].template_builder.TEMPLATE_LAYOUT].Subtotal;
						return {
							'top' : style['top'],
							'font-size': style['font-size'],
							'display': style['display'],
						}
					}else{
						if(this.print_infos[index].template_data.ADDENDUM_STYLE && this.print_infos[index].print_style[this.print_infos[index].template_data.ADDENDUM_STYLE].Subtotal){
							style = this.print_infos[index].print_style[this.print_infos[index].template_data.ADDENDUM_STYLE].Subtotal;
							return {
								'top' : style['top'],
								'font-size': style['font-size'],
								'display': style['display'],
							}
						}
					}	
				}
			},
			temp_footer_style: function(index){
				if(this.print_infos[index] && this.print_infos[index].template_builder){
					return {
						'width': 'calc(100% - 20px)',
						'position': 'absolute',
						'top': this.print_infos[index].template_builder.FOOTER_POSITION+'px',
						'height': this.print_infos[index].template_builder.FOOTER_HEIGHT+'px',
					}
				}
			}
		},
		
		computed : {
			
		},
		name : 'multiprint'
	}
</script>