<template>
	<div id="printit" :style="printit">
    	<div id="second-section" :style="second_section" v-show="sms_temp_data.TEMPLATE != 'SMS Custom 1' || sms_temp_data.SMS_CODE_CHECK != '0'">
    		<div class="sms" :style="sms_style">
    			{{ sms_code }}
    		</div>
    		
    		<div class="model" :style="model_style" v-if="sms_temp_data.TEMPLATE == 'SMS'">
    			{{ vehicle_info.YEAR }} {{ vehicle_info.MODEL }}
    		</div>
    		<div class="bold1" v-if="sms_temp_data.TEMPLATE == 'SMS'">
    			{{ vehicle_info.MAKE }} Stock # {{ vehicle_info.STOCK_NUMBER }} <br/>
    			{{ vehicle_info.EXT_COLOR }}
    		</div>
    		<div class="model" :style="model_style" v-if="sms_temp_data.TEMPLATE == 'SMS Custom 1'" v-show="sms_temp_data.INFO_CHECK != '0'">
    			Make: {{ vehicle_info.YEAR }} {{ vehicle_info.MAKE }} <br/>
    			Model: {{ vehicle_info.MODEL }} <br/> 
    			TRIM: {{ vehicle_info.TRIM }} <br/>
    			Stock: {{ vehicle_info.STOCK_NUMBER }} <br/>
    			VIN: {{ vehicle_info.VIN_NUMBER }}
    		</div>
		</div>
 		<div class="logo" :style="logo_style" v-show="sms_temp_data.TEMPLATE != 'SMS Custom 1' || sms_temp_data.LOGO_CHECK != '0'">
    		<img v-bind:src="'http://d1xlji8qxtrdmo.cloudfront.net/'+ sms_temp_data.LOGO" style="height:80px; width:auto;" />
    	</div>
	</div>
</template>
<style type="text/css">
	#printit{
		background-position:top;
		background-size: 346px 985px;
		height: 1000px;
		width: 346px;
		top: 0;
		margin: 0;
	   	font-family:Arial, Helvetica, sans-serif;
	}
	.bold1{
      	font-family: Arial,Helvetica,sans-serif;
	    font-size: 16px;
	    line-height: 16px;
	    padding: 0 0 0 50px;
	    text-align: center;
	    width: 200px;
    }
</style>
<script type="text/javascript">
	export default{
		props: [
			'vid',
		],
		data(){
			return{
				vehicle_info: {}, //vehicle information from vid,
				dealer_info: {}, //Dealer infromation
				sms_temp_data: {}, //SMS Template
				error_msg: '', // Show Error Message
				sms_code : '',

			}
		},
		created : function()
		{
			this.fetchData();
		},
		watch : {
			vid : function(){
				this.fetchData();
			}
		},
		methods : {
			/**
			 * Fetch print vehicle information when created vue dom
			 *
			 * @return Object
			 */
			fetchData()
			{
				let uri = window.laravel.base_url + '/get_data_for_printsms';
				this.axios.post(uri, { vid : this.vid}).then((response) => {
					if(response.data.status == 'success'){
						this.vehicle_info = response.data.vehicle_info;
						this.dealer_info = response.data.dealer_info;
						this.sms_temp_data = response.data.sms_temp_data;
						this.sms_code = this.dealer_info.SMS_PREFIX + this.vehicle_info.VIN_NUMBER.replace(/ /gi, '').substr(-5);
					}else{
						this.error_msg = response.data.msg;
					}
				});
			}
		},
		/* For Dynamic Style */
		computed : {
			printit : function() {
				let bg_endpoints = '';
				if(this.sms_temp_data.TEMPLATE == "SMS"){
					bg_endpoints = this.sms_temp_data.COLOR;
				}else if(this.sms_temp_data.TEMPLATE == 'SMS Custom 1'){
					bg_endpoints = this.sms_temp_data.CUSTOM1_BG;
				}
				return {
					'background-image' : 'url(http://d1xlji8qxtrdmo.cloudfront.net/'+ bg_endpoints +')',
					
				}
			},
			second_section : function(){
				if(this.sms_temp_data.TEMPLATE == "SMS"){
					return {
						'overflow' : 'hidden',
						'width' : '90%',
						'margin' : '150px 0px 0px 20px',
						'height' : '605px',
					}
				}else if(this.sms_temp_data.TEMPLATE == 'SMS Custom 1'){
					return {
						'height' : '540px',
						'margin' : '265px 0 0 20px',
						'overflow' : 'hidden',
						'width' : '90%',
					}
				}
			},
			sms_style : function() {
				if(this.sms_temp_data.TEMPLATE == "SMS"){
					return {
						'font-size' : '50px',
						'font-weight' : 'bold',
						'line-height' : '42px',
						'padding' : '255px 0 0 28px',
						'text-align' : 'center',
						'width' : '220px'
					}
				}else if(this.sms_temp_data.TEMPLATE == 'SMS Custom 1'){
					return {
						'font-size' : '46px',
						'font-weight' : 'bold',
						'line-height' : '46px',
						'padding' : '255px 0 0 38px',
						'text-align' : 'center',
						'width' : '226px'
					}
				}
			},
			model_style : function() {
				if(this.sms_temp_data.TEMPLATE == "SMS"){
					return {
						'font-size' : '16px',
						'font-weight' : 'bold',
						'line-height' : '16px',
						'overflow' : 'hidden',
						'padding' : '200px 0 0 50px',
						'text-align' : 'center',
						'width' : '200px'
					}
				}else if(this.sms_temp_data.TEMPLATE == 'SMS Custom 1'){
					return {
						'font-size' : '16px',
						'line-height' : '16px',
						'overflow' : 'hidden',
						'padding' : '150px 0 0 35px',
						'width' : '250px'
					}
				}
			},

			logo_style : function() {
				if(this.sms_temp_data.TEMPLATE == "SMS"){
					return {
					 	'padding' : '100px 0 0 20px',
					    'text-align' : 'center',
					    'width' : '292px'
					}
				}else if(this.sms_temp_data.TEMPLATE == 'SMS Custom 1'){
					return {
					 	'padding' : '35px 0 0 10px',
					    'text-align' : 'center',
					    'width' : '325px'
					}
				}
			}

		},
		name : 'phonesmsprint'
	}
</script>
