<!-- For Mobile Nav Tab -->
<template>
	<div id="template_page">
    <v-app id="template_build_app">
      <TemplateHeader :temp_id="temp_id"></TemplateHeader>
      <div class="container">
        <div class="row">
          <!-- Left Base Setting Part Start -->
          <div class="col-md-9 template_option_content">
            <v-form v-model="template_frm" ref="save_template_frm" lazy-validation>
              <v-container grid-list-md>
                
                <v-layout row>
                  <v-flex xs12>
                    <v-tabs
                      slot="extension"
                      v-model="main_tab"
                      grow
                      style="color:white"
                      hide-slider
                    >
                      <v-tab
                        key="mtab1"
                      >Width</v-tab>
                      <v-divider vertical></v-divider>
                      <v-tab
                        key="mtab2"
                      >Layout</v-tab>
                      <v-divider vertical></v-divider>
                      <v-tab
                        key="mtab3"
                      >Colors / Background</v-tab>
                      <v-divider vertical></v-divider>
                      <v-tab
                        key="mtab4"
                      >Logo</v-tab>
                      <v-divider vertical></v-divider>
                      <v-tab
                        key="mtab5"
                      >Infobox Type</v-tab>
                      <v-divider vertical></v-divider>
                      <v-tab
                        key="mtab6"
                      >Vehicle Info</v-tab>
                      <v-divider vertical></v-divider>
                      <v-tab
                        key="mtab7"
                      >Options Info</v-tab>
                      <v-divider vertical></v-divider>
                      <v-tab
                        key="mtab8"
                      >Dealer Info</v-tab>
                      <v-tab
                        style="display: none;"
                        key="mtab9"
                      >Save Template</v-tab>
                      <v-tab
                        style="display: none;"
                        key="mtab10"
                      >Start Template</v-tab>
                    </v-tabs>
                  </v-flex>
                </v-layout>
                <v-layout row class="tab_navbtn_group" v-if="main_tab != 9">
                  <v-flex lg12 style="text-align: center;">
                    <a href="#" class="tab_navigation_btn" :class="{'hidden': main_tab == 0}" v-on:click="backTabfunc()">&lt;&lt;Back&nbsp;</a>
                    <a href="#" class="tab_save_btn" :class="{'hidden': main_tab == 8}" v-on:click="save_template_tab()">Save</a>
                    <a href="#" class="tab_navigation_btn" :class="{'hidden': main_tab > 6}" v-on:click="()=>{ this.main_tab += 1 }">&nbsp;Next>></a>
                  </v-flex>
                </v-layout>
                <v-layout row class="main_tabs_content">
                  <v-flex xs12>
                    <v-tabs-items v-model="main_tab">
                      <v-tab-item
                        key="mtab1"
                      >
                        <v-container grid-list-md>
                          <v-layout row>
                            <v-flex lg12 xs12>
                              <v-subheader class="tab_title">WIDTH</v-subheader>
                            </v-flex>
                          </v-layout>
                          <v-layout row mt-2>
                            <v-flex lg12 xs12 style="text-align: center; margin-left: calc(50% - 200px);">
                              <div class="bg_style">
                                <p class="items_title">Narrow</p>
                                <img :src="narrow_w_img" height="300px" id="narrow_w_img" class="template_width_type" @click="change_width('Narrow')" />
                              </div>
                              <div class="bg_style">
                                <p class="items_title">Standard</p>
                                <img :src="standard_w_img" height="300px" id="standard_w_img" class="template_width_type active" @click="change_width('Standard')"/>
                              </div>
                            </v-flex>
                          </v-layout>
                        </v-container>
                      </v-tab-item>
                      <v-tab-item
                        key="mtab2"
                      >
                        <v-container grid-list-md>
                          <v-layout row>
                            <v-flex lg12 xs12>
                              <v-subheader class="tab_title">LAYOUT</v-subheader>
                            </v-flex>
                          </v-layout>
                          <v-layout row mt-2>
                            <v-flex xs12 style="text-align: center; margin-left: calc(50% - 400px);">
                              <div class="bg_style" v-if=" width_type == 'Standard' ">
                                <p class="items_title">Top</p>
                                <img :src="top_img" height="300px" id="top_img" class="template_layout_type" @click="change_layout('Top')" />
                              </div>
                              <div class="bg_style" v-if=" width_type == 'Standard' ">
                                <p class="items_title">Large</p>
                                <img :src="lg_img" height="300px" id="lg_img" class="template_layout_type" @click="change_layout('Large')"/>
                              </div>
                              <div class="bg_style">
                                <p class="items_title">Medium</p>
                                <img :src="md_img" height="300px" id="md_img" class="template_layout_type active" @click="change_layout('Medium')"/>
                              </div>
                              <div class="bg_style" v-if=" width_type == 'Standard' ">
                                <p class="items_title">Small</p>
                                <img :src="sm_img" height="300px" id="sm_img" class="template_layout_type" @click="change_layout('Small')"/>
                              </div>
                            </v-flex>
                          </v-layout>
                        </v-container>
                      </v-tab-item>
                      <v-tab-item
                        key="mtab3"
                      >
                        <v-container grid-list-md>
                          <v-layout row>
                            <v-flex lg12 xs12>
                              <v-subheader class="tab_title">COLORS</v-subheader>
                            </v-flex>
                          </v-layout>
                          <v-layout row mt-2>
                            <v-flex lg4 xs9 style="text-align: center;">
                              <p class="items_title2">Background Image</p>
                              <picture-input 
                                v-if="main_tab == 2"
                                ref="bgInput"
                                width="112.5" 
                                height="300" 
                                margin="16" 
                                size="10" 
                                button-class="btn btn-sm blue"
                                remove-button-class="btn btn-sm red"
                                removable
                                class="items_title2"
                                :custom-strings="{
                                  upload: '<h1>Bummer!</h1>',
                                  drag: `<span class='smalltxt'>Drag/Select a Background Image</span>`
                                }"
                                @change="changeBackImage"
                                @remove="removeBackImage">
                              </picture-input>
                            </v-flex>
                            <v-flex lg4 xs6 style="text-align: center;">
                              <p class="items_title2">Border Color</p>
                              <div v-for = "bg_info in base_border_info" class="colorid" @click="change_bg(bg_info.BG_URL, bg_info.BG_COLOR)" :style="{'background-color': '#'+bg_info.BG_COLOR }">
                              </div>
                            </v-flex>
                            <v-flex lg4 xs6 style="text-align: center;">
                              <p class="items_title2">Background Color</p>
                              <swatches v-model="bg_color_code" background-color="#3a6897" colors="text-advanced" popover-to="right" :trigger-style="{'margin':'auto', 'cursor':'pointer'}"></swatches>
                            </v-flex>
                          </v-layout>
                        </v-container>
                      </v-tab-item>
                      <v-tab-item
                        key="mtab4"
                      >
                        <v-container grid-list-md>
                          <v-layout row>
                            <v-flex lg12 xs12>
                              <v-subheader class="tab_title">LOGO</v-subheader>
                            </v-flex>
                          </v-layout>
                          <v-layout row mt-2>
                            <v-flex xs12 sm6 offset-sm3>
                              <v-layout row>
                                <v-flex xs6>
                                  <v-subheader class="items_title2">Visible Logo: &nbsp;</v-subheader>
                                </v-flex>
                                <v-flex xs4>
                                  <v-switch :label="logo_show?'Visible':'Invisible'" v-model="logo_show" hide-details style="margin-top: 8px;"></v-switch>
                                </v-flex>
                              </v-layout>
                            </v-flex>
                          </v-layout>
                          <picture-input 
                            v-if="main_tab == 3"
                            ref="logoInput"
                            width="650" 
                            height="200" 
                            margin="16" 
                            size="10" 
                            button-class="btn"
                            :custom-strings="{
                              drag: `<span class='lefttop'> Drag/Select a Logo Image </span><br/><span class='bottomtxt'>650 X 200</span>`
                            }"
                            :hideChangeButton="true"
                            @change="onChange">
                          </picture-input>
                        </v-container>
                      </v-tab-item>
                      <v-tab-item
                        key="mtab5"
                      >
                        <v-container grid-list-md>
                          <v-layout row>
                            <v-flex lg12 xs12>
                              <v-subheader class="tab_title">INFOBOX</v-subheader>
                            </v-flex>
                          </v-layout>
                          <v-layout row mt-2> 
                            <v-flex lg4 md4 xs4>
                              <ul class="nav">
                                <li class="infobox_tab"><a href='#' :class="{'active': footer_content_tab == 0}" v-on:click="changeInfobox(0)">Stock Image</a></li>
                                <li class="infobox_tab"><a href='#' :class="{'active': footer_content_tab == 1}" v-on:click="changeInfobox(1)">Upload an Image</a></li>
                                <li class="infobox_tab"><a href='#' :class="{'active': footer_content_tab == 2}" v-on:click="changeInfobox(2)">QR Code</a></li>
                                <li class="infobox_tab"><a href='#' :class="{'active': footer_content_tab == 3}" v-on:click="changeInfobox(3)">VIN Barcode</a></li>
                              </ul>
                              
                            </v-flex>
                            <v-flex lg6 md8 xs8 offset-lg2>
                              <div v-if="footer_content_tab == 0">
                                <v-container grid-list-md text-xs-center>
                                  <v-layout row>
                                    <v-flex xs12 sm10 offset-sm1>
                                      <v-card class="image_list_card" style="margin-top:-80px">
                                        <v-container
                                          fluid
                                          grid-list-lg
                                        >
                                          <v-layout row wrap>
                                            <v-flex xs12 v-for="(image, index) in stock_image_info" :key="image._ID">
                                              <v-card @click.native="select_stock_img(image.SI_IMAGE)" style="cursor: pointer;">
                                                <img width="100%" :src="'https://d1xlji8qxtrdmo.cloudfront.net/'+image.SI_IMAGE">
                                              </v-card>
                                            </v-flex>
                                          </v-layout>
                                        </v-container>
                                      </v-card>
                                    </v-flex>
                                  </v-layout>
                                </v-container>
                              </div>
                              <div v-if="footer_content_tab == 1">
                                <v-layout row>
                                  <v-container grid-list-md text-xs-center>
                                    <v-layout row>
                                      <v-flex xs12>
                                        <picture-input
                                          v-if="footer_content_tab == 1"
                                          ref="footerInput"
                                          width="335" 
                                          height="260" 
                                          margin="16" 
                                          size="10" 
                                          button-class="btn"
                                          :custom-strings="{
                                            upload: '<h1>Bummer!</h1>',
                                            drag: `<span class='normal'>Drag/Select a InfoBox Image</span>`
                                          }"
                                          @change="uploadStockImage">
                                        </picture-input>
                                      </v-flex>
                                    </v-layout>
                                  </v-container>
                                </v-layout>
                              </div>
                              <div v-if="footer_content_tab == 2">
                                <v-container grid-list-md text-xs-center>
                                  <v-layout row>
                                    <v-flex xs12>
                                      <v-layout row>
                                        <v-flex xs4>
                                          <v-subheader class="items_title3">Title: &nbsp;</v-subheader>
                                        </v-flex>
                                        <v-flex xs8>
                                          <v-text-field
                                            label="Type the QR Title"
                                            v-model="qr_code_title"
                                          ></v-text-field>
                                        </v-flex>
                                      </v-layout>
                                      <v-layout row>
                                        <v-flex xs4>
                                          <v-subheader class="items_title3">Text: &nbsp;</v-subheader>
                                        </v-flex>
                                        <v-flex xs8>
                                          <v-text-field
                                            label="Type the QR Text"
                                            v-model="qr_code_text"
                                          ></v-text-field>
                                        </v-flex>
                                      </v-layout>
                                      <v-layout row>
                                        <v-flex xs4>
                                          <v-subheader class="items_title3">Text2: &nbsp;</v-subheader>
                                        </v-flex>
                                        <v-flex xs8>
                                          <v-text-field
                                            label="Type the QR Text2"
                                            v-model="qr_code_text2"
                                          ></v-text-field>
                                        </v-flex>
                                      </v-layout>
                                      <v-layout row>
                                        <v-flex xs4>
                                          <v-subheader class="items_title3">QR URL: &nbsp;</v-subheader>
                                        </v-flex>
                                        <v-flex xs8>
                                          <v-text-field
                                            label="Type the QR URL"
                                            v-model="qr_code_url"
                                            hint="http://youraddress.com/[VIN] or [STOCK]"
                                          ></v-text-field>
                                        </v-flex>
                                      </v-layout>
                                      <v-layout row>
                                        <v-flex xs4>
                                          <v-subheader class="items_title3">Footer Text: &nbsp;</v-subheader>
                                        </v-flex>
                                        <v-flex xs8>
                                          <v-textarea
                                            label="Type the QR Footer Text"
                                            rows="7"
                                            v-model="qr_code_footer"
                                          ></v-textarea>
                                        </v-flex>
                                      </v-layout>
                                    </v-flex>
                                  </v-layout>
                                </v-container>
                              </div>
                              <div v-if="footer_content_tab == 3">
                                <v-container grid-list-md text-xs-center>
                                  <v-layout row>
                                    <v-flex xs12>
                                      <v-layout row>
                                        <v-flex xs4>
                                          <v-subheader class="items_title3">Title: &nbsp;</v-subheader>
                                        </v-flex>
                                        <v-flex xs8>
                                          <v-text-field
                                            label="Type the VIN Barcode Title"
                                            v-model="barcode_title"
                                          ></v-text-field>
                                        </v-flex>
                                      </v-layout>
                                      <v-layout row>
                                        <v-flex xs4>
                                          <v-subheader class="items_title3">Text: &nbsp;</v-subheader>
                                        </v-flex>
                                        <v-flex xs8>
                                          <v-text-field
                                            label="Type the VIN Barcode Text"
                                            v-model="barcode_text"
                                          ></v-text-field>
                                        </v-flex>
                                      </v-layout>
                                      <v-layout row>
                                        <v-flex xs4>
                                          <v-subheader class="items_title3">Footer Text: &nbsp;</v-subheader>
                                        </v-flex>
                                        <v-flex xs8>
                                          <v-textarea
                                            label="Type the VIN Barcode Footer Text"
                                            rows="7"
                                            v-model="barcode_footer"
                                          ></v-textarea>
                                        </v-flex>
                                      </v-layout>
                                    </v-flex>
                                  </v-layout>
                                </v-container>
                              </div>
                            </v-flex>
                          </v-layout>
                        </v-container>
                      </v-tab-item>
                      <v-tab-item
                        key="mtab6"
                      >
                        <v-container grid-list-md>
                          <v-layout row>
                            <v-flex lg12 xs12>
                              <v-subheader class="tab_title">VEHICLE INFO</v-subheader>
                            </v-flex>
                          </v-layout>
                          <v-layout row mt-2>
                            <v-flex class="vinfo_options" xs12>
                              <v-data-table
                                :headers="vinfo_headers"
                                :items="vinfo_items"
                                hide-actions
                                disable-initial-sort
                              >
                                <template slot="items" slot-scope="props">
                                  <td>{{ props.item.field }}</td>
                                  <td><v-switch :label="props.item.display?'Yes':'No'" v-model="props.item.display" hide-details></v-switch></td>
                                  <td><v-text-field v-model="props.item.val" hide-details></v-text-field></td>
                                  <td><v-switch :label="props.item.bold?'Yes':'No'" v-model="props.item.bold" hide-details></v-switch></td>
                                </template>
                              </v-data-table>
                              <v-container fluid grid-list-xl>
                                <v-layout wrap align-center>
                                  <v-flex xs4 sm4 md4>
                                      <v-subheader class="items_title2">Font Size</v-subheader>
                                  </v-flex>
                                  <v-flex xs8 sm8 md8>
                                      <v-select
                                        :items="vinfo_fsize_items"
                                        v-model="vinfo_fsize"
                                        label="Select"
                                        hide-details
                                      ></v-select>
                                  </v-flex>
                                </v-layout>
                              </v-container>
                            </v-flex>
                          </v-layout>
                        </v-container>
                      </v-tab-item>
                      <v-tab-item
                        key="mtab7"
                      >
                        <v-container grid-list-md>
                          <v-layout row>
                            <v-flex lg12 xs12>
                              <v-subheader class="tab_title">VEHICLE INFO</v-subheader>
                            </v-flex>
                          </v-layout>
                          <v-layout row mt-1>
                            <v-flex sm12 xs12>
                              <v-data-table
                                :headers="option_headers"
                                :items="option_items"
                                hide-actions
                                disable-initial-sort
                              >
                                <template slot="items" slot-scope="props">
                                  <td width="18%">{{ props.item.field }}</td>
                                  <td width="10%"><v-switch hide-details v-model="props.item.display" v-if="props.item.val != 'on' && props.item.val !='od'" ></v-switch></td>
                                  <td width="45%"><v-text-field hide-details v-model="props.item.val" v-if="props.item.val != 'on' && props.item.val !='od'"></v-text-field></td>
                                  <td width="17%"><v-select hide-details
                                        :items="option_fsize_items"
                                        v-model="props.item.fsize"
                                        label="Select"
                                      ></v-select></td>
                                  <td width="10%"><v-switch hide-details v-model="props.item.bold"></v-switch></td>
                                </template>
                              </v-data-table>
                            </v-flex>
                          </v-layout>
                        </v-container>
                      </v-tab-item>
                      <v-tab-item
                        key="mtab8"
                      >
                        <v-container grid-list-md>
                          <v-layout row>
                            <v-flex lg12 xs12>
                              <v-subheader class="tab_title">DEALER INFO</v-subheader>
                            </v-flex>
                          </v-layout>
                          <v-layout row mt-2>
                            <v-flex sm12 xs12>
                              <v-layout row>
                                <v-flex xs5 offset-xs1>
                                  <v-subheader class="items_title2">Dealer Address: &nbsp;</v-subheader>
                                </v-flex>
                                <v-flex xs5>
                                  <v-textarea
                                    label="Dealer Address"
                                    v-model="dealer_address"
                                  ></v-textarea>
                                </v-flex>
                              </v-layout>
                            </v-flex>
                          </v-layout>
                        </v-container>
                      </v-tab-item>
                    </v-tabs-items>
                    <v-container grid-list-md v-if="main_tab == 8">
                      <v-layout row>
                        <v-flex lg12 xs12>
                          <v-subheader class="tab_title">SAVE TEMPLATE</v-subheader>
                        </v-flex>
                      </v-layout>

                      <v-layout row style="margin-top: 30px;">
                        <v-flex xs4>
                          <v-subheader class="items_title2">Template Name: &nbsp;</v-subheader>
                        </v-flex>
                        <v-flex xs4>
                          <v-text-field
                            label="Type the template name"
                            v-model="template_name"
                            :rules="[v => !!v || 'Template Name is required']" required
                          ></v-text-field>
                        </v-flex>
                      </v-layout>

                      <v-layout row mt-4>
                        <v-flex xs4>
                          <v-subheader class="items_title2">Template Usage: &nbsp;</v-subheader>
                        </v-flex>
                        <v-flex xs4>
                          <v-btn-toggle v-model="template_for" style="margin-top: 6px;">
                            <v-btn flat value="New">
                              New
                            </v-btn>
                            <v-btn flat value="Used">
                              Used
                            </v-btn>
                            <v-btn flat value="Both">
                              Both
                            </v-btn>
                            <v-btn flat value="Use Later">
                              Use Later
                            </v-btn>
                          </v-btn-toggle>
                        </v-flex>
                      </v-layout>

                      <v-layout row mt-5>
                        <v-flex xs12 class="text-xs-center">
                          <v-btn color="success" @click="save_template" :disabled="!template_frm">Save Changes</v-btn>
                        </v-flex>
                      </v-layout>
                    </v-container>

                    <v-container grid-list-md v-if="main_tab == 9 && temp_id == 0">
                      <v-layout row>
                        <v-flex lg12 xs12>
                          <v-subheader class="tab_title">TEMPLATES</v-subheader>
                        </v-flex>
                      </v-layout>

                      <v-layout row style="margin-top: 150px;">
                        <v-flex xs3 offset-xs3>
                          <v-select
                            :items="templates"
                            v-model="cur_template"
                            dark
                            hide-details
                          ></v-select>
                        </v-flex>
                        <v-flex xs3 style="padding-top: 13px;">
                          <v-btn style="min-width: 142px;"  color="success" @click="edit_template">Modify</v-btn>
                        </v-flex>
                      </v-layout>

                      <v-layout row>
                        <v-flex xs3 offset-xs6>
                          <v-btn style="min-width: 142px;" color="success" @click="new_template">New Template</v-btn>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-form>
          </div>
          <!-- Left Base Setting Part End -->

          <!-- Middle Preview Part Start -->
          <div class="col-md-3 template_edit_content" :style="{'padding-left': 'calc(12.5% - '+frame_width/2+'px)'}">
            <div class="template_main_field transform" :style="{ 'background-color': bg_color_code, 'width': frame_width+'px', 'height': frame_height+'px'}" :class="{'standard': width_type=='Standard', 'narrow': width_type == 'Narrow'}">
              <img :src="img_path" :style="{'width': frame_width+'px', 'height': frame_height+'px'}" />
              <VueDragResize @clicked="logo_settings_func" :isActive="false" :parentLimitation="true" :x="15" :y = "positions.logo" axis="y" :w="(frame_width-30)" :h="100" :isResizable="false" >
                <img :src="logo_img" style="width: auto; height: auto; max-height: 100px;" v-if="logo_show" :style="{'max-width': (frame_width-30)+'px'}">
              </VueDragResize>
              <VueDragResize @clicked="vinfo_settings_func" :isActive="false" :parentLimitation="true" :x="15" :y = "positions.vinfo" axis="y" :w="(frame_width-30)" :h="90" :isResizable="false" class="vehicle_specs_content" :class="['font_'+vinfo_fsize]">
                <div class="stock" :class="{'bold': vinfo_items[0].bold }" v-if="vinfo_items[0].display">
                  <span>{{ vinfo_items[0].val }}</span>&nbsp;171398
                </div>
                <div class="vin" :class="{'bold': vinfo_items[1].bold }" v-if="vinfo_items[1].display">
                  <span>{{ vinfo_items[1].val }}</span>&nbsp;1HGCR2F58HA173337
                </div>
                <div class="year" :class="{'bold': vinfo_items[2].bold }" v-if="vinfo_items[2].display">
                  <span>{{ vinfo_items[2].val }}</span>&nbsp;2017
                </div>
                <div class="color" :class="{'bold': vinfo_items[5].bold }" v-if="vinfo_items[5].display">
                  <span>{{ vinfo_items[5].val }}</span>&nbsp;Brown
                </div>
                <div class="make" :class="{'bold': vinfo_items[3].bold }" v-if="vinfo_items[3].display">
                  <span>{{ vinfo_items[3].val }}</span>&nbsp;Honda
                </div>
                <div class="trim" :class="{'bold': vinfo_items[6].bold }" v-if="vinfo_items[6].display">
                  <span>{{ vinfo_items[6].val }}</span>&nbsp;Sport
                </div>
                <div class="model" :class="{'bold': vinfo_items[4].bold }" v-if="vinfo_items[4].display">
                  <span>{{ vinfo_items[4].val }}</span>&nbsp;Accord
                </div>
                <div class="mileage" :class="{'bold': vinfo_items[7].bold }" v-if="vinfo_items[7].display">
                  <span>{{ vinfo_items[7].val }}</span>&nbsp;10
                </div>
              </VueDragResize>
              <VueDragResize @clicked="option_settings_func" :isActive="false" :parentLimitation="true" :x="15" :y = "positions.options" axis="y" :w="(frame_width-30)" :h="280" :isResizable="false" class="">
                <div class="options">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr class="msrp" :class="['font_'+option_items[0].fsize, {'bold': option_items[0].bold}]" v-if="option_items[0].display">
                        <td><span id="msrp">{{ option_items[0].val }}</span></td>
                        <td><span>$26,190.00</span></td>
                      </tr>
                      <tr>
                        <td colspan="2"><div style="height:2px; width:100%;background-color:black;"></div></td>
                      </tr>
                      <tr class="section" :class="['font_'+option_items[1].fsize, {'bold': option_items[1].bold}]" v-if="option_items[1].display">
                        <td colspan="2"><span id="section">{{ option_items[1].val }}</span></td>
                      </tr>
                      <tr v-for="n in 4">
                        <td style="padding:0px">
                          <span class="option" :class="['font_'+option_items[4].fsize, {'bold': option_items[4].bold}]">Option {{n}}</span>
                          <br>                 
                          <div class="opdesc" :class="['font_'+option_items[5].fsize, {'bold': option_items[5].bold}]">
                            Description                
                          </div>
                        </td>
                        <td valign="top" style="padding:0px"><span class="option" :class="['font_'+option_items[4].fsize, {'bold': option_items[4].bold}]">$49.00</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </VueDragResize>
              <VueDragResize @clicked="option_settings_func" :isActive="false" :parentLimitation="true" :x="15" :y = "positions.subtotal" axis="y" :w="(frame_width-20)" :h="25" :isResizable="false">
                <div class="subtotal" :class="['font_'+option_items[2].fsize, {'bold': option_items[2].bold}]" v-if="option_items[2].display">
                  <div id="subtotal" style="text-align:right" :style="{'width': (frame_width-(width_type == 'Narrow'?20:30)-(frame_width*0.3+10)) + 'px'}">{{ option_items[2].val }}</div>
                  <div id="subtotal_num" :style="{'width':(frame_width*0.3)+'px'}">$196.00</div> 
                </div>
              </VueDragResize>
              <VueDragResize @clicked="option_settings_func" :isActive="false" :parentLimitation="true" :x="10" :y = "positions.total" axis="y" :w="(frame_width-20)" :h="25" :isResizable="false">
                <div class="total" :class="['font_'+option_items[3].fsize, {'bold': option_items[3].bold}]" v-if="option_items[3].display">
                  <span id="total" :style="{'width': (frame_width-(width_type == 'Narrow'?20:30)-(frame_width*0.41)) + 'px'}">{{ option_items[3].val }}</span>
                  <div id="total_num" :style="{'width':(frame_width*0.41)+'px', 'margin-right': width_type == 'Standard'?'10px':''}">$27,186.00</div> 
                </div>
              </VueDragResize>
              <VueDragResize @clicked="address_settings_func" :isActive="false" :parentLimitation="true" :x="15" :y = "positions.address" axis="y" :w="(frame_width-30)" :h="65" :isResizable="false">
                <div class="address font_MED bold" style="white-space: pre-wrap ">
                  <span class="daddress">{{ dealer_address }}</span>
                </div>
              </VueDragResize>

              <VueDragResize @clicked="footer_settings_func" :isActive="false" :parentLimitation="true" :x="10" :y = "positions.footer" axis="y" :w="(frame_width-20)" :h="footer_height" :isResizable="false" style="text-align:-webkit-center;">
                <div class="infographic" :style="{'width': (frame_width-20)+'px'}" v-if="footer_type == 'default_image'">
                  <img v-if="stock_img" class="stock_image stockin" :style="{'width': (frame_width-20)+'px', 'height': footer_height+'px'}" :src="stock_img">
                </div>
                <div class="infographic" :style="{'width': (frame_width-20)+'px'}" v-if="footer_type == 'upload_image'">
                  <img v-if="stock_upload_img" class="stock_image stockin" :style="{'width': (frame_width-20)+'px', 'height': footer_height+'px'}" :src="stock_upload_img">
                </div>
                <div class="infographic" :style="{'width': (frame_width-30)+'px'}" :class="{'mediumT': layout_type == 'Medium', 'topT': layout_type == 'Top', 'largeT': layout_type == 'Large'}" v-if="footer_type == 'qr_code'">
                  <div class="medium_qr_code stockin">
                    <div class="qr_title" v-if=" layout_type != 'Small' ">
                      {{qr_code_title}}
                    </div>
                    <div class="qr_float">
                        <div class="qr_text" v-if=" layout_type != 'Small' ">
                          {{ qr_code_text }}
                        </div>
                        <div class="qr_code">
                          <img :src="qr_code_img" :style="{'height': layout_type == 'Small'?(footer_height-5)+'px':''}">
                        </div>
                    </div>
                    <div class="qr_text2" v-if="layout_type == 'Top' || layout_type == 'Large'">
                      {{ qr_code_text2 }}
                    </div>
                    <div class="qr_footer" v-html="qr_code_footer" v-if=" layout_type != 'Small' ">
                    </div>
                  </div>
                </div>
                <div class="infographic" :style="{'width': (frame_width-30)+'px'}" :class="{'mediumT': layout_type == 'Medium', 'topT': layout_type == 'Top', 'largeT': layout_type == 'Large'}" v-if="footer_type == 'barcode'">
                  <div class="medium_bar_code stockin">
                    <div class="bar_title" v-if=" layout_type != 'Small' ">
                      {{barcode_title}}
                    </div>
                    <div class="bar_float">
                        <div class="bar_text" v-if=" layout_type != 'Small' ">
                          {{ barcode_text }}
                        </div>
                        <div class="bar_code" >
                          <img :src="bar_code_img" :style="{'width': layout_type == 'Small'?(frame_width-30)+'px':'', 'height': layout_type == 'Small'?(footer_height-5)+'px':''}">
                        </div>
                    </div>
                    <div v-if=" layout_type != 'Small' " class="bar_footer" style="white-space: pre-wrap " v-html="barcode_footer">
                    </div>
                  </div>
                </div>
              </VueDragResize>
            </div>
          </div>
          <!-- Middle Preview Part End -->
        </div>
      </div>
    </v-app>
  </div>
</template>
<style type="text/css">
  #template_page{
    padding-top: 30px;
  }
  .container{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
  }
  .template_edit_content{
    text-align: center;
  }
  .template_option_content{
    min-height: calc(100vh - 160px);
    border-right: 1px dotted #fff;
  }
  .template_options_settings{
    
  }
  .template_option_content .layout.row{
    margin-top: 20px;
  }
  .main_tabs_content{
    min-height: 380px;
  }
  .template_main_field{
    position: fixed;
    display: block;
    margin: auto;
    
  }
  .template_main_field.transform{
    transform: scale(.8, .8);
    top: -25px;
  }
  .vdr{
    cursor: pointer;
  }
  .vdr.active:before{
    left: 0;
  }
  .standard .font_MED {
    font-size: 14px;
    line-height: 14px;
  }
  .standard .font_SM{
    font-size: 12px;
    line-height: 12px;
  }
  .standard .font_LG{
    font-size: 16px;
    line-height: 16px;
  }
  .standard .font_XL{
    font-size: 20px;
    line-height: 20px;
  }
  .standard .font_XXL{
    font-size: 24px;
    line-height: 24px;
  }

  .narrow .font_MED {
    font-size: 12px;
    line-height: 12px;
  }
  .narrow .font_SM{
    font-size: 10px;
    line-height: 10px;
  }
  .narrow .font_LG{
    font-size: 14px;
    line-height: 14px;
  }
  .narrow .font_XL{
    font-size: 18px;
    line-height: 18px;
  }
  .narrow .font_XXL{
    font-size: 20px;
    line-height: 20px;
  }

  .vehicle_specs_content{
    text-align: left;
  }
  .vehicle_specs_content div{
    width: 50%;
    float: left;
    padding-top: 1px;
    padding-bottom: 1px;
  }
  .stock, .vin{
    width: 100% !important;
    clear: both;
  }
  .options{
    text-align: left;
  }
  .bold{
    font-weight: bold;
  }
  #subtotal {
    float: left;
    width: 90px;
  }
  #subtotal_num {
    float: right;
    margin-right: 10px;
    text-align: right;
  }
  #total {
    color: #fff;
    float: left;
    text-align: right;
    width: 105px;
  }
  #total_num {
    float: right;
    text-align: right;
    
  }
  .address {
    clear: both;
    font-weight: bold;
    text-align: left;
  }
  .infographic {
    clear: both;
    height: auto;
  }
  .infographic .stock_image {
    clear: both;
  }
  .template_width_type, .template_layout_type{
    cursor: pointer;
    opacity: .5;
    box-shadow: none;
  }
  .template_width_type.active, .template_layout_type.active{
    opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .colorid{
    width: 30px;
    height: 30px;
    float: left;
    border: 1px solid #FFF;
    cursor: pointer;
  }
  .vue-swatches__row{
    line-height: .5;
  }

  .picture-inner .picture-inner-text[data-v-43083542]{
    font-size: 15px!important;
  }

  .application--wrap{
    min-height: 100%;
  }
  .application.theme--light{
    background: none;
  }
  .application .theme--light.v-table tbody tr:not(:last-child), .theme--light .v-table tbody tr:not(:last-child){
    border-bottom: none;
  }
  .application .theme--light.v-table, .theme--light .v-table{
    background: none;
    /*color: #fff;*/
  }
  .image_list_card{
    height: 615px;
    overflow-y: scroll;
    background-color: initial!important;
  }
  
  .narrow .mediumT .medium_qr_code .qr_title{
    font-size: 20px;
      font-weight: bold;
      height: 40px;
      text-align: center;
      width: 100%;
    padding-top:5px;
  }
  .narrow .mediumT .medium_qr_code .qr_float{
    clear: both;
      height: 120px;
      text-align: center;
      width: 100%;
  }
  .narrow .mediumT .medium_qr_code .qr_text{
    float: left;
      font-size: 16px;
      height: 120px;
      text-align: left;
      width: 60%;
  }
  .narrow .mediumT .medium_qr_code .qr_code{
    float: right;
      height: 120px;
      text-align: center;
      width: 40%;
  }
  .narrow .mediumT .medium_qr_code .qr_code img{
    width:80% !important;
    height:auto !important;
  }
  .narrow .mediumT .medium_qr_code .qr_footer{
    font-size: 10px;
      height: 40px;
      line-height: 12px;
      text-align: center;
      width: 100%;
  }

  .narrow .mediumT .medium_bar_code .bar_title{
    font-size: 18px;
      font-weight: bold;
      height: 25px;
      text-align: center;
      width: 90%;
  }
  .narrow .mediumT .medium_bar_code .bar_float{
    clear: both;
      height: 150px;
      padding-left: 10px;
      text-align: center;
      width: 90%;
  }
  .narrow .mediumT .medium_bar_code .bar_text{
      font-size: 12px;
      height: 70px;
      text-align: left;
      width: 100%;
  }
  .narrow .mediumT .medium_bar_code .bar_code{
      text-align: center;
      width: 90%;
  }
  .narrow .mediumT .medium_bar_code .bar_code img{
    height: 70px !important;
      width: 190px !important;
  }
  .narrow .mediumT .medium_bar_code .bar_footer{
    font-size: 9px;
      height: 40px;
      line-height: 12px;
      text-align: center;
      width: 100%;
  }

  .standard .mediumT .medium_qr_code .qr_title{
    font-size: 20px;
      font-weight: bold;
      height: 40px;
      text-align: center;
      width: 100%;
    padding-top:5px;
  }
  .standard .mediumT .medium_qr_code .qr_float{
    clear: both;
      height: 140px;
      text-align: center;
      width: 100%;
  }
  .standard .mediumT .medium_qr_code .qr_text{
    float: left;
      font-size: 16px;
      height: 140px;
      text-align: left;
      width: 60%;
  }
  .standard .mediumT .medium_qr_code .qr_code{
    float: right;
      height: 140px;
      text-align: center;
      width: 40%;
  }
  .standard .mediumT .medium_qr_code .qr_code img{
    width:80% !important;
    height:auto !important;
  }
  .standard .mediumT .medium_qr_code .qr_footer{
    font-size: 10px;
      height: 40px;
      line-height: 12px;
      text-align: center;
      width: 100%;
  }

  .standard .mediumT .medium_bar_code .bar_title{
    font-size: 20px;
      font-weight: bold;
      height: 25px;
      text-align: center;
      width: 90%;
  }
  .standard .mediumT .medium_bar_code .bar_float{
    clear: both;
      height: 160px;
      padding-left: 10px;
      text-align: center;
      width: 90%;
  }
  .standard .mediumT .medium_bar_code .bar_text{
      font-size: 14px;
      height: 70px;
      text-align: left;
      width: 100%;
  }
  .standard .mediumT .medium_bar_code .bar_code{
      text-align: center;
      width: 90%;
  }
  .standard .mediumT .medium_bar_code .bar_code img{
    height: 90px !important;
      width: 250px !important;
  }
  .standard .mediumT .medium_bar_code .bar_footer{
    font-size: 11px;
      height: 40px;
      line-height: 12px;
      text-align: center;
      width: 100%;
  }

  .topT .medium_qr_code .qr_title{
    font-size: 20px;
      font-weight: bold;
      height: 25px;
      text-align: center;
      width: 100%;
  }
  .topT .medium_qr_code .qr_float{
    clear: both;
      height: 140px;
      text-align: center;
      width: 100%;
  }
  .topT .medium_qr_code .qr_text{
    float: left;
      font-size: 18px;
      height: 140px;
      text-align: left;
      width: 60%;
  }
  .topT .medium_qr_code .qr_text2{
    float: left;
      font-size: 18px;
      height: 150px;
      text-align: left;
      width: 100%;
    clear:both;
  }
  .topT .medium_qr_code .qr_code{
    float: right;
      height: 140px;
      text-align: center;
      width: 40%;
  }
  .topT .medium_qr_code .qr_code img{
    width:80% !important;
    height:auto !important;
  }
  .topT .medium_qr_code .qr_footer{
    font-size: 12px;
      height: 40px;
      line-height: 13px;
      text-align: center;
      width: 100%;
  }

  .topT .medium_bar_code .bar_title{
    font-size: 20px;
      font-weight: bold;
      height: 25px;
      text-align: center;
      width: 96%;
  }
  .topT .medium_bar_code .bar_float{
    clear: both;
      height: 300px;
      text-align: center;
      width: 96%;
  }
  .topT .medium_bar_code .bar_text{
      font-size: 14px;
      height: 170px;
      text-align: left;
      width: 100%;
  }
  .topT .medium_bar_code .bar_code{
      text-align: center;
      width: 100%;
  }
  .topT .medium_bar_code .bar_code img{
    height: 120px !important;
      width: 300px !important;
  }
  .topT .medium_bar_code .bar_footer{
    font-size: 11px;
      height: 40px;
      line-height: 12px;
      text-align: center;
      width: 96%;
  }

  .largeT .medium_qr_code .qr_title{
    font-size: 20px;
      font-weight: bold;
      height: 25px;
      text-align: center;
      width: 100%;
  }
  .largeT .medium_qr_code .qr_float{
    clear: both;
      height: 140px;
      text-align: center;
      width: 100%;
  }
  .largeT .medium_qr_code .qr_text{
    float: left;
      font-size: 18px;
      height: 140px;
      text-align: left;
      width: 60%;
  }
  .largeT .medium_qr_code .qr_text2{
    float: left;
      font-size: 18px;
      height: 140px;
      text-align: left;
      width: 100%;
    clear:both;
  }
  .largeT .medium_qr_code .qr_code{
    float: right;
      height: 140px;
      text-align: center;
      width: 40%;
  }
  .largeT .medium_qr_code .qr_code img{
    width:80% !important;
    height:auto !important;
  }
  .largeT .medium_qr_code .qr_footer{
    font-size: 12px;
      height: 40px;
      line-height: 13px;
      text-align: center;
      width: 100%;
  }

  .largeT .medium_bar_code .bar_title{
    font-size: 20px;
      font-weight: bold;
      height: 25px;
      text-align: center;
      width: 96%;
  }
  .largeT .medium_bar_code .bar_float{
    clear: both;
      height: 300px;
      text-align: center;
      width: 96%;
  }
  .largeT .medium_bar_code .bar_text{
      font-size: 14px;
      height: 170px;
      text-align: left;
      width: 100%;
  }
  .largeT .medium_bar_code .bar_code{
      text-align: center;
      width: 100%;
  }
  .largeT .medium_bar_code .bar_code img{
    height: 120px !important;
      width: 300px !important;
  }
  .largeT .medium_bar_code .bar_footer{
    font-size: 11px;
      height: 40px;
      line-height: 12px;
      text-align: center;
      width: 96%;
  }
  @media only screen and (max-width: 1280px){
    .template_main_field.transform{
      -webkit-transform: scale(.67, .67);
      transform: scale(.67, .67);
      top: -85px;
      margin-left: -15px;
    }
    .image_list_card{
      max-height: 510px;
    }
  }

  @media only screen and (max-width: 1024px){
    .template_main_field.transform{
      -webkit-transform: scale(.6, .6);
      transform: scale(.6, .6);
      top: -113px;
      margin-left: -25px;
    }
    .image_list_card{
      max-height: 510px;
    }
  }
  

  .bar_code{
    text-align: center;
    width: 100%;
  }
  /*
  .application .theme--light.v-table thead th, .theme--light .v-table thead th{
    color: #fff;
  }
  .application .theme--light.v-label, .theme--light .v-label{
    color: #fff;
  }
  .application .theme--light.v-input:not(.v-input--is-disabled) input, .application .theme--light.v-input:not(.v-input--is-disabled) textarea, .theme--light .v-input:not(.v-input--is-disabled) input, .theme--light .v-input:not(.v-input--is-disabled) textarea{
    color: #fff;
  }
  */

  .template_option_content .v-tabs__item--active{
    color: rgb(230, 145, 56);
  }
  .tab_title{
    font-size: 64px;
    font-weight: bold;
    opacity: 0.2;
  }
  .bg_style{
    float: left;
    min-width: 112.5px;
    width: 200px;
    text-align: center;
  }
  .items_title{
    font-size: 32px;
    color: white;
  }
  .items_title2{
    font-size: 24px !important;
    color: white; 
  }
  .items_title3{
    font-size: 18px !important;
    color: white; 
  }
  .tab_navigation_btn, .tab_navigation_btn:active, .tab_navigation_btn:focus{
    font-size: 18px;
    font-weight: bold;
    color: #ddd;
  }
  .tab_navigation_btn:hover{
    color: white;
  }
  .tab_navigation_btn.hidden, .tab_save_btn.hidden{
    visibility: hidden;
  }
  .tab_save_btn, .tab_save_btn:active, .tab_save_btn:focus{
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 255, 0);
  }
  .tab_save_btn:hover{
    color: white;
  }
  .infobox_tab{
    margin-left: 20px;
    font-size: 18px;
    color: white;
    margin-top: 20px;
  }
  .infobox_tab a{
    color: white;
  }
  .infobox_tab a.active{
    color: rgb(230, 145, 56);
  }
  .infobox_tab a:hover{
    color: rgb(230, 145, 56);
  }
  .v-table__overflow{
    padding-bottom: 1px;
  }
  .tab_navbtn_group{
    position: absolute;
    right: 50px;
    top: 100px;
    z-index: 10;
  }
  .template_option_content .v-tabs__div{
    font-size: 12px;
  }
  .picture-preview{
    background-color: #2e5173 !important;
  }
  .picture-inner{
    border: none !important;
  }
  .picture-inner-text{
    color: white;
    text-transform: uppercase;
  }
  .picture-inner-text .normal{
    font-size: 18px;
  }
  .picture-inner-text .smalltxt{
    font-size: 14px;
  }
  
  .picture-inner-text .lefttop{
    position: absolute;
    font-size: 23px!important;
    left: 20px;
    top: 10px;
  }
  .picture-inner-text .bottomtxt{
    font-size: 68px;
    color: #5c7792;
    font-weight: bold;
  }
  .template_option_content .primary--text{
    color: #ddd !important;
  }
</style>
<script type="text/javascript">
  import TemplateHeader from './header/template_header.vue';
  import VueDragResize from 'vue-drag-resize';
  import PictureInput from 'vue-picture-input'
  import Swatches from 'vue-swatches';
  import swal from 'sweetalert';

	export default{
    data() {
      return {
          template_frm: false,
          template_name: '',

          template_id : 0,

          frame_width: 346,
          frame_height: 985,

          img_path : window.laravel.base_url+'/img/template/standard_medium_000000.png',
          logo_img : window.laravel.base_url+'/images/logo.jpg',
          narrow_w_img: window.laravel.base_url + '/img/builder/narrow.png',
          standard_w_img: window.laravel.base_url + '/img/builder/width.png',
          top_img: window.laravel.base_url + '/img/builder/top.png',
          lg_img: window.laravel.base_url + '/img/builder/large.png',
          md_img: window.laravel.base_url + '/img/builder/medium.png',
          sm_img: window.laravel.base_url + '/img/builder/small.png',
          logo_upload_img: window.laravel.base_url + '/img/template/upload1.png',
          qr_code_img: window.laravel.base_url+'/img/template/qr.png',
          bar_code_img: window.laravel.base_url+'/img/template/barcode.gif',
          stock_img: 'https://d1xlji8qxtrdmo.cloudfront.net/1490978725.png',
          stock_upload_img: '',
          border_color: '000000',
          bg_color_code: '#FFF',
          bg_color_img: '', 
          bg_image: '',
          logo_image: '',
          footer_image: '1490978725.png',
          footer_upload_image: '',
          logo_show: true,
          positions: {
            'logo': 15,
            'vinfo': 140,
            'options': 230,
            'subtotal': 510,
            'total': 600,
            'address': 645,
            'footer': 735
          },
          footer_height: 235,
          main_tab: 9,
          back_tab: 0,
          templates: [
            {text: 'Select Options', value: 0},
          ],
          cur_template: this.temp_id,


          vinfo_headers: [
            {text: 'Field', value: 'Field', class: 'items_title2'},{text:'Display', value: 'Display', class: 'items_title2'},{text:'Descriptor', value: 'Descriptor', class: 'items_title2'},{text: 'Bold', value: 'Bold', class: 'items_title2'}
          ],
          vinfo_items: [
            {'field': 'Stock #','display':true, 'val': 'Stock:', 'bold': false},
            {'field': 'VIN','display':true, 'val': 'VIN:', 'bold': false},
            {'field': 'Year','display':true, 'val': 'Year:', 'bold': false},
            {'field': 'Make','display':true, 'val': 'Make:', 'bold': false},
            {'field': 'Model','display':true, 'val': 'Model:', 'bold': false},
            {'field': 'Color','display':true, 'val': 'Color:', 'bold': false},
            {'field': 'Trim','display':true, 'val': 'Trim:', 'bold': false},
            {'field': 'Mileage','display':true, 'val': 'Mileage:', 'bold': false},
          ],

          option_headers: [
            {text: 'Field', value: 'Field', class: 'items_title2'},{text:'Display', value: 'Display', class: 'items_title2'},{text:'Descriptor', value: 'Descriptor', class: 'items_title2'},{text:'Font Size', value:'Font Size', class: 'items_title2'},{text: 'Bold', value: 'Bold', class: 'items_title2'}
          ],

          option_items: [
            {'field': 'MSRP','display':true, 'val': 'Manufacturer Retail Price:', 'fsize': 'MED','bold': true},
            {'field': 'Section Name','display':true, 'val': 'Dealer Installed Options', 'fsize': 'MED','bold': false},
            {'field': 'Options Subtotal','display':true, 'val': 'Subtotal:', 'fsize': 'XL','bold': true},
            {'field': 'Total Price $','display':true, 'val': 'Total:', 'fsize': 'XXL','bold': true},
            {'field': 'Options Name','display':true, 'val': 'on', 'fsize': 'MED','bold': true},
            {'field': 'Options Description','display':true, 'val': 'on', 'fsize': 'SM','bold': false},
          ],

          width_type: 'Standard',
          layout_type: 'Medium',
          
          v_stock_img: 1,
          base_border_info: [],
          stock_image_info: [],

          vinfo_fsize_items: [
            {text: 'SM', value: 'SM'},
            {text: 'MED', value: 'MED'},
            {text: 'LG', value: 'LG'}
          ],
          option_fsize_items: [
            {text: 'SM', value: 'SM'},
            {text: 'MED', value: 'MED'},
            {text: 'LG', value: 'LG'},
            {text: 'XL', value: 'XL'},
            {text: 'XXL', value: 'XXL'}
          ],
          vinfo_fsize: 'MED',
          dealer_address: `Steven Wade & Toyota
150 Hilton Dr
St George UT  0
(435) 216-9811`,
          footer_content_tab: 0,
          footer_type: 'default_image',
          qr_code_title: 'QR Title',
          qr_code_text: 'QR Text QR Text QR Text',
          qr_code_text2: 'QR Text2 QR Text 2',
          qr_code_url: '',
          qr_code_footer: `THIS ADDENDUM HAS BEEN ADDED BY THE DEALER NOT THE MANUFACTURER TO REFLECT ANY ADDITIONAL CHARGES FOR ITEMS ADDED OR SERVICES PERFORMED<br/><strong>THIS IS NOT AN AUTHORIZED FACTORY STICKER</strong>`,
          barcode_title: 'Barcode Title',
          barcode_text: 'Barcode Text Barcode Text Barcode Text Barcode Text',
          barcode_footer: `THIS ADDENDUM HAS BEEN ADDED BY THE DEALER NOT THE MANUFACTURER TO REFLECT ANY ADDITIONAL CHARGES FOR ITEMS ADDED OR SERVICES PERFORMED<br/><strong>THIS IS NOT AN AUTHORIZED FACTORY STICKER</strong>`,
          template_for: 'Both',
      }
    },
    props: ['temp_id'],
    created: function()
      {
          if(this.temp_id != 0){
            this.main_tab = 0;
          }else{
            this.main_tab = 9;
          }
          console.log(this.main_tab);
          this.fetchData();
      },
    watch: {
      main_tab: function(){
        console.log(this.main_tab);
      }
    },
    methods: {
      /**
       * Fetch Initial Data
       *
       * @return Object
       */
      fetchData()
      {
        let uri1 = window.laravel.base_url + '/get_data_for_template';
          this.axios.post(uri1).then((response1) => {
          let data = response1.data.temp_data;
          if(data && data.length > 0){
            var that = this;
            $.each(data, function(index, value){
              that.templates.push({ text: value.TEMPLATE_NAME, value: value._ID}); 
            });
          }
        });
          
        if(this.temp_id){
          var that = this;
          
          let uri = window.laravel.base_url + '/get_template';
          this.axios.post(uri, {'id': this.temp_id}).then((response) => {
            let data = response.data.temp_data;
            this.template_id = data._ID;
            this.template_name = data.TEMPLATE_NAME;
            this.width_type = data.TEMPLATE_WIDTH;
            this.layout_type = data.TEMPLATE_LAYOUT;
            this.border_color = data.BORDER != null && data.BORDER != ''?data.BORDER:'000000';
            this.bg_color_code = data.BACKGROUND;
            this.logo_img = 'https://d1xlji8qxtrdmo.cloudfront.net/'+data.DEALER_LOGO;

            if(data.INFO_IMAGE != null && data.INFO_IMAGE != ''){
              if(data.STOCK_SELECT == 'default_image'){
                this.stock_img = 'https://d1xlji8qxtrdmo.cloudfront.net/' + data.INFO_IMAGE;
                this.footer_image = data.INFO_IMAGE;
              }else if(data.STOCK_SELECT == 'upload_image'){
                this.stock_upload_img = 'https://d1xlji8qxtrdmo.cloudfront.net/' + data.INFO_IMAGE;
                this.footer_upload_image = '';
              }
            }
            
            if(data.QR_URL != null && data.QR_URL != '' && data.STOCK_SELECT == 'qr_code'){
              this.qr_code_img = 'https://chart.googleapis.com/chart?cht=qr&chs=100x100&chld=M|0&chl='+data.QR_URL;
            }
            this.vinfo_items[0].display = data.SHOWSTOCK == 1? true: false;
            this.vinfo_items[1].display = data.SHOWVIN == 1? true: false;
            this.vinfo_items[2].display = data.SHOWYEAR == 1? true: false;
            this.vinfo_items[3].display = data.SHOWMAKE == 1? true: false;
            this.vinfo_items[4].display = data.SHOWMODEL == 1? true: false;
            this.vinfo_items[5].display = data.SHOWCOLOR == 1? true: false;
            this.vinfo_items[6].display = data.SHOWTRIM == 1? true: false;
            this.vinfo_items[7].display = data.SHOWMILEAGE == 1? true: false;
            this.vinfo_items[0].val = data.STOCKDESC;
            this.vinfo_items[1].val = data.VINDESC;
            this.vinfo_items[2].val = data.YEARDESC;
            this.vinfo_items[3].val = data.MAKEDESC;
            this.vinfo_items[4].val = data.MODELDESC;
            this.vinfo_items[5].val = data.COLORDESC;
            this.vinfo_items[6].val = data.TRIMDESC;
            this.vinfo_items[7].val = data.MILEAGEDESC;
            this.vinfo_items[0].bold = data.STOCKBOLD == 1? true: false;
            this.vinfo_items[1].bold = data.VINBOLD == 1? true: false;
            this.vinfo_items[2].bold = data.YEARBOLD == 1? true: false;
            this.vinfo_items[3].bold = data.MAKEBOLD == 1? true: false;
            this.vinfo_items[4].bold = data.MODELBOLD == 1? true: false;
            this.vinfo_items[5].bold = data.COLORBOLD == 1? true: false;
            this.vinfo_items[6].bold = data.TRIMBOLD == 1? true: false;
            this.vinfo_items[7].bold = data.MILEAGEBOLD == 1? true: false;
            this.vinfo_fsize = data.VI_FONT;
            this.option_items[0].display = data.SHOWMSRP == 1? true: false;
            this.option_items[1].display = data.SHOWSECTION == 1? true: false;
            this.option_items[2].display = data.SHOWSUBTOTAL == 1? true: false;
            this.option_items[3].display = data.SHOWTOTAL == 1? true: false;
            this.option_items[0].val = data.MSRPDESC;
            this.option_items[1].val = data.SECTIONDESC;
            this.option_items[2].val = data.SUBTOTALDESC;
            this.option_items[3].val = data.TOTALDESC;
            this.option_items[0].fsize = data.MSRP_FONT;
            this.option_items[1].fsize = data.SECTION_FONT;
            this.option_items[2].fsize = data.SUBTOTAL_FONT;
            this.option_items[3].fsize = data.TOTAL_FONT;
            this.option_items[4].fsize = data.OPTION_FONT;
            this.option_items[5].fsize = data.OPDESC_FONT;
            this.option_items[0].bold = data.MSRPBOLD == 1? true: false;
            this.option_items[1].bold = data.SECTIONBOLD == 1? true: false;
            this.option_items[2].bold = data.SUBTOTALBOLD == 1? true: false;
            this.option_items[3].bold = data.TOTALBOLD == 1? true: false;
            this.option_items[4].bold = data.OPTIONBOLD == 1? true: false;
            this.option_items[5].bold = data.OPDESCBOLD == 1? true: false;
            this.template_for = data.TEMPLATE_FOR;
            this.dealer_address = data.ADDRESS; 
            this.footer_type = data.STOCK_SELECT;
            this.qr_code_title = data.QR_TITLE;
            this.qr_code_text = data.QR_TEXT;
            this.qr_code_text2 = data.QR_TEXT2;
            this.qr_code_url = data.QR_URL;
            this.barcode_title = data.BAR_TITLE;
            this.barcode_text = data.BAR_TEXT;
            this.barcode_footer = data.BAR_FOOTER;
            this.qr_code_footer = data.QR_FOOTER;
            this.logo_show = data.SHOWLOGO == 1? true: false;
            if((data.BORDER == '' || data.BORDER == null) && data.BACKGROUND_IMAGE != null && data.BACKGROUND_IMAGE != ''){
              this.bg_image = '1';
              this.img_path = 'https://d1ja3ktoroz7zi.cloudfront.net/'+ data.BACKGROUND_IMAGE;
            }
            this.positions = {
              'logo': data.LOGO_POSITION,
              'vinfo': data.VINFO_POSITION,
              'options': data.OPTIONS_POSITION,
              'subtotal': data.SUBTOTAL_POSITION,
              'total': data.TOTAL_POSITION,
              'address': data.ADDRESS_POSITION,
              'footer': data.FOOTER_POSITION,
            };
            this.footer_height = data.FOOTER_HEIGHT;
            this.change_width(this.width_type);
            this.change_layout(this.layout_type);      
          });
        }else{
          this.change_width(this.width_type);
          this.change_layout(this.layout_type);  
        }
      },
      /**
       *
       * Change Base Template Width
       */
      change_width: function(type){
        this.width_type = type;
        if(type == 'Standard'){
          $('.template_width_type').removeClass('active');
          $('#standard_w_img').addClass('active');
        }else{
          $('.template_width_type').removeClass('active');
          $('#narrow_w_img').addClass('active');
        }
        if(type == 'Narrow'){
          this.change_layout('Medium');
          this.frame_width = 252;  
        }else{
          this.frame_width = 346;
        }
        
        this.update_base_template();
      },

      /**
       *
       * Change Base Template Layout
       */
      change_layout: function(type){
        this.layout_type = type;

        if(type == 'Top'){
          $('.template_layout_type').removeClass('active');
          $('#top_img').addClass('active');
          this.logo_show = false;
          this.footer_height = 400;
          this.positions = {
            'logo': 0,
            'vinfo': 440,
            'options': 530,
            'subtotal': 810,
            'total': 855,
            'address': 900,
            'footer': 0,
          }
          var that = this;
          setTimeout(function(){
            that.positions.footer = 15;
          },100);
          
        }else if(type == 'Large'){
          $('.template_layout_type').removeClass('active');
          $('#lg_img').addClass('active');

          this.logo_show = false;
          this.footer_height = 385;
          this.positions = {
            'logo': 0,
            'vinfo': 30,
            'options': 120,
            'subtotal': 400,
            'total': 450,
            'address': 495,
            'footer': 0,
          };
          var that = this;
          setTimeout(function(){
            that.positions.footer = 585;
          },100);
          
        }else if(type == 'Medium'){
          $('.template_layout_type').removeClass('active');
          $('#md_img').addClass('active');
          
          this.footer_height = 235;
          this.logo_show = true;

          this.positions = {
            'logo': 15,
            'vinfo': 140,
            'options': 230,
            'subtotal': 510,
            'total': 600,
            'address': 645,
            'footer': 0,
          };
          var that = this;
          setTimeout(function(){
            that.positions.footer = 735;
          },100);
        }else{
          $('.template_layout_type').removeClass('active');
          $('#sm_img').addClass('active');

          this.footer_height = 120;
          this.logo_show = true;

          this.positions = {
            'logo': 15,
            'vinfo': 140,
            'options': 230,
            'subtotal': 650,
            'total': 705,
            'address': 750,
            'footer': 0,
          };
          var that = this;
          setTimeout(function(){
            that.positions.footer = 855;
          },100);
        }
        this.update_base_template();
      },

      /**
       *
       * Change updates from Base Template
       *
       */
      update_base_template: function(){
        let uri = window.laravel.base_url + '/get_data_for_basetemplate';
        this.axios.post(uri, {width: this.width_type, layout: this.layout_type}).then((response) => {
          this.base_border_info = response.data.bg_info;
          this.stock_image_info = response.data.si_info;
          var that = this;
          $.each(this.base_border_info, function(index, value){
            if(value.BG_COLOR == that.border_color){
              that.change_bg(value.BG_URL, value.BG_COLOR);
            }
          });
          if(this.footer_type == 'default_image' && this.stock_img == 'https://d1xlji8qxtrdmo.cloudfront.net/1490978725.png'){
            //this.select_stock_img(this.stock_image_info[0].SI_IMAGE);
          }
        });

      },

      change_bg: function(bg_url, bg_color){
        this.border_color = bg_color;
        this.bg_image = '';
        this.bg_color_img = bg_url;
        if(!this.bg_image){
          this.img_path = 'https://d1ja3ktoroz7zi.cloudfront.net/'+bg_url;
        }
      },

      setColorCode(color_code) {
        this.color_code = color_code;
      },

      /**
       * Show logo settings content
       *
       */
      logo_settings_func : function(){
        this.main_tab = 3;
      },

      /**
       *
       * Show Vehicle information settings content
       */
      vinfo_settings_func : function(){
        this.main_tab = 5;
      },

      /**
       * Show option settings content
       *
       */
      option_settings_func: function(){
        this.main_tab = 6;
      },

      /**
       * Show Dealer Address setting content
       *
       */
      address_settings_func: function(){
        this.main_tab = 7;
      },

      /**
       * Show footer settings content
       *
       */
      footer_settings_func: function(){
        this.main_tab = 4;
      },


      onChange: function(image){
        console.log('New picture selected!')
        if (image) {
          console.log('Picture loaded.')
          this.logo_img = image;
          this.logo_image = this.$refs.logoInput.file;
        } else {
          console.log('FileReader API not supported: use the <form>, Luke!')
        }
      },

      changeBackImage: function(image){
        console.log('New picture selected!')
        if (image) {
          console.log('Picture loaded.')
          this.img_path = image;
          this.bg_image = this.$refs.bgInput.file;
        } else {
          console.log('FileReader API not supported: use the <form>, Luke!')
        }
      },

      removeBackImage: function(){
        console.log('New picture removed!')
        this.img_path = 'https://d1ja3ktoroz7zi.cloudfront.net/'+this.bg_color_img;
        this.bg_image = '';
      },

      /**
       *
       * Change Stock image
       */
      select_stock_img: function(img_name){
        this.footer_type = "default_image";
        this.stock_img = 'https://d1xlji8qxtrdmo.cloudfront.net/' + img_name;
        this.footer_image = img_name;
      },

      /**
       * Upload Stock Image
       */
      uploadStockImage: function(image){
        if (image) {
          this.footer_type = "upload_image";
          this.stock_upload_img = image;
          this.footer_upload_image = this.$refs.footerInput.file;
        } else {
          console.log('FileReader API not supported: use the <form>, Luke!');
        }
      },

      /**
       * Save Template Builder
       *
       */
       save_template: function(){
        if (this.$refs.save_template_frm.validate()) {
          var info_image = '';
          if(this.footer_type == 'default_image'){
            info_image = this.footer_image;
          }
          var data = {
              'TEMPLATE_NAME' : this.template_name,
              'TEMPLATE_WIDTH' : this.width_type,
              'TEMPLATE_LAYOUT' : this.layout_type,
              'BORDER' : this.bg_image? '': this.border_color,
              'BACKGROUND': this.bg_color_code,
              'SHOWSTOCK': this.vinfo_items[0].display == true? 1: 0,
              'SHOWVIN': this.vinfo_items[1].display == true? 1: 0,
              'SHOWYEAR': this.vinfo_items[2].display == true? 1: 0,
              'SHOWMAKE': this.vinfo_items[3].display == true? 1: 0,
              'SHOWMODEL': this.vinfo_items[4].display == true? 1: 0,
              'SHOWCOLOR': this.vinfo_items[5].display == true? 1: 0,
              'SHOWTRIM': this.vinfo_items[6].display == true? 1: 0,
              'SHOWMILEAGE': this.vinfo_items[7].display == true? 1: 0,
              'STOCKDESC': this.vinfo_items[0].val,
              'VINDESC': this.vinfo_items[1].val,
              'YEARDESC': this.vinfo_items[2].val,
              'MAKEDESC': this.vinfo_items[3].val,
              'MODELDESC': this.vinfo_items[4].val,
              'COLORDESC': this.vinfo_items[5].val,
              'TRIMDESC': this.vinfo_items[6].val,
              'MILEAGEDESC': this.vinfo_items[7].val,
              'STOCKBOLD': this.vinfo_items[0].bold == true? 1: 0,
              'VINBOLD': this.vinfo_items[1].bold == true? 1: 0,
              'YEARBOLD': this.vinfo_items[2].bold == true? 1: 0,
              'MAKEBOLD': this.vinfo_items[3].bold == true? 1: 0,
              'MODELBOLD': this.vinfo_items[4].bold == true? 1: 0,
              'COLORBOLD': this.vinfo_items[5].bold == true? 1: 0,
              'TRIMBOLD': this.vinfo_items[6].bold == true? 1: 0,
              'MILEAGEBOLD': this.vinfo_items[7].bold == true? 1: 0,
              'VI_FONT': this.vinfo_fsize,
              'SHOWMSRP': this.option_items[0].display == true? 1: 0,
              'SHOWSECTION': this.option_items[1].display == true? 1: 0,
              'SHOWSUBTOTAL': this.option_items[2].display == true? 1: 0,
              'SHOWTOTAL': this.option_items[3].display == true? 1: 0,
              'MSRPDESC': this.option_items[0].val,
              'SECTIONDESC': this.option_items[1].val,
              'SUBTOTALDESC': this.option_items[2].val,
              'TOTALDESC': this.option_items[3].val,
              'MSRP_FONT': this.option_items[0].fsize,
              'SECTION_FONT': this.option_items[1].fsize,
              'SUBTOTAL_FONT': this.option_items[2].fsize,
              'TOTAL_FONT': this.option_items[3].fsize,
              'OPTION_FONT': this.option_items[4].fsize,
              'OPDESC_FONT': this.option_items[5].fsize,
              'MSRPBOLD': this.option_items[0].bold == true?1:0,
              'SECTIONBOLD': this.option_items[1].bold == true?1:0,
              'SUBTOTALBOLD': this.option_items[2].bold == true?1:0,
              'TOTALBOLD': this.option_items[3].bold == true?1:0,
              'OPTIONBOLD': this.option_items[4].bold == true?1:0,
              'OPDESCBOLD': this.option_items[5].bold == true?1:0,
              'TEMPLATE_FOR': this.template_for,
              'ADDRESS': this.dealer_address,
              'STOCK_SELECT': this.footer_type,
              'QR_TITLE' : this.qr_code_title,
              'QR_TEXT' : this.qr_code_text,
              'QR_TEXT2': this.qr_code_text2,
              'QR_URL' : this.qr_code_url,
              'BAR_TITLE': this.barcode_title,
              'BAR_TEXT' : this.barcode_text,
              'QR_FOOTER': this.qr_code_footer,
              'BAR_FOOTER': this.barcode_footer,
              'LOGO_POSITION': this.positions.logo,
              'VINFO_POSITION': this.positions.vinfo,
              'OPTIONS_POSITION': this.positions.options,
              'SUBTOTAL_POSITION': this.positions.subtotal,
              'TOTAL_POSITION': this.positions.total,
              'ADDRESS_POSITION': this.positions.address,
              'FOOTER_POSITION': this.positions.footer,
              'FOOTER_HEIGHT': this.footer_height,
              'SHOWLOGO' : this.logo_show == true? 1: 0,
            };
            if(!(this.footer_type == 'upload_image' && this.template_id > 0 && this.stock_upload_img != '' && this.footer_upload_image == '')){
              data.INFO_IMAGE = info_image;
            }
            
            let save_uri = window.laravel.base_url + '/save_template';
            this.axios.post(save_uri, { id: this.template_id, data: JSON.stringify(data)}).then((response) => {
              this.template_id = response.data.id;

              if(this.template_id){
                const formData = new FormData();
                formData.append('id', this.template_id);
                if(this.bg_image != '' && this.bg_image != '1'){
                  formData.append('bg_image', this.bg_image);
                }
                if(this.logo_image != ''){
                  formData.append('logo_image', this.logo_image);
                }
                if(this.footer_type == 'upload_image' && this.footer_upload_image != ''){
                  formData.append('footer_image', this.footer_upload_image);
                }
                const config = {
                  headers: {
                    'content-type': 'multipart/form-data'
                  }
                };
                let uri = window.laravel.base_url + '/update_template_images';
                this.axios.post(uri, formData, config).then((response1) => {
                  if(response1.data.status == 'success'){
                    swal("Thank You!", "Your template successfully built.", "success").then((value) =>{
                      window.location.href= window.laravel.base_url+'/home';       
                    })
                  }
                });
              }
              //window.location.href= window.laravel.base_url+'/template';
            });
        }
       },

       /* Edit Exist Template */

      edit_template: function(){
        if(this.cur_template == 0){
          return false;
        }
        window.location.href= window.laravel.base_url + '/template/'+ this.cur_template;
      },

      new_template: function(){
        this.main_tab = 0;
      },

       /**
        * Change InfoBox tab
        *
        */
       changeInfobox: function(index){
          console.log(index);
          this.footer_content_tab = index;
          if(index == 3){
            this.footer_type = 'barcode';
          }else if(index == 1){
            this.footer_type = 'upload_image';
          }else if(index == 2){
            this.footer_type = 'qr_code';
          }else{
            this.footer_type = 'default_image';
          }
       },

       /**
        * Save Template Content
        */
       save_template_tab: function(){
          var cur_tab = this.main_tab;
          this.back_tab = cur_tab;
          this.main_tab = 8;
       },

       backTabfunc: function(){
          if(this.main_tab == 8){
            this.main_tab = this.back_tab;
            this.back_tab = 0;
          }else{
            this.main_tab = this.main_tab - 1;
          }
       }



    },
    components: {
      TemplateHeader,
      VueDragResize,
      Swatches,
      PictureInput
    },
    /* For Dynamic Style */
    computed : {
      logo_style: function(){
        return {
          'background' : 'url('+this.logo_img+')',
          'height' : '60px',
        }
      }
    },
    name: 'templatebuilder'
  }
</script>