<template>
    <div id="upload_photo_page">
        <v-app id="upload_photo_app">
            <!--NAVIGATION-->
            <div class="app-header black box-shadow">
                <div class="navbar"> 
                    <!-- Logo --> 
                    <a class="navbar-brand hidden-sm-down">
                    <div ui-include="'assets/images/Logo_300x36.svg'"></div>
                    <img src="https://d3manp75urydp4.cloudfront.net/Logo_300x36.png" alt="." class="hide"> </a><a class="navbar-brand">
                    <div ui-include="'assets/images/Logo_300x36.svg'"></div>
                    <img src="https://d3manp75urydp4.cloudfront.net/Logo_300x36.png" alt="."> </a> <a class="navbar-brand hidden-md-up">
                    <div ui-include="'assets/images/icon.svg'"></div>
                    <img src="https://d3manp75urydp4.cloudfront.net/icon.png" alt="." class="hide"> </a>
                    <!-- / Logo -->
                    <div class="pull-right">
                        <v-btn color="warning" @click="exit_upload_photo"><< Back to Home Page</v-btn>
                    </div>
                </div>
            </div>
            <v-container grid-list-md style="margin-top: 50px;">
                <v-layout row>
                    <v-flex xs6 offset-xs3>
                        <vue-dropzone ref="myVueDropzone" id="dropzone" v-on:vdropzone-sending="sendingEvent" v-on:vdropzone-removed-file="removeEvent" v-on:vdropzone-success="afteruploadEvent" :options="dropzoneOptions"></vue-dropzone>
                    </v-flex>
                </v-layout>
                <v-layout row>
                    <v-flex xs8 offset-xs2>
                        <v-card>
                            <v-card-title>
                                <v-spacer></v-spacer>
                                <v-text-field
                                  v-model="search"
                                  append-icon="search"
                                  label="Search"
                                  single-line
                                  hide-details
                                ></v-text-field>
                            </v-card-title>
                            <v-data-table
                                :headers="headers"
                                :items="items"
                                :loading="loading"
                                :search="search"
                                class="elevation-1"
                                disable-initial-sort
                            >
                                <template slot="items" slot-scope="props">
                                    <td style="padding:10px 5px;"><img :style="{'background-image': 'url('+getImageUrl(props.item.IMAGE)+')', 'background-size':'contain', 'background-position': '50%'}" width="150px" height="100px"></td>
                                    <td v-if="!props.item.edit_on">{{ props.item.MAKE_NAME }}</td> 
                                    <td v-if="props.item.edit_on">
                                        <v-select
                                            :items="makes"
                                            v-model="props.item.MAKE_ID"
                                            :change="change_make(props.item._ID, props.item.MAKE_ID)"
                                            label="SELECT"
                                        ></v-select>
                                    </td>
                                    <td v-if="!props.item.edit_on">{{ props.item.MODEL_NAME }}</td>
                                    <td v-if="props.item.edit_on">
                                        <v-select
                                            :items="models[props.item._ID]"
                                            v-model="props.item.MODEL_ID"
                                            label="SELECT"
                                        ></v-select>
                                    </td>
                                    <td v-if="!props.item.edit_on">{{ props.item.YEAR }}</td>
                                    <td v-if="props.item.edit_on">
                                        <v-select
                                            :items="years"
                                            v-model="props.item.YEAR"
                                            label="SELECT"
                                        ></v-select>
                                    </td>
                                    <td v-if="!props.item.edit_on">{{ props.item.COLOR_NAME }}</td>
                                    <td v-if="props.item.edit_on">
                                        <v-select
                                            :items="colors"
                                            v-model="props.item.COLOR_ID"
                                            label="SELECT"
                                        ></v-select>
                                    </td>
                                    <td v-if="!props.item.edit_on">
                                        <v-btn color="success" small @click="edit_row(props.item._ID)">Edit</v-btn>
                                        <v-btn color="error" small @click="remove_row(props.item._ID)">Remove</v-btn>
                                    </td>
                                    <td v-if="props.item.edit_on">
                                        <v-btn color="error" small @click="save_row(props.item._ID)">Save</v-btn>
                                        <v-btn color="info" small @click="cancel_row(props.item._ID)">Cancel</v-btn>
                                    </td>
                                </template>
                                <v-alert slot="no-results" :value="true" color="error" icon="warning">
                                  Your search for "{{ search }}" found no results.
                                </v-alert>
                            </v-data-table>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-app>
    </div>
</template>
<style type="text/css">
    #dropzone{
        display: flex;
        overflow-x: scroll;
    }
</style>

<script>
    import vue2Dropzone from 'vue2-dropzone';
    import 'vue2-dropzone/dist/vue2Dropzone.min.css';
    var default_item;
    export default {
        data() {
            return {
                dropzoneOptions: {
                    url: window.laravel.base_url + '/upload_photo',
                    thumbnailWidth: 150,
                    maxFilesize: 0.5,
                    addRemoveLinks: true,
                    acceptedFiles: 'image/*',
                    dictDefaultMessage: "<i class='fa fa-cloud-upload'></i> Click / Drag and Drop Vehicle Images to Upload"
                },
                headers: [
                    { text: 'IMAGE', value: 'IMAGE', sortable:false},
                    { text: 'MAKE NAME', value: 'MAKE_NAME'},
                    { text: 'MODEL NAME', value: 'MODEL_NAME'},
                    { text: 'YEAR', value: 'YEAR'},
                    { text: 'COLOR NAME', value: 'COLOR_NAME'},
                    { text: 'ACTION', value: 'ACTION'},
                ],
                ori_items: [],
                items: [],
                loading: true,
                edit_on: [],
                makes: [],
                all_models: [],
                models: {},
                years : [],
                colors : [],
                search: '',
            }
        },
        created: function()
        {
            this.fetchData();
        },
        methods: {
            /**
             * Fetch logged user, privilege information when created vue dom
             *
             * @return Object
            */
            fetchData()
            {
                console.log('fecheee....');
                this.loading = true;
                let uri = window.laravel.base_url + '/get_image_data';
                this.axios.post(uri,{'_token': window.laravel.csrf_token}).then((response) => {
                    if(response.data.vimages){
                        var that = this;
                        this.items = [...response.data.vimages];
                        $.each(response.data.vimages,function(index,value){
                            var obj = {};
                            $.each(value, function(key, value1){
                                obj[key] = value1;
                            });
                            that.ori_items.push(obj);
                        });                        
                    }
                    var that = this;
                    $.each(response.data.makes, function(index, value){
                        that.makes.push({text: value.NAME, value: value._ID});
                    });
                    $.each(response.data.colors, function(index, value){
                        that.colors.push({text: value.NAME, value: value._ID});
                    });
                    this.all_models = response.data.models;
                    for(var i = 2019; i > 1929; i--){
                        this.years.push({text: i, value: i});
                    }
                    this.loading = false;
                });
            },
            /* send additional params when uploading */
            sendingEvent (file, xhr, formData) {
                formData.append('uuid', file.upload.uuid);
                formData.append('_token', window.laravel.csrf_token);
            },


            removeEvent (file, error, xhr){
                if(file.xhr && file.xhr.response){
                    var response = file.xhr.response;
                    var data = JSON.parse(response);
                    if(data.info){
                        this.deleteImage(data.info._ID);    
                    }    
                }
            },
            afteruploadEvent( file, response){
                var data = JSON.parse(response);
                if(data.status != 'error'){
                    if(data.info){
                        var obj = {};
                        $.each(data.info, function(key, value){
                             obj[key] = value;
                        });
                        this.ori_items.unshift(obj);

                        this.items.unshift(data.info);
                    }
                }
            },
            exit_upload_photo: function(){
                window.location.href= window.laravel.base_url + '/home';
            },
            edit_row: function(id){
                var that = this;
                $.each(this.items, function(index, value){
                    if(value._ID == id){
                        that.items[index].edit_on = true;
                    }
                });
            },
            remove_row: function(id){
                this.deleteImage(id);
            },
            save_row: function(id){
                var that = this;
                $.each(this.items, function(index, value){
                    if(value._ID == id){
                        let uri = window.laravel.base_url + '/save_image_data';
                        that.axios.post(uri,{data: value}).then((response) => {
                            if(response.data.status == 'success'){
                                console.log(response.data.info);
                                that.items[index].edit_on = 0;
                                that.items.splice(index, 1, response.data.info);

                                var obj = {};
                                $.each(response.data.info, function(key, value){
                                     obj[key] = value;
                                });
                                that.ori_items.splice(index, 1, obj);
                                console.log(that.items);
                                console.log(that.ori_items);
                            }
                        });        
                    }
                });

            },
            cancel_row: function(id){
                var that = this;
                $.each(this.items, function(index, value){
                    if(value._ID == id){
                        that.items[index].edit_on = 0;
                        $.each(that.items[index], function(key, value1){
                            that.items[index][key] = that.ori_items[index][key];
                        });
                    }
                });
            },
            getImageUrl: function(image){
                return 'http://addendum-car-photos.s3.amazonaws.com/'+image;
            },

            change_make: function(id, make_id){
                if(make_id){
                    var _model = this.all_models.filter(o => o.MAKE_ID == make_id);
                    if(_model.length){
                        var obj = [];
                        $.each(_model, function(index, value){
                            obj.push({value: value._ID, text: value.NAME});
                        });
                        this.models[id] = obj;
                    }
                }
            },


            /**
             * delete image from S3 and DB
             */

            deleteImage: function(id){
                let uri = window.laravel.base_url + '/remove_image_data';
                this.axios.post(uri,{ id: id}).then((response) => {
                    if(response.data.status == 'success'){
                        var i = -1;
                        $.each(this.items, function(index, value){
                            if(value._ID == id){
                                i = index;
                            }
                        });
                        if(i != -1){
                            this.items.splice(i, 1);
                            this.ori_items.splice(i, 1);
                        }
                    }
                });
            },
        },
        components: {
            vueDropzone: vue2Dropzone
        },
        name: 'uploadvphoto'
    }
</script>