.v-card{
	background-color: #fff;
}
.v-btn{
	background-color: #fff;
}
.v-menu{
	width: 100%;
}
@media only screen and (min-width: 1264px) and (max-width: 1280px){
	.container {
	    max-width: 1280px;
	}	
}
