
.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 50%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 20px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.step-tab{
	padding-top:10px;
}
.btn-circle {
    border-radius: 25px;
    font-size: 20px;
    height: 46px;
    line-height: 1.6;
    text-align: center;
    width: 46px;
}
.imgselector{
			  width:230px;
			  height:250px;
			  border:#666 solid 1px;
			  clear:both;
			  background:#FFF;
			  padding:5px;
			  overflow: scroll;
		  }
		  .isoptions{
			  background-color:  #CACACA;
    border: 1px solid #666;
    clear: both;
    color: #000;
    height: 80px;
    padding: 5px;
    width: 195px;
	cursor:pointer;
		  }
		  .isoptions.active{
			  background-color: #999;
    border: 1px solid #666;
    clear: both;
    color: #000;
    height: 80px;
    padding: 5px;
    width: 195px;
	cursor:pointer;
		  }
		  .isoptions:hover{
			  background-color: #999;
    border: 1px solid #666;
    clear: both;
    color: #000;
    height: 80px;
    padding: 5px;
    width: 195px;
	cursor:pointer;
		  }
		  .optionimg{
			  float: left;
    height: 80px;
    width: 80px;
		  }
		  .optionimg img{
    height: 60px;
    width: 80px;
		  }
		  .optiontext{
			  float: left;
    height: 80px;
    width: 100px;
		  }
.uploader, .uploader2 {position:relative; overflow:hidden; width:300px; height:150px; border:2px solid #e8e8e8;}
#filePhoto, #filePhoto2{
    position:absolute;
    width:300px;
    height:150px;
    top:-50px;
    left:0;
    z-index:2;
    opacity:0;
    cursor:pointer;
}

.uploader img, .uploader2 img{
    position:absolute;
    width:302px;
    height:150px;
    top:-1px;
    left:-1px;
    z-index:1;
    border:none;
}


.background_uploader {position:relative; overflow:hidden; width:80px; height:250px; background:#f3f3f3; border:2px dashed #e8e8e8;}

#background_upload{
    position:absolute;
    width:80px;
    height:250px;
    top:-50px;
    left:0;
    z-index:2;
    opacity:0;
    cursor:pointer;
}

.background_uploader img{
    position:absolute;
    width:80px;
    height:250px;
    top:-1px;
    left:-1px;
    z-index:1;
    border:none;
}
.template{
	font-family:Arial, Helvetica, sans-serif;
}
.standard_preview{
	width:210px;
	height:560px;
	padding:8px;
	color:#000;
}
standard_preview.template{
	display:none;
}

/**************************** Medium Template ***************************/
standard_preview.mediumT.template{
	display:block;
}
.standard_preview.mediumT .logo{
	height: 70px;
    padding-top: 5px;
    text-align: center;
    width: 100%;
	padding-bottom:10px;
}
.standard_preview.mediumT .logo img{
	height: auto;
    width: auto;
	max-height:60px;
	max-width:190px;
}
.standard_preview.mediumT .vinformation{
	clear:both;
}
.standard_preview.mediumT .second_section{
	clear:both;
	height: 235px;
}
.standard_preview.mediumT .total{
	clear:both;
}
.standard_preview.mediumT .address{
	clear:both;
	font-weight:bold;
}
.standard_preview.mediumT .infographic{
	clear:both;
	width: 200px;
	height:auto;
}
.standard_preview.mediumT .infographic .stock_image{
	clear:both;
	height: 135px;
    width: 195px;
}
.standard_preview.mediumT #total{
	color: #fff;
    float: left;
    text-align: right;
    width: 108px;
}
.standard_preview.mediumT .subtotal{
	clear:both;
	height:20px;
}
.standard_preview.mediumT #subtotal{
	float: left;
    width: 90px;
}
.standard_preview.mediumT #total_num{
	float: left;
    text-align: right;
    width: 85px;
}
.standard_preview.mediumT #subtotal_num{
	width: 104px;
	float:left;
	text-align: right;
}
.standard_preview.mediumT .vinformation div{
	width:50%;
	float:left;
	padding-top:1px; padding-bottom:1px;
}
.standard_preview.mediumT .vinformation .stock,.standard_preview.mediumT .vinformation .vin{
	width:100% !important;
	clear:both;
}
/**************************** End Medium Template ********************/
/**************************** Small Template ***************************/
standard_preview.smallT.template{
	display:block;
}
.standard_preview.smallT .logo{
	height: 70px;
    padding-top: 5px;
    text-align: center;
    width: 100%;
	padding-bottom:10px;
}
.standard_preview.smallT .logo img{
	height: auto;
    width: auto;
	max-height:60px;
	max-width:190px;
}
.standard_preview.smallT .vinformation{
	clear:both;
}
.standard_preview.smallT .second_section{
	clear:both;
	height: 295px;
}
.standard_preview.smallT .total{
	clear:both;
}
.standard_preview.smallT .address{
	clear:both;
	font-weight:bold;
}
.standard_preview.smallT .infographic{
	clear:both;
	width: 200px;
	height:auto;
}
.standard_preview.smallT .infographic img{
	clear: both;
    height: 75px;
    padding-top: 10px;
    width: 195px;
}
.standard_preview.smallT #total{
	color: #fff;
    float: left;
    text-align: right;
    width: 108px;
}
.standard_preview.smallT .subtotal{
	clear:both;
	height:20px;
}
.standard_preview.smallT #subtotal{
	float: left;
    width: 90px;
}
.standard_preview.smallT #total_num{
	float: left;
    text-align: right;
    width: 85px;
}
.standard_preview.smallT #subtotal_num{
	width: 104px;
	float:left;
	text-align: right;
}
.standard_preview.smallT .vinformation div{
	width:50%;
	float:left;
	padding-top:1px; padding-bottom:1px;
}
.standard_preview.smallT .vinformation .stock,.standard_preview.smallT .vinformation .vin{
	width:100% !important;
	clear:both;
}
/**************************** End Small Template ********************/
/**************************** Top Template ***************************/

.standard_preview.topT .logo {
    display: none;
    height: 70px;
    padding-bottom: 10px;
    padding-top: 5px;
    text-align: center;
    width: 100%;
}
.standard_preview.topT .logo img {
    height: auto;
    width: auto;
	max-height:60px;
	max-width:190px;
}
.standard_preview.topT .vinformation {
    clear: both;
}
.standard_preview.topT .second_section {
    clear: both;
    height: 210px;
    margin-top: 240px;
}
.standard_preview.topT .total {
    clear: both;
}
.standard_preview.topT .address {
    clear: both;
    font-weight: bold;
	margin-top:-3px;
}
.standard_preview.topT .infographic {
    clear: both;
    height: auto;
    position: absolute;
    width: 200px;
    top: 10px;
}
.standard_preview.topT .infographic img {
    clear: both;
    height: 224px;
    width: 195px;
}
.standard_preview.topT #total {
    color: #fff;
    float: left;
    text-align: right;
    width: 108px;
}
.standard_preview.topT .subtotal {
    clear: both;
    height: 20px;
}
.standard_preview.topT #subtotal {
    float: left;
    width: 90px;
}
.standard_preview.topT #total_num {
    float: left;
    text-align: right;
    width: 85px;
}
.standard_preview.topT #subtotal_num {
    float: left;
    text-align: right;
    width: 104px;
}
.standard_preview.topT .vinformation div {
    float: left;
    padding-bottom: 1px;
    padding-top: 1px;
    width: 50%;
}
.standard_preview.topT .vinformation .stock, .standard_preview.topT .vinformation .vin {
    clear: both;
    width: 100% !important;
}
/************************* End Top Template **************************/

/**************************** Large Template ***************************/

.standard_preview.largeT .logo {
    height: 70px;
    padding-bottom: 10px;
    padding-top: 5px;
    text-align: center;
    width: 100%;
}
.standard_preview.largeT .logo img {
    height: auto;
    width: auto;
	max-height:60px;
	max-width:190px;
}
.standard_preview.largeT .vinformation {
    clear: both;
}
.standard_preview.largeT .second_section {
    clear: both;
    height: 150px;
    overflow: hidden;
    
}
.standard_preview.largeT .total {
    clear: both;
}
.standard_preview.largeT .address {
    clear: both;
    font-weight: bold;
	margin-top:-3px;
}
.standard_preview.largeT .infographic {
    clear: both;
    height: auto;
    top: 10px;
}
.standard_preview.largeT .infographic img {
    clear: both;
    height: 224px;
    width: 195px;
}
.standard_preview.largeT #total {
    color: #fff;
    float: left;
    text-align: right;
    width: 108px;
}
.standard_preview.largeT .subtotal {
    clear: both;
    height: 20px;
}
.standard_preview.largeT #subtotal {
    float: left;
    width: 90px;
}
.standard_preview.largeT #total_num {
    float: left;
    text-align: right;
    width: 85px;
}
.standard_preview.largeT #subtotal_num {
    float: left;
    text-align: right;
    width: 104px;
}
.standard_preview.largeT .vinformation div {
    float: left;
    padding-bottom: 1px;
    padding-top: 1px;
    width: 50%;
}
.standard_preview.largeT .vinformation .stock, .standard_preview.largeT .vinformation .vin {
    clear: both;
    width: 100% !important;
}
/************************* End Large Template **************************/
.bold{
	font-weight:bold;
}
.font_SM{
	font-size:8px;
	line-height:8px;
}
.font_MED{
	font-size:10px;
	line-height:10px;
}
.font_LG{
	font-size:12px;
	line-height:12px;
}
.font_XL{
	font-size:14px;
	line-height:14px;
}
.font_XXL{
	font-size:16px;
	line-height:16px;
}
.narrow_preview{
	width:200px;
	height:759px;
	display:none;
}
.mycolor{
	height:auto;
	float:left;
	border:1px solid #CCC;
	width:auto
}
.colorid{
	width:30px;
	height:30px;
	float:left;
	border:1px solid #FFF
}

.mediumT .medium_qr_code .qr_title{
	font-size: 14px;
    height: 20px;
    text-align: center;
    width: 100%;
	font-weight:bold;
}
.mediumT .medium_qr_code .qr_float{
	clear: both;
    height: 70px;
    text-align: center;
    width: 100%;
}
.mediumT .medium_qr_code .qr_text{
	float: left;
    font-size: 11px;
    height: 70px;
	line-height:11px;
    text-align: left;
    width: 60%;
}
.mediumT .medium_qr_code .qr_text2{
	display:none;
}
.mediumT .medium_qr_code .qr_code{
	float: right;
    height: 70px;
    text-align: center;
    width: 40%;
}
.mediumT .medium_qr_code .qr_code img{
	width:80% !important;
	height:auto !important;
}
.mediumT .medium_qr_code .qr_footer{
	font-size: 8px;
    height: 40px;
    text-align: center;
    width: 100%;
	line-height:8px;
}

.mediumT .medium_bar_code .bar_title{
	font-size: 14px;
    height: 20px;
    text-align: center;
    width: 100%;
	font-weight:bold;
}
.mediumT .medium_bar_code .bar_float{
	clear: both;
    height: 75px;
    text-align: center;
    width: 100%;
}
.mediumT .medium_bar_code .bar_text{
    font-size: 11px;
    text-align: left;
    width: 100%;
	height:35px;
}
.mediumT .medium_bar_code .bar_code{
    text-align: center;
    width: 100%;
}
.mediumT .medium_bar_code .bar_code img{
	height: 40px !important;
    width: 180px !important;
}
.mediumT .medium_bar_code .bar_footer{
	font-size: 8px;
    height: 40px;
    text-align: center;
    width: 100%;
	line-height:8px;
}


.topT .medium_qr_code .qr_title{
	font-size: 14px;
    height: 20px;
    text-align: center;
    width: 100%;
	font-weight:bold;
	margin:5px 0;
}
.topT .medium_qr_code .qr_float{
	clear: both;
    height: 70px;
    text-align: center;
    width: 100%;
}
.topT .medium_qr_code .qr_text{
	float: left;
    font-size: 11px;
    height: 70px;
	line-height:11px;
    text-align: left;
    width: 60%;
}
.topT .medium_qr_code .qr_text2{
    font-size: 11px;
    height: 84px;
	line-height:11px;
    text-align: left;
    width: 94%;
	padding-left:3%;
	padding-right:3%;
	clear:both
}
.topT .medium_qr_code .qr_code{
	float: right;
    height: 70px;
    text-align: center;
    width: 40%;
}

.topT .medium_qr_code .qr_code img{
	width:80% !important;
	height:auto !important;
}
.topT .medium_qr_code .qr_footer{
	font-size: 8px;
    height: 40px;
    text-align: center;
    width: 100%;
	line-height:8px;
}

.topT .medium_bar_code .bar_title{
	font-size: 14px;
    height: 20px;
    text-align: center;
    width: 100%;
	font-weight:bold;
	margin:5px 0;
}
.topT .medium_bar_code .bar_float{
	clear: both;
    height: 150px;
    text-align: center;
    width: 100%;
}
.topT .medium_bar_code .bar_text{
    font-size: 11px;
    text-align: left;
    width: 100%;
	height:100px;
}
.topT .medium_bar_code .bar_code{
    text-align: center;
    width: 100%;
}
.topT .medium_bar_code .bar_code img{
	height: 50px !important;
    width: 180px !important;
}
.topT .medium_bar_code .bar_footer{
	font-size: 8px;
    height: 40px;
    text-align: center;
    width: 100%;
	line-height:8px;
}

.largeT .medium_qr_code .qr_title{
	font-size: 14px;
    height: 20px;
    text-align: center;
    width: 100%;
	font-weight:bold;
	margin:5px 0;
}
.largeT .medium_qr_code .qr_float{
	clear: both;
    height: 70px;
    text-align: center;
    width: 100%;
}
.largeT .medium_qr_code .qr_text{
	float: left;
    font-size: 11px;
    height: 70px;
	line-height:11px;
    text-align: left;
    width: 60%;
}
.largeT .medium_qr_code .qr_text2{
    font-size: 11px;
    height: 84px;
	line-height:11px;
    text-align: left;
    width: 94%;
	padding-left:3%;
	padding-right:3%;
	clear:both
}
.largeT .medium_qr_code .qr_code{
	float: right;
    height: 70px;
    text-align: center;
    width: 40%;
}

.largeT .medium_qr_code .qr_code img{
	width:80% !important;
	height:auto !important;
}
.largeT .medium_qr_code .qr_footer{
	font-size: 8px;
    height: 40px;
    text-align: center;
    width: 100%;
	line-height:8px;
}

.largeT .medium_bar_code .bar_title{
	font-size: 14px;
    height: 20px;
    text-align: center;
    width: 100%;
	font-weight:bold;
	margin:5px 0;
}
.largeT .medium_bar_code .bar_float{
	clear: both;
    height: 130px;
    text-align: center;
    width: 100%;
}
.largeT .medium_bar_code .bar_text{
    font-size: 11px;
    text-align: left;
    width: 100%;
	height:80px;
}
.largeT .medium_bar_code .bar_code{
    text-align: center;
    width: 100%;
}
.largeT .medium_bar_code .bar_code img{
	height: 50px !important;
    width: 180px !important;
}
.largeT .medium_bar_code .bar_footer{
	font-size: 8px;
    height: 40px;
    text-align: center;
    width: 100%;
	line-height:8px;
}