<template>
	<div class="tab-pane active" id="edit-options" role="tabpanel">
  		<div class="row p-a"> 
  			<div class="col-md-12">
				<!-- Create Account: Content User Overview Table -->
                <div class="row addendum_option_content">
                	<div class="col-md-3 ipaddetails" style="width:452.75px;">
                    	<div style="padding:10px; font-size:14px">
                    		<span class="vname" style="font-size:16px; font-weight:bold">{{ vname }}</span><br>
                   			Stock: <span class="vstock">{{ vstock }}</span><br>
                    		VIN: <span class="vvin">{{ vvin }}</span><br />
                    		Price:  <span class="vprice">{{ vprice }}</span><hr style="margin:10px 0" />
                    		<table width="100%" border="0">
                    			<!-- with privileage -->
                    			<!--tr v-if="privilege_info && privilege_info.VEHICLE_EDIT_DELETE != 0">
					    			<td v-if="n_addendum_row.ADJUSTMENT != 'None' && u_addendum_row.ADJUSTMENT != 'None'"  width="50%" valign="top">MSRP Adjustment:</td>
								    <td v-if="n_addendum_row.ADJUSTMENT != 'None' && u_addendum_row.ADJUSTMENT != 'None'" width="50%" valign="top">
								    	<input style="height:12px;padding:2px; width:100px;" type="text" class="amsrp form-control" value="0" name="amsrp" />
								    	<button style="width:100px; margin-top:2px;" onclick="apply_adjustment();" class="amsrp_apply btn btn-success btn-xs">Apply</button>
								    </td>
							  	</tr-->
                    			<!-- with privileage -->
                    			<tr>
					    			<td v-if="n_addendum_row.ADJUSTMENT != 'None' && u_addendum_row.ADJUSTMENT != 'None'"  width="50%" valign="top">MSRP Adjustment:</td>
								    <td v-if="n_addendum_row.ADJUSTMENT != 'None' && u_addendum_row.ADJUSTMENT != 'None'" width="50%" valign="top">
								    	<input style="height:12px;padding:2px;width:100px;display:inline-block;" type="text" class="amsrp form-control" v-model="amsrp" name="amsrp" />
								    	<button style="width:100px; margin-left:0;margin:0;" v-on:click="apply_adjustment();" class="amsrp_apply btn btn-success btn-xs">Apply</button>
								    </td>
							  	</tr>
							  	<tr>
							    	<td valign="top">Addendum MSRP: </td>
							    	<td valign="top"><span class="aprice">{{ aprice }}</span></td>
							  	</tr>
							  	<tr>
							    	<td valign="top">Options Total: </td>
							    	<td valign="top"><span class="voptions">{{ voptions }}</span></td>
							  	</tr>
							  	<tr>
							    	<td valign="top"><strong>Total:</strong></td>
							    	<td valign="top"><strong><span class="vtotal">{{ vtotal }}</span></strong></td>
							  	</tr>
							</table>
                    	</div>
                    </div>
                    <div class="col-md-4 responsive_addendum_option_span">
                    
                 	</div>
                 	<div class="col-md-3 col-sm-4 ipadnew" style="padding-top:15px;width:325px;" >
                 		<form id="add_options" method="post" style="padding: 0 0 0 10px;">
                    		<select v-model="selected" style="max-width: 100%; width: 163px; height: 33px;" name="pitem_name" class="c-select" id="item_name" required>
                    			<option v-for="options_item in options_items" v-bind:value="options_item.value">
								    {{ options_item.text }}
							  	</option>
                    		</select>
                    		<button type="button" class="btn btn-info add_option" v-on:click="add_option(selected)" style="height:33px;padding-top:3px; width:100px; padding-left:10px">Add Option</button>
                    	</form>
                    	<button class="btn btn-warning add_new_option" v-on:click="add_new_option_modal()" style="width: 275px; height: 33px; margin-top: 4px;padding-top:3px">Add a new option</button><br/>
                    	<button style="width: 275px; height: 33px; margin-top: 3px;padding-top:4px;" class="btn btn-default re-order" v-on:click="re_order()" >Re-order the options</button><br />
                    	<button class="btn btn-warning add_new_group" style="display:none;width: 263px; height: 33px; margin-top: 4px;padding-top:3px">Add Option Group</button>
                    </div>
                    <div class="col-md-2 col-sm-4 ipadprint" style="padding-top:18px;width: 241px;">
                    	<button class="btn btn-success print_addendum" v-on:click="print_addendum" style="padding:22px 30px 22px 30px; font-size:20px; z-index:200; font-weight:bold; text-align:center; height: inherit;">Create<br/>Addendum</button>
                    </div>
                </div>
                <!-- / Create Account: Content User Overview Table -->
          	</div>
  		</div>
            
    	<!-- Vuetify DataTable -->
	    <v-app id="printvehicle">
	      <div>
	        <v-data-table
	          :headers="headers"
	          :items="items"
	          hide-actions
	          class="elevation-1"
	          no-data-text="No Options Added Yet"
	        >
	          <template slot="items" slot-scope="props">
	            <td width="15%">{{ props.item.ITEM_NAME }}</td>
	            <td class="no-mobile" width="50%">{{ props.item.ITEM_DESCRIPTION }}</td>
	            <td width="10">${{ props.item.ITEM_PRICE }}</td>
	            <td width="25%" class="items_action" style="text-align: center;">
	            	<!-- if value of #ed_grant hidden is zero, then don't show edit btn in future -->
	            	<v-btn
	            		small
	          			color="error"
						@click="delete_option(props.item._ID)"
					>
						Delete
					</v-btn>
	            	<v-btn
	            		small
	          			color="info"
						@click="edit_option(props.index)"
					>
						Edit
					</v-btn>
	            </td>
	          </template>
	        </v-data-table> 
	      </div>
	    </v-app>
	    <!-- Vuetify DataTable -->
  		
  		<!-- Add new option Modal Start -->
  		<v-layout row justify-center>
  			<v-dialog v-model="add_new_option_modal_status" max-width="640">
  				<v-card>
  					<v-form v-model="new_option_frm_valid" ref="form" lazy-validation>
			          	<v-card-title class="headline">Add Addendum Option</v-card-title>
			          	<v-card-text>
			          		<v-container grid-list-md>
			          			<v-layout wrap>
			          				<v-flex xs4 sm4 md4>
					                	<v-subheader>Item Name : </v-subheader>
					                </v-flex>
			          				<v-flex xs8 sm8 md8>
					                  <v-text-field label="Item Name" v-model="new_item_name" 
					                  :rules="[v => !!v || 'Item Name is required']" required></v-text-field>
					                </v-flex>

					                <v-flex xs4 sm4 md4>
					                	<v-subheader>Item Price : </v-subheader>
					                </v-flex>
					                <v-flex xs8 sm8 md8>
					                  <v-text-field label="Item Price" v-model="new_item_price"
					                  :rules="[v => !!v || 'Item Price is required']" required></v-text-field>
					                </v-flex>

					                <v-flex xs4 sm4 md4>
					                	<v-subheader>Item Description : </v-subheader>
					                </v-flex>
					                <v-flex xs8 sm8 md8>
					                  <v-textarea label="Item Description" v-model="new_item_desc"></v-textarea>
					                </v-flex>

					                <v-flex xs4 sm4 md4>
					                	<v-subheader>Add Separator Spaces : </v-subheader>
					                </v-flex>
					                <v-flex xs3 sm3 md3>
					                	<v-checkbox
								        	:label="`Above`"
									        v-model="new_separator_above"
								      	></v-checkbox>	
					                </v-flex>
				                	<v-flex xs3 sm3 md3>
				                		<v-checkbox
								        	:label="`Below`"
									        v-model="new_separator_below"
								      	></v-checkbox>	
				                	</v-flex>
				                	<v-flex xs2 sm2 md2>
				                		<v-text-field label="Spaces" v-model="new_sep_spaces"></v-text-field>
				                	</v-flex>

				                	<v-flex xs4 sm4 md4>
				                		<v-subheader>Save for Future Use : </v-subheader>
				                	</v-flex>
				                	
				                	<v-flex xs2 sm2 md2>
				                		<v-checkbox
									        v-model="new_future_use_status"
								      	></v-checkbox>
				                	</v-flex>
			          			</v-layout>
			          		</v-container>
			          	</v-card-text>
			          	<v-card-actions>
			            	<v-spacer></v-spacer>
			            	<v-btn color="darken-1" flat="flat" @click.native="add_new_option_modal_status = false">Cancel</v-btn>
			            	<v-btn color="green darken-1" flat="flat" @click="new_option_frm_submit" :disabled="!new_option_frm_valid">Save Changes</v-btn>
			          	</v-card-actions>
		          	</v-form>
		        </v-card>
  			</v-dialog>
  		</v-layout>
  		<!-- Add new option Modal End -->

  		<!-- Re-Order Modal Start -->
  		<v-layout row justify-center>
  			<v-dialog v-model="re_order_modal_status" max-width="640">
  				<v-card>
		          	<v-card-title class="headline">Re-order Options</v-card-title>
		          	<v-card-text>
		          		<v-container grid-list-md>
		          			<v-layout wrap>
		          				<v-flex xs12 sm12 md12>
				                	<v-subheader>Please drag and drop to re-order</v-subheader>
				                </v-flex>
		          				<ul id="sortable">
		          					<li class="ui-state-default" v-for="sortable_item in sortable_items" :key="sortable_item._ID" :data-id="sortable_item._ID">
								    	{{ sortable_item.ITEM_NAME }}
							  		</li>
		          				</ul>
		          			</v-layout>
		          		</v-container>
		          	</v-card-text>
		          	<v-card-actions>
		            	<v-spacer></v-spacer>
		            	<v-btn color="darken-1" flat="flat" @click.native="re_order_modal_status = false">Cancel</v-btn>
		            	<v-btn color="green darken-1" flat="flat" @click="change_re_order" >Save Changes</v-btn>
		          	</v-card-actions>
		        </v-card>
  			</v-dialog>
  		</v-layout>
  		<!-- Re-Order Modal End -->

  		<!-- Edit option Modal Start -->
  		<v-layout row justify-center>
  			<v-dialog v-model="edit_option_modal_status" max-width="640">
  				<v-card>
  					<v-form v-model="edit_option_frm_valid" ref="edit_option_form" lazy-validation>
			          	<v-card-title class="headline">Edit Addendum Option</v-card-title>
			          	<v-card-text>
			          		<v-container grid-list-md>
			          			<v-layout wrap>
			          				<v-flex xs4 sm4 md4>
					                	<v-subheader>Item Name : </v-subheader>
					                </v-flex>
			          				<v-flex xs8 sm8 md8>
					                  <v-text-field label="Item Name" v-model="edit_item_name" 
					                  :rules="[v => !!v || 'Item Name is required']" required></v-text-field>
					                </v-flex>

					                <v-flex xs4 sm4 md4>
					                	<v-subheader>Item Price : </v-subheader>
					                </v-flex>
					                <v-flex xs8 sm8 md8>
					                  <v-text-field label="Item Price" v-model="edit_item_price"
					                  :rules="[v => !!v || 'Item Price is required']" required></v-text-field>
					                </v-flex>

					                <v-flex xs4 sm4 md4>
					                	<v-subheader>Item Description : </v-subheader>
					                </v-flex>
					                <v-flex xs8 sm8 md8>
					                  <v-textarea label="Item Description" v-model="edit_item_desc"></v-textarea>
					                </v-flex>

					                <v-flex xs4 sm4 md4>
					                	<v-subheader>Add Separator Spaces : </v-subheader>
					                </v-flex>
					                <v-flex xs3 sm3 md3>
					                	<v-checkbox
								        	:label="`Above`"
									        v-model="edit_separator_above"
								      	></v-checkbox>	
					                </v-flex>
				                	<v-flex xs3 sm3 md3>
				                		<v-checkbox
								        	:label="`Below`"
									        v-model="edit_separator_below"
								      	></v-checkbox>	
				                	</v-flex>
				                	<v-flex xs2 sm2 md2>
				                		<v-text-field label="Spaces" v-model="edit_sep_spaces"></v-text-field>
				                	</v-flex>
				                	
			          			</v-layout>
			          		</v-container>
			          	</v-card-text>
			          	<v-card-actions>
			            	<v-spacer></v-spacer>
			            	<v-btn color="darken-1" flat="flat" @click.native="edit_option_modal_status = false">Cancel</v-btn>
			            	<v-btn color="green darken-1" flat="flat" @click="edit_option_frm_submit" :disabled="!edit_option_frm_valid">Save Changes</v-btn>
			          	</v-card-actions>
		          	</v-form>
		        </v-card>
  			</v-dialog>
  		</v-layout>
  		<!-- Edit option Modal End -->

  		<!-- Create Print Modal Start -->
  		<v-layout row justify-center>
  			<v-dialog v-model="create_print_modal_status" max-width="640" scrollable>
  				<v-card>
		          	<v-card-title class="headline">Print Addendum</v-card-title>
		          	<v-card-text>
		          		<v-container grid-list-md >
		          			<v-layout wrap>
		          				<component :is="print_component" 
		          				:vid="vid"
		          				></component>
		          			</v-layout>
		          		</v-container>
		          	</v-card-text>
		          	<v-card-actions>
		            	<v-spacer></v-spacer>
		            	<v-btn color="red darken-1" flat="flat" @click="download_pdf">Download PDF</v-btn>
		            	<v-btn color="green darken-1" flat="flat" @click="print_view" >Print</v-btn>
		            	<v-btn color="darken-1" flat="flat" @click.native="create_print_modal_status = false">Cancel</v-btn>
		          	</v-card-actions>
		        </v-card>
  			</v-dialog>
  		</v-layout>
  		<!-- Create Print Modal End -->
	</div>
</template>
<style type="text/css">
	#sortable { list-style-type: none; margin: 0; padding: 0; width: 80%; }
	#sortable li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 1.5em; cursor:move; text-align: center; }
	html>body #sortable li { height: 2em; line-height: 1.2em; }
	.ui-state-highlight { height: 2em; line-height: 1.2em; }
	.application--wrap {
	    min-height: 100%!important;
	}
</style>
<script type="text/javascript">
	import jQuery from 'jquery';
	import Sortable from 'sortablejs';
	import Multiprint from '../../multiprint.vue';

	export default{
		data(){
			return{
				vid : this.$route.params.vid,
				n_addendum_row :{}, // row from Template Data Table where TEMPLATE_TYPE = 'New'
				u_addendum_row :{}, // row from Template Data Table where TEMPLATE_TYPE = 'Used'
				options_items: [],
				selected : '', // Selected option
				items: [], //options table item list,

				add_new_option_modal_status: false, //Vuetify Add New modal view status
				re_order_modal_status: false, //Vuetify Sortable modal view status
				edit_option_modal_status: false, //Vuetify Edit modal view status,
				create_print_modal_status: false, //Vuetify Create Print modal view status,

				/* Add new option form init */
				new_option_frm_valid : true,
				new_item_name: '',
				new_item_price: '',
				new_item_desc: '',
				new_sep_spaces: '',
				new_separator_above: false, //Vuetify checkbox value in modal
				new_separator_below: false, //Vuetify checkbox value in modal
				new_future_use_status: false, //Vuetify checkbox value in modal

				/* Edit option form init */
				edit_option_frm_valid : true,
				edit_id: '',
				edit_or_or_ad: '',
				edit_item_name: '',
				edit_item_price: '',
				edit_item_desc: '',
				edit_sep_spaces: '',
				edit_separator_above: false, //Vuetify checkbox value in modal
				edit_separator_below: false, //Vuetify checkbox value in modal

				sortable_items : [], //re-order items
				sortable_obj: {}, // variable for handle sortable object 

				addendum_check: '', // Style for create print addendum

				headers: [
		          {
		            text: 'Item Name',
		            align: 'left',
		            sortable: false,
		            value: 'ITEM_NAME'
		          },
		          { text: 'Description', value: 'ITEM_DESCRIPTION' , class: 'no-mobile',sortable: false},
		          { text: 'Price', value: 'ITEM_PRICE',sortable: false},
		          { text: 'Action', value: 'Action' ,class: 'text-xs-center',sortable: false}
		        ],
				vname : '', // Vehicle Name
				vstock : '', // Vehicle Stock
				vvin : '', // Vehicle VIN NUMBER
				vprice : '', // Vehicle price
				vtotal : '', // Vehicle total price
				voptions : '', // Vehicle options
				amsrp : 0,
				aprice : '',

				print_component: '',
			}
		},
		created: function()
      	{
          	this.fetchData();
      	},
      	methods: {
      		/**
			 * Fetch print vehicle information when created vue dom
			 *
			 * @return Object
			 */
			fetchData()
			{
				//get template data
				let addendum_uri = window.laravel.base_url + '/get_template_data';
				this.axios.post(addendum_uri).then((response1) => {
				  	this.n_addendum_row = response1.data.n_addendum_row;
				  	this.u_addendum_row = response1.data.u_addendum_row;

				  	//get print information
				  	let uri = window.laravel.base_url + '/get_print_data';
					this.axios.post(uri, { 'id': this.vid }).then((response) => {
					  this.vname = response.data.year+' '+response.data.make+' '+response.data.model;
					  this.vstock = response.data.stock;
					  this.vvin = response.data.vin;
					  this.vprice = response.data.price;
					  this.vtotal = response.data.total_price;
					  this.voptions = response.data.options1;
					  this.amsrp = response.data.amsrp;
					  this.aprice = response.data.aprice;
					});
				});

				//Get Print options
				let print_options_uri = window.laravel.base_url + '/get_print_options';
				this.axios.post(print_options_uri, { 'id': this.vid }).then((response) => {
					this.options_items = response.data.options_array;
				});
				
				//Get Print Options for table
				let print_options_tblData_uri = window.laravel.base_url + '/get_print_opt_tbl_data';
				this.axios.post(print_options_tblData_uri, { 'id': this.vid }).then((response) => {
					this.items = response.data.options_data;
					responsive_design();
				});
			},
			/**
			 *
			 * Add option from addendum default
			 */
			add_option : function(option_id){
				if(option_id){
					let add_option_uri = window.laravel.base_url + '/add_option';
					this.axios.post(add_option_uri, { 'vid': this.vid, 'option_id': option_id }).then((response) => {
						if(response.data.status == 'success'){
							this.fetchData();
						}
					});
				}
			},
			/**
			 * Open modal to add new option
			 *
			 */
			add_new_option_modal : function(){
				this.add_new_option_modal_status = true;
			},
			/**
			 *
			 * Add new option
			 */
			new_option_frm_submit : function(){
				if (this.$refs.form.validate()) {
					this.add_new_option_modal_status = false;
					let add_new_option_uri = window.laravel.base_url + '/add_new_option';
					this.axios.post(add_new_option_uri, 
						{ 
							'vid': this.vid, 
							'item_name': this.new_item_name,
							'item_price': this.new_item_price,
							'item_desc': this.new_item_desc,
							'sep_below': this.new_separator_below,
							'sep_above': this.new_separator_above,
							'sep_space': this.new_sep_spaces,
							'save_future': this.new_future_use_status
						}).then((response) => {
							if(response.data.status == 'success'){
								this.fetchData();
							}
					});
				}
			},
			/*
			 *
			 * Open Re-order Modal and Get sortable options.
			 */
			re_order: function(){
				let get_sortable_uri = window.laravel.base_url + '/get_sortable';
				this.axios.post(get_sortable_uri, { 'vid' : this.vid}).then((response) => {
					this.sortable_items = response.data.addendum_data;
					this.re_order_modal_status = true;
					var el = $('#sortable')[0];
					this.sortable_obj = Sortable.create(el);
				});
			},
			/**
			 *
			 * Re order with changed order
			 */
		 	change_re_order: function(){
			 	var order = this.sortable_obj.toArray(); //Get Ordered options ids
			 	let save_sortable_uri = window.laravel.base_url + '/save_sortable';
			 	this.axios.post(save_sortable_uri, { 'vid' : this.vid, 'order': JSON.stringify(order)}).then((response) => {
			 		if(response.data.status == 'success'){
			 			this.re_order_modal_status = false;
			 			this.fetchData();
			 		}
			 	});
			 },

		 	/**
			  *
			  * Delete options from Table
			  *
			  * @param _ID
			  */
		 	delete_option : function(id){
		 		this.$dialog.confirm('Do you really want to delete this option?',{
		 			loader: true
		 		})
		 		.then((dialog) => {
		 			let delete_option_uri = window.laravel.base_url + '/delete_option';
		 			this.axios.post(delete_option_uri, { 'id' : id}).then((response) => {
		 				if(response.data.status == 'success'){
		 					this.fetchData();
		 					dialog.close();
		 				}
		 			});
		 		}).catch(function () {
			    });
		 	},

		 	/**
		 	 *
		 	 * Edit options in Tabel
		 	 *
		 	 * @param index of options in table
		 	 */
		 	edit_option : function (index){
		 		this.edit_item_name = this.items[index].ITEM_NAME;
		 		this.edit_item_price = this.items[index].ITEM_PRICE;
		 		this.edit_item_desc = this.items[index].ITEM_DESCRIPTION;
		 		this.edit_sep_spaces = this.items[index].SEPARATOR_SPACES;
		 		this.edit_separator_above = this.items[index].SEPARATOR_ABOVE == "0"?false:true;
		 		this.edit_separator_below = this.items[index].SEPARATOR_BELOW == "0"?false:true;
		 		this.edit_id = this.items[index]._ID;
		 		this.edit_or_or_ad = this.items[index].OR_OR_AD;
		 		this.edit_option_modal_status = true;
		 	},

		 	/**
		 	 *
		 	 * Save edited option
		 	 */
			edit_option_frm_submit: function(){
				if (this.$refs.edit_option_form.validate()) {
					this.edit_option_modal_status = false;
					let save_edited_option_uri = window.laravel.base_url + '/save_edited_option';
					this.axios.post(save_edited_option_uri, 
						{ 
							'vid': this.vid,
							'id': this.edit_id,
							'item_name': this.edit_item_name,
							'item_price': this.edit_item_price,
							'item_desc': this.edit_item_desc,
							'sep_below': this.edit_separator_below,
							'sep_above': this.edit_separator_above,
							'sep_space': this.edit_sep_spaces,
							'or_or_ad': this.edit_or_or_ad
						}).then((response) => {
							if(response.data.status == 'success'){
								this.fetchData();
							}
					});
				}
			},

			/**
			 *
			 * Apply Adjustment
			 */
			apply_adjustment : function(){
				let save_adjustment_uri = window.laravel.base_url + '/save_adjustment';
				this.axios.post(save_adjustment_uri, 
						{ 
							'vid': this.vid,
							'adjustment_value': this.amsrp
						}).then((response) => {
							if(response.data.status == 'success'){
								this.fetchData();
							}
					});
			},

			/**
			 * show dialog for print Addendum
			 */
		 	print_addendum : function(){
		 		let check_print_addendum_uri = window.laravel.base_url + '/check_print_addendum';
		 		this.axios.post(check_print_addendum_uri, {vid: this.vid}).then((response) => {
		 			this.addendum_check = jQuery.trim(response.data.add_style);
		 			this.print_component = Multiprint;
		 			this.create_print_modal_status = true;
		 		});
		 	},
		 	/**
		 	 * download pdf
		 	 */
		 	download_pdf : function(){
		 		var type = 'single';
		 		let print_status_uri = window.laravel.base_url + '/print_status';
		 		this.axios.post(print_status_uri, {vid: this.vid, type:type}).then((response) => {
		 			if(response.data.status == 'success'){
		 				let get_user_status_uri = window.laravel.base_url + '/get_user_status';
		 				this.axios.post(get_user_status_uri).then((response) => {

		 					/* Update Header User's status */
		 					jQuery('.c_current_vehicles').html(response.data.current_vehicle);

							jQuery('.c_plus_today').html(response.data.plus_vehicle);

							jQuery('.c_current_addendums').html(response.data.current_addendum);

							jQuery('.c_need_printing').html(response.data.need_addendum);

							jQuery('.c_users').html(response.data.count_user);

							jQuery('.c_last_login').html(response.data.last_login);

							jQuery('.c_addendum_printed').html(response.data.printed_addendum);

							jQuery('.c_30_days').html(response.data.last_30);
							/* Update Header User's status */

							if(type == 'single'){
								let pdf_url = window.laravel.base_url + '/multiple_download?vid='+this.vid+'&dtype=download';
								window.location = pdf_url;
							}
		 				});
		 			}
		 		});
		 	},

		 	/**
		 	 *
		 	 * Print View
		 	 */
		 	print_view : function(){
		 		var html = '<div id="load"></div>';
		 		jQuery('body').append(html);
		 		var type = 'single';
		 		let print_status_uri = window.laravel.base_url + '/print_status';
		 		this.axios.post(print_status_uri, {vid: this.vid, type:type}).then((response) => {
		 			if(response.data.status == 'success'){
		 				let get_user_status_uri = window.laravel.base_url + '/get_user_status';
		 				this.axios.post(get_user_status_uri).then((response) => {

		 					/* Update Header User's status */
		 					jQuery('.c_current_vehicles').html(response.data.current_vehicle);

							jQuery('.c_plus_today').html(response.data.plus_vehicle);

							jQuery('.c_current_addendums').html(response.data.current_addendum);

							jQuery('.c_need_printing').html(response.data.need_addendum);

							jQuery('.c_users').html(response.data.count_user);

							jQuery('.c_last_login').html(response.data.last_login);

							jQuery('.c_addendum_printed').html(response.data.printed_addendum);

							jQuery('.c_30_days').html(response.data.last_30);
							/* Update Header User's status */

							if(type == 'single'){
								let pdf_url = window.laravel.base_url + '/multiple_download?vid='+this.vid+'&dtype=print';
								/*create print view page */
								var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
								var randid = Math.floor(Math.random() * 101);
								var uframe='goinOnaSafari2-' + randid;
								
								jQuery(".iframe").html('<iframe src="" height="0" width="0" id="'+uframe+'" style="visibility:hidden"></iframe>');
								if(navigator.userAgent.toLowerCase().indexOf('firefox') > -1)
								{
									// Fireforx Browser
									jQuery('#'+uframe).on('load', function(){
										setTimeout(function(){ jQuery('#load').remove(); }, 6000);
										this.contentWindow.focus();
										jQuery(this).unbind('load');
									}).attr('src', pdf_url);
								}else if(isChrome){
									// Chrome Browser
									jQuery('#'+uframe).on('load' ,function(){
										setTimeout(function(){ jQuery('#load').remove(); }, 6000);
										this.contentWindow.focus();
										this.contentWindow.print();
										jQuery(this).unbind('load');
									}).attr('src', pdf_url);
								}else{
									// Other Browser
									var win=window.open(pdf_url, "", "directories=no,menubar=no,resizable=no,scrollbars=yes,status=yes,titlebar=yes,top=0,location=no");
									if(win==null){
										setTimeout(function(){ jQuery('#load').remove(); }, 6000);
										//jQuery("#popupblock").modal("show");
									}else{
										setTimeout(function(){ jQuery('#load').remove(); }, 6000);
										win.focus();
									}
								}
								/*create print view page */
							}
		 				});
		 			}
		 		});
		 	}
      	},
      	components: {
            Multiprint
        }
	}

	/* js for tablet responsive */
	$(function(){
		var inital = setInterval(function(){
      	if($('#printvehicle .items_action .v-btn--small').length > 0){
	        responsive_design();
	        clearInterval(inital);
	      }
	    }, 200);
	});
	$(window).resize(function() {
		var inital = setInterval(function(){
      	if($('#printvehicle .items_action .v-btn--small').length > 0){
	        responsive_design();
	        clearInterval(inital);
	      }
	    }, 200);
	});
	/**
	*
	* For responsive design function
	*
	*/
	function responsive_design(){
		// for space between vdetail content and create new option content
		if ( $(window).width() < 1576) {   
			var width = $('.addendum_option_content').innerWidth() - $('.ipaddetails').innerWidth() - $('.ipadnew').innerWidth() - $('.ipadprint').innerWidth() - 100;
			
			if(width > 0){
				$('.responsive_addendum_option_span').css('width', width+'px');
			}else{
				$('.responsive_addendum_option_span').css('width', '');	
			}
		}else{
			$('.responsive_addendum_option_span').css('width', '');
		}
		// for MSRP Input field and button content responsive
		if($(window).width() < 510){
			$('.ipaddetails').css('width','');
		}else{
			$('.ipaddetails').css('width','452.75px');
		}

		if($(window).width() < 1024){
			$('#printvehicle .items_action .v-btn--small').css('min-width','auto');
      		$('#printvehicle .items_action .v-btn--small').css('margin','6px 2px');
			$('#printvehicle .items_action .v-btn--small.error').text('D');
			$('#printvehicle .items_action .v-btn--small.info').text('E');
		}else{
			$('#printvehicle .items_action .v-btn--small').css('margin','6px 8px');
      		$('#printvehicle .items_action .v-btn--small').css('min-width','88px');
			$('#printvehicle .items_action .v-btn--small.error').text('DELETE');
			$('#printvehicle .items_action .v-btn--small.info').text('EDIT');
		}
		
		// for create new option content, create addendum btn responsive
		if($(window).width() < 365){
			$('.ipadnew').css('width','');
			$('.ipadnew').css('text-align','center');
			$('.add_new_option').css('width', '227px');
			$('.re-order').css('width', '227px');
			$('.ipadprint').css('width','');
			$('.ipadprint').css('text-align','center');
		}else{
			$('.ipadnew').css('width','325');
			$('.ipadnew').css('text-align','');
			$('.add_new_option').css('width', '275px');
			$('.re-order').css('width', '275px');
			$('.ipadprint').css('width','241px');
			$('.ipadprint').css('text-align','');
		}
	}
	/* js for tablet responsive */
</script>