<template>
    <v-app style="background: #3a6897;">
    <div id="app" class="">
        <div id="content" class="app-content box-shadow-z0" role="main">
            <!-- Header Menu Nave Section -->
            <router-view name="headernav"></router-view>
            <!-- Header User Active Information Section -->
            <router-view name="headerinfo"></router-view>
        </div>
        <div class="main_board">
            <v-content>
            <!-- Lower nav for mobile and tablet -->
            <!-- Navbar collapse -->
            <div id="navbar-3">
                <!-- Main Menu Dropdown for md, sm, and xs-->
                <router-view name="mobilenav"></router-view>
                <!-- / Main Menu Dropdown  --> 
            </div>
            <!-- / navbar collapse --> 

            <!-- Lower nav for xl and lg-->
            <div class="col-xs-12 col-sm-12 col-md-12 hidden-md-down" style="float:none;" id="dashboard_tab_menu_content">
                <!-- Nav tabs -->
                    <router-view name="nav"></router-view>
                <!-- Tab panes -->
            </div>
            <div class="box"> 
                <div id="" class="tab-content">
                    <transition name="fade">
                        <router-view></router-view>
                    </transition>
                </div>
            </div>
            </v-content>
        </div>
    </div>
    </v-app>
</template>

<style>
    .fade-enter-active, .fade-leave-active {
      transition: opacity .5s
    }
    .fade-enter, .fade-leave-active {
      opacity: 0
    }
</style>

<script>
    export default{
        
    }
</script>