<template>
	<!-- Code Start -->
	<v-app id="main">
		<div class="add_dealer_tab">
			<div>
				<v-form v-model="add_dealer_frm_valid" ref="add_new_dealer_form" lazy-validation>
					<v-container fluid>
						<v-layout row class="my-5">
							<v-flex md4 offset-md4 xs6 offset-xs3 class="elevation-12 px-5">
								<v-layout row>
									<v-flex xs4 sm4 md4>
				                      <v-subheader>Dealer Name</v-subheader>
				                    </v-flex>
				                    <v-flex xs8 sm8 md8>
				                      <v-text-field label="Dealer Name" v-model="dealer_info.DEALER_NAME" 
				                          :rules="[v => !!v || 'Dealer Name is required']" required></v-text-field>
				                    </v-flex>
				                </v-layout>
				                <v-layout row>
				                    <v-flex xs4 sm4 md4>
				                      <v-subheader>Dealer ID</v-subheader>
				                    </v-flex>
				                    <v-flex xs8 sm8 md8>
				                      <v-text-field label="Dealer Name" v-model="dealer_info.DEALER_ID" 
				                          :rules="[v => !!v || 'Dealer ID is required']" required></v-text-field>
				                    </v-flex>
			                    </v-layout>
				                <v-layout row>
				                    <v-flex xs4 sm4 md4>
				                      <v-subheader>Account Type</v-subheader>
				                    </v-flex>
				                    <v-flex xs8 sm8 md8>
				                      <v-select
				                        :items="dealer_atype_items"
				                        v-model="dealer_info.ACCOUNT_TYPE"
				                        label="Select"
				                        single-line
				                      ></v-select>
				                    </v-flex>
				                </v-layout>
				                <v-layout row>
				                    <v-flex xs4 sm4 md4>
				                      <v-subheader>Username</v-subheader>
				                    </v-flex>
				                    <v-flex xs8 sm8 md8>
				                      <v-text-field label="Username" v-model="dealer_info.username"
				                      :rules="[v => !!v || 'Dealer ID is required']" required></v-text-field>
				                    </v-flex>
			                    </v-layout>
				                <v-layout row>
				                    <v-flex xs4 sm4 md4>
				                      <v-subheader>Password</v-subheader>
				                    </v-flex>
				                    <v-flex xs8 sm8 md8>
				                      <v-text-field label="Password" v-model="dealer_info.password"
				                      :rules="[v => !!v || 'Dealer ID is required']" required></v-text-field>
				                    </v-flex>
			                    </v-layout>
				                <v-layout row>
				                    <v-flex xs4 sm4 md4>
				                      <v-subheader>Confirm Password</v-subheader>
				                    </v-flex>
				                    <v-flex xs8 sm8 md8>
				                      <v-text-field label="Password" v-model="confirm_password"
				                      :rules="[v => !!v || 'Dealer ID is required']" required></v-text-field>
				                    </v-flex>
			                    </v-layout>
				                <v-layout row>
				                    <v-flex xs4 sm4 md4>
				                      <v-subheader>Address</v-subheader>
				                    </v-flex>
				                    <v-flex xs8 sm8 md8>
				                      <v-text-field label="Address" v-model="dealer_info.DEALER_ADDRESS"></v-text-field>
				                    </v-flex>
			                    </v-layout>
				                <v-layout row>
				                    <v-flex xs4 sm4 md4>
				                      <v-subheader>City</v-subheader>
				                    </v-flex>
				                    <v-flex xs8 sm8 md8>
				                      <v-text-field label="City" v-model="dealer_info.DEALER_CITY"></v-text-field>
				                    </v-flex>
			                    </v-layout>
				                <v-layout row>
				                    <v-flex xs4 sm4 md4>
				                      <v-subheader>State</v-subheader>
				                    </v-flex>
				                    <v-flex xs8 sm8 md8>
				                      <v-text-field label="State" v-model="dealer_info.DEALER_STATE"></v-text-field>
				                    </v-flex>
			                    </v-layout>
				                <v-layout row>
				                    <v-flex xs4 sm4 md4>
				                      <v-subheader>Zip</v-subheader>
				                    </v-flex>
				                    <v-flex xs8 sm8 md8>
				                      <v-text-field label="Zip" v-model="dealer_info.DEALER_ZIP"></v-text-field>
				                    </v-flex>
			                    </v-layout>
				                <v-layout row>
				                    <v-flex xs4 sm4 md4>
				                      <v-subheader>Contact</v-subheader>
				                    </v-flex>
				                    <v-flex xs8 sm8 md8>
				                      <v-text-field label="Contact" v-model="dealer_info.PRIMARY_CONTACT"></v-text-field>
				                    </v-flex>
			                    </v-layout>
				                <v-layout row>
				                    <v-flex xs4 sm4 md4>
				                      <v-subheader>Contact Email</v-subheader>
				                    </v-flex>
				                    <v-flex xs8 sm8 md8>
				                      <v-text-field label="Contact" v-model="dealer_info.PRIMARY_CONTACT_EMAIL"></v-text-field>
				                    </v-flex>
								</v-layout>
								<v-divider></v-divider>
								<v-layout>
									<v-flex xs12 text-center>
										<v-btn 
												small
							          			color="primary"
												@click="add_dealer('notify')"
												:disabled="!add_dealer_frm_valid"
											>
											Save and Notify New Dealer
										</v-btn>
										<v-btn
												small
							          			color="success"
												@click="add_dealer()"
												:disabled="!add_dealer_frm_valid"
											>
											Save New Dealer
										</v-btn>
										<v-btn 
												small
												@click="clear()"
											>
											Cancel
										</v-btn>
									</v-flex>
								</v-layout>
							</v-flex>
						</v-layout>
					</v-container>
				</v-form>
			</div>
		</div>
	</v-app>
</template>
<style type="text/css">
  /* Your Style */
</style>
<script>
	import moment from 'moment';
	import swal from 'sweetalert';

	export default{
		data(){
			return{
				add_dealer_frm_valid: false,
				confirm_password: '',
				dealer_info: {
					DEALER_NAME: '',
					DEALER_ID: '',
					ACCOUNT_TYPE: 'Free',
					username: '',
					password: '',
					DEALER_ADDRESS: '',
					DEALER_CITY: '',
					DEALER_STATE: '',
					DEALER_ZIP: '',
					PRIMARY_CONTACT: '',
					PRIMARY_CONTACT_EMAIL: ''
				},
				dealer_atype_items: [
		          { text: 'Free', value: 'Free'},
		          { text: 'Manual Load', value: 'Manual'},
		          { text: 'Automatic Web', value: 'Automatic Web'},
		          { text: 'Automatic DMS', value: 'Automatic DMS'}
		        ],
			}
		},
		methods: {
			add_dealer: function(type){
				if(this.$refs.add_new_dealer_form.validate()) {
					if(this.confirm_password != this.dealer_info.password){
						swal("Oops..", "Confirm password is not valid with password.", "error");
						return false;
					}
					if(type == undefined){
						type = '';
					}
					
					let uri = window.laravel.base_url+'/add_new_dealer';
					this.axios.post(uri, {dealer_info: JSON.stringify(this.dealer_info), type: type}).then((response) => {
						if(response.data.status == 'success'){
							swal("OK!", "New Dealer added successfully.", "success");
							this.clear();
						}
					});
				}
			},
			clear: function(){
				this.dealer_info = {
					DEALER_NAME: '',
					DEALER_ID: '',
					ACCOUNT_TYPE: 'Free',
					username: '',
					password: '',
					DEALER_ADDRESS: '',
					DEALER_CITY: '',
					DEALER_STATE: '',
					DEALER_ZIP: '',
					PRIMARY_CONTACT: '',
					PRIMARY_CONTACT_EMAIL: ''
				};
				this.confirm_password = '';
			}
		}
	}
</script>