<template>
	<!-- Code Start -->
	<v-app id="main">
		<div class="add_vehicle_tab">
				<div>
					<v-alert type="info" :value="show_vininfo_flag">
				        Confirm VIN decode Information.
			      	</v-alert>
					<v-form v-model="add_vehicle_frm_valid" ref="add_new_vehicle_form" lazy-validation>
						<v-container fluid>
							<v-layout row class="my-5">
								<v-flex xs6 offset-xs3 class="elevation-12 px-5">
									<v-layout row>
										<v-flex xs4>
							          		<v-subheader>&nbsp;&nbsp; Stock Number</v-subheader>
								        </v-flex>
								        <v-flex xs8>
									        <v-text-field
										        label="STOCK NUMBER"
										        v-model="stock_number"
										        :rules="[v => !!v || 'Stock Number is required']" required
										        @input="stock_number = stock_number.toUpperCase()"
									      	></v-text-field>
								      	</v-flex>
							        </v-layout>
							        <v-layout row>
										<v-flex xs4>
							          		<v-subheader>&nbsp;&nbsp; VIN Number</v-subheader>
								        </v-flex>
								        <v-flex xs8>
									        <v-text-field
										        label="VIN NUMBER"
										        v-model="vin_number"
										        :disabled="show_vininfo_flag"
										        :rules="vin_rule" required
										        :counter="17"
										        @input="vin_number = vin_number.toUpperCase()"
									      	></v-text-field>
								      	</v-flex>
							        </v-layout>
							        <!-- After Decode VIN Start -->
							        <v-layout row v-if="show_vininfo_flag">
										<v-flex xs4>
							          		<v-subheader>&nbsp;&nbsp; Vehicle Type</v-subheader>
								        </v-flex>
								        <v-flex xs8>
									        <v-select
									            :items="new_used_items"
									            v-model="new_used"
									            label="SELECT"
									            single-line
								          	></v-select>
								      	</v-flex>
							        </v-layout>

							        <v-layout row v-if="show_vininfo_flag">
										<v-flex xs4>
							          		<v-subheader>&nbsp;&nbsp; Mileage</v-subheader>
								        </v-flex>
								        <v-flex xs8>
									        <v-text-field
										        label="MILEAGE"
										        v-model="mileage"
									      	></v-text-field>
								      	</v-flex>
							        </v-layout>
							        <!-- After Decode VIN End -->

							        <v-layout row>
										<v-flex xs4>
							          		<v-subheader>&nbsp;&nbsp; Price</v-subheader>
								        </v-flex>
								        <v-flex xs8>
									        <v-text-field
										        label="MSRP"
										        v-model="msrp"
									      	></v-text-field>
								      	</v-flex>
							        </v-layout>

							        <!-- After Decode VIN Start -->
							        <v-layout row v-if="show_vininfo_flag">
										<v-flex xs4>
							          		<v-subheader>&nbsp;&nbsp; Year</v-subheader>
								        </v-flex>
								        <v-flex xs8>
									        <v-text-field
										        label="YEAR"
										        v-model="year"
									      	></v-text-field>
								      	</v-flex>
							        </v-layout>

							        <v-layout row v-if="show_vininfo_flag">
										<v-flex xs4>
							          		<v-subheader>&nbsp;&nbsp; Make</v-subheader>
								        </v-flex>
								        <v-flex xs8>
									        <v-text-field
										        label="MAKE"
										        v-model="make"
									      	></v-text-field>
								      	</v-flex>
							        </v-layout>

							        <v-layout row v-if="show_vininfo_flag">
										<v-flex xs4>
							          		<v-subheader>&nbsp;&nbsp; Model</v-subheader>
								        </v-flex>
								        <v-flex xs8>
									        <v-text-field
										        label="MODEL"
										        v-model="model"
									      	></v-text-field>
								      	</v-flex>
							        </v-layout>

							        <v-layout row v-if="show_vininfo_flag">
										<v-flex xs4>
							          		<v-subheader>&nbsp;&nbsp; Trim</v-subheader>
								        </v-flex>
								        <v-flex xs8>
									        <v-select
									            :items="trims_item"
									            v-model="trim"
									            label="SELECT"
									            single-line
								          	></v-select>
								      	</v-flex>
							        </v-layout>

							        <v-layout row v-if="show_vininfo_flag">
										<v-flex xs4>
							          		<v-subheader>&nbsp;&nbsp; Style</v-subheader>
								        </v-flex>
								        <v-flex xs8>
									        <v-text-field
										        label="STYLE"
										        v-model="style"
									      	></v-text-field>
								      	</v-flex>
							        </v-layout>

							        <v-layout row v-if="show_vininfo_flag">
										<v-flex xs4>
							          		<v-subheader>&nbsp;&nbsp; Ext Color</v-subheader>
								        </v-flex>
								        <v-flex xs8>
									        <v-text-field
										        label="EXT COLOR"
										        v-model="ext_color"
									      	></v-text-field>
								      	</v-flex>
							        </v-layout>

							        <v-layout row v-if="show_vininfo_flag">
										<v-flex xs4>
							          		<v-subheader>&nbsp;&nbsp; Int Color</v-subheader>
								        </v-flex>
								        <v-flex xs8>
									        <v-text-field
										        label="INT COLOR"
										        v-model="int_color"
									      	></v-text-field>
								      	</v-flex>
							        </v-layout>

							        <v-layout row v-if="show_vininfo_flag">
										<v-flex xs4>
							          		<v-subheader>&nbsp;&nbsp; Doors</v-subheader>
								        </v-flex>
								        <v-flex xs8>
									        <v-text-field
										        label="DOORS"
										        v-model="doors"
									      	></v-text-field>
								      	</v-flex>
							        </v-layout>

							        <v-layout row v-if="show_vininfo_flag">
										<v-flex xs4>
							          		<v-subheader>&nbsp;&nbsp; Transmission</v-subheader>
								        </v-flex>
								        <v-flex xs8>
									        <v-text-field
										        label="TRANSMISSION"
										        v-model="transmission"
									      	></v-text-field>
								      	</v-flex>
							        </v-layout>

							        <v-layout row v-if="show_vininfo_flag">
										<v-flex xs4>
							          		<v-subheader>&nbsp;&nbsp; Engine</v-subheader>
								        </v-flex>
								        <v-flex xs8>
									        <v-text-field
										        label="ENGINE"
										        v-model="engine"
									      	></v-text-field>
								      	</v-flex>
							        </v-layout>

							        <v-layout row v-if="show_vininfo_flag">
										<v-flex xs4>
							          		<v-subheader>&nbsp;&nbsp; Engine Type</v-subheader>
								        </v-flex>
								        <v-flex xs8>
									        <v-text-field
										        label="ENGINE TYPE"
										        v-model="engine_type"
									      	></v-text-field>
								      	</v-flex>
							        </v-layout>

							        <v-layout row v-if="show_vininfo_flag">
										<v-flex xs4>
							          		<v-subheader>&nbsp;&nbsp; Drivetrain</v-subheader>
								        </v-flex>
								        <v-flex xs8>
									        <v-text-field
										        label="DRIVETRAIN"
										        v-model="drivetrain"
									      	></v-text-field>
								      	</v-flex>
							        </v-layout>

							        <v-layout row v-if="show_vininfo_flag">
										<v-flex xs4>
							          		<v-subheader>&nbsp;&nbsp; MPG Highway</v-subheader>
								        </v-flex>
								        <v-flex xs8>
									        <v-text-field
										        label="MPG HIGHWAY"
										        v-model="mpg_highway"
									      	></v-text-field>
								      	</v-flex>
							        </v-layout>

							        <v-layout row v-if="show_vininfo_flag">
										<v-flex xs4>
							          		<v-subheader>&nbsp;&nbsp; MPG City</v-subheader>
								        </v-flex>
								        <v-flex xs8>
									        <v-text-field
										        label="MPG CITY"
										        v-model="mpg_city"
									      	></v-text-field>
								      	</v-flex>
							        </v-layout>

							        <v-layout row v-if="show_vininfo_flag">
										<v-flex xs4>
							          		<v-subheader>&nbsp;&nbsp; Date In</v-subheader>
								        </v-flex>
								        <v-flex xs8>
									        <v-menu
									          ref="menu"
									          lazy
									          :close-on-content-click="false"
									          v-model="menu"
									          transition="scale-transition"
									          offset-y
									          full-width
									          :nudge-right="40"
									          min-width="290px"
									          :return-value.sync="date_in"
									        >
									          <v-text-field
									            slot="activator"
									            label="Picker in menu"
									            v-model="date_in"
									            prepend-icon="event"
									            readonly
									          ></v-text-field>
									          <v-date-picker v-model="date_in" no-title scrollable>
									            <v-spacer></v-spacer>
									            <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
									            <v-btn flat color="primary" @click="$refs.menu.save(date_in)">OK</v-btn>
									          </v-date-picker>
									        </v-menu>
								      	</v-flex>
							        </v-layout>

							        <v-layout row v-if="show_vininfo_flag">
										<v-flex xs4>
							          		<v-subheader>&nbsp;&nbsp; Options</v-subheader>
								        </v-flex>
								        <v-flex xs8>
									        <v-text-field
										        label="OPTIONS"
										        v-model="options"
										        multi-line
									      	></v-text-field>
								      	</v-flex>
							        </v-layout>

							        <v-layout row v-if="show_vininfo_flag">
										<v-flex xs4>
							          		<v-subheader>&nbsp;&nbsp; Description</v-subheader>
								        </v-flex>
								        <v-flex xs8>
									        <v-text-field
										        label="DESCRIPTION"
										        v-model="description"
										        multi-line
									      	></v-text-field>
								      	</v-flex>
							        </v-layout>

							        <!-- After Decode VIN End -->

							        <v-layout row class="mt-5">
										<v-flex xs12 text-center>
											&nbsp;&nbsp; 
											<!-- After Decode VIN Start -->
											<v-btn v-if="show_vininfo_flag"
							          			color="primary"
												@click="insert_vehicle_with_action('Save')"
												:disabled="!add_vehicle_frm_valid"
											>
											Save Vehicle
											</v-btn>
											<v-btn v-if="show_vininfo_flag"
							          			color="primary"
												@click="insert_vehicle_with_action('SavePrint')"
												:disabled="!add_vehicle_frm_valid"
											>
											Save and Print
											</v-btn>
											<v-btn v-if="show_vininfo_flag"
							          			color="primary"
												@click="insert_vehicle_with_action('SaveNew')"
												:disabled="!add_vehicle_frm_valid"
											>
											Save and New
											</v-btn>
											<!-- After Decode VIN End -->									

							          		<v-btn
							          			v-if="!show_vininfo_flag"
							          			color="primary"
												@click="decode_vin_submit"
												:disabled="!add_vehicle_frm_valid"
											>
											Decode VIN (Default)
											</v-btn>
											<v-btn
							          			v-if="!show_vininfo_flag"
							          			color="primary"
												@click="decode_vinquery_submit"
												:disabled="!add_vehicle_frm_valid"
											>
											Decode VIN (using VINQuery)
											</v-btn>
											<v-btn
												@click="cancel_add_vehicle"
											>
											Cancel
											</v-btn>
											&nbsp;
											<img v-if="!show_vininfo_flag" :src="vinaudit_logo" height="45" width="114" />
								        </v-flex>
							        </v-layout>
						    	</v-flex>
							</v-layout>
						</v-container>
					</v-form>
				</div>
			
		</div>
	</v-app>
	<!-- Code End -->
</template>
<style type="text/css">
  /* Your Style */
</style>
<script>
	import moment from 'moment';
	import swal from 'sweetalert';

	export default{
		data(){
			return{
				add_vehicle_frm_valid: true, //Add Vehicle Form Validity variable
				stock_number : '', 
				vin_number : '',
				msrp : '',
				// VIN Number Validity Rule
				vin_rule : [
					v => (v && v.length == 17) || 'VIN Number must be less than 17 characters'
				],
				show_vininfo_flag : false, //If decode VIN, flag = true, else flag = false
				vinaudit_logo: window.laravel.base_url + '/img/vinaudit.png',
				
				new_used: 'New',
				new_used_items: [
					{text: 'New', value: 'New'},
					{text: 'Used', value: 'Used'}
				],
				mileage : '',
				year: '',
				make: '',
				model: '',
				trims_item : [], // Trim List From VIN audit Trim Variations
				trim: '', // Selected Trim
				style: '',
				ext_color: '',
				int_color: '',
				doors: '',
				transmission: '',
				engine: '',
				engine_type: '',
				drivetrain: '',
				mpg_highway: '',
				mpg_city: '',
				date_in: moment().format('YYYY-MM-DD'),
				menu: false, // for date input
				options: '',
				description: '',

			}
		},
		created: function(){
			
		},
		methods: {
			/**
			 *
			 * Decode VIN Number from vin audit
			 *
			 */
			decode_vin_submit : function(){
				if (this.$refs.add_new_vehicle_form.validate()) {
					let vin_decode_url = window.laravel.base_url + '/vin_decode';
					this.axios.post(vin_decode_url, { stock_number: this.stock_number, vin_number: this.vin_number, msrp: this.msrp})
						.then((response) => {
							if(response.data.status == 'success'){
								this.reset_all_values();
								if(response.data.vehicle_data){
									var vehicle_data = response.data.vehicle_data;
									this.show_vininfo_flag = true;
									
									if(vehicle_data.Year){
										this.year = vehicle_data.Year;
									}

									if(vehicle_data.Make){
										this.make = vehicle_data.Make;	
									}

									if(vehicle_data.Model){
										this.model = vehicle_data.Model;	
									}

									if(vehicle_data.Trim){
										this.trims_item = vehicle_data.Trim.replace(/ /g, '').split('/');
										if(this.trims_item.length == 1){
											this.trim = this.trims_item[0];
										}
									}
									
									if(vehicle_data.Style){
										this.style = vehicle_data.Style;	
									}

									if(vehicle_data.Doors){
										this.doors = vehicle_data.Doors;	
									}

									if(vehicle_data['Transmission']){
										this.transmission = vehicle_data['Transmission'];	
									}

									if(vehicle_data['Engine Size']){
										this.engine = vehicle_data['Engine Size'];	
									}

									if(vehicle_data.Engine){
										this.engine_type = vehicle_data.Engine;	
									}

									if(vehicle_data['Driven Wheels']){
										this.drivetrain = vehicle_data['Driven Wheels'];	
									}

									if(vehicle_data['Highway Mileage']){
										this.mpg_highway = vehicle_data['Highway Mileage'];	
									}
									
									if(vehicle_data['City Mileage']){
										this.mpg_city = vehicle_data['City Mileage'];	
									}
								}
							}else{
								swal({   
									title: "VIN not recognized",   
									text: "Uh Oh! Looks like that VIN is not yet in the decoder database",   
									icon: "warning",
									showCancelButton: true,   
									confirmButtonColor: "#DD6B55",   
									confirmButtonText: "Add this VIN",   
									closeOnConfirm: false 
								}).then((success) =>{
									if(success){
										/***
										---------------
										Send Mail to errors@dealeraddendums.com about Invalid VIN Number
										---------------
										*/
										swal("OK!", "We are checking the vin and if valid we'll get it added to the database.", "success");
										this.show_vininfo_flag = true;
									}
								});
							}
						});
				}
			},

			decode_vinquery_submit: function(){
				if (this.$refs.add_new_vehicle_form.validate()) {
					let vin_decode_url = window.laravel.base_url + '/vinquery_decode';
					this.axios.post(vin_decode_url, { stock_number: this.stock_number, vin_number: this.vin_number, msrp: this.msrp})
						.then((response) => {
							if(response.data.status == 'success'){
								this.reset_all_values();
								if(response.data.vehicle_data){
									var vehicle_data = response.data.vehicle_data;
									this.show_vininfo_flag = true;
									
									if(vehicle_data.Year){
										this.year = vehicle_data.Year;
									}

									if(vehicle_data.Make){
										this.make = vehicle_data.Make;	
									}

									if(vehicle_data.Model){
										this.model = vehicle_data.Model;	
									}

									if(vehicle_data.Trim){
										this.trims_item = vehicle_data.Trim.replace(/ /g, '').split('/');
										if(this.trims_item.length == 1){
											this.trim = this.trims_item[0];
										}
									}
									
									if(vehicle_data.Style){
										this.style = vehicle_data.Style;	
									}

									if(vehicle_data.Doors){
										this.doors = vehicle_data.Doors;	
									}

									if(vehicle_data['Transmission']){
										this.transmission = vehicle_data['Transmission'];	
									}

									if(vehicle_data['Engine Size']){
										this.engine = vehicle_data['Engine Size'];	
									}

									if(vehicle_data.Engine){
										this.engine_type = vehicle_data.Engine;	
									}

									if(vehicle_data['Driven Wheels']){
										this.drivetrain = vehicle_data['Driven Wheels'];	
									}

									if(vehicle_data['Highway Mileage']){
										this.mpg_highway = vehicle_data['Highway Mileage'];	
									}
									
									if(vehicle_data['City Mileage']){
										this.mpg_city = vehicle_data['City Mileage'];	
									}
								}
							}else{
								swal({   
									title: "VIN not recognized",   
									text: "Uh Oh! Looks like that VIN is not yet in the decoder database",   
									icon: "warning",
									showCancelButton: true,   
									confirmButtonColor: "#DD6B55",   
									confirmButtonText: "Add this VIN",   
									closeOnConfirm: false 
								}).then((success) =>{
									if(success){
										/***
										---------------
										Send Mail to errors@dealeraddendums.com about Invalid VIN Number
										---------------
										*/
										swal("OK!", "We are checking the vin and if valid we'll get it added to the database.", "success");
										this.show_vininfo_flag = true;
									}
								});
							}
						});
				}
			},

			/**
			 *
			 * Insert Vehicle information and Do another action
			 *
			 * @param flag
			 *
			 */
			insert_vehicle_with_action : function(submit_method){
				if (this.$refs.add_new_vehicle_form.validate()) {
					let url = window.laravel.base_url + '/save_vehicle';
					this.axios.post(url, 
						{ 
							stock_number: this.stock_number, vin_number: this.vin_number, msrp: this.msrp, new_used:this.new_used, 
							mileage: this.mileage, year: this.year, make: this.make, model: this.model, trim: this.trim, style: this.style,
							ext_color: this.ext_color, int_color: this.int_color, doors: this.doors, transmission: this.transmission,
							engine: this.engine, engine_type: this.engine_type, drivetrain: this.drivetrain, mpg_highway: this.mpg_highway,
							mpg_city: this.mpg_city, date_in: this.date_in, options: this.options, description: this.description
						}).then((response) => {
							if(response.data.status == 'success'){
								var vid = response.data.vid;
								let get_user_status_uri = window.laravel.base_url + '/get_user_status';
				 				this.axios.post(get_user_status_uri).then((response) => {
				 					/* Update Header User's status */
				 					jQuery('.c_current_vehicles').html(response.data.current_vehicle);

									jQuery('.c_plus_today').html(response.data.plus_vehicle);

									jQuery('.c_current_addendums').html(response.data.current_addendum);

									jQuery('.c_need_printing').html(response.data.need_addendum);

									jQuery('.c_users').html(response.data.count_user);

									jQuery('.c_last_login').html(response.data.last_login);

									jQuery('.c_addendum_printed').html(response.data.printed_addendum);

									jQuery('.c_30_days').html(response.data.last_30);
									/* Update Header User's status */
									if(submit_method == 'Save'){
										swal("Thank You!", "New Vehicle Added.", "success");
										this.cancel_add_vehicle();

									}else if(submit_method == 'SaveNew'){
										swal("Thank You!", "New Vehicle Added.", "success");
										this.show_vininfo_flag = false;
										this.stock_number = '';
										this.vin_number = '';
										this.msrp = '';
										this.reset_all_values();
									}else if(submit_method == 'SavePrint'){
										this.show_vininfo_flag = false;
										this.stock_number = '';
										this.vin_number = '';
										this.msrp = '';
										this.reset_all_values();
										window.location.href = window.laravel.base_url + '/home/printvehicle/'+vid;
									}
				 				});
								
							}
						});
				}
			},


			/**
			 *
			 * Cancel Add New Vehicle
			 *
			 */
			cancel_add_vehicle : function(){
				this.show_vininfo_flag = false;
				this.stock_number = '';
				this.vin_number = '';
				this.msrp = '';
				this.reset_all_values();
				window.location.href=window.laravel.base_url + '/home';
			},

			/**
			 *
			 * Reset All settings
			 *
			 */
			reset_all_values: function(){
				this.new_used = 'New';
				this.mileage = '';
				this.year = '';
				this.make = '';
				this.model = '';
				this.trim = '';
				this.style = '';
				this.ext_color = '';
				this.int_color = '';
				this.doors = '';
				this.transmission = '';
				this.engine = '';
				this.engine_type = '';
				this.drivetrain = '';
				this.mpg_highway = '';
				this.mpg_city = '';
				this.date_in = moment().format('YYYY-MM-DD');
				this.menu = false; // for date input
				this.options = '';
				this.description = '';
			},

			
			
		}
	}
</script>