<template>
  <div class="tab-pane active" id="dealer-overview" role="tabpanel">
    <!-- Grid Controls-->
    <div class="row p-a"> 
      
      <!-- Multiprint hide on sm and XS -->
      <div class="col-sm-3 hidden-sm-down wide800">
        <h6>Multi-Delete</h6>
        <v-select
          :items="bulkaction_items"
          v-model="bulkaction_value"
          label="SELECT"
          single-line
          class="input-sm form-control w-sm inline v-middle vehicle_multiselect"
          hide-details
        ></v-select>
        <!--option v-if="privilege_info && privilege_info.VEHICLE_EDIT_DELETE == 1" value="2">Delete</option-->
        <button v-on:click="bulk_action_func" class="vehicle_multiple btn btn-sm white">Apply</button>
        <input type="hidden" name="multi" id="multiaction" value="" />
        <input type="hidden" name="printstart" id="printstart" value="1" />
      </div>
      <!--spacer-->
      <div class="col-sm-1"></div>
      <div class="col-sm-6 hidden-sm-down"></div>

      
      <!--Search, ful width for sm and xs-->
      <div class="col-sm-2 hidden-sm-down" >
        <h6>Search</h6>
        <div class="input-group input-group-sm" style="padding-top:7px;">
          <input type="text" class="form-control vehiclesearch" v-model="filter" placeholder="Search" style="width:150px">&nbsp;<button style="display:none" type="button" class="btn btn-success btnsearch btn-sm"><i class="fa fa-search"> </i></button>
        </div>
      </div>
      <div class="col-sm-12 hidden-md-up semobile">
        <h6>Search</h6>
        <div class="input-group input-group-sm">
          <input type="text" class="form-control vehiclesearchm" v-model="filter" placeholder="Search" style="width:150px">&nbsp;<button style="display:none" type="button" class="btn btn-success btnsearchm btn-sm"><i class="fa fa-search"> </i></button>
        </div>
      </div>
    </div>
    <!-- Inventory Grids --> 
    <!-- Desktop Grid View Extra Large -->
    <!-- Vuetify DataTable -->
    <v-app id="inspire">
      <div>
        <v-data-table
          :headers="headers"
          :items="items"
          :pagination.sync="pagination"
          :total-items="totalItems"
          :loading="loading"
          v-model="selected"
          item-key="USER_ID"
          select-all
          class="elevation-1"
          no-data-text="No Dealers Registered Yet"
        >
          <template slot="items" slot-scope="props">
            <td class="hidden-md-down"><v-checkbox
                primary
                hide-details
                v-model="props.selected"
              ></v-checkbox></td>
            <td>{{ props.item.DEALER_ID }}</td>
            <td>{{ props.item.DEALER_NAME }}</td>
            <td class="hidden-md-down no-mobile">{{ props.item.DEALER_CITY }}</td>
            <td class="hidden-md-down no-mobile">{{ props.item.DEALER_STATE }}</td>
            <td class="hidden-md-down no-mobile">{{ props.item.ACCOUNT_TYPE }}</td>
            <td class="hidden-md-down no-mobile">{{ props.item.LAST30 }}</td>
            <td class="text-xs-center actions_td">
              <v-btn small class="btn btn-xs d_pause_btn" color="warning" v-if="props.item.ACTIVE == 'Yes'" v-on:click="dealer_puase(props.item.DEALER_ID)">Pause</v-btn>
              <v-btn small class="btn btn-xs d_start_btn" color="success" v-if="props.item.ACTIVE == 'No'" v-on:click="dealer_start(props.item.DEALER_ID)">Start</v-btn>
              <v-btn small class="btn btn-xs d_delete_btn" color="error" v-on:click="dealer_delete(props.item.DEALER_ID)">Delete</v-btn>
              <v-btn small class="btn btn-xs d_edit_btn" color="info" v-on:click="dealer_edit(props.item.DEALER_ID)">Edit</v-btn>
              <v-btn small class="btn btn-xs d_login_btn" color="success" v-on:click="dealer_login(props.item.DEALER_ID)">Log In</v-btn>
            </td>
          </template>
        </v-data-table> 
      </div>
    </v-app>
    <!-- Vuetify DataTable -->

    <!-- Edit Dealer Modal Start -->
    <v-app id="edit_dealer_modal_app" v-if="edit_dealer_modal_status">
      <v-layout row justify-center>
        <v-dialog v-model="edit_dealer_modal_status" max-width="640" scrollable>
          <v-card>
            <v-form v-model="edit_dealer_frm_valid" ref="edit_dealer_form" lazy-validation>
              <v-card-title class="headline" >Edit Dealer</v-card-title>
              <v-card-text style="height: calc(90vh - 200px); overflow-y: auto">
                <v-container grid-list-md >
                  <v-layout wrap>
                    <v-flex xs4 sm4 md4>
                      <v-subheader><v-icon>fa fa-fw fa-user</v-icon> Dealer Name</v-subheader>
                    </v-flex>
                    <v-flex xs8 sm8 md8>
                      <v-text-field label="Dealer Name" v-model="dealer_info.DEALER_NAME" 
                          :rules="[v => !!v || 'Dealer Name is required']" required></v-text-field>
                    </v-flex>
                    <v-flex xs4 sm4 md4>
                      <v-subheader><v-icon>fa fa-fw fa-user</v-icon> Dealer ID</v-subheader>
                    </v-flex>
                    <v-flex xs8 sm8 md8>
                      <v-text-field label="Dealer Name" v-model="dealer_info.DEALER_ID" 
                          :rules="[v => !!v || 'Dealer ID is required']" required></v-text-field>
                    </v-flex>
                    <v-flex xs4 sm4 md4>
                      <v-subheader><v-icon>fa fa-fw fa-usd</v-icon> Account Type</v-subheader>
                    </v-flex>
                    <v-flex xs8 sm8 md8>
                      <v-select
                        :items="dealer_atype_items"
                        v-model="dealer_info.ACCOUNT_TYPE"
                        label="Select"
                        single-line
                      ></v-select>
                    </v-flex>
                    <v-flex xs4 sm4 md4>
                      <v-subheader><v-icon>fa fa-fw fa-envelope</v-icon> Address</v-subheader>
                    </v-flex>
                    <v-flex xs8 sm8 md8>
                      <v-text-field label="Address" v-model="dealer_info.DEALER_ADDRESS"></v-text-field>
                    </v-flex>
                    <v-flex xs4 sm4 md4>
                      <v-subheader><v-icon>fa fa-fw fa-envelope</v-icon> City</v-subheader>
                    </v-flex>
                    <v-flex xs8 sm8 md8>
                      <v-text-field label="City" v-model="dealer_info.DEALER_CITY"></v-text-field>
                    </v-flex>
                    <v-flex xs4 sm4 md4>
                      <v-subheader><v-icon>fa fa-fw fa-envelope</v-icon> State</v-subheader>
                    </v-flex>
                    <v-flex xs8 sm8 md8>
                      <v-text-field label="State" v-model="dealer_info.DEALER_STATE"></v-text-field>
                    </v-flex>
                    <v-flex xs4 sm4 md4>
                      <v-subheader><v-icon>fa fa-fw fa-envelope</v-icon> Zip</v-subheader>
                    </v-flex>
                    <v-flex xs8 sm8 md8>
                      <v-text-field label="Zip" v-model="dealer_info.DEALER_ZIP"></v-text-field>
                    </v-flex>
                    <v-flex xs4 sm4 md4>
                      <v-subheader><v-icon>fa fa-fw fa-male</v-icon> Contact</v-subheader>
                    </v-flex>
                    <v-flex xs8 sm8 md8>
                      <v-text-field label="Contact" v-model="dealer_info.PRIMARY_CONTACT"></v-text-field>
                    </v-flex>
                    <v-flex xs4 sm4 md4>
                      <v-subheader><v-icon>fa fa-fw fa-envelope</v-icon> Contact Email</v-subheader>
                    </v-flex>
                    <v-flex xs8 sm8 md8>
                      <v-text-field label="Contact" v-model="dealer_info.PRIMARY_CONTACT_EMAIL"></v-text-field>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="darken-1" flat="flat" @click.native="edit_dealer_modal_status = false">Cancel</v-btn>
                <v-btn color="green darken-1" flat="flat" @click="edit_dealer_frm_submit" :disabled="!edit_dealer_frm_valid">Save Changes</v-btn>
              </v-card-actions>
            </v-form>
          </v-card>
        </v-dialog>
      </v-layout>
    </v-app>
    <!-- Edit Dealer Modal End -->
  </div>
</template>
<style type="text/css">
  .application--wrap{
    min-height: 100%!important;
  }
  .vehicle_multiselect{
    padding: 0 0;
  }
  .vehicle_multiselect.w-sm{
    width: 160px;
  }
  .vehicle_multiselect .input-group__details{
    display: none;
  }
  table.table tbody td:first-child, table.table tbody td:not(:first-child), table.table tbody th:first-child, table.table tbody th:not(:first-child), table.table thead td:first-child, table.table thead td:not(:first-child), table.table thead th:first-child, table.table thead th:not(:first-child){
    padding: 0px 10px;
  }
  .input-group--select .input-group__selections__comma{
    padding-left: 7px;
  }
  /* In mobile, tablet view */
  @media (max-width: 991px){
    #dealer-overview .v-datatable--select-all thead tr th:first-child{
      display: none;
    }
  }
  /* In mobile, tablet view */
</style>
<script>
  import jQuery from 'jquery';
  import moment from 'moment';
  import swal from 'sweetalert';

  /* to decode Html entities */
  const scratchDiv = document.createElement('div');
  function toPlainText(html) {
    scratchDiv.innerHTML = html;
    return scratchDiv.textContent;
  }
  /* to decode Html entities */

  export default{
    data(){
      return{
        user: window.laravel.user, // logged user
        dealer_info: {}, // User's Dealer information

        //Bulk Action Select
        bulkaction_items: [
          {
            text: 'Delete', value: '0'
          }
        ],
        bulkaction_value: '0',

        //privilege_info: {}, //user's privilege
        ed_grant: parseInt(jQuery('#ed_grant').val()), //ed_grant value
        /* init Vue DataTabel Options */
        filter: '',
        totalItems: 0,
        items: [],
        selected: [],
        loading: true,
        pagination: {
          sortBy : 'DEALER_ID', // init Sort Field
          descending : 0, // init sord desc
          rowsPerPage : 10 // rows per page
        },
        changed: window.laravel.setting_changed, //After Setting changed Flag

        headers: [
          {
            text: 'Dealer ID',
            align: 'left',
            value: 'DEALER_ID'
          },
          { text: 'Dealer Name', value: 'DEALER_NAME'},
          { text: 'City', value: 'DEALER_CITY' , class: 'hidden-md-down no-mobile'},
          { text: 'State', value: 'DEALER_STATE' , class: 'hidden-md-down no-mobile'},
          { text: 'Type', value: 'ACCOUNT_TYPE' , class: 'hidden-md-down no-mobile'},
          { text: 'Last30', value: 'LAST30' , class: 'hidden-md-down no-mobile',sortable: false},
          { text: 'Actions', value: 'Actions' ,class: 'text-xs-center',sortable: false}
        ],
        edit_dealer_modal_status: false, //Modal status for edit dealer
        edit_dealer_frm_valid: true, //Form status for edit dealer
        dealer_atype_items: [
          { text: 'Free', value: 'Free'},
          { text: 'Manual Load', value: 'Manual'},
          { text: 'Automatic Web', value: 'Automatic Web'},
          { text: 'Automatic DMS', value: 'Automatic DMS'}
        ],
      }
    },

    created: function()
      {
          this.fetchDealerData();

      },

    watch: {
      pagination: {
        handler () {
          this.fetchDealerData();
        },
        deep: true
      },
      filter: function() {
        this.fetchDealerData();
      }
    },
    methods: {
      /**
       * Fetch logged user, privilege information when created vue dom
       *
       * @return Object
       */
      fetchData()
      {
      },
      /**
       * 
       * Function to format Date
       *
       */
      moment,

      /**
       *
       * Fetch Data with options and update DataTable
       * @param filter = undefined
       */
      fetchDealerData()
      {

        var filter = this.filter;
        this.loading = true;
        const { sortBy, descending, page, rowsPerPage } = this.pagination;
        
        let uri = window.laravel.base_url + '/get_dealerdata_for_dealerOverview';
        this.axios.post(uri,{ sortBy, descending, page, rowsPerPage, filter }).then((response) => {
          this.loading = false;
          if(response.data.status == 'success'){
            this.items = response.data.items; //set Datatables items rows
            this.totalItems = response.data.total; //set Total items number  
            call_res_design_after_rendering();
          }
        });
      },
      

      /**
       *
       * Puase Dealer Activity
       *
       * @param dealer_id
       */
      dealer_puase(dealer_id){
        var r = confirm("Do you really want to pause this dealer ?");
        if(r){
          let uri = window.laravel.base_url + '/change_dealer_activity';
          this.axios.post(uri, { dealer_id: dealer_id, type: 'pause'}).then((response) => {
            if(response.data.status == 'success'){
              this.fetchDealerData();
              call_res_design_after_rendering();
            }else if(response.data.status == 'not_admin'){
              swal("Oops...", "You are not Admin User", "error");
            }else{
              swal("Oops...", "Something went wrong! Please try again.", "error");
            }
          });
        }
      },

      /**
       *
       * Start Dealer Activity
       *
       * @param dealer_id
       */
      dealer_start(dealer_id){
        var r = confirm("Do you really want to resume this dealer ?");
        if(r){
          let uri = window.laravel.base_url + '/change_dealer_activity';
          this.axios.post(uri, { dealer_id: dealer_id, type: 'start'}).then((response) => {
            if(response.data.status == 'success'){
              this.fetchDealerData();
              call_res_design_after_rendering();
            }else if(response.data.status == 'not_admin'){
              swal("Oops...", "You are not Admin User", "error");
            }else{
              swal("Oops...", "Something went wrong! Please try again.", "error");
            }
          });
        }
      },

      /**
       *
       * Delete Dealer
       *
       * @param dealer_id
       */
      dealer_delete(dealer_id){
        var r = confirm("Do you really want to delete selected entry ?");
        if(r){
          let uri = window.laravel.base_url + '/delete_dealer';
          this.axios.post(uri, { dealer_id: dealer_id}).then((response) => {
            if(response.data.status == 'success'){
              this.fetchDealerData();
              call_res_design_after_rendering();
            }else if(response.data.status == 'not_admin'){
              swal("Oops...", "You are not Admin User", "error");
            }else{
              swal("Oops...", "Something unexpected happened. Please try again.", "error");
            }
          });
        }
      },

      /**
       *
       * Edit Dealer
       *
       * @param dealer_id
       */
      dealer_edit(dealer_id){
        let uri = window.laravel.base_url + '/get_dealer_info';
        this.axios.post(uri, { dealer_id: dealer_id}).then((response) => {
          if(response.data.status == 'success'){
            this.dealer_info = response.data.dealer_info;
            this.edit_dealer_modal_status = true;
          }
        });
      },

      /**
       *
       * Login Dealer
       *
       * @param dealer_id
       */
      dealer_login(dealer_id){
        let uri = window.laravel.base_url + '/login_with_dealer';
        this.axios.post(uri, { dealer_id: dealer_id}).then((response) => {
          if(response.data.status == 'success'){
            location.href=base_url+'/home';  
          }
        });
      },

      /**
       *
       * Save edited Dealer Info
       */
      edit_dealer_frm_submit(){
        if(this.$refs.edit_dealer_form.validate()) {
          let uri = window.laravel.base_url + '/edit_dealer';
          this.axios.post(uri, { dealer_info: JSON.stringify(this.dealer_info) }).then((response) => {
            if(response.data.status == 'success'){
              this.edit_dealer_modal_status = false;
              this.fetchDealerData();
              call_res_design_after_rendering();
            }else if(response.data.status == 'not_admin'){
              swal("Oops...", "You are not Admin User", "error");
            }else{
              swal("Oops...", "Something unexpected happened. Please try again.", "error");
            }
          });
        }
      },

    
      /**
       *
       * Bulk Action for the Multiple Vehicle
       *
       */
      bulk_action_func: function(){
        var bulk_option = this.bulkaction_value;
        if(this.selected.length == 0){
          return false;
        }
        var that = this;
        var selected_vid = [];
        $.each(that.selected, function(index, value){
          selected_vid.push(value._ID);
        });
        if(bulk_option == '0'){
          //Option Delete
          var r = confirm("Do you really want to delete selected entry(s) ?");
          if(r){
            let uri = window.laravel.base_url + '/dealer_delete';
            this.axios.post(uri, { ids: JSON.stringify(selected_vid), type: 'multidelete'}).then((response) => {
              that.selected = [];
              if(response.data.status == 'success'){
                swal("Thank You!", "Selected dealers deleted.", "success");
                this.fetchDealerData();
                call_res_design_after_rendering();
                let get_user_status_uri = window.laravel.base_url + '/get_user_status';
                  this.axios.post(get_user_status_uri).then((response) => {

                    /* Update Header User's status */
                    jQuery('.c_current_vehicles').html(response.data.current_vehicle);

                    jQuery('.c_plus_today').html(response.data.plus_vehicle);

                    jQuery('.c_current_addendums').html(response.data.current_addendum);

                    jQuery('.c_need_printing').html(response.data.need_addendum);

                    jQuery('.c_users').html(response.data.count_user);

                    jQuery('.c_last_login').html(response.data.last_login);

                    jQuery('.c_addendum_printed').html(response.data.printed_addendum);

                    jQuery('.c_30_days').html(response.data.last_30);
                    /* Update Header User's status */
                  });
              }else if(response.data.status == 'not_admin'){
                swal("Oops...", "You are not Admin User", "error");
              }else{
                swal("Oops...", "Something unexpected happened. Please try again.", "error");
              }
            });
          }
        }

      }

    }
  }

  /* js for tablet responsive */
  $(function(){
    call_res_design_after_rendering();
  });
  $(window).resize(function() {
    call_res_design_after_rendering();
  });

  function call_res_design_after_rendering(){
    var inital = setInterval(function(){
      if($('#dealer-overview .btn.v-btn--small').length > 0){
        responsive_design();
        clearInterval(inital);
      }
    }, 200);
  }

  /**
   *
   * For responsive design function
   *
   */
  function responsive_design(){
    if ( $(window).width() < 1394) {
      $('#dealer-overview .btn.v-btn--small').css('min-width','auto');
      $('#dealer-overview .btn.v-btn--small').css('margin','6px 2px');
    }else{
      $('#dealer-overview .btn.v-btn--small').css('margin','6px 8px');
      $('#dealer-overview .btn.v-btn--small').css('min-width','88px');
    }
    if ( $(window).width() < 1265) {
      $('.actions_td .d_pause_btn').html('P');
      $('.actions_td .d_start_btn').html('S');
      $('.actions_td .d_delete_btn').html('D');
      $('.actions_td .d_edit_btn').html('E');
      $('.actions_td .d_login_btn').html('L');
    }else{
      $('.actions_td .d_pause_btn').html('PAUSE');
      $('.actions_td .d_start_btn').html('START');
      $('.actions_td .d_delete_btn').html('DELETE');
      $('.actions_td .d_edit_btn').html('EDIT');
      $('.actions_td .d_login_btn').html('LOG IN');
    }
  }
  /* js for tablet responsive */
</script>