<template>
	<!-- Code Start -->
	<v-app id="main">
		<v-layout row wrap mt-5>
			<v-flex xs8 offset-xs2>
				<v-progress-linear v-model="valueDeterminate"></v-progress-linear>
			</v-flex>
		</v-layout>
		<v-layout row wrap>
		  	<v-flex xs12 text-center>
				<v-btn class="import_all_btn" @click.native="import_all_db" color="success">Import ALL Tables</v-btn>
		  	</v-flex>
		</v-layout>
	</v-app>
</template>
<style type="text/css">
  /* Your Style */
  .import_all_btn{
  	margin: 50px 0;
  }
  .import_all_btn.disabled.success, .import_btn.disabled.success{
  	background-color: #d3d3d3!important;
  }
  .application--wrap{
  	min-height: 300px;
  }
  .layout.row{
  	margin-left: 0;
  	margin-right: 0;
  }
</style>
<script>
	import moment from 'moment';
	import swal from 'sweetalert';
	
	export default{
		data(){
			return{
				table_names: [],
			}
		},
		created: function(){
			this.fetchData();
		},
		methods: {
			fetchData: function(){
				let uri = window.laravel.base_url+'/get_all_tables';
				let that = this;
				this.axios.post(uri).then((response) => {
					if(response.data.status == 'success'){
						this.table_names = response.data.tables;
					}
				});
			},

			import_all_db: function(){
				let that = this;
				$('.import_all_btn').attr('disabled', 'disabled');
				$('.import_all_btn').addClass('disabled');
				$.each(this.table_names, function(index, table){
					setTimeout(function(){
						$('.import_progress.'+table).removeClass('hide');
						let uri1 = window.laravel.base_url+'/import_db';
						that.axios.post(uri1, { table: table }).then((response1) => {
							if(response1.data.status == 'success'){
								$('.import_all_btn').removeClass('disabled');
								$('.import_all_btn').removeAttr('disabled');
							}
						});
					}, index*200);
				});
			}
		}
	}
</script>
