<template>
	<!-- Code Start -->
	<div class="import_vehicles_tab">
		<v-app id="main">
			<div>
				<v-container fluid>
					<v-layout row>
						<v-flex sm4 offset-sm4 class="my-5 elevation-12 px-5">
							<v-layout row>
								<v-flex sm12>
									<v-text-field
										label="Copy your inventory Excel sheet and paste it here."
								        v-model="vehicles_data"
								        multi-line
							      	></v-text-field>
								</v-flex>
							</v-layout>
							<v-layout row>
								<v-flex xs12>
									<v-btn
					          			color="primary"
										@click="importDialog"
									>
									Import
									</v-btn>
								</v-flex>
							</v-layout>
						</v-flex>
					</v-layout>
				</v-container>
			</div>
		</v-app>
		<!-- Import Vehicles Modal Start -->
		<v-layout row justify-center>
			<v-dialog v-model="import_vehciles_modal_status" max-width="900">
				<v-card>
					<v-card-title class="headline">Select columns to import</v-card-title>
					<v-card-text>
						<v-layout row>
							<v-flex xs12>
								<v-data-table
									:headers="headers"
									:items="items"
									hide-actions
									class="elevation-1"
									id="vehicle_tbl"
						        >
							        <template slot="headers" slot-scope="props">
							        	<tr>
							        		<th v-for="(header, index) in props.headers">
							        			<v-select
										            :items="opts_items"
										            v-model="headers[index].value"
										            content-class="inventory_field_select"
										            label="SELECT"
										            single-line
										            v-on:change="changedSelect(index, $event)"
									          	></v-select>

							        		</th>
							        	</tr>
							        </template>
							        <template slot="items" slot-scope="props">
							        		<td v-for="(item, index) in props.item" class="text-xs-center dark_bg" style="padding:0 14px; height:30px;">{{ props.item[index] }}</td>
							        </template>
							    </v-data-table>
							</v-flex>
						</v-layout>
						<v-layout row mt-3>
							<v-flex xs12>
								<v-subheader class="red--text" style="height: 16px;">* You must import these fields: Vin, Stock No, Year, Make, Model, MSRP!</v-subheader>
							</v-flex>
						</v-layout>
						<v-layout row mb-2>
							<v-flex xs12>
								<v-subheader style="height: 16px;">** If you don't choose a New/Used column the default is New</v-subheader>
							</v-flex>
						</v-layout>
						<v-layout row mb-3>
							<v-flex xs12 ml-2>
								<v-checkbox
							        v-model="ignore_first_row"
							        label="Ignore first row of data"
							        hide-details
						      	></v-checkbox>
							</v-flex>
						</v-layout>
						<v-layout row mb-1>
							<v-flex xs12>
								<v-subheader style="height: 16px;">Please choose how you would like to import the data</v-subheader>
							</v-flex>
						</v-layout>
						<v-layout row>
							<v-flex xs12 ml-2>
								<v-radio-group v-model="import_method" :mandatory="false">
							        <v-radio label="Add new and update my existing records." value="0"></v-radio>
							        <v-radio label="Delete and replace all of my existing records" value="1"></v-radio>
						      	</v-radio-group>
							</v-flex>
						</v-layout>
					</v-card-text>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn color="darken-1" @click="cancel_import">Cancel</v-btn>
						<v-btn color="primary" @click="save_import_vdata">Save</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
		</v-layout>
		<!-- Import Vehicles Modal End -->

		<!-- Import Status Modal Start -->
		<v-layout row justify-center>
			<v-dialog v-model="import_status_modal_status" max-width="640">
				<v-card>
					<v-card-title class="headline">Importing...</v-card-title>
					<v-card-text>
						<v-layout v-if="import_progress && !delete_status" row>
							<v-flex xs12>
								<v-subheader>Importing {{ cur_import_index }} of {{ total_import_count }}</v-subheader>
							</v-flex>
						</v-layout>
						<v-layout v-if="import_progress && !delete_status" row>
							<v-flex xs12>
								<v-progress-linear
							      v-model="import_progress_value "
							      active
							    ></v-progress-linear>
							</v-flex>
						</v-layout>
						<v-layout v-if="!import_progress && delete_status" row>
							<v-flex xs12>
								<v-subheader>Deleting previous records...</v-subheader>
							</v-flex>
						</v-layout>
						<v-layout v-if="!import_progress && !delete_status" row>
							<v-flex xs12>
								<v-subheader class="red--text">{{ import_errors }}</v-subheader>
							</v-flex>
						</v-layout>
					</v-card-text>
				</v-card>
			</v-dialog>
		</v-layout>
		<!-- Import Status Modal End -->
	</div>
	
	<!-- Code Start -->
</template>
<style type="text/css">
  /* Your Style */
  .dark_bg{
  	background-color: #eee;
  }
  .inventory_field_select a.list__tile{
  	height: auto;
  	padding: 3px 16px;
  }
</style>
<script type="text/javascript">
	export default{
		data(){
			return{
				vehicles_data: '',
				import_vehciles_modal_status: false,
				import_status_modal_status: false,
				headers: [],
				items: [],
				add_vehicles_frm_valid : true,
				ignore_first_row: false,
				import_method: '0',
				
				//for progress bar
				import_progress: false,
				delete_status: false,
				import_errors: '',
				cur_import_index: 0,
				total_import_count: 0,
				import_progress_value: 0,

				opts_items : [
					{
						text: 'Don\'t import',
						value: '0'
					},
					{
						text: 'VIN*',
						value: 'VIN_NUMBER'
					},
					{
						text: 'Stock No*',
						value: 'STOCK_NUMBER'
					},
					{
						text: 'Year*',
						value: 'YEAR'
					},
					{
						text: 'Make*',
						value: 'MAKE'
					},
					{
						text: 'Model*',
						value: 'MODEL'
					},
					{
						text: 'MSRP*',
						value: 'MSRP'
					},
					{
						text: 'New/Used**',
						value: 'NEW_USED'
					},
					{
						text: 'Body Style',
						value: 'BODYSTYLE'
					},
					{
						text: 'Trim',
						value: 'TRIM'
					},
					{
						text: 'Ext Color',
						value: 'EXT_COLOR'
					},
					{
						text: 'Int Color',
						value: 'INT_COLOR'
					},
					{
						text: 'Engine',
						value: 'ENGINE'
					},
					{
						text: 'Fuel',
						value: 'FUEL'
					},
					{
						text: 'Drivetrain',
						value: 'DRIVETRAIN'
					},
					{
						text: 'Transmission',
						value: 'TRANSMISSION'
					},
					{
						text: 'Mileage',
						value: 'MILEAGE'
					},
					{
						text: 'Options',
						value: 'OPTIONS'
					},
					{
						text: 'Description',
						value: 'DESCRIPTION'
					}
				]
			}
		},
		created: function(){
			
		},
		methods: {
			/**
			 *
			 * Show Import Dialog
			 *
			 */
			importDialog : function(){
				this.import_vehciles_modal_status = true;

				var lines = this.vehicles_data.trim().split("\n",7);
        		for(var r = 0; r < lines[0].split("\t").length;r++){
        			this.headers[r] = { value: '0'}
        		}
        		this.items = [];
        		for(var r = 0; r < lines.length;r++){
        			var fields_arr=lines[r].split("\t");
        			var obj = {};
        			for(var c=0; c < fields_arr.length; c++){
        				var fields = fields_arr[c];
		                if(fields.length > 13) {
		                    fields = fields.substring(0,10)+"...";
		                }
		                // push each fields of each rows in the items
		                obj[c] = fields;
        			}
        			this.items.push(obj);
        		}
			},

			/**
			 * 
			 * Handle Select Change Event to disable selected options in another select
			 *
			 * @param index, value
			 */
			changedSelect: function(header_index, event){
				//Enable unselected option
				if(this.headers[header_index].value != '0' && this.headers[header_index].value != event){
					var opts_key = 0;
					var old_key = this.headers[header_index].value;
					this.opts_items.forEach(function(opts, key){
						if(old_key == opts.value){
							opts_key = key;
						}
					});
					this.opts_items[opts_key].disabled = false; 
				}
				//Disable selected option to cannot select in the other select
				//
				if(event != '0'){
					var opts_key = 0;
					this.opts_items.forEach(function(opts, key){
						if(event == opts.value){
							opts_key = key;
						}
					});
					this.opts_items[opts_key].disabled = true;
					$('#vehicle_tbl tr').each(function(index, value){
						$(this).children('td').eq(header_index).removeClass('dark_bg');
					});
				}else{
					$('#vehicle_tbl tr').each(function(index, value){
						$(this).children('td').eq(header_index).addClass('dark_bg');
					});
				}
			},

			/**
			 *
			 * Save Copy Data to Dealer Inventory
			 *
			 *
			 */
			save_import_vdata : function(){
				var that = this;
				var important_field = true;
				for(var i = 0; i < 6; i++){
					if(!that.opts_items[i+1].disabled){
						important_field = false;
					}
				}
				if(!important_field){
					alert('You must include the following fields: Vin, Stock No, Year, Make, Model, MSRP!');
				}else{
					that.import_vehciles_modal_status = false;
					that.import_status_modal_status = true;
					if(that.import_method == '0'){
						that.import_progress = true; //Show import progress bar
						that.delete_status = false; //Hide delete vehicle data status
					}else{
						that.import_progress = false; //Show import progress bar
						that.delete_status = true; //Hide delete vehicle data status
					}
					setTimeout(that.save_data,500);
				}

			},

			/**
			 *
			 * Save function
			 *
			 */
			 save_data : function(){
			 	var that = this;
			 	var lines = that.vehicles_data.trim().split("\n");
				if(that.ignore_first_row == true){
					lines.shift();
				}
				var fields_arr = {};
				$.each(that.headers, function(index, header){
					if(header.value != '0'){
						fields_arr[header.value] = index;
					}
				});
				that.total_import_count = lines.length;
				
				if(that.import_method == '1'){
					let uri = window.laravel.base_url + '/clear_imported_excel_vehicledata';
					$.ajax({
	                    url: uri,
	                    async: false,
	                    dataType: "json",
	                    type: "POST",
	                    data: {_token: window.laravel.csrf_token },
	                    error: function(data) {
	                        alert("AJAX Error! "+data);
	                    },
	                    success: function(data) {
	                    	that.import_progress = true; //Show import progress bar
							that.delete_status = false; //Hide delete vehicle data status
	                    }
	                });
				}
				that.import_progress = true; //Show import progress bar
				that.delete_status = false; //Hide delete vehicle data status
				var count = 0;
				for(var i = 0; i < lines.length; i++){
					// For display step by step
					setTimeout(function(){
						var json = {};
						that.cur_import_index = count+1;
						that.import_progress_value = ((count+1)/lines.length)*100;
						json.fields_arr = fields_arr;
						json.fields = lines[count].split("\t");
						json._token = window.laravel.csrf_token;
						let uri = window.laravel.base_url + '/import_vehicle_data';
						$.ajax({
		                    url: uri,
		                    async: true,
		                    dataType: "json",
		                    type: "POST",
		                    data: json,
		                    error: function(data) {
		                        alert("The AJAX Error! "+data);
		                    },
		                    success: function(data) {
		                        //alert(JSON.stringify(data));
		                        if(count == lines.length-1) {
		                            window.location.href = window.laravel.base_url + "/home";
		                        }
		                        count++;
		                    }
		                });
					}, (i+1)*300);
					
				}
		 	},

		 	/**
		 	 *
		 	 * Cancel Import Vehicle Data
		 	 *
		 	 */
	 	 	cancel_import: function(){
		 	 	window.location.href = window.laravel.base_url + "/home";
	 	 	}

		}
	}
</script>