<template>
	<!-- Code Start -->
	<div id="user-overview">
		<div class="box">
			<v-app id="inspire">
				<!-- Grid Controls-->
		    	<div class="row p-a">
		    		<!--spacer-->
		      		<div class="col-sm-12  semobile">
		      			<h2>Groups
		      				<a class="add-user addbutton"><img :src="base_url+'/images/add.png'" height="30em" width="30em" v-on:click="addoption()"></a>&nbsp;
		      				<button class="btn btn-default re-order2" @click="re_order()">Re-order</button>
		      			</h2>
		      		</div>
		    	</div>
		  		<!-- Show Users Section -->
		  		<v-data-table
					:headers="headers"
					:items="items"
					:pagination.sync="pagination"
					:total-items="totalItems"
					:loading="loading"
					class="elevation-1"
					no-data-text="No Groups Created Yet"
				>
					<template slot="items" slot-scope="props">
						<td>{{ props.item.ITEM_NAME }}</td>
						<td>{{ props.item.ITEM_DESCRIPTION }}</td>
						<td>{{ props.item.AD_TYPE }}</td>
						<td>{{ props.item.MODELS }}</td>
						<td>{{ props.item.BODY_STYLES }}</td>
						<td>{{ props.item.ITEM_PRICE }}</td>
						<td style="min-width: 260px;">
							<v-btn
			            		small
			          			color="info"
								@click="edit_option(props.item._ID)"
							>
								Edit
							</v-btn>
							<v-btn
			            		small
			          			color="error"
								@click="delete_option(props.item._ID)"
							>
								Delete
							</v-btn>
						</td>
					</template>
				</v-data-table>
		  	</v-app>
	  	</div>
	  	<!-- Add Addendum Option -->
	  	<v-app id="add_options" v-if="showinsertfrm">
	  		<v-layout row justify-center>
	  			<v-dialog v-model="showinsertfrm" max-width="860" scrollable>
	  				<v-card>
	  					<v-card-title class="headline">
							Add Addendum Default
						</v-card-title>
						<v-card-text>
							<v-container grid-list-md >
								<v-form v-model="add_options_frm_valid" ref="add_options_form" lazy-validation>
									<v-layout wrap>
										<v-flex xs4 sm4 md4>
											<v-subheader><v-icon>fa fa-fw fa-bars</v-icon> Item Name</v-subheader>
										</v-flex>
										<v-flex xs7 sm7 md7>
											<v-text-field v-model="ad_name" :rules="[v => !!v || 'Item Name is required']" required></v-text-field>
										</v-flex>
									</v-layout>
									<v-layout wrap>
										<v-flex xs4 sm4 md4>
											<v-subheader><v-icon>fa fa-fw fa-usd</v-icon> Price
												<v-spacer></v-spacer>
												<v-tooltip bottom>
													<v-icon slot="activator" color="warning" dark>fa fa-fw fa-question-circle</v-icon>
													<span>
													 	Pricing. Do not enter the dollar sign.<br/>
													 	Also custom price options are as follow:<br/>
														&nbsp;&nbsp;1. NP = do not display any price for this option<br/>
														&nbsp;&nbsp;2. FR = Free<br/>
														&nbsp;&nbsp;3. INC = Included<br/>
														&nbsp;&nbsp;4. NC = No Charge<br/>
													</span>
												</v-tooltip>
											</v-subheader>
										</v-flex>
										<v-flex xs7 sm7 md7>
											<v-text-field v-model="ad_price" :rules="[v => !!v || 'Item Price is required']" required></v-text-field>
										</v-flex>
									</v-layout>
									<v-layout wrap>
										<v-flex xs4 sm4 md4>
											<v-subheader><v-icon>fa fa-fw fa-pencil-square-o</v-icon> Options</v-subheader>
										</v-flex>
										<v-flex xs7 sm7 md7>
											<v-select
									            label="Select"
									            :items="options_item"
									            v-model="ad_desc"
									            item-text="name"
									            item-value="name"
									            multiple
									            chips
									            max-height="250px"
									            autocomplete
									            @input="options_select_func"
								          	>
									          	<template slot="selection" slot-scope="data">
									              	<v-chip
										                close
										                @input="data.parent.selectItem(data.item)"
										                :selected="data.selected"
										                class="chip--select-multi"
										                :key="JSON.stringify(data.item.name)"
									              	>
									                	{{ data.item.name }}
									              	</v-chip>
									            </template>
								        	</v-select>
										</v-flex>
									</v-layout>
									<v-layout wrap>
										<v-flex xs4 sm4 md4>
											<v-subheader><v-icon>fa fa-fw fa-car</v-icon> Type</v-subheader>
										</v-flex>
										<v-flex xs7 sm7 md7>
											<v-select
						                        :items="ad_type_item"
						                        v-model="ad_type"
						                        label="Select"
						                        single-line
					                      	></v-select>
										</v-flex>
									</v-layout>
									<v-layout wrap>
										<v-flex xs4 sm4 md4>
											<v-subheader><v-icon>fa fa-fw fa-cogs</v-icon> Style</v-subheader>
										</v-flex>
										<v-flex xs7 sm7 md7>
											<v-select
									            label="Select"
									            :items="styles"
									            v-model="ad_styles"
									            item-text="name"
									            item-value="name"
									            multiple
									            chips
									            max-height="250px"
									            autocomplete
									            @input="style_select_func"
								          	>
									          	<template slot="selection" slot-scope="data">
									              	<v-chip
										                close
										                @input="data.parent.selectItem(data.item)"
										                :selected="data.selected"
										                class="chip--select-multi"
										                :key="JSON.stringify(data.item.name)"
									              	>
									                	{{ data.item.name }}
									              	</v-chip>
									            </template>
								        	</v-select>
										</v-flex>
									</v-layout>
									<v-layout wrap>
										<v-flex xs4 sm4 md4>
											<v-subheader><v-icon>fa fa-fw fa-car</v-icon> Model</v-subheader>
										</v-flex>
										<v-flex xs7 sm7 md7>
											<v-select
									            label="Select"
									            :items="models"
									            v-model="ad_models"
									            item-text="name"
									            item-value="name"
									            multiple
									            chips
									            max-height="250px"
									            autocomplete
									            @input="model_select_func"
								          	>
									          	<template slot="selection" slot-scope="data">
									              	<v-chip
										                close
										                @input="data.parent.selectItem(data.item)"
										                :selected="data.selected"
										                class="chip--select-multi"
										                :key="JSON.stringify(data.item.name)"
									              	>
									                	{{ data.item.name }}
									              	</v-chip>
									            </template>
								        	</v-select>
										</v-flex>
									</v-layout>
									<v-layout wrap>
										<v-flex xs4 sm4 md4>
											<v-subheader><v-icon>fa fa-fw fa-key</v-icon> Add Separator (Above)</v-subheader>
										</v-flex>
										<v-flex xs7 sm7 md7>
											<v-checkbox
								                v-model="ad_ada"
								                color="info"
								                hide-details
							              	></v-checkbox>
										</v-flex>
									</v-layout>
									<v-layout wrap>
										<v-flex xs4 sm4 md4>
											<v-subheader><v-icon>fa fa-fw fa-key</v-icon> Add Separator (Below)</v-subheader>
										</v-flex>
										<v-flex xs7 sm7 md7>
											<v-checkbox
								                v-model="ad_adb"
								                color="info"
								                hide-details
							              	></v-checkbox>
										</v-flex>
									</v-layout>
								</v-form>
							</v-container>
						</v-card-text>
						<v-card-actions>
							<v-spacer></v-spacer>
							<v-btn color="red darken-1" flat="flat" @click.native="showinsertfrm = false">Close</v-btn>
							<v-btn color="green darken-1" flat="flat" @click="update_option()" :disabled="!add_options_frm_valid" >Save Change</v-btn>
						</v-card-actions>
	  				</v-card>
	  			</v-dialog>
	  		</v-layout>
	  	</v-app>
	  	<!-- Add Addendum Option -->

	  	<!-- Re-Order Modal Start -->
  		<v-layout row justify-center>
  			<v-dialog v-model="re_order_modal_status" max-width="640">
  				<v-card>
		          	<v-card-title class="headline">Re-order Options</v-card-title>
		          	<v-card-text>
		          		<v-container grid-list-md>
		          			<v-layout wrap>
		          				<v-flex xs12 sm12 md12>
				                	<v-subheader>Please drag and drop to re-order</v-subheader>
				                </v-flex>
		          				<ul id="sortable">
		          					<li class="ui-state-default" v-for="item in full_items" :key="item._ID" :data-id="item._ID">
								    	{{ item.ITEM_NAME }}
							  		</li>
		          				</ul>
		          			</v-layout>
		          		</v-container>
		          	</v-card-text>
		          	<v-card-actions>
		            	<v-spacer></v-spacer>
		            	<v-btn color="darken-1" flat="flat" @click.native="re_order_modal_status = false">Cancel</v-btn>
		            	<v-btn color="green darken-1" flat="flat" @click="change_re_order" >Save Changes</v-btn>
		          	</v-card-actions>
		        </v-card>
  			</v-dialog>
  		</v-layout>
  		<!-- Re-Order Modal End -->

	</div>
	<!-- Code End -->
</template>
<style type="text/css">
  	/* Your Style */
	.application--wrap{
	  	min-height: 100%;
	}
  	#sortable { list-style-type: none; margin: 0; padding: 0; width: 80%; }
	#sortable li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 1.5em; cursor:move; text-align: center; }
	html>body #sortable li { height: 2em; line-height: 1.2em; }
</style>
<script>
	import swal from 'sweetalert';
	import Sortable from 'sortablejs';

	export default{
		data(){
			return{
				base_url: window.laravel.base_url,
				showinsertfrm: false,
			    headers: [
			    	{ text: 'Group Name', value: 'ITEM_NAME', sortable: false},
			    	{ text: 'Addendum Options', value: 'ITEM_DESCRIPTION', sortable: false},
			    	{ text: 'New/Used', value: 'AD_TYPE', sortable: false},
			    	{ text: 'Model', value: 'MODELS', sortable: false},
			    	{ text: 'Style', value: 'BODY_STYLES', sortable: false},
			    	{ text: 'Price', value: 'ITEM_PRICE', sortable: false},
			    	{ text: 'Actions', value: 'Actions', sortable: false},
			    ],
			    items: [],
			    full_items: [],
			    totalItems: 0,
			    loading: true,
			    pagination: {
					descending : 0, // init sord desc
					rowsPerPage : 10 // rows per page
		        },
		        options_item: [],
		       	add_options_frm_valid: false,
		        ad_name: '',
		        ad_price: '',
		        ad_desc: [],
		        ad_type: 'Both',
		        ad_type_item: [
		        	{ text: 'Both', value: 'Both'},
		        	{ text: 'New', value: 'New'},
		        	{ text: 'Used', value: 'Used'},
		        ],
		        styles: [
		        	{name: 'ALL'},
		        	{name: 'NONE'},
		        ], // All Body Styles
		        ad_styles: [
		        	'NONE'
		        ], // Selected Body Styles
		        models: [
		        	{name: 'ALL'},
		        	{name: 'NONE'},
		        ], // All Car Models
		        ad_models: [
		        	'NONE'
		        ], // Selected Car Models
		        ad_ada: false, //Add Separator (Above)
		        ad_adb: false, //Add Separator (Below)
		        option_id: 0,
		        re_order_modal_status: false,
		        sortable_obj: {}, // variable for handle sortable object 


			}
		},
		created: function(){
			this.fetchData();
		},
		methods: {
			/**
			* Fetch logged user, privilege information when created vue dom
			*
			* @return Object
			*/
			fetchData()
			{
				var that = this;
				let uri = window.laravel.base_url + '/get_data_for_groupoptions';
				this.axios.post(uri,{'_token': window.laravel.csrf_token}).then((response) => {

					this.items = response.data.groupOptions;
					this.full_items = response.data.full_options;

					$.each(response.data.options, function(index, value){
			          	that.options_item.push({name:value.ITEM_NAME});
		          	});
					
					$.each(response.data.body_styles, function(index, value){
			          	that.styles.push({name:value.BODY_STYLE});
		          	});
		          	
		          	$.each(response.data.models, function(index, value){
			          	that.models.push({name: value.MODEL});
		          	});
					this.loading = false;
				});

			},

			/**
			 * Select Styles with condition
			 */
			style_select_func: function(){
				var that = this;
				var all_flag = 0;
				var none_flag = 0;
				$.each(this.ad_styles, function(index, value){
					if(value == 'ALL'){
						all_flag = 1;
					}else if(value == 'NONE'){
						none_flag = 1;
					}
				});
				if(all_flag){
					if(that.ad_styles.length > 1){
						if(that.ad_styles[that.ad_styles.length - 1] == 'ALL'){
							that.ad_styles = [
								'ALL'
							];			
						}else{
							var index = that.ad_styles.indexOf('ALL');
							that.ad_styles.splice(index, 1);		
						}
						
					}
				}
				if(none_flag){
					if(that.ad_styles.length > 1){
						if(that.ad_styles[that.ad_styles.length - 1] == 'NONE'){
							that.ad_styles = [
								'NONE'
							];			
						}else{
							var index = that.ad_styles.indexOf('NONE');
							that.ad_styles.splice(index, 1);		
						}
						
					}
				}
			},
			/**
			 * Select Models with condition
			 */
			model_select_func: function(){
				var that = this;
				var all_flag = 0;
				var none_flag = 0;
				$.each(this.ad_models, function(index, value){
					if(value == 'ALL'){
						all_flag = 1;
					}
					if(value == 'NONE'){
						none_flag = 1;
					}
				});
				if(all_flag){
					if(that.ad_models.length > 1){
						if(that.ad_models[that.ad_models.length - 1] == 'ALL'){
							that.ad_models = [
								'ALL'
							];			
						}else{
							var index = that.ad_models.indexOf('ALL');
							that.ad_models.splice(index, 1);		
						}
						
					}
				}
				if(none_flag){
					if(that.ad_models.length > 1){
						if(that.ad_models[that.ad_models.length - 1] == 'NONE'){
							that.ad_models = [
								'NONE'
							];			
						}else{
							var index = that.ad_models.indexOf('NONE');
							that.ad_models.splice(index, 1);		
						}
						
					}
				}
			},

			/**
			 * Select Options with condition
			 */
			options_select_func: function(){
			},

			/**
			 * Open Addendum Option Modal
			 *
			 */
			addoption: function(){
				this.clear_option_value();
				this.showinsertfrm = true;
			},

			/**
			 *
			 * Add New Addendum Option
			 */
			update_option: function(){
				if (this.$refs.add_options_form.validate()) {
					this.showinsertfrm = false;
					
					var ad_styles = this.ad_styles.join();
					var ad_models = this.ad_models.join();
					var ad_desc = this.ad_desc.join();
					if(this.option_id == 0){
						let uri = window.laravel.base_url + '/add_new_ad_groupoption';
						this.axios.post(uri,{
								'ad_name': this.ad_name, 'ad_price': this.ad_price, 'ad_desc': ad_desc, 'ad_type': this.ad_type,
								'ad_styles': ad_styles, 'ad_models': ad_models, 'ad_ada': this.ad_ada, 'ad_adb': this.ad_adb
							}).then((response) => {
								if(response.data.status == 'success'){
									this.fetchData();
								}
						});	
					}else{
						var index = 0;
						var that = this;
						$.each(this.items, function(i, value){
							if(value._ID == that.option_id){
								index = i;
							}
						});
						this.items[index].ITEM_NAME = this.ad_name;
						this.items[index].ITEM_PRICE = this.ad_price;
						this.items[index].ITEM_DESCRIPTION = ad_desc;
						this.items[index].AD_TYPE = this.ad_type;
						this.items[index].BODY_STYLES = ad_styles;
						this.items[index].MODELS = ad_models;
						this.items[index].SEPARATOR_ABOVE = this.ad_ada == true?'1':'0';
						this.items[index].SEPARATOR_BELOW = this.ad_adb == true?'1':'0';
						let uri = window.laravel.base_url + '/update_ad_option';
						this.axios.post(uri,{
								'ad_id': this.option_id, 'items': JSON.stringify(this.items[index])
							}).then((response) => {
								if(response.data.status == 'success'){
								}
						});	
					}
					
				}
			},
			/**
			 * Open Addendum Option Modal
			 */
			edit_option: function(id){
				this.option_id = id;
				var index = 0;
				$.each(this.items, function(i, value){
					if(value._ID == id){
						index = i;
					}
				});
				this.ad_name = this.items[index].ITEM_NAME;
				this.ad_price = this.items[index].ITEM_PRICE;
				this.ad_desc = this.items[index].ITEM_DESCRIPTION.split(',');
				this.ad_type = this.items[index].AD_TYPE;
				this.ad_styles = this.items[index].BODY_STYLES.split(',');
				
				var all_style_flag = 0;
				var none_style_flag = 0; 
				var that = this;
				$.each(this.ad_styles, function(i, value){
					if(value == '- NONE' || value == '-NONE'){
						that.ad_styles[i] = 'NONE';
						none_style_flag = 1;
					}
					if(value == 'NONE'){
						none_style_flag = 1;
					}
					if(value == 'ALL'){
						all_style_flag = 1;
					}
				});
				if(none_style_flag){
					if(this.ad_styles.length > 1){
						var index = this.ad_styles.indexOf('NONE');
						this.ad_styles.splice(index, 1);
					}
				}
				if(all_style_flag){
					if(this.ad_styles.length > 1){
						this.ad_styles = ['ALL'];
					}
				}
				this.ad_models = this.items[index].MODELS.split(',');
				var all_model_flag = 0;
				var none_model_flag = 0; 

				$.each(this.ad_models, function(i, value){
					if(value == '- NONE' || value == '-NONE'){
						that.ad_models[i] = 'NONE';
						none_model_flag = 1;
					}
					if(value == 'NONE'){
						none_model_flag = 1;
					}
					if(value == 'ALL'){
						all_model_flag = 1;
					}
				});
				if(none_model_flag){
					if(this.ad_models.length > 1){
						var index = this.ad_models.indexOf('NONE');
						this.ad_models.splice(index, 1);
					}
				}
				if(all_model_flag){
					if(this.ad_models.length > 1){
						this.ad_models = ['ALL'];
					}
				}

				this.ad_ada = this.items[index].SEPARATOR_ABOVE;
				if(this.ada == '1'){
					this.ada = true;
				}else{
					this.ada = false;
				}
				this.ad_adb = this.items[index].SEPARATOR_BELOW;
				if(this.adb == '1'){
					this.adb = true;
				}else{
					this.adb = false;
				}
				this.showinsertfrm = true;
			},

			/**
			 * Delete Option
			 *
			 */
			delete_option: function(id){
				this.option_id = id;
				var index = 0;
				$.each(this.items, function(i, value){
					if(value._ID == id){
						index = i;
					}
				});
				var r=confirm("Do you really want to delete this entry ?");
				if(r == true){
					let uri = window.laravel.base_url + '/delete_ad_option';
					this.axios.post(uri,{
							'ad_id': id
						}).then((response) => {
							if(response.data.status == 'success'){
								this.items.splice(index, 1);
							}
					});	
				}
			},

			/**
			 * Open Reorder Modal
			 *
			 */

			re_order: function(){
				this.getAllOptions();
				this.re_order_modal_status = true;
				var el = $('#sortable')[0];
				this.sortable_obj = Sortable.create(el);
			},

			change_re_order: function(){
				var order = this.sortable_obj.toArray(); //Get Ordered options ids
				let save_sortable_uri = window.laravel.base_url + '/save_ad_options_reorder';
			 	this.axios.post(save_sortable_uri, { 'order': JSON.stringify(order)}).then((response) => {
			 		if(response.data.status == 'success'){
			 			this.re_order_modal_status = false;
			 			this.fetchData();
			 		}
			 	});
			},

			/**
			 *
			 * Get All Addendum Default Options
			 */
			getAllOptions: function(){
				let uri = window.laravel.base_url + '/get_all_ad_options';
			 	this.axios.post(uri).then((response) => {
		 			this.full_items = response.data.full_options;
			 	});
			},

			clear_option_value: function(){
				this.option_id = 0;
				this.ad_name = '';
		        this.ad_price = '';
		        this.ad_desc = [];
		        this.ad_type = 'Both';
		        this.ad_styles = ['NONE'];
		        this.ad_models = ['NONE'];
		        this.ad_ada = false;
		        this.ad_adb = false;
			},

		}
	}
</script>