<template>
  <div class="tab-pane active" id="vehicle-overview" role="tabpanel">
    <!-- Grid Controls-->
    <div class="row p-a"> 
      
      <!-- Multiprint hide on sm and XS -->
      <div class="col-sm-3 hidden-sm-down wide800">
        <h6>Multi-Print/Delete</h6>
        <v-select
          :items="bulkaction_items"
          v-model="bulkaction_value"
          label="SELECT"
          single-line
          class="input-sm form-control w-sm inline v-middle vehicle_multiselect"
          hide-details
        ></v-select>
        <!--option v-if="privilege_info && privilege_info.VEHICLE_EDIT_DELETE == 1" value="2">Delete</option-->
        <button v-on:click="bulk_action_func" class="vehicle_multiple btn btn-sm white">Apply</button>
        <input type="hidden" name="multi" id="multiaction" value="" />
        <input type="hidden" name="printstart" id="printstart" value="1" />
      </div>
      
      <!--spacer-->
      <div class="col-sm-1"></div>
      
      <!--Type and Print-->
      <div class="col-sm-3 hidden-sm-down">
        <h6>Print Status</h6>
        <div class="btn-group btn-group-sm" data-toggle="buttons">
          <label v-on:click="printunprint(0)" :class="user.PRINT_UNPRINT==0?'btn primary btn--small print_unprint active':'btn primary btn--small print_unprint'">
            <input type="radio" name="printunprint" id="printunprint0" autocomplete="off" checked> All
          </label>
          <label v-on:click="printunprint(1)" :class="user.PRINT_UNPRINT==1?'btn primary btn--small print_unprint active':'btn primary btn--small print_unprint'">
            <input type="radio" name="printunprint" id="printunprint1" autocomplete="off"> Printed
          </label>
          <label v-on:click="printunprint(2)" :class="user.PRINT_UNPRINT==2?'btn primary btn--small print_unprint active':'btn primary btn--small print_unprint'">
            <input type="radio" name="printunprint"  id="printunprint2" autocomplete="off"> Unprinted
          </label>
        </div>
        <input type="hidden" id="print_unprint" :value="user.PRINT_UNPRINT" />
      </div>

      <div class="col-sm-3 hidden-sm-down">
        <h6>Vehicle Type</h6>
        <div class="btn-group btn-group-sm" data-toggle="buttons">
          <label v-on:click="new_used(0)" :class="user.NEW_USED_BOTH=='New'?'btn primary btn--small active':'btn primary btn--small'">
            <input type="radio" name="new_used" id="new_used0" autocomplete="off" checked> New
          </label>
          <label v-on:click="new_used(1)" :class="user.NEW_USED_BOTH=='Used'?'btn primary btn--small active':'btn primary btn--small'">
            <input type="radio" name="new_used" id="new_used1" autocomplete="off"> Used
          </label>
          <label v-on:click="new_used(2)" :class="user.NEW_USED_BOTH=='Both'?'btn primary btn--small active':'btn primary btn--small'">
            <input type="radio" name="new_used"  id="new_used2" autocomplete="off"> All
          </label>
        </div>
        <input type="hidden" id="new_used" :value="user.NEW_USED_BOTH" />
      </div>
      
      <!--Search, ful width for sm and xs-->
      <div class="col-sm-2 hidden-sm-down" >
        <h6>Search</h6>
        <div class="input-group input-group-sm" style="padding-top:7px;">
          <input type="text" class="form-control vehiclesearch" v-model="filter" placeholder="Stock,Stock,Stock" style="width:150px">&nbsp;<button style="display:none" type="button" class="btn btn-success btnsearch btn-sm"><i class="fa fa-search"> </i></button>
        </div>
      </div>
      <div class="col-sm-12 hidden-md-up semobile">
        <h6>Search</h6>
        <div class="input-group input-group-sm">
          <input type="text" class="form-control vehiclesearchm" v-model="filter" placeholder="Stock,Stock,Stock" style="width:150px">&nbsp;<button style="display:none" type="button" class="btn btn-success btnsearchm btn-sm"><i class="fa fa-search"> </i></button>
        </div>
      </div>
    </div>
    <!-- Inventory Grids --> 
    <!-- Desktop Grid View Extra Large -->
    <!-- Vuetify DataTable -->
    <v-app id="inspire">
      <div>
        <v-data-table
          :headers="headers"
          :items="items"
          :pagination.sync="pagination"
          :total-items="totalItems"
          :loading="loading"
          v-model="selected"
          item-key="STOCK_NUMBER"
          select-all
          class="elevation-1"
          no-data-text="No Vehicles Added Yet"
        >
          <template slot="items" slot-scope="props">
            <td class="hidden-md-down"><v-checkbox
                primary
                hide-details
                v-model="props.selected"
              ></v-checkbox></td>
            <td>{{ props.item.STOCK_NUMBER }}</td>
            <td class="no-mobile">{{ props.item.VIN_NUMBER }}</td>
            <td class="hidden-md-down no-mobile">{{ props.item.YEAR }}</td>
            <td class="hidden-md-down no-mobile">{{ props.item.MAKE }}</td>
            <td class="hidden-md-down no-mobile">{{ props.item.MODEL }}</td>
            <td class="hidden-md-down no-mobile">{{ props.item.BODYSTYLE }}</td>
            <td class="hidden-lg-down no-mobile">{{ moment(props.item.DATE_IN_STOCK).format('MM/DD/YYYY') }}</td>
            <td class="hidden-md-down no-mobile danger_red" v-if="props.item.MSRP==0||props.item.MSRP==''||props.item.MSRP=='NULL'||props.item.MSRP==null">0</td>
            <td class="hidden-md-down no-mobile" v-if="!(props.item.MSRP==0||props.item.MSRP==''||props.item.MSRP=='NULL'||props.item.MSRP==null)">{{ '$'+props.item.MSRP }}</td>
            <td class="hidden-md-down no-mobile text-xs-center"><button type="button" class="btn info btn--small btn-xs" v-on:click="editvehicle( props.index )">Edit</button></td>
            <td class="hidden-lg-up text-xs-center"><button type="button" class="btn info btn--floating btn--small btn-xs" v-on:click="editvehicle( props.index )"><i class="fa fa-fw fa-edit"></i></button></td>
            <td class="text-xs-center printing_action_td">
              <!--<button :disabled="inputSMS1 == '' || inputSMS == ''?true:false"  :title="inputSMS1 == '' || inputSMS == ''?'Please contact DealerAddendums to enable this feature (801-415-9435)':''" type="button" class="btn btn-xs print_sms btn--small  no-mobile sms_print_btn" v-on:click="printsms( props.item._ID )" v-bind:class="props.item.PRINT_SMS == 1?'success':'btn-default'">SMS</button>-->
              <button :disabled="props.item.NEW_USED != 'Used'?true:false" type="button" class="btn btn-xs print_sms btn--small infosheet_print_btn" v-on:click="printinfosheet( props.item._ID )" v-bind:class="props.item.NEW_USED == 'Used' && props.item.PRINT_INFO == 1?'success':'btn-default'">Info Sheet</button>
              <button type="button" class="btn btn-xs btn--small buyerguide_print_btn"  v-on:click="printguide( props.item._ID )" v-bind:class="props.item.PRINT_GUIDE == 1?'success':'btn-default'">Buyers Guide</button>
              <button type="button" class="btn print_vehicle btn-xs btn--small addendum_print_btn" :class="props.item.PRINT_STATUS==1?'success':'btn-default'"  v-on:click="printvehicle(props.item._ID)">Addendum</button>
            </td>
          </template>
        </v-data-table> 
      </div>
    </v-app>
    <!-- Vuetify DataTable -->

    <!-- Create Edit Modal Start -->
    <v-app id="edit_vehicle_modal_app" v-if="edit_vehcile_modal_status">
      <v-layout row justify-center>
        <v-dialog v-model="edit_vehcile_modal_status" max-width="640" scrollable>
          <v-card>
            <v-form v-model="edit_vehicle_frm_valid" ref="edit_vehicle_form" lazy-validation>
              <v-card-title class="headline" >Edit Vehicle</v-card-title>
                <v-card-text style="height: calc(90vh - 200px); overflow-y: auto">
                  <v-container grid-list-md >
                    <v-layout wrap>
                        <v-flex xs4 sm4 md4>
                          <v-subheader><v-icon>fa fa-fw fa-bars</v-icon> Stock Number</v-subheader>
                        </v-flex>
                      <v-flex xs8 sm8 md8>
                          <v-text-field label="Stock Number" v-model="vehicle_info.STOCK_NUMBER" 
                          :rules="[v => !!v || 'Stock Number is required']" required></v-text-field>
                        </v-flex>
                        <v-flex xs4 sm4 md4>
                          <v-subheader><v-icon>fa fa-fw fa-bolt</v-icon> VIN Number</v-subheader>
                        </v-flex>
                      <v-flex xs8 sm8 md8>
                          <v-text-field label="VIN Number" v-model="vehicle_info.VIN_NUMBER" readonly required></v-text-field>
                        </v-flex>
                        <v-flex xs4 sm4 md4>
                          <v-subheader><v-icon>fa fa-fw fa-edit</v-icon> Vehicle Type</v-subheader>
                        </v-flex>
                      
                      <v-flex xs8 sm8 md8>
                          <v-select
                        :items="vehicle_type_items"
                        v-model="vehicle_info.NEW_USED"
                        label="Select"
                        single-line
                      ></v-select>
                      </v-flex>
                      
                      <v-flex xs4 sm4 md4>
                          <v-subheader><v-icon>fa fa-fw fa-dollar</v-icon> Price</v-subheader>
                        </v-flex>
                      <v-flex xs8 sm8 md8>
                          <v-text-field label="Price" v-model="vehicle_info.MSRP" 
                          :rules="[v => !!v || 'Price is required']" required></v-text-field>
                        </v-flex>

                        <v-flex xs4 sm4 md4>
                          <v-subheader><v-icon>fa fa-fw fa-circle</v-icon> Year</v-subheader>
                        </v-flex>
                      <v-flex xs8 sm8 md8>
                          <v-text-field label="Year" v-model="vehicle_info.YEAR" 
                          :rules="[v => !!v || 'Year is required']" required></v-text-field>
                        </v-flex>

                        <v-flex xs4 sm4 md4>
                          <v-subheader><v-icon>fa fa-fw fa-circle</v-icon> Mileage</v-subheader>
                        </v-flex>
                      <v-flex xs8 sm8 md8>
                          <v-text-field label="Mileage" v-model="vehicle_info.MILEAGE"></v-text-field>
                        </v-flex>

                        <v-flex xs4 sm4 md4>
                          <v-subheader><v-icon>fa fa-fw fa-circle</v-icon> Make</v-subheader>
                        </v-flex>
                      <v-flex xs8 sm8 md8>
                          <v-text-field label="Make" v-model="vehicle_info.MAKE"
                          :rules="[v => !!v || 'Make is required']" required></v-text-field>
                        </v-flex>

                        <v-flex xs4 sm4 md4>
                          <v-subheader><v-icon>fa fa-fw fa-circle</v-icon> Model</v-subheader>
                        </v-flex>
                      <v-flex xs8 sm8 md8>
                          <v-text-field label="Model" v-model="vehicle_info.MODEL"
                          :rules="[v => !!v || 'Model is required']" required></v-text-field>
                        </v-flex>

                        <v-flex xs4 sm4 md4>
                          <v-subheader><v-icon>fa fa-fw fa-circle</v-icon> Trim</v-subheader>
                        </v-flex>
                      <v-flex xs8 sm8 md8>
                          <v-text-field label="Trim" v-model="vehicle_info.TRIM"
                          :rules="[v => !!v || 'Trim is required']" required></v-text-field>
                        </v-flex>

                        <v-flex xs4 sm4 md4>
                          <v-subheader><v-icon>fa fa-fw fa-circle</v-icon> Style</v-subheader>
                        </v-flex>
                      <v-flex xs8 sm8 md8>
                          <v-text-field label="Style" v-model="vehicle_info.STYLE"></v-text-field>
                        </v-flex>

                        <v-flex xs4 sm4 md4>
                          <v-subheader><v-icon>fa fa-fw fa-circle</v-icon> Ext Color</v-subheader>
                        </v-flex>
                      <v-flex xs8 sm8 md8>
                          <v-text-field label="Ext Color" v-model="vehicle_info.EXT_COLOR"></v-text-field>
                        </v-flex>

                        <v-flex xs4 sm4 md4>
                          <v-subheader><v-icon>fa fa-fw fa-circle</v-icon> Int Color</v-subheader>
                        </v-flex>
                      <v-flex xs8 sm8 md8>
                          <v-text-field label="Int Color" v-model="vehicle_info.INT_COLOR"></v-text-field>
                        </v-flex>

                        <v-flex xs4 sm4 md4>
                          <v-subheader><v-icon>fa fa-fw fa-circle</v-icon> Doors</v-subheader>
                        </v-flex>
                      <v-flex xs8 sm8 md8>
                          <v-text-field label="Doors" v-model="vehicle_info.DOORS"></v-text-field>
                        </v-flex>

                        <v-flex xs4 sm4 md4>
                          <v-subheader><v-icon>fa fa-fw fa-circle</v-icon> Transmission</v-subheader>
                        </v-flex>
                      <v-flex xs8 sm8 md8>
                          <v-text-field label="Transmission" v-model="vehicle_info.TRANSMISSION"></v-text-field>
                        </v-flex>

                        <v-flex xs4 sm4 md4>
                          <v-subheader><v-icon>fa fa-fw fa-circle</v-icon> Engine</v-subheader>
                        </v-flex>
                      <v-flex xs8 sm8 md8>
                          <v-text-field label="Engine" v-model="vehicle_info.ENGINE"></v-text-field>
                        </v-flex>

                        <v-flex xs4 sm4 md4>
                          <v-subheader><v-icon>fa fa-fw fa-circle</v-icon> Engine Type</v-subheader>
                        </v-flex>
                      <v-flex xs8 sm8 md8>
                          <v-text-field label="Engine Type" v-model="vehicle_info.FUEL"></v-text-field>
                        </v-flex>

                        <v-flex xs4 sm4 md4>
                          <v-subheader><v-icon>fa fa-fw fa-circle</v-icon> Drivetrain</v-subheader>
                        </v-flex>
                      <v-flex xs8 sm8 md8>
                          <v-text-field label="Drivetrain" v-model="vehicle_info.DRIVETRAIN"></v-text-field>
                        </v-flex>

                        <v-flex xs4 sm4 md4>
                          <v-subheader><v-icon>fa fa-fw fa-circle</v-icon> MPG Highway</v-subheader>
                        </v-flex>
                      <v-flex xs8 sm8 md8>
                          <v-text-field label="MPG Highway" v-model="vehicle_info.HMPG"></v-text-field>
                        </v-flex>

                        <v-flex xs4 sm4 md4>
                          <v-subheader><v-icon>fa fa-fw fa-circle</v-icon> MPG City</v-subheader>
                        </v-flex>
                      <v-flex xs8 sm8 md8>
                          <v-text-field label="MPG City" v-model="vehicle_info.CMPG"></v-text-field>
                        </v-flex>

                        <v-flex xs4 sm4 md4>
                          <v-subheader><v-icon>fa fa-fw fa-calendar-alt</v-icon> Date In</v-subheader>
                        </v-flex>
                      <v-flex xs8 sm8 md8>
                          <v-text-field label="Date In" v-model="vehicle_info.DATE_IN_STOCK"></v-text-field>
                        </v-flex>

                        <v-flex xs4 sm4 md4>
                          <v-subheader><v-icon>fa fa-fw fa-info</v-icon> Options</v-subheader>
                        </v-flex>
                      <v-flex xs8 sm8 md8>
                          <v-textarea name="input-7-1" label="Options" v-model="vehicle_info.OPTIONS"></v-textarea>
                        </v-flex>

                        <v-flex xs4 sm4 md4>
                          <v-subheader><v-icon>fa fa-fw fa-info</v-icon> Description</v-subheader>
                        </v-flex>
                      <v-flex xs8 sm8 md8>
                          <v-textarea name="input-7-1" label="Description" v-model="vehicle_info.DESCRIPTION"></v-textarea>
                        </v-flex>

                        <v-flex xs4 sm4 md4>
                          <v-subheader><v-icon>fa fa-fw fa-info</v-icon> Certification #</v-subheader>
                        </v-flex>
                      <v-flex xs8 sm8 md8>
                          <v-text-field label="Certification" v-model="vehicle_info.INSP_NUMB"></v-text-field>
                        </v-flex>
                      </v-layout>
                  </v-container>
              </v-card-text>
              <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="darken-1" flat="flat" @click.native="edit_vehcile_modal_status = false">Cancel</v-btn>
                  <v-btn color="green darken-1" flat="flat" @click="edit_vehicle_frm_submit" :disabled="!edit_vehicle_frm_valid">Save Changes</v-btn>
              </v-card-actions>
            </v-form>
          </v-card>
        </v-dialog>
      </v-layout>
    </v-app>
    <!-- Create Edit Modal End -->

    <!-- Create Print SMS Modal Start -->
    <v-app id="phonesms_print_modal_app" v-if="phonesms_modal_status">
      <v-layout row justify-center>
        <v-dialog v-model="phonesms_modal_status" max-width="640" scrollable>
          <v-card>
            <v-card-title class="headline">SMS</v-card-title>
            <v-card-text>
              <v-container grid-list-md >
                <v-layout wrap>
                  <component :is="phonesms_component" :vid="selected_vid"></component>
                </v-layout>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="red darken-1" flat="flat" @click="phonesms_download_pdf">Download PDF</v-btn>
              <v-btn color="green darken-1" flat="flat" @click="phonesms_print_view" >Print</v-btn>
              <v-btn color="darken-1" flat="flat" @click.native="phonesms_modal_status = false">Cancel</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-layout>
    </v-app>
    <!-- Create Print SMS Modal End -->

    <!-- Create Buyer guide Modal Start -->
    <v-app id="buyerguide_modal_app" v-if="buyerguide_modal_status">
      <v-layout row justify-center>
        <v-dialog v-model="buyerguide_modal_status" max-width="720" scrollable>
          <v-card>
            <v-card-title class="headline">Print Buyers Guide</v-card-title>
            <v-card-text>
              <v-container grid-list-md >
                <div>
                  <v-tabs
                    color="cyan"
                    v-model="buyer_guide_tab"
                    dark
                    slider-color="yellow"
                  >
                    <v-tab href="#asis_tab">
                      As-Is
                    </v-tab>
                    <v-tab href="#implied_tab">
                      Implied
                    </v-tab>
                    <v-tab href="#warranty_tab">
                      Warranty
                    </v-tab>
                    <v-tab href="#warranty_spanish_tab">
                      Warranty Spanish
                    </v-tab>
                    <v-tab href="#back_page_tab">
                      Back Page
                    </v-tab>
                  </v-tabs>
                  <v-tabs-items v-model="buyer_guide_tab">
                    <v-tab-item id="asis_tab">
                      <v-card flat style="border:none;margin-bottom:0px;">
                        <v-card-text style="padding-bottom: 0px;">
                          <v-layout wrap>
                            <v-flex xs4 sm4 md4>
                              <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Default Guide</v-subheader>
                            </v-flex>
                            <v-flex xs8 sm8 md8>
                              <v-subheader>{{ dg_asis }}</v-subheader>
                            </v-flex>
                            <v-flex xs4 sm4 md4>
                              <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Service Contract</v-subheader>
                            </v-flex>
                            <v-flex xs8 sm8 md8>
                              <v-switch :label="sc_asis?'Yes':'No'" v-model="sc_asis"></v-switch>
                            </v-flex>
                          </v-layout>
                        </v-card-text>
                      </v-card>
                    </v-tab-item>

                    <v-tab-item id="implied_tab">
                      <v-card flat style="border:none;margin-bottom:0px;">
                        <v-card-text style="padding-bottom: 0px;">
                          <v-layout wrap>
                            <v-flex xs4 sm4 md4>
                              <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Default Guide</v-subheader>
                            </v-flex>
                            <v-flex xs8 sm8 md8>
                              <v-subheader>{{ dg_implied }}</v-subheader>
                            </v-flex>
                            <v-flex xs4 sm4 md4>
                              <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Service Contract</v-subheader>
                            </v-flex>
                            <v-flex xs8 sm8 md8>
                              <v-switch :label="sc_implied?'Yes':'No'" v-model="sc_implied"></v-switch>
                            </v-flex>
                          </v-layout>
                        </v-card-text>
                      </v-card>
                    </v-tab-item>

                    <v-tab-item id="warranty_tab">
                      <v-card flat style="border:none;margin-bottom:0px;">
                        <v-card-text style="padding-bottom: 0px;">
                          <v-layout wrap>
                            <v-flex xs4 sm4 md4>
                              <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Default Guide</v-subheader>
                            </v-flex>
                            <v-flex xs8 sm8 md8>
                              <v-subheader>{{ dg_warranty }}</v-subheader>
                            </v-flex>
                            <v-flex xs4 sm4 md4>
                              <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Warranty Type</v-subheader>
                            </v-flex>
                            <v-flex xs2 sm2 md2>
                              <v-switch :label="wt_warranty?'FULL':'Ltd.'" v-model="wt_warranty"></v-switch>
                            </v-flex>
                            <v-flex xs2 sm2 md2>
                              <v-text-field solo v-model="wt_parts"></v-text-field>
                            </v-flex>
                            <v-flex xs1 sm1 md1 style="line-height:4;">
                              % Parts
                            </v-flex>
                            <v-flex xs2 sm2 md2>
                              <v-text-field solo v-model="wt_labor"></v-text-field>
                            </v-flex>
                            <v-flex xs1 sm1 md1 style="line-height:4;">
                              % Labor
                            </v-flex>

                            <v-flex xs4 sm4 md4>
                              <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Systems Covered</v-subheader>
                            </v-flex>
                            <v-flex xs8 sm8 md8>
                              <v-textarea v-model="wt_sc"></v-textarea>
                            </v-flex>

                            <v-flex xs4 sm4 md4>
                              <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Duration</v-subheader>
                            </v-flex>
                            <v-flex xs8 sm8 md8>
                              <v-textarea v-model="wt_duration"></v-textarea>
                            </v-flex>

                            <v-flex xs4 sm4 md4>
                              <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Service Contract</v-subheader>
                            </v-flex>
                            <v-flex xs8 sm8 md8>
                              <v-switch :label="sc_warranty?'Yes':'No'" v-model="sc_warranty"></v-switch>
                            </v-flex>
                          </v-layout>
                        </v-card-text>
                      </v-card>
                    </v-tab-item>

                    <v-tab-item id="warranty_spanish_tab">
                      <v-card flat style="border:none;margin-bottom:0px;">
                        <v-card-text style="padding-bottom: 0px;">
                          <v-layout wrap>
                            <v-flex xs4 sm4 md4>
                              <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Default Guide</v-subheader>
                            </v-flex>
                            <v-flex xs8 sm8 md8>
                              <v-subheader>{{ dg_warranty_s }}</v-subheader>
                            </v-flex>
                            <v-flex xs4 sm4 md4>
                              <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Warranty Type</v-subheader>
                            </v-flex>
                            <v-flex xs2 sm2 md2>
                              <v-switch :label="wt_warranty_s?'FULL':'Ltd.'" v-model="wt_warranty_s"></v-switch>
                            </v-flex>
                            <v-flex xs2 sm2 md2>
                              <v-text-field solo v-model="wts_parts"></v-text-field>
                            </v-flex>
                            <v-flex xs1 sm1 md1 style="line-height:4;">
                              % Parts
                            </v-flex>
                            <v-flex xs2 sm2 md2>
                              <v-text-field solo v-model="wts_labor"></v-text-field>
                            </v-flex>
                            <v-flex xs1 sm1 md1 style="line-height:4;">
                              % Labor
                            </v-flex>

                            <v-flex xs4 sm4 md4>
                              <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Systems Covered</v-subheader>
                            </v-flex>
                            <v-flex xs8 sm8 md8>
                              <v-textarea v-model="wts_sc"></v-textarea>
                            </v-flex>

                            <v-flex xs4 sm4 md4>
                              <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Duration</v-subheader>
                            </v-flex>
                            <v-flex xs8 sm8 md8>
                              <v-textarea v-model="wts_duration"></v-textarea>
                            </v-flex>

                            <v-flex xs4 sm4 md4>
                              <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Service Contract</v-subheader>
                            </v-flex>
                            <v-flex xs8 sm8 md8>
                              <v-switch :label="sc_warranty_s?'Yes':'No'" v-model="sc_warranty_s"></v-switch>
                            </v-flex>
                          </v-layout>
                        </v-card-text>
                      </v-card>
                    </v-tab-item>
                    <v-tab-item id="back_page_tab">
                      <v-card flat style="border:none;margin-bottom:0px;">
                        <v-card-text style="padding-bottom: 0px;">
                          <v-layout wrap>
                            <v-flex xs4 sm4 md4>
                              <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Dealer</v-subheader>
                            </v-flex>
                            <v-flex xs8 sm8 md8>
                              <v-text-field v-model="bp_dealer"></v-text-field>
                            </v-flex>

                            <v-flex xs4 sm4 md4>
                              <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Address</v-subheader>
                            </v-flex>
                            <v-flex xs8 sm8 md8>
                              <v-text-field v-model="bp_address"></v-text-field>
                            </v-flex>

                            <v-flex xs4 sm4 md4>
                              <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Phone</v-subheader>
                            </v-flex>
                            <v-flex xs8 sm8 md8>
                              <v-text-field v-model="bp_phone"></v-text-field>
                            </v-flex>

                            <v-flex xs4 sm4 md4>
                              <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Email</v-subheader>
                            </v-flex>
                            <v-flex xs8 sm8 md8>
                              <v-text-field v-model="bp_email"></v-text-field>
                            </v-flex>

                            <v-flex xs4 sm4 md4>
                              <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Complaints</v-subheader>
                            </v-flex>
                            <v-flex xs8 sm8 md8>
                              <v-text-field v-model="bp_complaints"></v-text-field>
                            </v-flex>
                          </v-layout>
                        </v-card-text>
                      </v-card>
                    </v-tab-item>
                  </v-tabs-items>
                </div>
                <v-layout wrap style="margin: 0px 15px;" v-show="buyer_guide_tab != 'back_page_tab'">
                  <v-flex xs4 sm4 md4>
                    <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Manufacturer's Warranty</v-subheader>
                  </v-flex>
                  <v-flex xs8 sm8 md8>
                    <v-switch :label="m_warranty?'Yes':'No'" v-model="m_warranty"></v-switch>
                  </v-flex>
                  <v-flex xs4 sm4 md4>
                    <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Used Vehicle Warranty</v-subheader>
                  </v-flex>
                  <v-flex xs8 sm8 md8>
                    <v-switch :label="uv_warranty?'Yes':'No'" v-model="uv_warranty"></v-switch>
                  </v-flex>
                  <v-flex xs4 sm4 md4>
                    <v-subheader><v-icon style="font-size:14px;">fa fa-fw fa-key</v-icon>&nbsp;&nbsp; Other Used Vehicle Warranty</v-subheader>
                  </v-flex>
                  <v-flex xs8 sm8 md8>
                    <v-switch :label="ouv_warranty?'Yes':'No'" v-model="ouv_warranty"></v-switch>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="green lighten-1" flat="flat" @click="print_english_bg">Print English</v-btn>
              <v-btn color="red darken-1" flat="flat" @click="print_spanish_bg" >Print Spanish</v-btn>
              <v-btn color="green darken-1" flat="flat" @click="save_buyerguide_setting" >Save</v-btn>
              <v-btn color="darken-1" flat="flat" @click.native="buyerguide_modal_status = false">Cancel</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-layout>
    </v-app>
    <!-- Create Buyer guide End -->

    <!-- Create InfoSheet Modal Start -->
    <v-app id="infosheet_modal_app" v-if="infosheet_modal_status">
      <v-layout row justify-center>
        <v-dialog v-model="infosheet_modal_status" max-width="860" scrollable>
          <v-card>
            <v-card-title class="headline">
              Print Info Sheet
              <v-spacer></v-spacer>
              <v-btn color="green darken-1" flat="flat" @click="standard_infosheet">Standard</v-btn>
              <v-btn color="green darken-1" flat="flat" @click="certified_infosheet">Certified</v-btn>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md >
                <v-layout wrap>
                  <component :is="infosheet_component" :vid="selected_vid" :infoType="info_type" :changed="changed"></component>  
                </v-layout>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="red darken-1" flat="flat" @click="infosheet_download_pdf">Download PDF</v-btn>
              <v-btn color="green darken-1" flat="flat" @click="infosheet_print_view" >Print</v-btn>
              <v-btn color="darken-1" flat="flat" @click.native="infosheet_modal_status = false">Cancel</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-layout>
    </v-app>
    <!-- Create InfoSheet Modal End -->

    <!-- Create Print Modal Start -->
      <v-layout row justify-center>
        <v-dialog v-model="create_print_modal_status" max-width="640" scrollable>
          <v-card>
            <v-card-title class="headline">Print Addendum</v-card-title>
            <v-card-text>
              <v-container grid-list-md >
                <v-layout wrap>
                  <component :is="print_component" 
                  :vid="selected_vid"
                  ></component>
                </v-layout>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="red darken-1" flat="flat" @click="download_addendum_pdf">Download PDF</v-btn>
              <v-btn color="green darken-1" flat="flat" @click="print_addendum_view" >Print</v-btn>
              <v-btn color="darken-1" flat="flat" @click.native="create_print_modal_status = false">Cancel</v-btn>
            </v-card-actions>
          </v-card>
      </v-dialog>
    </v-layout>
    <!-- Create Print Modal End -->
  </div>
</template>
<style type="text/css">
  .application--wrap{
    min-height: 100%!important;
  }
  .vehicle_multiselect{
    padding: 0 0;
  }
  .vehicle_multiselect.w-sm{
    width: 180px;
  }
  .danger_red{
    color: red;
  }
  
  table.table tbody td:first-child, table.table tbody td:not(:first-child), table.table tbody th:first-child, table.table tbody th:not(:first-child), table.table thead td:first-child, table.table thead td:not(:first-child), table.table thead th:first-child, table.table thead th:not(:first-child){
    padding: 0px 10px;
  }
  .input-group--select .input-group__selections__comma{
    padding-left: 7px;
  }
  /* In mobile, tablet view */
  @media (max-width: 991px){
    #vehicle-overview .v-datatable--select-all thead tr th:first-child{
      display: none;
    }
  }
  /* In mobile, tablet view */
</style>
<script>
  import jQuery from 'jquery';
  import moment from 'moment';
  import swal from 'sweetalert';
  import PhoneSmsPrint from '../phonesmsprint.vue';
  import InfoSheetPrint from '../infosheetprint.vue';
  import Multiprint from '../multiprint.vue';

  /* to decode Html entities */
  const scratchDiv = document.createElement('div');
  function toPlainText(html) {
    scratchDiv.innerHTML = html;
    return scratchDiv.textContent;
  }
  /* to decode Html entities */

  export default{
    data(){
      return{
        user: window.laravel.user, // logged user
        dealer_info: {}, // User's Dealer information

        //Bulk Action Select
        bulkaction_items: [
          {
            text: 'Bulk action', value: '0'
          },
          {
            text: 'Print Addendum', value: '3'
          },
          {
            text: 'Print Buyer Guide', value: '4'
          },
          {
            text: 'Print Infosheet', value: '5'
          },
          {
            text: 'Delete', value: '2'
          },
        ],
        bulkaction_value: '0',

        //privilege_info: {}, //user's privilege
        ed_grant: parseInt(jQuery('#ed_grant').val()), //ed_grant value
        inputSMS1: jQuery('#inputSMS1').val(), //inputSMS1 value
        inputSMS: jQuery('#inputSMS').val(), //inputSMS value
        /* init Vue DataTabel Options */
        filter: '',
        totalItems: 0,
        items: [],
        selected: [],
        loading: true,
        pagination: {
          sortBy : 'DATE_IN_STOCK', // init Sort Field
          descending : 0, // init sord desc
          rowsPerPage : 10 // rows per page
        },
        changed: window.laravel.setting_changed, //After Setting changed Flag

        headers: [
          {
            text: 'Stock',
            align: 'left',
            sortable: false,
            value: 'STOCK_NUMBER'
          },
          { text: 'VIN', value: 'VIN_NUMBER' , class: 'no-mobile'},
          { text: 'Year', value: 'YEAR' , class: 'hidden-md-down no-mobile'},
          { text: 'Make', value: 'MAKE' , class: 'hidden-md-down no-mobile'},
          { text: 'Model', value: 'MODEL' , class: 'hidden-md-down no-mobile'},
          { text: 'Style', value: 'BODYSTYLE' , class: 'hidden-md-down no-mobile'},
          { text: 'Date In', value: 'DATE_IN_STOCK' , class: 'hidden-lg-down no-mobile'},
          { text: 'MSRP', value: 'MSRP' , class: 'hidden-md-down no-mobile'},
          { text: 'Editing', value: 'Edit', class: 'text-xs-center',sortable: false, },
          { text: 'Printing', value: 'Print' ,class: 'text-xs-center',sortable: false,}
        ],
        /* init Vue DataTabel Options */
        edit_vehcile_modal_status : false, // Vuetify Edit Vehicle information Modal
        selected_vid: '', //Selected Vehicle ID for Edit
        vehicle_info: { STOCK_NUMBER : '', VIN_NUMBER : '', NEW_USED : '', MSRP : '', YEAR : '', MILEAGE : '', MAKE : '', MODEL : '',     TRIM : '', STYLE : '', EXT_COLOR : '', INT_COLOR : '', DOORS : '', TRANSMISSION : '', ENGINE : '', FUEL : '', DRIVETRAIN : '',  HMPG : '', CMPG : '', DATE_IN_STOCK : '', OPTIONS : '', DESCRIPTION: '', INSP_NUMB : '', }, //vehicle information from vid,
        vehicle_type_items: [
          { text: 'New', value: 'New' },
          { text: 'Used', value: 'Used' }
        ],
        edit_vehicle_frm_valid: true, //form validation
        selected_row : -1, //selected row in datatable

        phonesms_modal_status: false, // Vuetify Phone SMS Modal show
        phonesms_component: undefined, // PhoneSMS Print Component Handle Variable

        buyerguide_modal_status: false, //Vuetify BuyerGuide
        buyer_guide_tab : null, //Vuetify Tab pane
        /* buyer_guide toggle value */
        dg_asis: 'No',
        sc_asis: false,
        dg_implied: 'No',
        sc_implied: false,
        dg_warranty: 'No',
        wt_parts : '',
        wt_labor : '',
        wt_sc : '',
        wt_duration : '',
        sc_warranty: false,
        wt_warranty: false,
        dg_warranty_s: 'No',
        wts_parts : '',
        wts_labor : '',
        wts_sc : '',
        wts_duration : '',
        sc_warranty_s: false,
        wt_warranty_s: false,
        m_warranty: false,
        uv_warranty: false,
        ouv_warranty: false,
        bp_dealer: '',
        bp_address: '',
        bp_email: '',
        bp_phone: '',
        bp_complaints: '',
        /* buyer_guide toggle value */

        infosheet_modal_status: false, //Vuetify Infosheet Modal variable
        infosheet_component: undefined, //Infosheet Component Variable
        info_type: 'standard',
        print_component: undefined, //Multiprint Component
        create_print_modal_status: false, //Multiprint Component Modal Status
        addendum_check: '', // Style for create print addendum
      }
    },

    created: function()
      {
        if(this.user.USER_TYPE == 'RootAdmin' || this.user.USER_TYPE == 'GroupAdmin' || this.user.USER_TYPE == 'ResellerAdmin' || this.user.USER_TYPE == 'ResellerUser'){
          this.$router.push({name: 'DealerOverview'});
        }else{
          this.fetchData();
        }
      },

    watch: {
      pagination: {
        handler () {
          this.fetchVehicleData();
        },
        deep: true
      },
      filter: function() {
        this.fetchVehicleData();
      }
    },
    methods: {
      /**
       * Fetch logged user, privilege information when created vue dom
       *
       * @return Object
       */
      fetchData()
      {
        let uri = window.laravel.base_url + '/get_data_for_overview';
        this.axios.post(uri,{'_token': window.laravel.csrf_token}).then((response) => {
          this.user = response.data.user;
          this.dealer_info = response.data.dealer_info;
          //this.privilege_info = response.data.privilege_info;
          
        });
      },
      /**
       * 
       * Function to format Date
       *
       */
      moment,

      /**
       *
       * Fetch Data with options and update DataTable
       * @param filter = undefined
       */
      fetchVehicleData()
      {

        var filter = this.filter;
        this.loading = true;
        const { sortBy, descending, page, rowsPerPage } = this.pagination;
        
        let uri = window.laravel.base_url + '/get_vehciledata_for_overview';
        this.axios.post(uri,{ sortBy, descending, page, rowsPerPage, filter }).then((response) => {
          this.loading = false;
          this.items = response.data.items; //set Datatables items rows
          this.totalItems = response.data.total; //set Total items number
          call_res_design_after_rendering();
        });
      },
      /**
       * Update user's print_unprint field & update datatable 
       *
       * @param print_unprint flag
       */
      printunprint(flag){
        let uri = window.laravel.base_url + '/update_print_unprint';
        this.axios.post(uri,{ p_flag: flag }).then((response) => {
          if(response.data.status == 'success'){
            //init stock number filter
            jQuery('.vehiclesearch').val('');
            jQuery('.vehiclesearchm').val('');

            //update datatable
            this.fetchVehicleData();

          }
        });
      },

      /**
       * Update user's new_used field & update header card and datatable 
       *
       * @param print_unprint flag
       */
      new_used(flag){
        let uri = window.laravel.base_url + '/update_new_used';
        this.axios.post(uri, {nu_flag: flag}).then((response) => {
          if(response.data.status == 'success'){
            //update header card information
            var header_data = response.data.header_card_data;

            jQuery('.c_current_vehicles').html(header_data.current_vehicle);
            jQuery('.c_plus_today').html(header_data.plus_vehicle);
            jQuery('.c_current_addendums').html(header_data.current_addendum);
            jQuery('.c_need_printing').html(header_data.need_addendum);
            jQuery('.c_users').html(header_data.count_user);
            jQuery('.c_last_login').html(header_data.last_login);
            jQuery('.c_addendum_printed').html(header_data.printed_addendum);
            jQuery('.c_30_days').html(header_data.last_30);
            jQuery('.todays').html(header_data.plus_vehicle);
            jQuery('.vehiclesearch').val('');
            jQuery('.vehiclesearchm').val('');
            
            //update datatable
            this.fetchVehicleData();
          }
        });
      },

      /**
       *
       * Go to Vehicle options printing view
       *
       * @param vehicle id
       */
      printvehicle : function(id){
        let uri = window.laravel.base_url + '/get_free_cap';
        this.axios.post(uri,{ type: 'single' }).then((response) => {
          if(response.data.status == 'ok'){
            // <router-link :to="...">
            //this.$router.push( { name: 'Printvehicle', params: { vid: id }} );    
            window.location.href=window.laravel.base_url + '/home/printvehicle/'+ id;
          }else{
            /*sweetAlert("Oops...", "I'm afraid you have reached your printing or time limit for this free account. Please upgrade now or call support at 801-415-9435 to request an extension.", "error");*/
            alert("I'm afraid you have reached your printing or time limit for this free account. Please upgrade now or call support at 801-415-9435 to request an extension.");
          }
        });
      },

      /**
       *
       * open Edit Vehicle information modal
       *
       */
      editvehicle : function(index){
        let uri = window.laravel.base_url + '/get_vehicle_info';
        this.axios.post(uri, { 'vid': this.items[index]._ID }).then((response) => {
          response.data.vehicle_info.NEW_USED = response.data.vehicle_info.NEW_USED.charAt(0).toUpperCase() + response.data.vehicle_info.NEW_USED.slice(1).toLowerCase();
          this.vehicle_info = response.data.vehicle_info;
          this.edit_vehcile_modal_status = true;
          this.selected_row = index;
        }); 
      },

      /**
       *
       * Save Changes
       *
       * @params vehicle informations
       * @return status
       *
       */
      edit_vehicle_frm_submit : function(){
        if (this.$refs.edit_vehicle_form.validate()) {
          this.edit_vehcile_modal_status = false;
          let uri = window.laravel.base_url + '/update_vehicle_info';
          this.axios.post(uri, { 'data': JSON.stringify(this.vehicle_info) }).then((response) => {
            if(response.data.status == 'success'){
              this.fetchVehicleData();
            }
          }); 
        }
      },

      /**
       *
       * Open Phone SMS Modal
       *
       */
      printsms : function(id){
        this.selected_vid = id;
        this.phonesms_modal_status = true;
        this.phonesms_component = PhoneSmsPrint;
      },

      /**
       *
       * Download Phone SMS Print PDF
       *
       */
      phonesms_download_pdf : function(){
        var type = 'single';
        let uri = window.laravel.base_url + '/sms_status';
        this.axios.post(uri, { 'vid': this.selected_vid }).then((response) => {
          if(response.data.status == 'success'){
            this.fetchVehicleData();
            let get_user_status_uri = window.laravel.base_url + '/get_user_status';
            this.axios.post(get_user_status_uri).then((response) => {

              /* Update Header User's status */
              jQuery('.c_current_vehicles').html(response.data.current_vehicle);

              jQuery('.c_plus_today').html(response.data.plus_vehicle);

              jQuery('.c_current_addendums').html(response.data.current_addendum);

              jQuery('.c_need_printing').html(response.data.need_addendum);

              jQuery('.c_users').html(response.data.count_user);

              jQuery('.c_last_login').html(response.data.last_login);

              jQuery('.c_addendum_printed').html(response.data.printed_addendum);

              jQuery('.c_30_days').html(response.data.last_30);
              /* Update Header User's status */

              if(type == 'single'){
                let pdf_url = window.laravel.base_url + '/sms_download?vid='+this.selected_vid+'&type=download';
                window.location = pdf_url;
              }else if(type == 'multiprint'){
                var vids = '';
                let pdf_url = window.laravel.base_url + '/sms_multiple_download?vids='+vids+'&type=download';
                window.location = pdf_url;
              }

            });
          }
        });
      },

       /**
       *
       * Download Phone SMS Print PDF
       *
       */
      phonesms_print_view : function(){
        var html = '<div id="load"></div>';
        jQuery('body').append(html);
        var type = 'single';
        let uri = window.laravel.base_url + '/sms_status';
        this.axios.post(uri, { 'vid': this.selected_vid }).then((response) => {
          if(response.data.status == 'success'){
            this.fetchVehicleData();
            let get_user_status_uri = window.laravel.base_url + '/get_user_status';
            this.axios.post(get_user_status_uri).then((response) => {

              /* Update Header User's status */
              jQuery('.c_current_vehicles').html(response.data.current_vehicle);

              jQuery('.c_plus_today').html(response.data.plus_vehicle);

              jQuery('.c_current_addendums').html(response.data.current_addendum);

              jQuery('.c_need_printing').html(response.data.need_addendum);

              jQuery('.c_users').html(response.data.count_user);

              jQuery('.c_last_login').html(response.data.last_login);

              jQuery('.c_addendum_printed').html(response.data.printed_addendum);

              jQuery('.c_30_days').html(response.data.last_30);
              /* Update Header User's status */

              if(type == 'single'){
                let pdf_url = window.laravel.base_url + '/sms_download?vid='+this.selected_vid+'&type=print';
                /*create print view page */
                var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
                var randid = Math.floor(Math.random() * 101);
                var uframe='goinOnaSafari2-' + randid;
                jQuery(".iframe").html('<iframe src="" height="0" width="0" id="'+uframe+'" style="visibility:hidden"></iframe>');
                if(navigator.userAgent.toLowerCase().indexOf('firefox') > -1)
                {
                  // Fireforx Browser
                  jQuery('#'+uframe).on('load', function(){
                    setTimeout(function(){ jQuery('#load').remove(); }, 4000);
                    this.contentWindow.focus();
                    jQuery(this).unbind('load');
                  }).attr('src', pdf_url);
                }else if(isChrome){
                  // Chrome Browser
                  jQuery('#'+uframe).on('load' ,function(){
                    setTimeout(function(){ jQuery('#load').remove(); }, 4000);
                    this.contentWindow.focus();
                    this.contentWindow.print();
                    jQuery(this).unbind('load');
                  }).attr('src', pdf_url);
                }else{/*
                  */
                  // Other Browser
                  var win=window.open(pdf_url, "", "directories=no,menubar=no,resizable=no,scrollbars=yes,status=yes,titlebar=yes,top=0,location=no");
                  if(win==null){
                    setTimeout(function(){ jQuery('#load').remove(); }, 4000);
                    //jQuery("#popupblock").modal("show");
                  }else{
                    setTimeout(function(){ jQuery('#load').remove(); }, 4000);
                    win.focus();
                  }
                }
                /*create print view page */
              }else if(type == 'multiprint'){
              }

            });
          }
        });
      },

      /**
       *
       * Open Buyer Guide Modal
       *
       * @param dealerinventory _ID
       *
       */
      printguide : function(id){
        this.selected_vid = id;
        let uri = window.laravel.base_url + '/print_guide';
        this.axios.post(uri, { 'vid': this.selected_vid }).then((response) => {
          var vbg_info = response.data.vbg_info;
          this.dg_asis = vbg_info.DEFAULT_GUIDE == 'asis'?'Yes':'No';
          this.dg_implied = vbg_info.DEFAULT_GUIDE == 'implied'?'Yes':'No';
          this.dg_warranty = vbg_info.DEFAULT_GUIDE == 'warranty'?'Yes':'No';
          this.dg_warranty_s = vbg_info.DEFAULT_GUIDE == 'warranty_spanish'?'Yes':'No';
          this.buyer_guide_tab = vbg_info.DEFAULT_GUIDE + '_tab';
          this.sc_asis = vbg_info.SC_ASIS == '1'?true:false;
          this.sc_implied = vbg_info.SC_IMPLIED == '1'?true:false;
          this.sc_warranty = vbg_info.SC_WARRANTY == '1'?true:false;
          this.sc_warranty_s = vbg_info.SC_WARRANTY_S == '1'?true:false;
          this.wt_warranty = vbg_info.WARRANTY_TYPE == 'FULL'?true:false;
          this.wt_warranty_s = vbg_info.WARRANTY_TYPE_S == 'FULL'?true:false;
          this.m_warranty = vbg_info.M_WARRANTY == '1'?true:false;
          this.uv_warranty = vbg_info.UV_WARRANTY == '1'?true:false;
          this.ouv_warranty = vbg_info.OUV_WARRANTY == '1'?true:false;
          this.wt_parts = vbg_info.PARTS;
          if(vbg_info.PHONE){
            this.bp_phone = vbg_info.PHONE;  
          }
          if(vbg_info.EMAIL){
            this.bp_email = vbg_info.EMAIL;  
          }
          if(vbg_info.COMPLAINTS){
            this.bp_complaints = vbg_info.COMPLAINTS;  
          }

          this.wt_labor = vbg_info.LABOR;
          this.wt_sc = toPlainText(vbg_info.SYSTEMS_COVERED.replace(/(<br ?\/?>)*/g,""));
          this.wt_duration = toPlainText(vbg_info.DURATION.replace(/(<br ?\/?>)*/g,""));
          this.wts_parts = vbg_info.PARTS_S;
          this.wts_labor = vbg_info.LABOR_S;
          this.wts_sc = toPlainText(vbg_info.SYSTEMS_COVERED_S.replace(/(<br ?\/?>)*/g,""));
          this.wts_duration = toPlainText(vbg_info.DURATION_S.replace(/(<br ?\/?>)*/g,""));
          this.bp_dealer = this.dealer_info.DEALER_NAME;
          this.bp_address = this.dealer_info.DEALER_ADDRESS + ', ' + this.dealer_info.DEALER_CITY + ', ' + this.dealer_info.DEALER_STATE + ', ' + this.dealer_info.DEALER_ZIP;
          this.buyerguide_modal_status = true;
        });

      },

      /**
       *
       * Generate Guide Print View Page
       *
       */
      print_english_bg :function(){
        var html = '<div id="load"></div>';
        jQuery('body').append(html);
        let uri = '';
        if(this.buyer_guide_tab != 'back_page_tab'){
          uri = window.laravel.base_url + '/save_bg_print';
        }else{
          uri = window.laravel.base_url + '/save_bp_bg_print';
        }

        var vid = this.selected_vid;
        if(Array.isArray(vid)){
          vid = JSON.stringify(vid);
        }
        
        var dg_asis = this.dg_asis;
        var dg_implied = this.dg_implied;
        var dg_warranty = this.dg_warranty;
        var dg_warranty_s = this.dg_warranty_s;

        this.dg_asis = 'No';
        this.dg_implied = 'No';
        this.dg_warranty = 'No';
        this.dg_warranty_s = 'No';
        if(this.buyer_guide_tab == 'asis_tab'){
          this.dg_asis = 'Yes';
        }else if(this.buyer_guide_tab == 'implied_tab'){
          this.dg_implied = 'Yes';
        }else if(this.buyer_guide_tab == 'warranty_tab'){
          this.dg_warranty = 'Yes';
        }else if(this.buyer_guide_tab == 'warranty_spanish_tab'){
          this.dg_warranty_s = 'Yes';
        }else{
          this.dg_asis = dg_asis;
          this.dg_implied = dg_implied;
          this.dg_warranty = dg_warranty;
          this.dg_warranty_s = dg_warranty_s;
        }

        this.axios.post(uri, 
          { 
            vid: vid, dg_asis: this.dg_asis, sc_asis: this.sc_asis, dg_implied: this.dg_implied, sc_implied: this.sc_implied, dg_warranty: this.dg_warranty, wt_parts : this.wt_parts, wt_labor : this.wt_labor, wt_sc : this.wt_sc, wt_duration : this.wt_duration, sc_warranty: this.sc_warranty, wt_warranty: this.wt_warranty, dg_warranty_s: this.dg_warranty_s,  wts_parts : this.wts_parts, wts_labor : this.wts_labor, wts_sc : this.wts_sc, wts_duration : this.wts_duration, sc_warranty_s: this.sc_warranty_s, wt_warranty_s: this.wt_warranty_s, m_warranty: this.m_warranty, uv_warranty: this.uv_warranty, ouv_warranty: this.ouv_warranty, bp_dealer: this.bp_dealer, bp_address: this.bp_address, bp_email: this.bp_email, bp_phone: this.bp_phone, bp_complaints: this.bp_complaints
          }).then((response) => {
            if(response.data.status == 'success'){
              let pdf_url = '';
              this.fetchVehicleData();
              if(this.buyer_guide_tab != 'back_page_tab'){
                pdf_url = window.laravel.base_url + '/guide_download?vid='+vid+'&type=print';  
              }else{
                pdf_url = window.laravel.base_url + '/backpage_download?type=print';
              }
              
              /*create print view page */
              var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
              var randid = Math.floor(Math.random() * 101);
              var uframe='goinOnaSafari2-' + randid;
              jQuery(".iframe").html('<iframe src="" height="0" width="0" id="'+uframe+'" style="visibility:hidden"></iframe>');
              if(navigator.userAgent.toLowerCase().indexOf('firefox') > -1)
              {
                // Fireforx Browser
                jQuery('#'+uframe).on('load', function(){
                  setTimeout(function(){ jQuery('#load').remove(); }, 4000);
                  this.contentWindow.focus();
                  jQuery(this).unbind('load');
                }).attr('src', pdf_url);
              }else if(isChrome){
                // Chrome Browser
                jQuery('#'+uframe).on('load' ,function(){
                  setTimeout(function(){ jQuery('#load').remove(); }, 4000);
                  this.contentWindow.focus();
                  this.contentWindow.print();
                  jQuery(this).unbind('load');
                }).attr('src', pdf_url);
              }else{
                // Other Browser
                var win=window.open(pdf_url, "", "directories=no,menubar=no,resizable=no,scrollbars=yes,status=yes,titlebar=yes,top=0,location=no");
                if(win==null){
                  setTimeout(function(){ jQuery('#load').remove(); }, 4000);
                  //jQuery("#popupblock").modal("show");
                }else{
                  setTimeout(function(){ jQuery('#load').remove(); }, 4000);
                  win.focus();
                }
              }
              /*create print view page */
            }
        });
      },


      /**
       *
       * Generate Spanish Guide Print View Page
       *
       */
      print_spanish_bg : function(){
        var html = '<div id="load"></div>';
        jQuery('body').append(html);

        let uri = '';
        if(this.buyer_guide_tab != 'back_page_tab'){
          uri = window.laravel.base_url + '/save_bg_print';
        }else{
          uri = window.laravel.base_url + '/save_bp_bg_print';
        }
        
        var vid = this.selected_vid;
        if(Array.isArray(vid)){
          vid = JSON.stringify(vid);
        }
        
        var dg_asis = this.dg_asis;
        var dg_implied = this.dg_implied;
        var dg_warranty = this.dg_warranty;
        var dg_warranty_s = this.dg_warranty_s;

        this.dg_asis = 'No';
        this.dg_implied = 'No';
        this.dg_warranty = 'No';
        this.dg_warranty_s = 'No';
        if(this.buyer_guide_tab == 'asis_tab'){
          this.dg_asis = 'Yes';
        }else if(this.buyer_guide_tab == 'implied_tab'){
          this.dg_implied = 'Yes';
        }else if(this.buyer_guide_tab == 'warranty_tab'){
          this.dg_warranty = 'Yes';
        }else if(this.buyer_guide_tab == 'warranty_spanish_tab'){
          this.dg_warranty_s = 'Yes';
        }else{
          this.dg_asis = dg_asis;
          this.dg_implied = dg_implied;
          this.dg_warranty = dg_warranty;
          this.dg_warranty_s = dg_warranty_s;
        }
        this.axios.post(uri, 
          { 
            vid: vid, dg_asis: this.dg_asis, sc_asis: this.sc_asis, dg_implied: this.dg_implied, sc_implied: this.sc_implied, dg_warranty: this.dg_warranty, wt_parts : this.wt_parts, wt_labor : this.wt_labor, wt_sc : this.wt_sc, wt_duration : this.wt_duration, sc_warranty: this.sc_warranty, wt_warranty: this.wt_warranty, dg_warranty_s: this.dg_warranty_s,  wts_parts : this.wts_parts, wts_labor : this.wts_labor, wts_sc : this.wts_sc, wts_duration : this.wts_duration, sc_warranty_s: this.sc_warranty_s, wt_warranty_s: this.wt_warranty_s, m_warranty: this.m_warranty, uv_warranty: this.uv_warranty, ouv_warranty: this.ouv_warranty, bp_dealer: this.bp_dealer, bp_address: this.bp_address, bp_email: this.bp_email, bp_phone: this.bp_phone, bp_complaints: this.bp_complaints
          }).then((response) => {
            if(response.data.status == 'success'){
              this.fetchVehicleData();
              let pdf_url = '';
              if(this.buyer_guide_tab != 'back_page_tab'){
                pdf_url = window.laravel.base_url + '/guide_download_spanish?vid='+vid+'&type=print';
              }else{
                pdf_url = window.laravel.base_url + '/backpage_download_spanish?type=print';
              }
              /*create print view page */
              var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
              var randid = Math.floor(Math.random() * 101);
              var uframe='goinOnaSafari2-' + randid;
              jQuery(".iframe").html('<iframe src="" height="0" width="0" id="'+uframe+'" style="visibility:hidden"></iframe>');
              if(navigator.userAgent.toLowerCase().indexOf('firefox') > -1)
              {
                // Fireforx Browser
                jQuery('#'+uframe).on('load', function(){
                  setTimeout(function(){ jQuery('#load').remove(); }, 4000);
                  this.contentWindow.focus();
                  jQuery(this).unbind('load');
                }).attr('src', pdf_url);
              }else if(isChrome){
                // Chrome Browser
                jQuery('#'+uframe).on('load' ,function(){
                  setTimeout(function(){ jQuery('#load').remove(); }, 4000);
                  this.contentWindow.focus();
                  this.contentWindow.print();
                  jQuery(this).unbind('load');
                }).attr('src', pdf_url);
              }else{
                // Other Browser
                var win=window.open(pdf_url, "", "directories=no,menubar=no,resizable=no,scrollbars=yes,status=yes,titlebar=yes,top=0,location=no");
                if(win==null){
                  setTimeout(function(){ jQuery('#load').remove(); }, 4000);
                  //jQuery("#popupblock").modal("show");
                }else{
                  setTimeout(function(){ jQuery('#load').remove(); }, 4000);
                  win.focus();
                }
              }
              /*create print view page */
            }
          });
      },

      /**
       *
       * Save current print guide options
       *
       */
      save_buyerguide_setting : function(){
        let uri = window.laravel.base_url + '/save_bg_print';
        var vid = this.selected_vid;
        if(Array.isArray(vid)){
          vid = JSON.stringify(vid);
        }
        
        var dg_asis = this.dg_asis;
        var dg_implied = this.dg_implied;
        var dg_warranty = this.dg_warranty;
        var dg_warranty_s = this.dg_warranty_s;

        this.dg_asis = 'No';
        this.dg_implied = 'No';
        this.dg_warranty = 'No';
        this.dg_warranty_s = 'No';
        if(this.buyer_guide_tab == 'asis_tab'){
          this.dg_asis = 'Yes';
        }else if(this.buyer_guide_tab == 'implied_tab'){
          this.dg_implied = 'Yes';
        }else if(this.buyer_guide_tab == 'warranty_tab'){
          this.dg_warranty = 'Yes';
        }else if(this.buyer_guide_tab == 'warranty_spanish_tab'){
          this.dg_warranty_s = 'Yes';
        }else{
          this.dg_asis = dg_asis;
          this.dg_implied = dg_implied;
          this.dg_warranty = dg_warranty;
          this.dg_warranty_s = dg_warranty_s;
        }

        this.axios.post(uri, 
          { 
            vid: vid, dg_asis: this.dg_asis, sc_asis: this.sc_asis, dg_implied: this.dg_implied, sc_implied: this.sc_implied, dg_warranty: this.dg_warranty, wt_parts : this.wt_parts, wt_labor : this.wt_labor, wt_sc : this.wt_sc, wt_duration : this.wt_duration, sc_warranty: this.sc_warranty, wt_warranty: this.wt_warranty, dg_warranty_s: this.dg_warranty_s,  wts_parts : this.wts_parts, wts_labor : this.wts_labor, wts_sc : this.wts_sc, wts_duration : this.wts_duration, sc_warranty_s: this.sc_warranty_s, wt_warranty_s: this.wt_warranty_s, m_warranty: this.m_warranty, uv_warranty: this.uv_warranty, ouv_warranty: this.ouv_warranty, bp_dealer: this.bp_dealer, bp_address: this.bp_address, bp_email: this.bp_email, bp_phone: this.bp_phone, bp_complaints: this.bp_complaints
          }).then((response) => {
            if(response.data.status == 'success'){
              this.buyerguide_modal_status = false;
              this.fetchVehicleData();
            }
          });
      },

      /** 
       *
       * Open Infosheet modal
       *
       */
      printinfosheet: function(id){
        this.info_type = 'Standard';
        this.selected_vid = id;
        this.changed = window.laravel.setting_changed;
        this.infosheet_component = InfoSheetPrint;
        this.infosheet_modal_status = true;
        
      },

      /**
       *
       * View Standard info type
       *
       */
      standard_infosheet : function(){
        if(this.info_type != 'standard'){
          this.info_type = 'standard';  
          this.infosheet_component = InfoSheetPrint;
        }
      },

      /**
       *
       * View Certified info type
       *
       */
      certified_infosheet: function(){
        if(this.info_type != 'certified'){
          this.info_type = 'certified'; 
          this.infosheet_component = InfoSheetPrint;
        }
      },

      /**
       *
       * Generate info sheet pdf and download
       *
       */
      infosheet_download_pdf : function(){
        var type = 'single';
        var vid = this.selected_vid;
        if(Array.isArray(vid)){
          vid = JSON.stringify(vid);
        }
        let uri = window.laravel.base_url + '/info_print_status';
        this.axios.post(uri, { vid : vid}).then((response) => {
          if(response.data.status == 'success'){
            this.fetchVehicleData();
            let get_user_status_uri = window.laravel.base_url + '/get_user_status';
            this.axios.post(get_user_status_uri).then((response) => {

              /* Update Header User's status */
              jQuery('.c_current_vehicles').html(response.data.current_vehicle);

              jQuery('.c_plus_today').html(response.data.plus_vehicle);

              jQuery('.c_current_addendums').html(response.data.current_addendum);

              jQuery('.c_need_printing').html(response.data.need_addendum);

              jQuery('.c_users').html(response.data.count_user);

              jQuery('.c_last_login').html(response.data.last_login);

              jQuery('.c_addendum_printed').html(response.data.printed_addendum);

              jQuery('.c_30_days').html(response.data.last_30);
              /* Update Header User's status */

              if(type == 'single'){
                let pdf_url = window.laravel.base_url + '/info_print_download?type=download&vid='+vid+'&info_type='+this.info_type;
                window.location = pdf_url;
              }
            });
          }
        });
      },

      infosheet_print_view : function() {
        var html = '<div id="load"></div>';
        jQuery('body').append(html);
        var vid = this.selected_vid;
        if(Array.isArray(vid)){
          vid = JSON.stringify(vid);
        }
        let uri = window.laravel.base_url + '/info_print_status';
        this.axios.post(uri, { vid : vid}).then((response) => {
          if(response.data.status == 'success'){
            this.fetchVehicleData();
            let get_user_status_uri = window.laravel.base_url + '/get_user_status';
            this.axios.post(get_user_status_uri).then((response) => {

              /* Update Header User's status */
              jQuery('.c_current_vehicles').html(response.data.current_vehicle);

              jQuery('.c_plus_today').html(response.data.plus_vehicle);

              jQuery('.c_current_addendums').html(response.data.current_addendum);

              jQuery('.c_need_printing').html(response.data.need_addendum);

              jQuery('.c_users').html(response.data.count_user);

              jQuery('.c_last_login').html(response.data.last_login);

              jQuery('.c_addendum_printed').html(response.data.printed_addendum);

              jQuery('.c_30_days').html(response.data.last_30);
              /* Update Header User's status */

              let pdf_url = window.laravel.base_url + '/info_print_download?type=print&vid='+vid+'&info_type='+this.info_type;
              /*create print view page */
              var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
              var randid = Math.floor(Math.random() * 101);
              var uframe='goinOnaSafari2-' + randid;
              jQuery(".iframe").html('<iframe src="" height="0" width="0" id="'+uframe+'" style="visibility:hidden"></iframe>');
              if(navigator.userAgent.toLowerCase().indexOf('firefox') > -1)
              {
                // Fireforx Browser
                jQuery('#'+uframe).on('load', function(){
                  setTimeout(function(){ jQuery('#load').remove(); }, 3000);
                  this.contentWindow.focus();
                  jQuery(this).unbind('load');
                }).attr('src', pdf_url);
              }else if(isChrome){
                // Chrome Browser
                jQuery('#'+uframe).on('load' ,function(){
                  setTimeout(function(){ jQuery('#load').remove(); }, 3000);
                  this.contentWindow.focus();
                  this.contentWindow.print();
                  jQuery(this).unbind('load');
                }).attr('src', pdf_url);
              }else{
                // Other Browser
                var win=window.open(pdf_url, "", "directories=no,menubar=no,resizable=no,scrollbars=yes,status=yes,titlebar=yes,top=0,location=no");
                if(win==null){
                  setTimeout(function(){ jQuery('#load').remove(); }, 3000);
                  //jQuery("#popupblock").modal("show");
                }else{
                  setTimeout(function(){ jQuery('#load').remove(); }, 3000);
                  win.focus();
                }
              }
              /*create print view page */
              
            });
          }
        });
      },

      /**
       *
       * Bulk Action for the Multiple Vehicle
       *
       */
      bulk_action_func: function(){
        var bulk_option = this.bulkaction_value;
        if(this.selected.length == 0){
          return false;
        }
        var that = this;
        var selected_vid = [];
        $.each(that.selected, function(index, value){
          selected_vid.push(value._ID);
        });
        this.selected_vid = selected_vid;
        if(bulk_option == '2'){
          //Option Delete
          var r = confirm("Do you really want to delete selected entry(s) ?");
          if(r){
            let uri = window.laravel.base_url + '/vehicle_delete';
            this.axios.post(uri, { ids: JSON.stringify(selected_vid), type: 'multidelete'}).then((response) => {
              that.selected = [];
              if(response.data.status == 'success'){
                swal("Thank You!", "Selected vehicle deleted.", "success");
                that.fetchVehicleData();
                let get_user_status_uri = window.laravel.base_url + '/get_user_status';
                  this.axios.post(get_user_status_uri).then((response) => {

                    /* Update Header User's status */
                    jQuery('.c_current_vehicles').html(response.data.current_vehicle);

                    jQuery('.c_plus_today').html(response.data.plus_vehicle);

                    jQuery('.c_current_addendums').html(response.data.current_addendum);

                    jQuery('.c_need_printing').html(response.data.need_addendum);

                    jQuery('.c_users').html(response.data.count_user);

                    jQuery('.c_last_login').html(response.data.last_login);

                    jQuery('.c_addendum_printed').html(response.data.printed_addendum);

                    jQuery('.c_30_days').html(response.data.last_30);
                    /* Update Header User's status */
                  });
              }else{
                swal("Oops...", "Something went wrong! Please try again.", "error");
              }
            });
          }
        }else if(bulk_option == '3'){
          this.print_component = Multiprint;
          this.create_print_modal_status = true;
        }else if(bulk_option == '4'){
          let uri = window.laravel.base_url + '/print_guide';
          this.axios.post(uri).then((response) => {
            var vbg_info = response.data.vbg_info;
            this.dg_asis = vbg_info.DEFAULT_GUIDE == 'asis'?'Yes':'No';
            this.dg_implied = vbg_info.DEFAULT_GUIDE == 'implied'?'Yes':'No';
            this.dg_warranty = vbg_info.DEFAULT_GUIDE == 'warranty'?'Yes':'No';
            this.dg_warranty_s = vbg_info.DEFAULT_GUIDE == 'warranty_spanish'?'Yes':'No';
            this.buyer_guide_tab = vbg_info.DEFAULT_GUIDE + '_tab';
            this.sc_asis = vbg_info.SC_ASIS == '1'?true:false;
            this.sc_implied = vbg_info.SC_IMPLIED == '1'?true:false;
            this.sc_warranty = vbg_info.SC_WARRANTY == '1'?true:false;
            this.sc_warranty_s = vbg_info.SC_WARRANTY_S == '1'?true:false;
            this.wt_warranty = vbg_info.WARRANTY_TYPE == 'FULL'?true:false;
            this.wt_warranty_s = vbg_info.WARRANTY_TYPE_S == 'FULL'?true:false;
            this.m_warranty = vbg_info.M_WARRANTY == '1'?true:false;
            this.uv_warranty = vbg_info.UV_WARRANTY == '1'?true:false;
            this.ouv_warranty = vbg_info.OUV_WARRANTY == '1'?true:false;
            this.wt_parts = vbg_info.PARTS;
            if(vbg_info.PHONE){
              this.bp_phone = vbg_info.PHONE;  
            }
            if(vbg_info.EMAIL){
              this.bp_email = vbg_info.EMAIL;  
            }
            if(vbg_info.COMPLAINTS){
              this.bp_complaints = vbg_info.COMPLAINTS;  
            }

            this.wt_labor = vbg_info.LABOR;
            this.wt_sc = toPlainText(vbg_info.SYSTEMS_COVERED.replace(/(<br ?\/?>)*/g,""));
            this.wt_duration = toPlainText(vbg_info.DURATION.replace(/(<br ?\/?>)*/g,""));
            this.wts_parts = vbg_info.PARTS_S;
            this.wts_labor = vbg_info.LABOR_S;
            this.wts_sc = toPlainText(vbg_info.SYSTEMS_COVERED_S.replace(/(<br ?\/?>)*/g,""));
            this.wts_duration = toPlainText(vbg_info.DURATION_S.replace(/(<br ?\/?>)*/g,""));
            this.bp_dealer = this.dealer_info.DEALER_NAME;
            this.bp_address = this.dealer_info.DEALER_ADDRESS + ', ' + this.dealer_info.DEALER_CITY + ', ' + this.dealer_info.DEALER_STATE + ', ' + this.dealer_info.DEALER_ZIP;
            this.buyerguide_modal_status = true;
          });
        }else if(bulk_option == '5'){
          this.info_type = 'Standard';
          this.changed = window.laravel.setting_changed;
          this.infosheet_component = InfoSheetPrint;
          this.infosheet_modal_status = true;
        }
      },

      download_addendum_pdf: function(){
        let print_status_uri = window.laravel.base_url + '/print_status';
        this.axios.post(print_status_uri, {vid: JSON.stringify(this.selected_vid)}).then((response) => {
          if(response.data.status == 'success'){
            let get_user_status_uri = window.laravel.base_url + '/get_user_status';
            this.axios.post(get_user_status_uri).then((response) => {

              /* Update Header User's status */
              jQuery('.c_current_vehicles').html(response.data.current_vehicle);

              jQuery('.c_plus_today').html(response.data.plus_vehicle);

              jQuery('.c_current_addendums').html(response.data.current_addendum);

              jQuery('.c_need_printing').html(response.data.need_addendum);

              jQuery('.c_users').html(response.data.count_user);

              jQuery('.c_last_login').html(response.data.last_login);

              jQuery('.c_addendum_printed').html(response.data.printed_addendum);

              jQuery('.c_30_days').html(response.data.last_30);
              /* Update Header User's status */

              let pdf_url = window.laravel.base_url + '/multiple_download?vid='+JSON.stringify(this.selected_vid)+'&dtype=download';
              window.location = pdf_url;
            });
          }
        });
      },

      print_addendum_view: function(){
        var html = '<div id="load"></div>';
        jQuery('body').append(html);
        let print_status_uri = window.laravel.base_url + '/print_status';
        this.axios.post(print_status_uri, {vid: JSON.stringify(this.selected_vid)}).then((response) => {
          if(response.data.status == 'success'){
            let get_user_status_uri = window.laravel.base_url + '/get_user_status';
            this.axios.post(get_user_status_uri).then((response) => {

              /* Update Header User's status */
              jQuery('.c_current_vehicles').html(response.data.current_vehicle);

              jQuery('.c_plus_today').html(response.data.plus_vehicle);

              jQuery('.c_current_addendums').html(response.data.current_addendum);

              jQuery('.c_need_printing').html(response.data.need_addendum);

              jQuery('.c_users').html(response.data.count_user);

              jQuery('.c_last_login').html(response.data.last_login);

              jQuery('.c_addendum_printed').html(response.data.printed_addendum);

              jQuery('.c_30_days').html(response.data.last_30);
              /* Update Header User's status */

              let pdf_url = window.laravel.base_url + '/multiple_download?vid='+JSON.stringify(this.selected_vid)+'&dtype=print';
              /*create print view page */
              var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
              var randid = Math.floor(Math.random() * 101);
              var uframe='goinOnaSafari2-' + randid;
              
              jQuery(".iframe").html('<iframe src="" height="0" width="0" id="'+uframe+'" style="visibility:hidden"></iframe>');
              if(navigator.userAgent.toLowerCase().indexOf('firefox') > -1)
              {
                // Fireforx Browser
                jQuery('#'+uframe).on('load', function(){
                  setTimeout(function(){ jQuery('#load').remove(); }, 6000);
                  this.contentWindow.focus();
                  jQuery(this).unbind('load');
                }).attr('src', pdf_url);
              }else if(isChrome){
                // Chrome Browser
                jQuery('#'+uframe).on('load' ,function(){
                  setTimeout(function(){ jQuery('#load').remove(); }, 6000);
                  this.contentWindow.focus();
                  this.contentWindow.print();
                  jQuery(this).unbind('load');
                }).attr('src', pdf_url);
              }else{
                // Other Browser
                var win=window.open(pdf_url, "", "directories=no,menubar=no,resizable=no,scrollbars=yes,status=yes,titlebar=yes,top=0,location=no");
                if(win==null){
                  setTimeout(function(){ jQuery('#load').remove(); }, 6000);
                  //jQuery("#popupblock").modal("show");
                }else{
                  setTimeout(function(){ jQuery('#load').remove(); }, 6000);
                  win.focus();
                }
              }
              /*create print view page */
            });
          }
        });
      }

    },
    components: {
      PhoneSmsPrint,
      InfoSheetPrint,
      Multiprint
    }
  }


  /* js for tablet responsive */
  $(function(){
    call_res_design_after_rendering();
  });
  $(window).resize(function() {
    call_res_design_after_rendering();
  });

  function call_res_design_after_rendering(){
    var inital = setInterval(function(){
      if($('#vehicle-overview .printing_action_td .btn.btn--small').length > 0){
        responsive_design();
        clearInterval(inital);
      }
    }, 200);
  }

  /**
   *
   * For responsive design function
   *
   */
  function responsive_design(){
    // for print status and vehicle Type btn
    if ( $(window).width() < 1394) {
      $('#vehicle-overview .btn.btn--small').css('min-width','auto');
      $('#vehicle-overview .btn.btn--small').css('margin','6px 2px');
    }else{
      $('#vehicle-overview .btn.btn--small').css('margin','6px 8px');
      $('#vehicle-overview .btn.btn--small').css('min-width','88px');
    }
    if( $(window).width() < 1218 || ($(window).width() >= 1284 && $(window).width() < 1370)){
      $('#vehicle-overview .elevation-1 .hidden-lg-down').addClass('hide');
    }else{
      $('#vehicle-overview .elevation-1 .hidden-lg-down').removeClass('hide');
    }
    if ( $(window).width() < 1284) {
      $('.printing_action_td .sms_print_btn').html('S');
      $('.printing_action_td .infosheet_print_btn').html('I');
      $('.printing_action_td .buyerguide_print_btn').html('B');
      $('.printing_action_td .addendum_print_btn').html('A');
    }else{
      $('.printing_action_td .sms_print_btn').html('SMS');
      $('.printing_action_td .infosheet_print_btn').html('Info Sheet');
      $('.printing_action_td .buyerguide_print_btn').html('Buyer Guide');
      $('.printing_action_td .addendum_print_btn').html('Addendum');
    }
  }
  /* js for tablet responsive */
</script>