<template>
	<!-- Code Start -->
	<div id="user-overview">
		<div class="box">
			<v-app id="inspire">
				<!-- Grid Controls-->
		    	<div class="row p-a">
		    		<!--spacer-->
		      		<div class="col-sm-12  semobile">
		      			<h2>Users
		      			<a class="add-user addbutton"><img :src="base_url+'/images/add.png'" height="30em" width="30em" v-on:click="showinsertfrm = true"></a></h2>
		      		</div>
		    	</div>
		    	<!-- Insert New User -->
		    	<v-form v-if="showinsertfrm" v-model="add_users_frm_valid" ref="add_new_users_form" lazy-validation>
		            <table id="AddUser" class="table table-striped b-t">
			        	<thead>
				          	<tr>
					            <th>Name</th>
					            <th>Permissions</th>
					            <th>Username</th>
					            <th>Password</th>
					            <th>Email</th>
					            <th>Actions</th>
				          	</tr>
			        	</thead>
			        	<tbody>
							<tr>
					            <td width="15%">
					            	<v-text-field
								        label="Name"
								        v-model="user_name"
								        :rules="[v => !!v || 'User Full Name is required']" required
							      	></v-text-field>
					            </td>
					            <td v-if="user.USER_TYPE != 'ResellerAdmin'" width="15%">
		      						<v-select
							            :items="usertype_items"
							            v-model="user_type"
							            label="SELECT"
							            single-line
						          	></v-select>
		      					</td>
		      					<td v-if="user.USER_TYPE == 'ResellerAdmin'" width="15%">
		      						<v-select
							            :items="usertype_items1"
							            v-model="user_type"
							            label="SELECT"
							            single-line
						          	></v-select>
		      					</td>
					            <td width="15%">
					            	<v-text-field
								        label="User Name"
								        v-model="user_username"
								        :rules="[v => !!v || 'User Name is required']" required
							      	></v-text-field>
					            </td>
					            <td width="15%">
					            	<v-text-field
								        label="Password"
								        v-model="user_password"
								        :rules="[v => !!v || 'User Password is required']" required
							      	></v-text-field>
					            </td>
					            <td width="15%">
					            	<v-text-field
								        v-model="user_email"
								        :rules="emailRules"
								        label="Email"
								        required
							      	></v-text-field>
					            </td>
					            <td>
					            	<v-btn
					            		small
					          			color="error"
										@click="cancel_save()"
									>
										Cancel
									</v-btn>
					            	<v-btn
					            		small
					          			color="success"
										@click="save_user(0)"
										:disabled="!add_users_frm_valid"
									>
										Save
									</v-btn>
		                            <v-btn
		                            	small
					          			color="warning"
										@click="save_user(1)"
										:disabled="!add_users_frm_valid"
									>
										Save and Notify
									</v-btn>
					            </td>
				          	</tr>
				        </tbody>
		  			</table>
		  		</v-form>
		  		<!-- Show Users Section -->
		  		<v-data-table
					:headers="headers"
					:items="items"
					:pagination.sync="pagination"
					:total-items="totalItems"
					:loading="loading"
					class="elevation-1"
				>
					<template slot="items" slot-scope="props">
						<td>{{ props.item.NAME }}</td>
						<td>{{ props.item.USER_TYPE }}</td>
						<td>{{ props.item.username }}</td>
						<td>{{ props.item.password }}</td>
						<td>{{ props.item.EMAIL }}</td>
						<td><v-btn
			            		small
			          			color="primary"
								@click="send_password(props.item.USER_ID)"
							>
								Send Password
							</v-btn>
							<v-btn
			            		small
			          			color="info"
								@click="edit_user(props.item.USER_ID)"
							>
								Edit
							</v-btn>
							<v-btn
			            		small
			          			color="error"
								@click="delete_user(props.item.USER_ID)"
							>
								Delete
							</v-btn>
						</td>
					</template>
				</v-data-table>
		  	</v-app>
	  	</div>
	  	<!-- Edit User Modal -->
		<v-app id="edit_user" v-if="edituser_modal_status">
			<v-layout row justify-center>
		        <v-dialog v-model="edituser_modal_status" max-width="860" scrollable>
					<v-card>
						<v-card-title class="headline">
							Edit User
						</v-card-title>
						<v-card-text>
							<v-container v-if="" grid-list-md >
								<v-form v-model="edit_users_frm_valid" ref="edit_users_form" lazy-validation>
									<v-layout wrap>
										<v-flex xs4 sm4 md4>
											<v-subheader><v-icon>fa fa-fw fa-user</v-icon> Name</v-subheader>
										</v-flex>
										<v-flex xs7 sm7 md7>
											<v-text-field v-model="edit_name" :rules="[v => !!v || 'User Name is required']" required></v-text-field>
										</v-flex>
									</v-layout>
									<v-layout wrap>
										<v-flex xs4 sm4 md4>
											<v-subheader><v-icon>fa fa-fw fa-user</v-icon> Username</v-subheader>
										</v-flex>
										<v-flex xs7 sm7 md7>
											<v-text-field v-model="edit_username" readonly></v-text-field>
										</v-flex>
									</v-layout>
									<v-layout wrap>
										<v-flex xs4 sm4 md4>
											<v-subheader><v-icon>fa fa-fw fa-key</v-icon> Password</v-subheader>
										</v-flex>
										<v-flex xs7 sm7 md7>
											<v-text-field v-model="edit_password" :rules="[v => !!v || 'User Password is required']" required></v-text-field>
										</v-flex>
									</v-layout>
									<v-layout wrap>
										<v-flex xs4 sm4 md4>
											<v-subheader><v-icon>fa fa-fw fa-key</v-icon> Repeat Password</v-subheader>
										</v-flex>
										<v-flex xs7 sm7 md7>
											<v-text-field v-model="repeat_password" :rules="[v => !!v || 'Repeat Password is required']" required></v-text-field>
										</v-flex>
									</v-layout>
									<v-layout wrap>
										<v-flex xs4 sm4 md4>
											<v-subheader><v-icon>fa fa-fw fa-envelope</v-icon> Email</v-subheader>
										</v-flex>
										<v-flex xs7 sm7 md7>
											<v-text-field v-model="edit_email" :rules="emailRules" required></v-text-field>
										</v-flex>
									</v-layout>
									<v-layout wrap>
										<v-flex xs4 sm4 md4>
											<v-subheader><v-icon>fa fa-fw fa-file-image-o</v-icon> Profile Picture<small>(100x100px)</small></v-subheader>
										</v-flex>
										<v-flex xs7 sm7 md7>
											<input type="file" id="profile_img">
										</v-flex>
									</v-layout>
									<v-layout wrap>
										<v-flex xs4 sm4 md4>
											<v-subheader><v-icon>fa fa-fw fa-info</v-icon> Vehicle Status</v-subheader>
										</v-flex>
										<v-flex xs7 sm7 md7>
											<v-select
									            :items="vstatus_items"
									            v-model="vehicle_status"
									            label="SELECT"
									            single-line
								          	></v-select>
										</v-flex>
									</v-layout>
								</v-form>
							</v-container>
						</v-card-text>
						<v-card-actions>
							<v-spacer></v-spacer>
							<v-btn color="red darken-1" flat="flat" @click.native="edituser_modal_status = false">Close</v-btn>
							<v-btn color="green darken-1" flat="flat" @click="save_edit_user(edit_row)" :disabled="!edit_users_frm_valid" >Save Change</v-btn>
						</v-card-actions>
					</v-card>
				</v-dialog>
	      	</v-layout>
		</v-app>
	</div>
	<!-- Code End -->
</template>
<style type="text/css">
  /* Your Style */
  .application--wrap{
  	min-height: 100%;
  }
</style>
<script>
	import swal from 'sweetalert';
	export default{
		data(){
			return{
				user: window.laravel.user,
				base_url: window.laravel.base_url,
				usertype_items: [
					{'text':'DealerAdmin', 'value': 'DealerAdmin'},
					{'text':'DealerUser', 'value': 'DealerUser'},
					{'text':'DGUser', 'value': 'DGUser'},
					{'text':'UserRestricted', 'value': 'UserRestricted'},
				],
				usertype_items1: [
					{'text':'ResellerUser', 'value': 'ResellerUser'}
				],
				user_name: '',
				user_type: window.laravel.user.USER_TYPE == 'ResellerAdmin' ?'ResellerUser':'DealerAdmin',
				user_username: '',
				user_password: '',
				user_email: '',
				add_users_frm_valid:false,
				//
				showinsertfrm: false,
				emailRules: [
					v => !!v || 'Email is required',
					v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'Email must be valid'
			    ],
			    headers: [
			    	{ text: 'Name', value: 'NAME'},
			    	{ text: 'Permissions', value: 'USER_TYPE'},
			    	{ text: 'Username', value: 'username'},
			    	{ text: 'Password', value: 'password'},
			    	{ text: 'Email', value: 'EMAIL'},
			    	{ text: 'Actions', value: 'Actions'},
			    ],
			    items: [],
			    totalItems: 0,
			    loading: true,
			    pagination: {
					descending : 0, // init sord desc
					rowsPerPage : 10 // rows per page
		        },
		        edit_row: '',
				edit_users_frm_valid: false,
		        edituser_modal_status: false,
		        repeat_password: '',
		        vehicle_status: '1',
		        vstatus_items: [
		        	{'text': 'Active', 'value': '1'},
		        	{'text': 'Inactive', 'value': '0'}
		        ],
		        edit_name: '',
		        edit_username: '',
		        edit_password: '',
		        edit_email: '',
			}
		},
		created: function(){
			this.fetchData();
		},
		methods: {
			/**
			* Fetch logged user, privilege information when created vue dom
			*
			* @return Object
			*/
			fetchData()
			{
				let uri = window.laravel.base_url + '/get_data_for_users';
				this.axios.post(uri,{'_token': window.laravel.csrf_token}).then((response) => {
					this.items = response.data.users;
					this.loading = false;
				});

			},

			/*
			 * Cancel Save User
			 *
			 */
			cancel_save: function(){
				this.showinsertfrm = false;
				this.user_name = '';
				this.user_type = 'DealerAdmin';
				this.user_username = '';
				this.user_password = '';
				this.user_email = '';
			},

			/*
			 * Save New User
			 *
			 */
			save_user: function(notify){
				var username_identy_flag = true;
				var that = this;
				if (this.$refs.add_new_users_form.validate()) {
					$.each(this.items, function(index, value){
						if(value.username == that.user_username){
							username_identy_flag = false;
						}
					});
					if(username_identy_flag){
						let uri = window.laravel.base_url + '/save_user';
						this.axios.post(uri,{'notify': notify, 'name': this.user_name, 'user_type': this.user_type, 'username':this.user_username, 'password': this.user_password, 'email': this.user_email}).then((response) => {
							if(response.data.status == 'success'){
								var item = {
									'USER_ID': response.data.user_id,
									'NAME': this.user_name,
									'USER_TYPE': this.user_type,
									'username': this.user_username,
									'password': this.user_password,
									'EMAIL': this.user_email
								}
								this.items.push(item);
								this.user_name = '';
								this.user_type = '';
								this.user_username = '';
								this.user_password = '';
								this.user_email = '';
								this.showinsertfrm = false;
							}
						});
					}else{
						alert(this.user_username+' is already exist');
					}
				}
			},

			/**
			 * Send Password to user email
			 *
			 */
			send_password: function(user_id){
				let uri = window.laravel.base_url + '/send_password';
				this.axios.post(uri,{'user_id': user_id}).then((response) => {
					if(response.data.status == 'success'){
						swal("Thank You!", "Password Successfully sent!", "success");
					}else{
						alert('Something went wrong! Please try again.');
					}
				});
			},

			/**
			 * Show Edit User Modal
			 *
			 */
			edit_user: function(user_id){
				var that = this;
				$.each(this.items, function(index,value){
					if(value.USER_ID == user_id){
						that.edit_row = index;
					}
				});
				this.edit_name = this.items[this.edit_row].NAME;
				this.edit_username = this.items[this.edit_row].username;
				this.edit_password = this.items[this.edit_row].password;
				this.edit_email = this.items[this.edit_row].EMAIL;
				this.repeat_password = this.items[this.edit_row].password;
				this.edituser_modal_status = true;
			},

			/**
			 * Save Edited User
			 */
			save_edit_user: function(){
				if (this.$refs.edit_users_form.validate()) {
					let formData = new FormData();

					if(this.edit_password != this.repeat_password){
						alert('Repeat password is wrong, please check it agian.');
						return;
					}
					var profile_img_Input = document.querySelector( '#profile_img' );
					
					formData.append('user_id', this.items[this.edit_row].USER_ID);
					formData.append('name', this.edit_name);
					formData.append('password', this.edit_password);
					formData.append('email', this.edit_email);
					formData.append('active_inactive', this.vehicle_status);

					if(profile_img_Input){
						formData.append('profile_img', profile_img_Input);
					}
					let uri = window.laravel.base_url + '/save_edit_user';
					this.axios.post(uri,formData).then((response) => {
						if(response.data.status == 'success'){
							this.items[this.edit_row].NAME = this.edit_name;
							this.items[this.edit_row].password = this.edit_password;
							this.items[this.edit_row].EMAIL = this.edit_email;
							this.edituser_modal_status = false;
						}
					});
				}
			},

			/**
			 * Delete Selected User
			 *
			 */
			delete_user:function(user_id){
				var r=confirm("Do you really want to delete this user?");
				if(r == true){
					let uri = window.laravel.base_url + '/delete_user';
					this.axios.post(uri,{ user_id: user_id }).then((response1) => {
						if(response1.data.status == 'success'){
							var row_index = '';
							$.each(this.items, function(index,value){
								if(value.USER_ID == user_id){
									row_index = index;
								}
							});
							this.items.splice(row_index, 1);
							let get_user_status_uri = window.laravel.base_url + '/get_user_status';
				            this.axios.post(get_user_status_uri).then((response) => {

				              /* Update Header User's status */
				              jQuery('.c_current_vehicles').html(response.data.current_vehicle);

				              jQuery('.c_plus_today').html(response.data.plus_vehicle);

				              jQuery('.c_current_addendums').html(response.data.current_addendum);

				              jQuery('.c_need_printing').html(response.data.need_addendum);

				              jQuery('.c_users').html(response.data.count_user);

				              jQuery('.c_last_login').html(response.data.last_login);

				              jQuery('.c_addendum_printed').html(response.data.printed_addendum);

				              jQuery('.c_30_days').html(response.data.last_30);
				          	});
						}
					});
				}
			}
		}
	}
</script>